nodered-flow-redemption.json
[
    {
        "id": "4fd733c5.68f8cc",
        "type": "tab",
        "label": "Registration & Check in",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7cb61d51.745c34",
        "type": "tab",
        "label": "Vitals & Screening",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3334ee.99792b12",
        "type": "tab",
        "label": "Redemption Registration",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2193cf41.5dc9f",
        "type": "tab",
        "label": "Redemption OPD",
        "disabled": false,
        "info": ""
    },
    {
        "id": "53f81dac.cd6704",
        "type": "tab",
        "label": "Redemption MCH",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e153a3bf.e7a83",
        "type": "tab",
        "label": "Redemption Chest Clinic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "96c5ee4a.7989c",
        "type": "tab",
        "label": "Redemption Counselling & Testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "164a3bf7.308984",
        "type": "subflow",
        "name": "Patient Demographics",
        "info": "",
        "category": "subflows",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "5e897177.27b8f"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "86acfcb7.185df",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "5e897177.27b8f",
        "type": "demographic-attribute",
        "z": "164a3bf7.308984",
        "name": "firstname",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "cd78efb8.7fd27"
            ]
        ]
    },
    {
        "id": "cd78efb8.7fd27",
        "type": "demographic-attribute",
        "z": "164a3bf7.308984",
        "name": "lastname",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "5d68f2d.48d9c0c"
            ]
        ]
    },
    {
        "id": "5d68f2d.48d9c0c",
        "type": "demographic-birthdate",
        "z": "164a3bf7.308984",
        "name": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "d8359821.5f0428"
            ]
        ]
    },
    {
        "id": "d8359821.5f0428",
        "type": "demographic-current-address",
        "z": "164a3bf7.308984",
        "name": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "86acfcb7.185df"
            ]
        ]
    },
    {
        "id": "86acfcb7.185df",
        "type": "demographic-home-address",
        "z": "164a3bf7.308984",
        "name": "",
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f3f7f35a.e9795",
        "type": "scheduled-patients-list",
        "z": "4fd733c5.68f8cc",
        "name": "",
        "x": 112.19883728027344,
        "y": 46.809600830078125,
        "wires": [
            [
                "1049b8af.e8de07"
            ]
        ]
    },
    {
        "id": "b4d52983.6764c8",
        "type": "find-patient",
        "z": "4fd733c5.68f8cc",
        "name": "",
        "x": 137.1903076171875,
        "y": 86.9317569732666,
        "wires": [
            [
                "1049b8af.e8de07"
            ]
        ]
    },
    {
        "id": "f3e02169.91cff",
        "type": "end-flow",
        "z": "4fd733c5.68f8cc",
        "name": "",
        "x": 563.1960067749023,
        "y": 87.95166015625,
        "wires": []
    },
    {
        "id": "1049b8af.e8de07",
        "type": "check-in",
        "z": "4fd733c5.68f8cc",
        "name": "",
        "x": 388.1902961730957,
        "y": 87.99714088439941,
        "wires": [
            [
                "f3e02169.91cff"
            ]
        ]
    },
    {
        "id": "66d5510b.929ce",
        "type": "register-patient",
        "z": "4fd733c5.68f8cc",
        "name": "",
        "x": 128.20169067382812,
        "y": 124.82951545715332,
        "wires": [
            [
                "1be52edb.d81321"
            ]
        ]
    },
    {
        "id": "1be52edb.d81321",
        "type": "subflow:164a3bf7.308984",
        "z": "4fd733c5.68f8cc",
        "name": "",
        "env": [],
        "x": 288.1931686401367,
        "y": 193.44731330871582,
        "wires": [
            [
                "1049b8af.e8de07"
            ]
        ]
    },
    {
        "id": "c34b85b.f3c5778",
        "type": "checked-in-patients-list",
        "z": "7cb61d51.745c34",
        "name": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "40766c62.a96be4"
            ]
        ]
    },
    {
        "id": "40766c62.a96be4",
        "type": "height-weight",
        "z": "7cb61d51.745c34",
        "name": "",
        "x": 374.1903610229492,
        "y": 40.47725963592529,
        "wires": [
            [
                "b9256e08.fa90b"
            ]
        ]
    },
    {
        "id": "dba4f12f.f0615",
        "type": "blood-pressure",
        "z": "7cb61d51.745c34",
        "name": "",
        "x": 533,
        "y": 96.58806800842285,
        "wires": [
            [
                "2a86208e.15e64"
            ]
        ]
    },
    {
        "id": "f36358d1.6fad28",
        "type": "tb-screening",
        "z": "7cb61d51.745c34",
        "name": "",
        "x": 373,
        "y": 216.58806800842285,
        "wires": [
            [
                "d5034e98.28521"
            ]
        ]
    },
    {
        "id": "f29bb5b4.c57468",
        "type": "next-appointment",
        "z": "7cb61d51.745c34",
        "name": "",
        "x": 383,
        "y": 276.58806800842285,
        "wires": [
            [
                "3ba7205.8184ce"
            ]
        ]
    },
    {
        "id": "3ba7205.8184ce",
        "type": "end-flow",
        "z": "7cb61d51.745c34",
        "name": "",
        "x": 553,
        "y": 276.58806800842285,
        "wires": []
    },
    {
        "id": "9aa42ed7.707fb",
        "type": "lab-order-entry",
        "z": "7cb61d51.745c34",
        "name": "Lab Order Pregnancy Test",
        "x": 683,
        "y": 156.58806800842285,
        "wires": [
            [
                "f36358d1.6fad28"
            ]
        ]
    },
    {
        "id": "27d8c57e.65d13a",
        "type": "lab-order-entry",
        "z": "7cb61d51.745c34",
        "name": "Lab Order Sputum",
        "x": 763,
        "y": 216.58806800842285,
        "wires": [
            [
                "f29bb5b4.c57468"
            ]
        ]
    },
    {
        "id": "b9256e08.fa90b",
        "type": "switch",
        "z": "7cb61d51.745c34",
        "name": "Under 5?",
        "property": "age",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 353,
        "y": 96.58806800842285,
        "wires": [
            [
                "dba4f12f.f0615"
            ],
            [
                "2a86208e.15e64"
            ]
        ]
    },
    {
        "id": "d5034e98.28521",
        "type": "switch",
        "z": "7cb61d51.745c34",
        "name": "TB  Suspect?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 563,
        "y": 216.58806800842285,
        "wires": [
            [
                "27d8c57e.65d13a"
            ],
            [
                "f29bb5b4.c57468"
            ]
        ]
    },
    {
        "id": "2a86208e.15e64",
        "type": "function",
        "z": "7cb61d51.745c34",
        "name": "Female && >= 15 years",
        "func": "\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 403,
        "y": 156.58806800842285,
        "wires": [
            [
                "9aa42ed7.707fb"
            ],
            [
                "f36358d1.6fad28"
            ]
        ]
    },
    {
        "id": "f2687448.804f18",
        "type": "find-patient",
        "z": "2193cf41.5dc9f",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "8720e9c7.e4e818"
            ]
        ]
    },
    {
        "id": "8720e9c7.e4e818",
        "type": "visit-question",
        "z": "2193cf41.5dc9f",
        "name": "Temperature",
        "question": "",
        "key": "",
        "datatype": "decimal",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "a98f830d.65edd"
            ]
        ]
    },
    {
        "id": "a98f830d.65edd",
        "type": "blood-pressure",
        "z": "2193cf41.5dc9f",
        "name": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "6f111e2.440a5e"
            ]
        ]
    },
    {
        "id": "6f111e2.440a5e",
        "type": "visit-question",
        "z": "2193cf41.5dc9f",
        "name": "Weight",
        "question": "",
        "key": "",
        "datatype": "integer",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "7f765289.6696bc"
            ]
        ]
    },
    {
        "id": "7f765289.6696bc",
        "type": "end-flow",
        "z": "2193cf41.5dc9f",
        "name": "",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "85bd5c8c.965b6",
        "type": "find-patient",
        "z": "53f81dac.cd6704",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "f31159f5.f2c4d8"
            ]
        ]
    },
    {
        "id": "8c5eeab4.ab2238",
        "type": "visit-question",
        "z": "53f81dac.cd6704",
        "name": "Temperature",
        "question": "",
        "key": "",
        "datatype": "decimal",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "b1ac08a3.b10af8"
            ]
        ]
    },
    {
        "id": "f31159f5.f2c4d8",
        "type": "blood-pressure",
        "z": "53f81dac.cd6704",
        "name": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1d0f0f1b.a68901"
            ]
        ]
    },
    {
        "id": "b1ac08a3.b10af8",
        "type": "end-flow",
        "z": "53f81dac.cd6704",
        "name": "",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "1d0f0f1b.a68901",
        "type": "height-weight",
        "z": "53f81dac.cd6704",
        "name": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "8c5eeab4.ab2238"
            ]
        ]
    },
    {
        "id": "544ebb7e.6abf24",
        "type": "find-patient",
        "z": "e153a3bf.e7a83",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "e6da3a54.12e348"
            ]
        ]
    },
    {
        "id": "e6da3a54.12e348",
        "type": "blood-pressure",
        "z": "e153a3bf.e7a83",
        "name": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "b01bf384.c1f55"
            ]
        ]
    },
    {
        "id": "5e5e4b04.1115f4",
        "type": "end-flow",
        "z": "e153a3bf.e7a83",
        "name": "",
        "x": 220,
        "y": 240,
        "wires": []
    },
    {
        "id": "b01bf384.c1f55",
        "type": "height-weight",
        "z": "e153a3bf.e7a83",
        "name": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "5e5e4b04.1115f4"
            ]
        ]
    },
    {
        "id": "ebf7869d.798968",
        "type": "find-patient",
        "z": "96c5ee4a.7989c",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "ea83c1cc.0e935"
            ]
        ]
    },
    {
        "id": "644ad1c9.accb3",
        "type": "end-flow",
        "z": "96c5ee4a.7989c",
        "name": "",
        "x": 220,
        "y": 240,
        "wires": []
    },
    {
        "id": "ea83c1cc.0e935",
        "type": "height-weight",
        "z": "96c5ee4a.7989c",
        "name": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "67048c3b.481f44"
            ]
        ]
    },
    {
        "id": "67048c3b.481f44",
        "type": "visit-question",
        "z": "96c5ee4a.7989c",
        "name": "MUAC",
        "question": "",
        "key": "",
        "datatype": "decimal",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "644ad1c9.accb3"
            ]
        ]
    }
]