node-red-userdir/example-flows.json
[{"id":"e3028a89.0e2ae8","type":"tab","label":"Test all Nodes","disabled":false,"info":""},{"id":"518836cf.f4b4d8","type":"tab","label":"Diagnosing Childhood Malaria","disabled":false,"info":""},{"id":"a1643e52.69ec58","type":"subflow","name":"Patient Identification","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"56269f66.d78ff"}]}],"out":[{"x":60,"y":500,"wires":[{"id":"b87511c8.2aad4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9eba9893.b5ab6","type":"subflow","name":"HIV C&I Summary Diagnostic","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"fcfaf434.b3f8f"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"369b84b5.91fe7c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c44a39a9.c6ae6","type":"subflow","name":"Initial Assessment by clinician","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"388199af.c68f26"}]}],"out":[{"x":60,"y":320,"wires":[{"id":"9bc52e4e.e24b88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e95b8a2f.2a804","type":"subflow","name":"Other Baseline Information","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"af94a681.5c5f4"}]}],"out":[{"x":60,"y":520,"wires":[{"id":"1d0d3e47.b7d02a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"86b75ff7.b31198","type":"subflow","name":"Treatment Interruptions","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"ed2ea718.e51d28"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"82665184.30463","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1c8e387f.c41f88","type":"subflow","name":"Departure from Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"7039070c.3ad958"}]}],"out":[{"x":60,"y":220,"wires":[{"id":"4fe9ce0e.405ac8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e2e7ca08.3b41","type":"subflow","name":"Ongoing Staging","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52a25e32.945718"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"d0aa055d.d853b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3cffefd8.654f6","type":"subflow","name":"ART Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f318e98c.757928"}]}],"out":[{"x":60,"y":580,"wires":[{"id":"7c5a4eee.45416","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"21ab2f94.f2bee","type":"subflow","name":"ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52c625e7.065abc"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"52c625e7.065abc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3589d1ce.0e5f66","type":"subflow","name":"Pre-ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"49dba4ec.e9cdac"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"49dba4ec.e9cdac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"42456d78.5956c4","type":"subflow","name":"Patient Demographics","info":"","category":"subflows","in":[{"x":40,"y":40,"wires":[{"id":"19eae5e5.98ba4a"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"7bee2341.5a738c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8eaa6aa.a021998","type":"subflow","name":"HIV C&I Summary Diagnostic (2)","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"69504018.76199"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"2d5bb606.66f8aa","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"bb103e60.ca793","type":"subflow","name":"Initial Assessment by clinician (2)","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"b3374f0e.0e006"}]}],"out":[{"x":60,"y":320,"wires":[{"id":"7a9a7edd.ff6ac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d5db974b.cae468","type":"subflow","name":"Other Baseline Information (2)","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"1ce26fe7.c3fc4"}]}],"out":[{"x":60,"y":520,"wires":[{"id":"f662fc84.0d383","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c5b31709.f43da8","type":"subflow","name":"Ongoing Staging (2)","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"bfa65cb8.8feba"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"10e7ec25.730f84","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"20e63b4f.308ce4","type":"subflow","name":"Patient Demographics (2)","info":"","category":"subflows","in":[{"x":40,"y":40,"wires":[{"id":"230aeecd.a1ce02"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"175d638.cf6049d","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a5c10e8c.ecef1","type":"subflow","name":"Checked-in patients list","info":"","category":"ClinicFlow - Choose Patient","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[],"icon":"node-red/watch.png"},{"id":"ff004315.efbc","type":"subflow","name":"End station","info":"","category":"ClinicFlow - Mark flow end","in":[{"x":50,"y":30,"wires":[]}],"out":[],"env":[],"icon":"font-awesome/fa-stop-circle-o"},{"id":"3b8fa785.4a5128","type":"subflow","name":"Next Appointment","info":"","category":"ClinicFlow - Modify Patient","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[],"icon":"font-awesome/fa-user-o"},{"id":"6efc6072.47b5f","type":"subflow","name":"Lab Order: Sputum","info":"","category":"ClinicFlow - Modify Patient","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[],"icon":"font-awesome/fa-user-o"},{"id":"a0b950cc.68142","type":"subflow","name":"Lab Order: Pregnancy Test","info":"","category":"ClinicFlow - Modify Patient","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[],"icon":"font-awesome/fa-user-o"},{"id":"3cd1f4ce.17772c","type":"subflow","name":"TB Screening","info":"","category":"ClinicFlow - Modify Patient","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]},{"x":215,"y":30,"wires":[]}],"env":[],"outputLabels":["positive","negative"],"icon":"font-awesome/fa-user-o"},{"id":"2921b67d.5c41aa","type":"subflow","name":"Vitals: Blood Pressure","info":"","category":"ClinicFlow - Modify Patient","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[],"icon":"font-awesome/fa-user-o"},{"id":"552d2dcc.707504","type":"subflow","name":"Vitals: Height & Weight","info":"","category":"ClinicFlow - Modify Patient","in":[{"x":50,"y":30,"wires":[]}],"out":[{"x":160,"y":30,"wires":[]}],"env":[],"icon":"font-awesome/fa-user-o"},{"id":"a5e03da.5eab6c","type":"subflow","name":"Patient Demographics (3)","info":"","category":"subflows","in":[{"x":40,"y":40,"wires":[{"id":"757014bd.98a1fc"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"65ba46f2.329f08","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"56269f66.d78ff","type":"demographic-attribute","z":"a1643e52.69ec58","name":"name","label":"Name","key":"","datatype":"text","x":190,"y":80,"wires":[["8555e461.fb86c"]]},{"id":"8555e461.fb86c","type":"demographic-attribute","z":"a1643e52.69ec58","name":"clientid","label":"Facility Client ID","key":"","datatype":"integer","x":200,"y":140,"wires":[["7b624999.7b36a"]]},{"id":"7b624999.7b36a","type":"demographic-attribute","z":"a1643e52.69ec58","name":"uniquecode","label":"Unique Code","key":"","datatype":"integer","x":210,"y":200,"wires":[["c495c5b8.64ada"]]},{"id":"c495c5b8.64ada","type":"demographic-birthdate","z":"a1643e52.69ec58","name":"","entrybyage":"","partialdate":"","x":200,"y":260,"wires":[["11b3883d.dbfc7"]]},{"id":"11b3883d.dbfc7","type":"demographic-attribute","z":"a1643e52.69ec58","name":"familymembername","label":"Name of Family Member","key":"","datatype":"text","x":240,"y":320,"wires":[["aa469a0e.1654b"]]},{"id":"aa469a0e.1654b","type":"visit-select","z":"a1643e52.69ec58","name":"sex","label":"Sex","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":190,"y":380,"wires":[["b87511c8.2aad4"]]},{"id":"b87511c8.2aad4","type":"demographic-attribute","z":"a1643e52.69ec58","name":"contact","label":"Contact #","key":"","datatype":"text","x":200,"y":440,"wires":[[]]},{"id":"fcfaf434.b3f8f","type":"visit-question","z":"9eba9893.b5ab6","name":"date confirmed HIV+","label":"Date Confirmed HIV+","key":"","datatype":"date","x":240,"y":80,"wires":[["75a05baf.3e7d44"]]},{"id":"75a05baf.3e7d44","type":"visit-select","z":"9eba9893.b5ab6","name":"hivtype","label":"HIV Type","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["85db2847.d8394"]]},{"id":"85db2847.d8394","type":"visit-question","z":"9eba9893.b5ab6","name":"referred from","label":"Referred from (coded)","key":"","datatype":"text","x":210,"y":200,"wires":[["369b84b5.91fe7c"]]},{"id":"369b84b5.91fe7c","type":"visit-question","z":"9eba9893.b5ab6","name":"partnertested","label":"Partner and Children tested?","key":"","datatype":"boolean","x":220,"y":260,"wires":[[]]},{"id":"388199af.c68f26","type":"visit-question","z":"c44a39a9.c6ae6","name":"date","label":"Date","key":"","datatype":"date","x":190,"y":80,"wires":[["f5c6d144.75a92"]]},{"id":"f5c6d144.75a92","type":"height-weight","z":"c44a39a9.c6ae6","name":"","x":220,"y":140,"wires":[["9bc52e4e.e24b88"]]},{"id":"9bc52e4e.e24b88","type":"visit-question","z":"c44a39a9.c6ae6","name":"bmi","label":"Body mass index (kg/m^2)","key":"","datatype":"decimal","x":190,"y":260,"wires":[[]]},{"id":"af94a681.5c5f4","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr","label":"RPR","key":"","datatype":"text","x":190,"y":80,"wires":[["6c2dc748.aa9148"]]},{"id":"6c2dc748.aa9148","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr date","label":"RPD Date","key":"","datatype":"date","x":200,"y":140,"wires":[["fc29a7b4.229698"]]},{"id":"fc29a7b4.229698","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab","label":"Other Lab 1","key":"","datatype":"text","x":200,"y":200,"wires":[["338eed57.89c7a2"]]},{"id":"338eed57.89c7a2","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab date","label":"Other Lab 1 date","key":"","datatype":"date","x":220,"y":260,"wires":[["9dce0601.a1114"]]},{"id":"9dce0601.a1114","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab","label":"Other 2 Lab","key":"","datatype":"text","x":200,"y":320,"wires":[["be098554.4adff"]]},{"id":"be098554.4adff","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab date","label":"Other 2 Lab date","key":"","datatype":"date","x":220,"y":380,"wires":[["1d0d3e47.b7d02a"]]},{"id":"1d0d3e47.b7d02a","type":"visit-question","z":"e95b8a2f.2a804","name":"tb treatments","label":"Past TB Regimens & Dates","key":"","datatype":"text","x":220,"y":440,"wires":[[]]},{"id":"ed2ea718.e51d28","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1","label":"1st Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":80,"wires":[["56715cbb.069e0c"]]},{"id":"56715cbb.069e0c","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1 date","label":"1st Treatment Interruption Date","key":"","datatype":"date","x":210,"y":140,"wires":[["f6eedc09.bfb8"]]},{"id":"f6eedc09.bfb8","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2","label":"2nd Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":200,"wires":[["82665184.30463"]]},{"id":"82665184.30463","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2 date","label":"2nd Treatment Interruption Date","key":"","datatype":"date","x":210,"y":260,"wires":[[]]},{"id":"4fe9ce0e.405ac8","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure","label":"Treatment Departure Reason","key":"","datatype":"text","x":200,"y":140,"wires":[[]]},{"id":"7039070c.3ad958","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure date","label":"Treatment Departure Date","key":"","datatype":"date","x":210,"y":80,"wires":[["4fe9ce0e.405ac8"]]},{"id":"52a25e32.945718","type":"visit-question","z":"e2e7ca08.3b41","name":"stage1 date","label":"WHO Stage 1 Date","key":"","datatype":"date","x":190,"y":80,"wires":[["da03c42e.a93a1"]]},{"id":"da03c42e.a93a1","type":"visit-question","z":"e2e7ca08.3b41","name":"stage2 date","label":"WHO Stage 2 Date","key":"","datatype":"date","x":190,"y":140,"wires":[["c1b34a16.490578"]]},{"id":"c1b34a16.490578","type":"visit-question","z":"e2e7ca08.3b41","name":"stage3 date","label":"WHO Stage 3 Date","key":"","datatype":"date","x":190,"y":200,"wires":[["d0aa055d.d853b8"]]},{"id":"d0aa055d.d853b8","type":"visit-question","z":"e2e7ca08.3b41","name":"stage4 date","label":"WHO Stage 4 Date","key":"","datatype":"date","x":190,"y":260,"wires":[[]]},{"id":"f318e98c.757928","type":"visit-question","z":"3cffefd8.654f6","name":"startdate","label":"Date Started","key":"","datatype":"date","x":200,"y":80,"wires":[["5a8950ca.280e38"]]},{"id":"5a8950ca.280e38","type":"visit-select","z":"3cffefd8.654f6","name":"initial regimen","label":"Initial Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":220,"y":140,"wires":[["aa85dc3e.255ca"]]},{"id":"aa85dc3e.255ca","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":270,"y":200,"wires":[["71df6c0d.305864"]]},{"id":"71df6c0d.305864","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","key":"","datatype":"text","x":270,"y":260,"wires":[["a81911bd.b7966"]]},{"id":"a81911bd.b7966","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","key":"","datatype":"date","x":260,"y":320,"wires":[["1ae30506.e4bedb"]]},{"id":"1ae30506.e4bedb","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":280,"y":380,"wires":[["5249124e.1e61cc"]]},{"id":"5249124e.1e61cc","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","key":"","datatype":"text","x":270,"y":440,"wires":[["bb6b2b3e.886ca8"]]},{"id":"bb6b2b3e.886ca8","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","key":"","datatype":"date","x":260,"y":500,"wires":[["4056f450.4d7114"]]},{"id":"4056f450.4d7114","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":200,"wires":[["e4e8fa63.521778"]]},{"id":"e4e8fa63.521778","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","key":"","datatype":"text","x":650,"y":260,"wires":[["bd5dfea8.3979f8"]]},{"id":"bd5dfea8.3979f8","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","key":"","datatype":"date","x":640,"y":320,"wires":[["cdd68008.98d8c8"]]},{"id":"cdd68008.98d8c8","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":380,"wires":[["447fbe02.ebe208"]]},{"id":"447fbe02.ebe208","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","key":"","datatype":"text","x":650,"y":440,"wires":[["7c5a4eee.45416"]]},{"id":"7c5a4eee.45416","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","key":"","datatype":"date","x":650,"y":500,"wires":[[]]},{"id":"52c625e7.065abc","type":"visit-question","z":"21ab2f94.f2bee","name":"ART Register Book","label":"ART Register Book TBD","key":"","datatype":"text","x":210,"y":40,"wires":[[]]},{"id":"49dba4ec.e9cdac","type":"visit-question","z":"3589d1ce.0e5f66","name":"preart","label":"Pre-ART Register TBD","key":"","datatype":"text","x":190,"y":80,"wires":[[]]},{"id":"19eae5e5.98ba4a","type":"demographic-attribute","z":"42456d78.5956c4","name":"firstname","x":200,"y":40,"wires":[["c6790f98.7e4e4"]]},{"id":"c6790f98.7e4e4","type":"demographic-attribute","z":"42456d78.5956c4","name":"lastname","x":360,"y":40,"wires":[["e933746d.58b058"]]},{"id":"e933746d.58b058","type":"demographic-birthdate","z":"42456d78.5956c4","name":"","x":200,"y":100,"wires":[["32b60a3c.c61696"]]},{"id":"32b60a3c.c61696","type":"demographic-current-address","z":"42456d78.5956c4","name":"","x":220,"y":160,"wires":[["7bee2341.5a738c"]]},{"id":"7bee2341.5a738c","type":"demographic-home-address","z":"42456d78.5956c4","name":"","x":420,"y":160,"wires":[[]]},{"id":"69504018.76199","type":"visit-question","z":"8eaa6aa.a021998","name":"date confirmed HIV+","label":"Date Confirmed HIV+","key":"","datatype":"date","x":240,"y":80,"wires":[["69f8d7a.ff17b28"]]},{"id":"69f8d7a.ff17b28","type":"visit-select","z":"8eaa6aa.a021998","name":"hivtype","label":"HIV Type","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["290e068e.5ae9fa"]]},{"id":"290e068e.5ae9fa","type":"visit-question","z":"8eaa6aa.a021998","name":"referred from","label":"Referred from (coded)","key":"","datatype":"text","x":210,"y":200,"wires":[["2d5bb606.66f8aa"]]},{"id":"2d5bb606.66f8aa","type":"visit-question","z":"8eaa6aa.a021998","name":"partnertested","label":"Partner and Children tested?","key":"","datatype":"text","x":220,"y":260,"wires":[[]]},{"id":"b3374f0e.0e006","type":"visit-question","z":"bb103e60.ca793","name":"date","label":"Date","key":"","datatype":"date","x":190,"y":80,"wires":[["2a075d4e.f6f872"]]},{"id":"3e202b2b.f873a4","type":"visit-select","z":"bb103e60.ca793","name":"","label":"","key":"","behavior":"","devices":[{"sid":"","desc":"","model":""}],"x":210,"y":200,"wires":[["7a9a7edd.ff6ac"]]},{"id":"2a075d4e.f6f872","type":"height-weight","z":"bb103e60.ca793","name":"","x":220,"y":140,"wires":[["3e202b2b.f873a4"]]},{"id":"7a9a7edd.ff6ac","type":"visit-question","z":"bb103e60.ca793","name":"bmi","label":"Body mass index (kg/m^2)","key":"","datatype":"decimal","x":190,"y":260,"wires":[[]]},{"id":"1ce26fe7.c3fc4","type":"visit-question","z":"d5db974b.cae468","name":"rpr","label":"RPR","key":"","datatype":"text","x":190,"y":80,"wires":[["4e44e590.0f493c"]]},{"id":"4e44e590.0f493c","type":"visit-question","z":"d5db974b.cae468","name":"rpr date","label":"RPD Date","key":"","datatype":"date","x":200,"y":140,"wires":[["97741d8c.0e092"]]},{"id":"97741d8c.0e092","type":"visit-question","z":"d5db974b.cae468","name":"other1","label":"Other 1","key":"","datatype":"text","x":190,"y":200,"wires":[["a9fb00e1.ed2db"]]},{"id":"a9fb00e1.ed2db","type":"visit-question","z":"d5db974b.cae468","name":"other1 date","label":"Other 1 date","key":"","datatype":"date","x":210,"y":260,"wires":[["b7d24913.02c3d8"]]},{"id":"b7d24913.02c3d8","type":"visit-question","z":"d5db974b.cae468","name":"other2","label":"Other 2","key":"","datatype":"text","x":190,"y":320,"wires":[["3b1223c.2d18bdc"]]},{"id":"3b1223c.2d18bdc","type":"visit-question","z":"d5db974b.cae468","name":"other2 date","label":"Other 2 date","key":"","datatype":"date","x":210,"y":380,"wires":[["f662fc84.0d383"]]},{"id":"f662fc84.0d383","type":"visit-question","z":"d5db974b.cae468","name":"tb treatments","label":"Past TB Regimens & Dates","key":"","datatype":"text","x":220,"y":440,"wires":[[]]},{"id":"bfa65cb8.8feba","type":"visit-question","z":"c5b31709.f43da8","name":"stage1 date","label":"WHO Stage 1 Date","key":"","datatype":"date","x":190,"y":80,"wires":[[]]},{"id":"e506ad8b.e2d3c","type":"visit-question","z":"c5b31709.f43da8","name":"stage2 date","label":"WHO Stage 2 Date","key":"","datatype":"date","x":190,"y":140,"wires":[[]]},{"id":"e7a0bb7a.192d88","type":"visit-question","z":"c5b31709.f43da8","name":"stage3 date","label":"WHO Stage 3 Date","key":"","datatype":"date","x":190,"y":200,"wires":[[]]},{"id":"10e7ec25.730f84","type":"visit-question","z":"c5b31709.f43da8","name":"stage4 date","label":"WHO Stage 4 Date","key":"","datatype":"date","x":190,"y":260,"wires":[[]]},{"id":"230aeecd.a1ce02","type":"demographic-attribute","z":"20e63b4f.308ce4","name":"firstname","label":"Firstname","key":"","datatype":"text","x":200,"y":40,"wires":[["ccb35509.63a9a8"]]},{"id":"ccb35509.63a9a8","type":"demographic-attribute","z":"20e63b4f.308ce4","name":"lastname","label":"Lastname","key":"","datatype":"text","x":360,"y":40,"wires":[["925baefc.3269f"]]},{"id":"925baefc.3269f","type":"demographic-birthdate","z":"20e63b4f.308ce4","name":"","x":200,"y":100,"wires":[["893dc5b0.20e448"]]},{"id":"893dc5b0.20e448","type":"demographic-current-address","z":"20e63b4f.308ce4","name":"","x":220,"y":160,"wires":[["175d638.cf6049d"]]},{"id":"175d638.cf6049d","type":"demographic-home-address","z":"20e63b4f.308ce4","name":"","x":420,"y":160,"wires":[[]]},{"id":"757014bd.98a1fc","type":"demographic-attribute","z":"a5e03da.5eab6c","name":"firstname","label":"Firstname","key":"","datatype":"text","x":200,"y":40,"wires":[["e7ddcc26.c4b0c"]]},{"id":"e7ddcc26.c4b0c","type":"demographic-attribute","z":"a5e03da.5eab6c","name":"lastname","label":"Lastname","key":"","datatype":"text","x":360,"y":40,"wires":[["18395b16.115c65"]]},{"id":"18395b16.115c65","type":"demographic-birthdate","z":"a5e03da.5eab6c","name":"","x":200,"y":100,"wires":[["54f3ff6.525f2"]]},{"id":"54f3ff6.525f2","type":"demographic-current-address","z":"a5e03da.5eab6c","name":"","x":220,"y":160,"wires":[["65ba46f2.329f08"]]},{"id":"65ba46f2.329f08","type":"demographic-home-address","z":"a5e03da.5eab6c","name":"","x":420,"y":160,"wires":[[]]},{"id":"bb478196.9e88c","type":"end-flow","z":"e3028a89.0e2ae8","name":"","x":860,"y":320,"wires":[]},{"id":"f34a98e5.a82168","type":"find-patient","z":"e3028a89.0e2ae8","name":"","includename":true,"includeidentifier":true,"program":"tb","expression":"filter","x":110,"y":240,"wires":[["18e0a08c.2a24af"]]},{"id":"41576213.73674c","type":"demographic-attribute","z":"e3028a89.0e2ae8","name":"","label":"Firstname","key":"myKey","datatype":"singleselect","x":580,"y":40,"wires":[["bb478196.9e88c"]]},{"id":"fccbdc9d.b033","type":"enrolment-outcome","z":"e3028a89.0e2ae8","name":"","program":"chroniccare","programoutcome":"transferredout","x":580,"y":80,"wires":[["bb478196.9e88c"]]},{"id":"97a4e454.d86368","type":"lab-order-entry","z":"e3028a89.0e2ae8","name":"","panel":"testpaneld","x":560,"y":120,"wires":[["bb478196.9e88c"]]},{"id":"5a8b3c64.6dd734","type":"medication-prescription","z":"e3028a89.0e2ae8","name":"","drugs":"tb","x":590,"y":160,"wires":[["bb478196.9e88c"]]},{"id":"1e6c19a.91178e6","type":"patients-queue","z":"e3028a89.0e2ae8","name":"","expression":"filter","x":120,"y":280,"wires":[["18e0a08c.2a24af"]]},{"id":"f666155a.212408","type":"referral","z":"e3028a89.0e2ae8","name":"","referralfacility":"facility","x":540,"y":200,"wires":[["bb478196.9e88c"]]},{"id":"e8ac583e.7141a8","type":"register-patient","z":"e3028a89.0e2ae8","name":"","x":120,"y":320,"wires":[["18e0a08c.2a24af"]]},{"id":"e36735fb.778848","type":"summary","z":"e3028a89.0e2ae8","name":"","x":540,"y":240,"wires":[["bb478196.9e88c"]]},{"id":"3597887d.842938","type":"visit-question","z":"e3028a89.0e2ae8","name":"","label":"label","key":"key","datatype":"decimal","x":560,"y":280,"wires":[["bb478196.9e88c"]]},{"id":"a79fcce3.36945","type":"blood-pressure","z":"e3028a89.0e2ae8","name":"","x":560,"y":320,"wires":[["bb478196.9e88c"]]},{"id":"cf4f22ba.bf0ef","type":"check-in","z":"e3028a89.0e2ae8","name":"","x":540,"y":360,"wires":[["bb478196.9e88c"]]},{"id":"b3c68bb6.78dcd8","type":"checked-in-patients-list","z":"e3028a89.0e2ae8","name":"","program":"antenatalcare","x":150,"y":360,"wires":[["18e0a08c.2a24af"]]},{"id":"b8dfe188.f40df","type":"demographic-birthdate","z":"e3028a89.0e2ae8","name":"","entrybyage":true,"partialdate":true,"x":540,"y":400,"wires":[["bb478196.9e88c"]]},{"id":"f16793f5.0c914","type":"demographic-current-address","z":"e3028a89.0e2ae8","name":"","x":560,"y":440,"wires":[["bb478196.9e88c"]]},{"id":"fef5496e.9b4a98","type":"demographic-home-address","z":"e3028a89.0e2ae8","name":"","x":560,"y":480,"wires":[["bb478196.9e88c"]]},{"id":"74870cf6.b71c24","type":"height-weight","z":"e3028a89.0e2ae8","name":"","x":560,"y":520,"wires":[["bb478196.9e88c"]]},{"id":"bd4b806e.b5b62","type":"next-appointment","z":"e3028a89.0e2ae8","name":"","defaultperiod":"nextmonth","x":570,"y":560,"wires":[["bb478196.9e88c"]]},{"id":"6c67dd4b.ea0254","type":"scheduled-patients-list","z":"e3028a89.0e2ae8","name":"","program":"hiv","x":140,"y":400,"wires":[["18e0a08c.2a24af"]]},{"id":"3126d1c0.e4a1fe","type":"tb-screening","z":"e3028a89.0e2ae8","name":"","x":560,"y":600,"wires":[["bb478196.9e88c"],[]]},{"id":"18e0a08c.2a24af","type":"switch","z":"e3028a89.0e2ae8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":19,"x":350,"y":300,"wires":[["41576213.73674c"],["fccbdc9d.b033"],["97a4e454.d86368"],["5a8b3c64.6dd734"],["f666155a.212408"],["e36735fb.778848"],["3597887d.842938"],["a79fcce3.36945"],["cf4f22ba.bf0ef"],["b8dfe188.f40df"],["f16793f5.0c914"],["fef5496e.9b4a98"],["74870cf6.b71c24"],["bd4b806e.b5b62"],["3126d1c0.e4a1fe"],["6dcfae55.93d35"],["2ec1123a.13f23e"],["93f10fa2.6b337"],["ac552023.1e70e"]]},{"id":"5faffced.738284","type":"hl7-receive-message","z":"e3028a89.0e2ae8","name":"","x":140,"y":440,"wires":[["18e0a08c.2a24af"]]},{"id":"6dcfae55.93d35","type":"hl7-create-message","z":"e3028a89.0e2ae8","name":"","x":580,"y":640,"wires":[["bb478196.9e88c"]]},{"id":"2ec1123a.13f23e","type":"lab-test-result","z":"e3028a89.0e2ae8","name":"","x":560,"y":680,"wires":[["bb478196.9e88c"]]},{"id":"93f10fa2.6b337","type":"medication-dispensation","z":"e3028a89.0e2ae8","name":"","x":590,"y":720,"wires":[["bb478196.9e88c"]]},{"id":"ac552023.1e70e","type":"function","z":"e3028a89.0e2ae8","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["bb478196.9e88c"]]},{"id":"c0aa79a3.0e6a78","type":"case-start","z":"e3028a89.0e2ae8","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":100,"y":540,"wires":[["ffe2a1fe.f4121"]]},{"id":"128863eb.65ef4c","type":"config-runtime","z":"e3028a89.0e2ae8","flowpath":"/Users/xian/projects/data-first-emr/workflow-poc-emr/resources/node-red-flows.json","x":100,"y":620,"wires":[]},{"id":"ffe2a1fe.f4121","type":"visit-question","z":"e3028a89.0e2ae8","name":"Visit question","label":"Input","key":"","datatype":"integer","x":220,"y":580,"wires":[["7fcc03f9.96c9ac"]]},{"id":"7fcc03f9.96c9ac","type":"end-flow","z":"e3028a89.0e2ae8","name":"","x":320,"y":540,"wires":[]},{"id":"261759cb.7db6f6","type":"visit-select","z":"518836cf.f4b4d8","name":"PI: Age","label":"Age","key":"","behavior":"single","devices":[{"sid":"Less than 2 months"},{"sid":"2-12 months"},{"sid":"13-24 months"},{"sid":"25-60 months"},{"sid":"Over 60 months"},{"sid":"Unknown"}],"x":160,"y":180,"wires":[["c245393d.720bf8"]]},{"id":"19127b5c.7e1035","type":"visit-select","z":"518836cf.f4b4d8","name":"PI: Duration of Illness","label":"Duration of Illness","key":"","behavior":"single","devices":[{"sid":"Less than or equal to 2 days"},{"sid":"2-15 days"},{"sid":"16-30 days"},{"sid":"Over 30 days"},{"sid":"Unknown"}],"x":200,"y":240,"wires":[["eabdebe5.4002f8"]]},{"id":"86b28173.e8c64","type":"visit-select","z":"518836cf.f4b4d8","name":"Conscious","label":"Conscious","key":"","behavior":"single","devices":[{"sid":"Yes"},{"sid":"No"},{"sid":"Unknown"}],"x":170,"y":300,"wires":[["da6dbe8b.bfa8e"]]},{"id":"da6dbe8b.bfa8e","type":"visit-select","z":"518836cf.f4b4d8","name":"Anemia","label":"Anemia","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":360,"wires":[["6e0515e6.6ec48c"]]},{"id":"c245393d.720bf8","type":"summary","z":"518836cf.f4b4d8","name":"Show calculated birthdate","x":360,"y":180,"wires":[["19127b5c.7e1035"]]},{"id":"eabdebe5.4002f8","type":"summary","z":"518836cf.f4b4d8","name":"Show calculated start date","x":440,"y":240,"wires":[["86b28173.e8c64"]]},{"id":"7656d4bd.e5cd6c","type":"end-flow","z":"518836cf.f4b4d8","name":"","x":120,"y":540,"wires":[]},{"id":"6e0515e6.6ec48c","type":"visit-select","z":"518836cf.f4b4d8","name":"Convulsions","label":"Convulsions","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":360,"wires":[["d49ac399.bd832"]]},{"id":"d49ac399.bd832","type":"visit-select","z":"518836cf.f4b4d8","name":"Cough or Difficulty Breathing (CDB)","label":"Cough or Difficulty Breathing (CDB)","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":540,"y":360,"wires":[["c695b8f8.4dd238"]]},{"id":"c695b8f8.4dd238","type":"visit-select","z":"518836cf.f4b4d8","name":"Diarrhea","label":"Diarrhea","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":420,"wires":[["c3e2ada4.17dd3"]]},{"id":"c3e2ada4.17dd3","type":"visit-select","z":"518836cf.f4b4d8","name":"History of Fever","label":"History of Fever","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":320,"y":420,"wires":[["25fb9a41.f31f86"]]},{"id":"25fb9a41.f31f86","type":"visit-select","z":"518836cf.f4b4d8","name":"Fever (>37.5 C)","label":"Fever (>37.5 C)","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":500,"y":420,"wires":[["e0b3dc0d.747df"]]},{"id":"e0b3dc0d.747df","type":"visit-select","z":"518836cf.f4b4d8","name":"Lethargie","label":"Lethargie","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":480,"wires":[["de05fe36.bdafc"]]},{"id":"de05fe36.bdafc","type":"visit-select","z":"518836cf.f4b4d8","name":"Malnutrition","label":"Malnutrition","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":480,"wires":[["9a0c1549.da4418"]]},{"id":"9a0c1549.da4418","type":"visit-select","z":"518836cf.f4b4d8","name":"Unable to feed","label":"Unable to feed","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":480,"y":480,"wires":[["73356e6f.0618f"]]},{"id":"73356e6f.0618f","type":"visit-select","z":"518836cf.f4b4d8","name":"Vomiting","label":"Vomiting","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":640,"y":480,"wires":[["7656d4bd.e5cd6c"]]},{"id":"b2132125.383e9","type":"case-start","z":"518836cf.f4b4d8","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":180,"y":120,"wires":[["261759cb.7db6f6"]]}]