node-red-userdir/example-flows.json
[{"id":"899e571e.0bda48","type":"tab","label":"Test all Nodes","disabled":false,"info":""},{"id":"32b25cd2.550b44","type":"tab","label":"Liberia: HIV visit","disabled":false,"info":""},{"id":"ccc8e317.ff8cd","type":"tab","label":"Liberia: ART visit","disabled":false,"info":""},{"id":"822d45ca.d6f5e8","type":"tab","label":"Liberia: ART Header","disabled":false,"info":""},{"id":"a1643e52.69ec58","type":"subflow","name":"Patient Identification","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"56269f66.d78ff"}]}],"out":[{"x":60,"y":500,"wires":[{"id":"b87511c8.2aad4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9eba9893.b5ab6","type":"subflow","name":"HIV C&I Summary Diagnostic","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"fcfaf434.b3f8f"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"369b84b5.91fe7c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c44a39a9.c6ae6","type":"subflow","name":"Initial Assessment by clinician","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"388199af.c68f26"}]}],"out":[{"x":60,"y":320,"wires":[{"id":"9bc52e4e.e24b88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e95b8a2f.2a804","type":"subflow","name":"Other Baseline Information","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"af94a681.5c5f4"}]}],"out":[{"x":60,"y":520,"wires":[{"id":"1d0d3e47.b7d02a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"86b75ff7.b31198","type":"subflow","name":"Treatment Interruptions","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"ed2ea718.e51d28"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"82665184.30463","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1c8e387f.c41f88","type":"subflow","name":"Departure from Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"7039070c.3ad958"}]}],"out":[{"x":60,"y":220,"wires":[{"id":"4fe9ce0e.405ac8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e2e7ca08.3b41","type":"subflow","name":"Ongoing Staging","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52a25e32.945718"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"d0aa055d.d853b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3cffefd8.654f6","type":"subflow","name":"ART Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f318e98c.757928"}]}],"out":[{"x":60,"y":580,"wires":[{"id":"7c5a4eee.45416","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"21ab2f94.f2bee","type":"subflow","name":"ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52c625e7.065abc"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"52c625e7.065abc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3589d1ce.0e5f66","type":"subflow","name":"Pre-ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"49dba4ec.e9cdac"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"49dba4ec.e9cdac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d1f91274.6e9cc","type":"end-flow","z":"899e571e.0bda48","name":"","x":920,"y":580,"wires":[]},{"id":"3c4b5d20.ae8e82","type":"find-patient","z":"899e571e.0bda48","name":"","includename":true,"includeidentifier":true,"program":"tb","expression":"filter","x":110,"y":240,"wires":[["1a39ae10.702cf2"]]},{"id":"58845b6b.144144","type":"demographic-attribute","z":"899e571e.0bda48","name":"","label":"Firstname2","key":"myKey","datatype":"singleselect","x":580,"y":40,"wires":[["d1f91274.6e9cc"]]},{"id":"c2f9a1c9.6e235","type":"enrolment-outcome","z":"899e571e.0bda48","name":"","program":"chroniccare","programoutcome":"transferredout","x":580,"y":80,"wires":[["d1f91274.6e9cc"]]},{"id":"34a120d6.fa04c","type":"lab-order-entry","z":"899e571e.0bda48","name":"","panel":"testpaneld","x":560,"y":120,"wires":[["d1f91274.6e9cc"]]},{"id":"9c93e482.2b7478","type":"medication-prescription","z":"899e571e.0bda48","name":"","drugs":"tb","x":590,"y":160,"wires":[["d1f91274.6e9cc"]]},{"id":"8640b61c.a58bb8","type":"patients-queue","z":"899e571e.0bda48","name":"","expression":"filter","x":120,"y":280,"wires":[["1a39ae10.702cf2"]]},{"id":"ab69ecef.4181c","type":"referral","z":"899e571e.0bda48","name":"","referralfacility":"facility","x":540,"y":200,"wires":[["d1f91274.6e9cc"]]},{"id":"ece80504.57fe28","type":"register-patient","z":"899e571e.0bda48","name":"","x":120,"y":320,"wires":[["1a39ae10.702cf2"]]},{"id":"56c43ae7.108c64","type":"summary","z":"899e571e.0bda48","name":"","x":540,"y":240,"wires":[["d1f91274.6e9cc"]]},{"id":"9bd014f.3434fe8","type":"visit-question","z":"899e571e.0bda48","name":"label","label":"label","key":"key","datatype":"decimal","x":530,"y":280,"wires":[["d1f91274.6e9cc"]]},{"id":"b0e0407f.8106c","type":"blood-pressure","z":"899e571e.0bda48","name":"","x":560,"y":320,"wires":[["d1f91274.6e9cc"]]},{"id":"1536e581.d452fa","type":"check-in","z":"899e571e.0bda48","name":"","x":540,"y":360,"wires":[["d1f91274.6e9cc"]]},{"id":"ad35ab34.6f8408","type":"checked-in-patients-list","z":"899e571e.0bda48","name":"","program":"antenatalcare","x":150,"y":360,"wires":[["1a39ae10.702cf2"]]},{"id":"3c998042.b6762","type":"demographic-birthdate","z":"899e571e.0bda48","name":"","entrybyage":true,"partialdate":true,"x":540,"y":400,"wires":[["d1f91274.6e9cc"]]},{"id":"dd798e44.a3dc6","type":"demographic-current-address","z":"899e571e.0bda48","name":"","x":560,"y":440,"wires":[["d1f91274.6e9cc"]]},{"id":"a74481cb.60e6f","type":"demographic-home-address","z":"899e571e.0bda48","name":"","x":560,"y":480,"wires":[["d1f91274.6e9cc"]]},{"id":"828873f1.e7fa2","type":"height-weight","z":"899e571e.0bda48","name":"","x":560,"y":520,"wires":[["d1f91274.6e9cc"]]},{"id":"51f54826.5f3c68","type":"next-appointment","z":"899e571e.0bda48","name":"","defaultperiod":"nextmonth","x":570,"y":560,"wires":[["d1f91274.6e9cc"]]},{"id":"6e8f9f93.705be","type":"scheduled-patients-list","z":"899e571e.0bda48","name":"","program":"hiv","x":140,"y":400,"wires":[["1a39ae10.702cf2"]]},{"id":"1099d1b5.4b3bee","type":"tb-screening","z":"899e571e.0bda48","name":"","x":560,"y":600,"wires":[["d1f91274.6e9cc"],[]]},{"id":"1a39ae10.702cf2","type":"switch","z":"899e571e.0bda48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":27,"x":330,"y":480,"wires":[["58845b6b.144144"],["c2f9a1c9.6e235"],["34a120d6.fa04c"],["9c93e482.2b7478"],["ab69ecef.4181c"],["56c43ae7.108c64"],["9bd014f.3434fe8"],["b0e0407f.8106c"],["1536e581.d452fa"],["3c998042.b6762"],["dd798e44.a3dc6"],["a74481cb.60e6f"],["828873f1.e7fa2"],["51f54826.5f3c68"],["1099d1b5.4b3bee"],["803eb510.acdc58"],["163e443b.d0751c"],["b1439458.6b2418"],["7a244772.2c3888"],["7e783c88.0f66d4"],["c72a7da8.928358"],["125d3367.d125a5"],["148293da.b34364"],["b3dec399.c7ecb8"],["43928c18.585624"],["dccba424.1297a8"],["e7747484.19a978"]]},{"id":"84e31910.eeb498","type":"hl7-receive-message","z":"899e571e.0bda48","name":"","x":140,"y":440,"wires":[["1a39ae10.702cf2"]]},{"id":"803eb510.acdc58","type":"hl7-create-message","z":"899e571e.0bda48","name":"","x":580,"y":640,"wires":[["d1f91274.6e9cc"]]},{"id":"163e443b.d0751c","type":"lab-test-result","z":"899e571e.0bda48","name":"","x":560,"y":680,"wires":[["d1f91274.6e9cc"]]},{"id":"b1439458.6b2418","type":"medication-dispensation","z":"899e571e.0bda48","name":"","x":590,"y":720,"wires":[["d1f91274.6e9cc"]]},{"id":"7a244772.2c3888","type":"function","z":"899e571e.0bda48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["d1f91274.6e9cc"]]},{"id":"2699ecc2.a7b384","type":"find-patient","z":"ccc8e317.ff8cd","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":390,"y":40,"wires":[["ec0b5be.8ccb6a8"]]},{"id":"8c21b6cd.5576b8","type":"end-flow","z":"ccc8e317.ff8cd","name":"","x":380,"y":1120,"wires":[]},{"id":"e7ea90a6.1e866","type":"visit-question","z":"ccc8e317.ff8cd","name":"weight","label":"Weight","key":"","datatype":"decimal","x":370,"y":400,"wires":[["a9d716e9.ba1fd8"]]},{"id":"ec0b5be.8ccb6a8","type":"visit-select","z":"ccc8e317.ff8cd","name":"scheduled","label":"scheduled visit","key":"","devices":[{"sid":"Yes"},{"sid":"No"}],"x":390,"y":100,"wires":[["44be35ba.b39a7c"]]},{"id":"44be35ba.b39a7c","type":"visit-select","z":"ccc8e317.ff8cd","name":"reason","label":"reason","key":"","devices":[{"sid":"0: Follow up/Refill"},{"sid":"1: Nausea"},{"sid":"2: Diarrhea"},{"sid":"3: Fatigue"},{"sid":"4: Headache"},{"sid":"5: Rash"},{"sid":"6: Anaemia"},{"sid":"7: Burning, Numbing, Tingling"},{"sid":"8: Dizziness, Sleeplessness, Nightmare, Depression"},{"sid":"9: Abdominal Pain"},{"sid":"10: Fat Changes"},{"sid":"11: Jaundice"},{"sid":"12: Fever"},{"sid":"13: Wt. Loss"},{"sid":"14: Cough"},{"sid":"15: Poor Appetite"},{"sid":"16: Other"}],"x":370,"y":160,"wires":[["dea827b0.ea4f08"]]},{"id":"dea827b0.ea4f08","type":"visit-select","z":"ccc8e317.ff8cd","name":"adherence","label":"Adherence","key":"","devices":[{"sid":"1: Good (Missed less than 3 doses / month)"},{"sid":"2: Fair (Missed 5-8 doses / month)"},{"sid":"3: Poor (Missed more than 9 doses / month)"}],"x":390,"y":220,"wires":[["9f4ab454.f80ed8"]]},{"id":"b77a512e.b9c84","type":"visit-question","z":"ccc8e317.ff8cd","name":"height","label":"Height","key":"","datatype":"integer","x":370,"y":340,"wires":[["e7ea90a6.1e866"]]},{"id":"7249e75f.a6a0f8","type":"visit-question","z":"ccc8e317.ff8cd","name":"muac","label":"MUAC","key":"","datatype":"decimal","x":530,"y":280,"wires":[["e7ea90a6.1e866"]]},{"id":"9f4ab454.f80ed8","type":"switch","z":"ccc8e317.ff8cd","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":280,"wires":[["7249e75f.a6a0f8"],["b77a512e.b9c84"]]},{"id":"49074b2b.b94504","type":"visit-question","z":"ccc8e317.ff8cd","name":"lmp or edd","label":"LMP or EDD","key":"","datatype":"integer","x":550,"y":460,"wires":[["68d3019d.8015c"]]},{"id":"9cb53e9c.b68a4","type":"switch","z":"ccc8e317.ff8cd","name":"pregnant","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='Yes'","vt":"str"},{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='No'","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":460,"wires":[["49074b2b.b94504"],["68d3019d.8015c"]]},{"id":"68d3019d.8015c","type":"visit-select","z":"ccc8e317.ff8cd","name":"tb status","label":"TB Status","key":"","devices":[{"sid":"1: No Signs (Cough, Fever, wt lose)"},{"sid":"2: Suspected"},{"sid":"3: Confirmed, but not on treatment yet"},{"sid":"4: Currently on treatment"},{"sid":"5: Past treatment"}],"x":380,"y":520,"wires":[["c12215a8.e949c8"]]},{"id":"c12215a8.e949c8","type":"visit-select","z":"ccc8e317.ff8cd","name":"conditions","label":"AIDS Associated Conditions","key":"","devices":[{"sid":"1: Herpes Zoster"},{"sid":"2: Oral Candidiasis"},{"sid":"3: Pulmonary TB"},{"sid":"4: ???"},{"sid":"5: Anemia"},{"sid":"6: Giardia"},{"sid":"7: PCP"},{"sid":"8: Cryptococcal Meningitis"},{"sid":"9: Esophageal Candidiasis"},{"sid":"10: Kaposi Sarcoma"},{"sid":"11: Herpes Simplex"},{"sid":"12: Chronic Diarrhea"},{"sid":"13: Toxoplasmosis"},{"sid":"14: Other"},{"sid":"15: None"},{"sid":"16: Extra Pulmonary TB"}],"x":390,"y":580,"wires":[["d0e4d7e3.a8da28"]]},{"id":"d0e4d7e3.a8da28","type":"visit-select","z":"ccc8e317.ff8cd","name":"functional status","label":"Functional Status","key":"","devices":[{"sid":"1: Normal"},{"sid":"2: Ambulatory"},{"sid":"3: Bedridden"}],"x":400,"y":640,"wires":[["431b4dd3.174324"]]},{"id":"5cda3a3f.2896d4","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: CD4 Count","x":400,"y":760,"wires":[["836cff34.c5a37"]]},{"id":"836cff34.c5a37","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: ALT","x":560,"y":760,"wires":[["862d5874.4a23e8"]]},{"id":"862d5874.4a23e8","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: HB","x":700,"y":760,"wires":[["74780cb2.c70b54"]]},{"id":"74780cb2.c70b54","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: Creatinine","x":860,"y":760,"wires":[["4e3d62eb.d4284c"]]},{"id":"4e3d62eb.d4284c","type":"visit-question","z":"ccc8e317.ff8cd","name":"ctx","label":"CTX Dose","key":"","datatype":"integer","x":370,"y":820,"wires":[["887881e4.d47da"]]},{"id":"b90f4832.e8dbe8","type":"visit-select","z":"ccc8e317.ff8cd","name":"regimen (adult)","label":"ART Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":400,"y":940,"wires":[["a83d4166.b858e"]]},{"id":"d49c937a.316c2","type":"visit-select","z":"ccc8e317.ff8cd","name":"regimen (child)","label":"ART Regimen","key":"","devices":[{"sid":"3a"},{"sid":"3b"},{"sid":"3c"},{"sid":"3d"},{"sid":"3e"},{"sid":"3f"},{"sid":"3g"},{"sid":"3h"},{"sid":"3i"},{"sid":"5a"},{"sid":"5b"},{"sid":"5c"}],"x":560,"y":880,"wires":[["a83d4166.b858e"]]},{"id":"887881e4.d47da","type":"switch","z":"ccc8e317.ff8cd","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":880,"wires":[["d49c937a.316c2"],["b90f4832.e8dbe8"]]},{"id":"a83d4166.b858e","type":"next-appointment","z":"ccc8e317.ff8cd","name":"","defaultperiod":"","x":410,"y":1000,"wires":[["2bbbea18.d0b946"]]},{"id":"2bbbea18.d0b946","type":"visit-question","z":"ccc8e317.ff8cd","name":"comments","label":"Comments","key":"","datatype":"text","x":390,"y":1060,"wires":[["8c21b6cd.5576b8"]]},{"id":"af194149.aafb5","type":"scheduled-patients-list","z":"ccc8e317.ff8cd","name":"","program":"","x":140,"y":160,"wires":[["44be35ba.b39a7c"]]},{"id":"222c1c51.063764","type":"demographic-attribute","z":"822d45ca.d6f5e8","name":"name","label":"Name","key":"","datatype":"text","x":130,"y":100,"wires":[["269c862f.ad8d42"]]},{"id":"269c862f.ad8d42","type":"demographic-attribute","z":"822d45ca.d6f5e8","name":"clientid","label":"Facility Client ID","key":"","datatype":"integer","x":140,"y":160,"wires":[["23b03384.54c03c"]]},{"id":"23b03384.54c03c","type":"demographic-attribute","z":"822d45ca.d6f5e8","name":"uniquecode","label":"Unique Code","key":"","datatype":"integer","x":150,"y":220,"wires":[["b37f4f0e.a8c8b"]]},{"id":"b37f4f0e.a8c8b","type":"demographic-birthdate","z":"822d45ca.d6f5e8","name":"","entrybyage":"","partialdate":"","x":140,"y":280,"wires":[["767e4c3d.cd0074"]]},{"id":"767e4c3d.cd0074","type":"demographic-attribute","z":"822d45ca.d6f5e8","name":"familymembername","label":"Name of Family Member","key":"","datatype":"text","x":180,"y":340,"wires":[["be3c576.6e0f128"]]},{"id":"be3c576.6e0f128","type":"visit-select","z":"822d45ca.d6f5e8","name":"sex","label":"Sex","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":130,"y":400,"wires":[["1f57e09d.8ddd27"]]},{"id":"1f57e09d.8ddd27","type":"demographic-attribute","z":"822d45ca.d6f5e8","name":"contact","label":"Contact #","key":"","datatype":"text","x":140,"y":460,"wires":[[]]},{"id":"ecc0f6c8.2e817","type":"visit-question","z":"822d45ca.d6f5e8","name":"date confirmed HIV+","label":"Date Confirmed HIV+","key":"","datatype":"date","x":460,"y":80,"wires":[["82b5c217.10d08"]]},{"id":"82b5c217.10d08","type":"visit-select","z":"822d45ca.d6f5e8","name":"hivtype","label":"HIV Type","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":420,"y":140,"wires":[["41caa231.e6a4bc"]]},{"id":"41caa231.e6a4bc","type":"visit-question","z":"822d45ca.d6f5e8","name":"referred from","label":"Referred from (coded)","key":"","datatype":"text","x":430,"y":200,"wires":[["a2fa0cce.291788"]]},{"id":"a2fa0cce.291788","type":"visit-question","z":"822d45ca.d6f5e8","name":"partnertested","label":"Partner and Children tested?","key":"","datatype":"text","x":440,"y":260,"wires":[[]]},{"id":"5dd7f272.03fe14","type":"visit-question","z":"822d45ca.d6f5e8","name":"date","label":"Date","key":"","datatype":"date","x":730,"y":80,"wires":[["4cbfcd87.f98ebc"]]},{"id":"9258df16.342648","type":"visit-select","z":"822d45ca.d6f5e8","name":"","label":"","key":"","behavior":"","devices":[{"sid":"","desc":"","model":""}],"x":750,"y":200,"wires":[["84259304.b96e18"]]},{"id":"4cbfcd87.f98ebc","type":"height-weight","z":"822d45ca.d6f5e8","name":"","x":760,"y":140,"wires":[["9258df16.342648"]]},{"id":"84259304.b96e18","type":"visit-question","z":"822d45ca.d6f5e8","name":"bmi","label":"Body mass index (kg/m^2)","key":"","datatype":"decimal","x":730,"y":260,"wires":[[]]},{"id":"431b4dd3.174324","type":"visit-select","z":"ccc8e317.ff8cd","name":"stage","label":"WHO Stage","key":"","behavior":"single","devices":[{"sid":"Stage 1"},{"sid":"Stage 2"},{"sid":"Stage 3"},{"sid":"Stage 4"}],"x":370,"y":700,"wires":[["5cda3a3f.2896d4"]]},{"id":"309fe645.2a8fba","type":"visit-question","z":"822d45ca.d6f5e8","name":"rpr","label":"RPR","key":"","datatype":"text","x":950,"y":80,"wires":[["b4ee316a.a12048"]]},{"id":"b4ee316a.a12048","type":"visit-question","z":"822d45ca.d6f5e8","name":"rpr date","label":"RPD Date","key":"","datatype":"date","x":960,"y":140,"wires":[["e738fb19.dd96d8"]]},{"id":"e738fb19.dd96d8","type":"visit-question","z":"822d45ca.d6f5e8","name":"other1","label":"Other 1","key":"","datatype":"text","x":950,"y":200,"wires":[["5ed52bde.044394"]]},{"id":"5ed52bde.044394","type":"visit-question","z":"822d45ca.d6f5e8","name":"other1 date","label":"Other 1 date","key":"","datatype":"date","x":970,"y":260,"wires":[["ec1f708e.f0b81"]]},{"id":"ec1f708e.f0b81","type":"visit-question","z":"822d45ca.d6f5e8","name":"other2","label":"Other 2","key":"","datatype":"text","x":950,"y":320,"wires":[["8948e89e.d01958"]]},{"id":"8948e89e.d01958","type":"visit-question","z":"822d45ca.d6f5e8","name":"other2 date","label":"Other 2 date","key":"","datatype":"date","x":970,"y":380,"wires":[["928f5e24.cd64a8"]]},{"id":"928f5e24.cd64a8","type":"visit-question","z":"822d45ca.d6f5e8","name":"tb treatments","label":"Past TB Regimens & Dates","key":"","datatype":"text","x":980,"y":440,"wires":[[]]},{"id":"aa56e33e.694a58","type":"visit-question","z":"822d45ca.d6f5e8","name":"interruption1","label":"1st Treatment Interruption Reason","key":"","datatype":"text","x":1190,"y":80,"wires":[["134850ac.b1bfe7"]]},{"id":"134850ac.b1bfe7","type":"visit-question","z":"822d45ca.d6f5e8","name":"interruption1 date","label":"1st Treatment Interruption Date","key":"","datatype":"date","x":1210,"y":140,"wires":[["9e6dd4db.ab56c8"]]},{"id":"9e6dd4db.ab56c8","type":"visit-question","z":"822d45ca.d6f5e8","name":"interruption2","label":"2nd Treatment Interruption Reason","key":"","datatype":"text","x":1190,"y":200,"wires":[["6075733c.6ae884"]]},{"id":"6075733c.6ae884","type":"visit-question","z":"822d45ca.d6f5e8","name":"interruption2 date","label":"2nd Treatment Interruption Date","key":"","datatype":"date","x":1210,"y":260,"wires":[[]]},{"id":"f7ca2ef1.943588","type":"visit-question","z":"822d45ca.d6f5e8","name":"treatment departure","label":"Treatment Departure Reason","key":"","datatype":"text","x":1480,"y":140,"wires":[[]]},{"id":"7153f7e6.c85028","type":"visit-question","z":"822d45ca.d6f5e8","name":"treatment departure date","label":"Treatment Departure Date","key":"","datatype":"date","x":1490,"y":80,"wires":[["f7ca2ef1.943588"]]},{"id":"56269f66.d78ff","type":"demographic-attribute","z":"a1643e52.69ec58","name":"name","label":"Name","key":"","datatype":"text","x":190,"y":80,"wires":[["8555e461.fb86c"]]},{"id":"8555e461.fb86c","type":"demographic-attribute","z":"a1643e52.69ec58","name":"clientid","label":"Facility Client ID","key":"","datatype":"integer","x":200,"y":140,"wires":[["7b624999.7b36a"]]},{"id":"7b624999.7b36a","type":"demographic-attribute","z":"a1643e52.69ec58","name":"uniquecode","label":"Unique Code","key":"","datatype":"integer","x":210,"y":200,"wires":[["c495c5b8.64ada"]]},{"id":"c495c5b8.64ada","type":"demographic-birthdate","z":"a1643e52.69ec58","name":"","entrybyage":"","partialdate":"","x":200,"y":260,"wires":[["11b3883d.dbfc7"]]},{"id":"11b3883d.dbfc7","type":"demographic-attribute","z":"a1643e52.69ec58","name":"familymembername","label":"Name of Family Member","key":"","datatype":"text","x":240,"y":320,"wires":[["aa469a0e.1654b"]]},{"id":"aa469a0e.1654b","type":"visit-select","z":"a1643e52.69ec58","name":"sex","label":"Sex","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":190,"y":380,"wires":[["b87511c8.2aad4"]]},{"id":"b87511c8.2aad4","type":"demographic-attribute","z":"a1643e52.69ec58","name":"contact","label":"Contact #","key":"","datatype":"text","x":200,"y":440,"wires":[[]]},{"id":"72a9c44d.ae699c","type":"subflow:a1643e52.69ec58","z":"822d45ca.d6f5e8","name":"Patient Identification","env":[],"x":130,"y":40,"wires":[[]]},{"id":"fcfaf434.b3f8f","type":"visit-question","z":"9eba9893.b5ab6","name":"date confirmed HIV+","label":"Date Confirmed HIV+","key":"","datatype":"date","x":240,"y":80,"wires":[["75a05baf.3e7d44"]]},{"id":"75a05baf.3e7d44","type":"visit-select","z":"9eba9893.b5ab6","name":"hivtype","label":"HIV Type","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["85db2847.d8394"]]},{"id":"85db2847.d8394","type":"visit-question","z":"9eba9893.b5ab6","name":"referred from","label":"Referred from (coded)","key":"","datatype":"text","x":210,"y":200,"wires":[["369b84b5.91fe7c"]]},{"id":"369b84b5.91fe7c","type":"visit-question","z":"9eba9893.b5ab6","name":"partnertested","label":"Partner and Children tested?","key":"","datatype":"boolean","x":220,"y":260,"wires":[[]]},{"id":"e3681105.f7d0a","type":"subflow:9eba9893.b5ab6","z":"822d45ca.d6f5e8","x":460,"y":40,"wires":[[]]},{"id":"388199af.c68f26","type":"visit-question","z":"c44a39a9.c6ae6","name":"date","label":"Date","key":"","datatype":"date","x":190,"y":80,"wires":[["f5c6d144.75a92"]]},{"id":"f5c6d144.75a92","type":"height-weight","z":"c44a39a9.c6ae6","name":"","x":220,"y":140,"wires":[["9bc52e4e.e24b88"]]},{"id":"9bc52e4e.e24b88","type":"visit-question","z":"c44a39a9.c6ae6","name":"bmi","label":"Body mass index (kg/m^2)","key":"","datatype":"decimal","x":190,"y":260,"wires":[[]]},{"id":"2c7df330.bc0954","type":"subflow:c44a39a9.c6ae6","z":"822d45ca.d6f5e8","x":760,"y":40,"wires":[[]]},{"id":"af94a681.5c5f4","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr","label":"RPR","key":"","datatype":"text","x":190,"y":80,"wires":[["6c2dc748.aa9148"]]},{"id":"6c2dc748.aa9148","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr date","label":"RPD Date","key":"","datatype":"date","x":200,"y":140,"wires":[["fc29a7b4.229698"]]},{"id":"fc29a7b4.229698","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab","label":"Other Lab 1","key":"","datatype":"text","x":200,"y":200,"wires":[["338eed57.89c7a2"]]},{"id":"338eed57.89c7a2","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab date","label":"Other Lab 1 date","key":"","datatype":"date","x":220,"y":260,"wires":[["9dce0601.a1114"]]},{"id":"9dce0601.a1114","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab","label":"Other 2 Lab","key":"","datatype":"text","x":200,"y":320,"wires":[["be098554.4adff"]]},{"id":"be098554.4adff","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab date","label":"Other 2 Lab date","key":"","datatype":"date","x":220,"y":380,"wires":[["1d0d3e47.b7d02a"]]},{"id":"1d0d3e47.b7d02a","type":"visit-question","z":"e95b8a2f.2a804","name":"tb treatments","label":"Past TB Regimens & Dates","key":"","datatype":"text","x":220,"y":440,"wires":[[]]},{"id":"4a817748.7be378","type":"subflow:e95b8a2f.2a804","z":"822d45ca.d6f5e8","x":1010,"y":40,"wires":[[]]},{"id":"ed2ea718.e51d28","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1","label":"1st Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":80,"wires":[["56715cbb.069e0c"]]},{"id":"56715cbb.069e0c","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1 date","label":"1st Treatment Interruption Date","key":"","datatype":"date","x":210,"y":140,"wires":[["f6eedc09.bfb8"]]},{"id":"f6eedc09.bfb8","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2","label":"2nd Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":200,"wires":[["82665184.30463"]]},{"id":"82665184.30463","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2 date","label":"2nd Treatment Interruption Date","key":"","datatype":"date","x":210,"y":260,"wires":[[]]},{"id":"8d211ee1.a007","type":"subflow:86b75ff7.b31198","z":"822d45ca.d6f5e8","name":"","env":[],"x":1240,"y":40,"wires":[[]]},{"id":"4fe9ce0e.405ac8","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure","label":"Treatment Departure Reason","key":"","datatype":"text","x":200,"y":140,"wires":[[]]},{"id":"7039070c.3ad958","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure date","label":"Treatment Departure Date","key":"","datatype":"date","x":210,"y":80,"wires":[["4fe9ce0e.405ac8"]]},{"id":"7f9c3ecb.a73188","type":"subflow:1c8e387f.c41f88","z":"822d45ca.d6f5e8","name":"","env":[],"x":1490,"y":40,"wires":[[]]},{"id":"88d1826d.968e4","type":"visit-question","z":"822d45ca.d6f5e8","name":"stage1 date","label":"WHO Stage 1 Date","key":"","datatype":"date","x":1750,"y":100,"wires":[[]]},{"id":"555f5e40.a7bad","type":"visit-question","z":"822d45ca.d6f5e8","name":"stage2 date","label":"WHO Stage 2 Date","key":"","datatype":"date","x":1750,"y":160,"wires":[[]]},{"id":"e23084d8.665878","type":"visit-question","z":"822d45ca.d6f5e8","name":"stage3 date","label":"WHO Stage 3 Date","key":"","datatype":"date","x":1750,"y":220,"wires":[[]]},{"id":"aaec2662.a1d048","type":"visit-question","z":"822d45ca.d6f5e8","name":"stage4 date","label":"WHO Stage 4 Date","key":"","datatype":"date","x":1750,"y":280,"wires":[[]]},{"id":"52a25e32.945718","type":"visit-question","z":"e2e7ca08.3b41","name":"stage1 date","label":"WHO Stage 1 Date","key":"","datatype":"date","x":190,"y":80,"wires":[["da03c42e.a93a1"]]},{"id":"da03c42e.a93a1","type":"visit-question","z":"e2e7ca08.3b41","name":"stage2 date","label":"WHO Stage 2 Date","key":"","datatype":"date","x":190,"y":140,"wires":[["c1b34a16.490578"]]},{"id":"c1b34a16.490578","type":"visit-question","z":"e2e7ca08.3b41","name":"stage3 date","label":"WHO Stage 3 Date","key":"","datatype":"date","x":190,"y":200,"wires":[["d0aa055d.d853b8"]]},{"id":"d0aa055d.d853b8","type":"visit-question","z":"e2e7ca08.3b41","name":"stage4 date","label":"WHO Stage 4 Date","key":"","datatype":"date","x":190,"y":260,"wires":[[]]},{"id":"827b5783.a85e28","type":"subflow:e2e7ca08.3b41","z":"822d45ca.d6f5e8","name":"","env":[],"x":1760,"y":40,"wires":[[]]},{"id":"f4f5ef9f.1979e","type":"visit-question","z":"822d45ca.d6f5e8","name":"startdate","label":"Date Started","key":"","datatype":"date","x":2000,"y":100,"wires":[["31357b88.76b24c"]]},{"id":"31357b88.76b24c","type":"visit-select","z":"822d45ca.d6f5e8","name":"initial regimen","label":"Initial Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2020,"y":160,"wires":[["44afbde5.9d69bc"]]},{"id":"44afbde5.9d69bc","type":"visit-select","z":"822d45ca.d6f5e8","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2070,"y":220,"wires":[["5120cf7b.ec786"]]},{"id":"5120cf7b.ec786","type":"visit-question","z":"822d45ca.d6f5e8","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","key":"","datatype":"text","x":2070,"y":280,"wires":[["43bc2ff9.36ef3"]]},{"id":"43bc2ff9.36ef3","type":"visit-question","z":"822d45ca.d6f5e8","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","key":"","datatype":"date","x":2060,"y":340,"wires":[["a59133f6.e042"]]},{"id":"a59133f6.e042","type":"visit-select","z":"822d45ca.d6f5e8","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2080,"y":400,"wires":[["3b198f4e.4f75c"]]},{"id":"3b198f4e.4f75c","type":"visit-question","z":"822d45ca.d6f5e8","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","key":"","datatype":"text","x":2070,"y":460,"wires":[["91888905.8f43f"]]},{"id":"91888905.8f43f","type":"visit-question","z":"822d45ca.d6f5e8","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","key":"","datatype":"date","x":2060,"y":520,"wires":[["1ee6e342.2239ed"]]},{"id":"1ee6e342.2239ed","type":"visit-select","z":"822d45ca.d6f5e8","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2460,"y":220,"wires":[["3ec4fef0.534f82"]]},{"id":"3ec4fef0.534f82","type":"visit-question","z":"822d45ca.d6f5e8","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","key":"","datatype":"text","x":2450,"y":280,"wires":[["7ff68aac.4125f4"]]},{"id":"7ff68aac.4125f4","type":"visit-question","z":"822d45ca.d6f5e8","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","key":"","datatype":"date","x":2440,"y":340,"wires":[["c5c81172.5fb488"]]},{"id":"c5c81172.5fb488","type":"visit-select","z":"822d45ca.d6f5e8","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2460,"y":400,"wires":[["e0f942f8.337368"]]},{"id":"e0f942f8.337368","type":"visit-question","z":"822d45ca.d6f5e8","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","key":"","datatype":"text","x":2450,"y":460,"wires":[["e0db4a14.7833d"]]},{"id":"e0db4a14.7833d","type":"visit-question","z":"822d45ca.d6f5e8","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","key":"","datatype":"date","x":2450,"y":520,"wires":[[]]},{"id":"f318e98c.757928","type":"visit-question","z":"3cffefd8.654f6","name":"startdate","label":"Date Started","key":"","datatype":"date","x":200,"y":80,"wires":[["5a8950ca.280e38"]]},{"id":"5a8950ca.280e38","type":"visit-select","z":"3cffefd8.654f6","name":"initial regimen","label":"Initial Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":220,"y":140,"wires":[["aa85dc3e.255ca"]]},{"id":"aa85dc3e.255ca","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":270,"y":200,"wires":[["71df6c0d.305864"]]},{"id":"71df6c0d.305864","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","key":"","datatype":"text","x":270,"y":260,"wires":[["a81911bd.b7966"]]},{"id":"a81911bd.b7966","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","key":"","datatype":"date","x":260,"y":320,"wires":[["1ae30506.e4bedb"]]},{"id":"1ae30506.e4bedb","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":280,"y":380,"wires":[["5249124e.1e61cc"]]},{"id":"5249124e.1e61cc","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","key":"","datatype":"text","x":270,"y":440,"wires":[["bb6b2b3e.886ca8"]]},{"id":"bb6b2b3e.886ca8","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","key":"","datatype":"date","x":260,"y":500,"wires":[["4056f450.4d7114"]]},{"id":"4056f450.4d7114","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":200,"wires":[["e4e8fa63.521778"]]},{"id":"e4e8fa63.521778","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","key":"","datatype":"text","x":650,"y":260,"wires":[["bd5dfea8.3979f8"]]},{"id":"bd5dfea8.3979f8","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","key":"","datatype":"date","x":640,"y":320,"wires":[["cdd68008.98d8c8"]]},{"id":"cdd68008.98d8c8","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":380,"wires":[["447fbe02.ebe208"]]},{"id":"447fbe02.ebe208","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","key":"","datatype":"text","x":650,"y":440,"wires":[["7c5a4eee.45416"]]},{"id":"7c5a4eee.45416","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","key":"","datatype":"date","x":650,"y":500,"wires":[[]]},{"id":"18177a5d.16415e","type":"subflow:3cffefd8.654f6","z":"822d45ca.d6f5e8","name":"","env":[],"x":2020,"y":40,"wires":[[]]},{"id":"622965bb.6c36c4","type":"find-patient","z":"32b25cd2.550b44","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":510,"y":300,"wires":[["d0d19198.94682"]]},{"id":"7d7c9bb2.664b24","type":"end-flow","z":"32b25cd2.550b44","name":"","x":500,"y":1440,"wires":[]},{"id":"3ad2b71e.f6a01","type":"visit-question","z":"32b25cd2.550b44","name":"weight","label":"Weight","key":"","datatype":"decimal","x":490,"y":720,"wires":[["267a613a.a6c526"]]},{"id":"d0d19198.94682","type":"visit-select","z":"32b25cd2.550b44","name":"scheduled","label":"scheduled visit","key":"","devices":[{"sid":"Yes"},{"sid":"No"}],"x":510,"y":360,"wires":[["5906c324.5ca634"]]},{"id":"26fee490.019894","type":"visit-select","z":"32b25cd2.550b44","name":"reason","label":"reason","key":"","devices":[{"sid":"0: Follow up/Refill"},{"sid":"1: Nausea"},{"sid":"2: Diarrhea"},{"sid":"3: Fatigue"},{"sid":"4: Headache"},{"sid":"5: Rash"},{"sid":"6: Anaemia"},{"sid":"7: Burning, Numbing, Tingling"},{"sid":"8: Dizziness, Sleeplessness, Nightmare, Depression"},{"sid":"9: Abdominal Pain"},{"sid":"10: Fat Changes"},{"sid":"11: Jaundice"},{"sid":"12: Fever"},{"sid":"13: Wt. Loss"},{"sid":"14: Cough"},{"sid":"15: Poor Appetite"},{"sid":"16: Other"}],"x":490,"y":480,"wires":[["6aecd09f.ad836"]]},{"id":"6aecd09f.ad836","type":"visit-select","z":"32b25cd2.550b44","name":"adherence","label":"Adherence","key":"","devices":[{"sid":"1: Good (Missed less than 3 doses / month)"},{"sid":"2: Fair (Missed 5-8 doses / month)"},{"sid":"3: Poor (Missed more than 9 doses / month)"}],"x":510,"y":540,"wires":[["a6e069d9.773e8"]]},{"id":"cb9b06c3.54caa","type":"visit-question","z":"32b25cd2.550b44","name":"height","label":"Height","key":"","datatype":"integer","x":490,"y":660,"wires":[["3ad2b71e.f6a01"]]},{"id":"b0219ada.59995","type":"visit-question","z":"32b25cd2.550b44","name":"muac","label":"MUAC","key":"","datatype":"decimal","x":650,"y":600,"wires":[["3ad2b71e.f6a01"]]},{"id":"5f952378.eb4764","type":"visit-question","z":"32b25cd2.550b44","name":"lmp or edd","label":"LMP or EDD","key":"","datatype":"integer","x":670,"y":780,"wires":[["e9998fb8.fa8958"]]},{"id":"e9998fb8.fa8958","type":"visit-select","z":"32b25cd2.550b44","name":"tb status","label":"TB Status","key":"","devices":[{"sid":"1: No Signs (Cough, Fever, wt lose)"},{"sid":"2: Suspected"},{"sid":"3: Confirmed, but not on treatment yet"},{"sid":"4: Currently on treatment"},{"sid":"5: Past treatment"}],"x":500,"y":840,"wires":[["cc3b5e5f.b655b"]]},{"id":"cc3b5e5f.b655b","type":"visit-select","z":"32b25cd2.550b44","name":"conditions","label":"AIDS Associated Conditions","key":"","devices":[{"sid":"1: Herpes Zoster"},{"sid":"2: Oral Candidiasis"},{"sid":"3: Pulmonary TB"},{"sid":"4: ???"},{"sid":"5: Anemia"},{"sid":"6: Giardia"},{"sid":"7: PCP"},{"sid":"8: Cryptococcal Meningitis"},{"sid":"9: Esophageal Candidiasis"},{"sid":"10: Kaposi Sarcoma"},{"sid":"11: Herpes Simplex"},{"sid":"12: Chronic Diarrhea"},{"sid":"13: Toxoplasmosis"},{"sid":"14: Other"},{"sid":"15: None"},{"sid":"16: Extra Pulmonary TB"}],"x":510,"y":900,"wires":[["9bd4dcb9.756fa"]]},{"id":"9bd4dcb9.756fa","type":"visit-select","z":"32b25cd2.550b44","name":"functional status","label":"Functional Status","key":"","devices":[{"sid":"1: Normal"},{"sid":"2: Ambulatory"},{"sid":"3: Bedridden"}],"x":520,"y":960,"wires":[["e13bfaea.8aa078"]]},{"id":"7d15d3b7.f4dc2c","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: CD4 Count","x":520,"y":1080,"wires":[["86c8f644.4493a"]]},{"id":"86c8f644.4493a","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: ALT","x":680,"y":1080,"wires":[["eabd1371.ed2498"]]},{"id":"eabd1371.ed2498","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: HB","x":820,"y":1080,"wires":[["6927d38.fd091ac"]]},{"id":"6927d38.fd091ac","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: Creatinine","x":980,"y":1080,"wires":[["d3b82f5c.46f5d8"]]},{"id":"d3b82f5c.46f5d8","type":"visit-question","z":"32b25cd2.550b44","name":"ctx","label":"CTX Dose","key":"","datatype":"integer","x":490,"y":1140,"wires":[["4005bb7f.50ba04"]]},{"id":"e5ca1440.ef502","type":"visit-select","z":"32b25cd2.550b44","name":"regimen (adult)","label":"ART Regimen","key":"","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":520,"y":1260,"wires":[["f1040052.3beb"]]},{"id":"4278e9f9.7da9f8","type":"visit-select","z":"32b25cd2.550b44","name":"regimen (child)","label":"ART Regimen","key":"","devices":[{"sid":"3a"},{"sid":"3b"},{"sid":"3c"},{"sid":"3d"},{"sid":"3e"},{"sid":"3f"},{"sid":"3g"},{"sid":"3h"},{"sid":"3i"},{"sid":"5a"},{"sid":"5b"},{"sid":"5c"}],"x":680,"y":1200,"wires":[["f1040052.3beb"]]},{"id":"f1040052.3beb","type":"next-appointment","z":"32b25cd2.550b44","name":"","defaultperiod":"","x":530,"y":1320,"wires":[["37742e00.6f253a"]]},{"id":"37742e00.6f253a","type":"visit-question","z":"32b25cd2.550b44","name":"comments","label":"Comments","key":"","datatype":"text","x":510,"y":1380,"wires":[["7d7c9bb2.664b24"]]},{"id":"185100e9.7a123f","type":"scheduled-patients-list","z":"32b25cd2.550b44","name":"","program":"","x":260,"y":420,"wires":[["5906c324.5ca634"]]},{"id":"e13bfaea.8aa078","type":"visit-select","z":"32b25cd2.550b44","name":"stage","label":"WHO Stage","key":"","behavior":"single","devices":[{"sid":"Stage 1"},{"sid":"Stage 2"},{"sid":"Stage 3"},{"sid":"Stage 4"}],"x":490,"y":1020,"wires":[["7d15d3b7.f4dc2c"]]},{"id":"555d0270.ba7e44","type":"register-patient","z":"32b25cd2.550b44","name":"","x":520,"y":180,"wires":[["e920ee20.5cc31"]]},{"id":"ed2781ab.86bce","type":"subflow:a1643e52.69ec58","z":"32b25cd2.550b44","name":"","env":[],"x":770,"y":240,"wires":[["ae75a1ed.89b61"]]},{"id":"e1cac088.0a7818","type":"subflow:9eba9893.b5ab6","z":"32b25cd2.550b44","name":"","env":[],"x":1140,"y":240,"wires":[["3a13082c.2679"]]},{"id":"715bef7.f1d271","type":"subflow:c44a39a9.c6ae6","z":"32b25cd2.550b44","name":"","env":[],"x":1540,"y":240,"wires":[["ccdc827b.da0fa8"]]},{"id":"d11f0b76.167068","type":"subflow:e2e7ca08.3b41","z":"32b25cd2.550b44","name":"","env":[],"x":760,"y":300,"wires":[["5db553c1.1d924c"]]},{"id":"30c40aed.6ba416","type":"subflow:e95b8a2f.2a804","z":"32b25cd2.550b44","name":"","env":[],"x":1930,"y":240,"wires":[["3d5e5d6a.d8877a"]]},{"id":"76e2ce6.9eb9fb","type":"subflow:3cffefd8.654f6","z":"32b25cd2.550b44","name":"","env":[],"x":1080,"y":300,"wires":[["67ae3d80.92a74c"]]},{"id":"52b92679.56b5f8","type":"subflow:86b75ff7.b31198","z":"32b25cd2.550b44","name":"","env":[],"x":1420,"y":300,"wires":[["f57ff541.e249a"]]},{"id":"b9cd3c10.1766b","type":"subflow:1c8e387f.c41f88","z":"32b25cd2.550b44","name":"","env":[],"x":1790,"y":300,"wires":[["5906c324.5ca634"]]},{"id":"5906c324.5ca634","type":"visit-question","z":"32b25cd2.550b44","name":"date","label":"Date","key":"","datatype":"date","x":490,"y":420,"wires":[["26fee490.019894"]]},{"id":"52c625e7.065abc","type":"visit-question","z":"21ab2f94.f2bee","name":"ART Register Book","label":"ART Register Book TBD","key":"","datatype":"text","x":210,"y":40,"wires":[[]]},{"id":"a5fb0957.d42308","type":"subflow:21ab2f94.f2bee","z":"32b25cd2.550b44","name":"","env":[],"x":1130,"y":180,"wires":[["29c2eb3.6186014"]]},{"id":"49dba4ec.e9cdac","type":"visit-question","z":"3589d1ce.0e5f66","name":"preart","label":"Pre-ART Register TBD","key":"","datatype":"text","x":190,"y":80,"wires":[[]]},{"id":"e920ee20.5cc31","type":"subflow:3589d1ce.0e5f66","z":"32b25cd2.550b44","name":"","env":[],"x":780,"y":180,"wires":[["b3327741.13ff48"]]},{"id":"b3327741.13ff48","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":960,"y":180,"wires":[["a5fb0957.d42308"]]},{"id":"29c2eb3.6186014","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1300,"y":180,"wires":[["ed2781ab.86bce"]]},{"id":"3d5e5d6a.d8877a","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":2120,"y":240,"wires":[["d11f0b76.167068"]]},{"id":"5db553c1.1d924c","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":920,"y":300,"wires":[["76e2ce6.9eb9fb"]]},{"id":"67ae3d80.92a74c","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1240,"y":300,"wires":[["52b92679.56b5f8"]]},{"id":"f57ff541.e249a","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1600,"y":300,"wires":[["b9cd3c10.1766b"]]},{"id":"ccdc827b.da0fa8","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1740,"y":240,"wires":[["30c40aed.6ba416"]]},{"id":"3a13082c.2679","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1340,"y":240,"wires":[["715bef7.f1d271"]]},{"id":"ae75a1ed.89b61","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":940,"y":240,"wires":[["e1cac088.0a7818"]]},{"id":"a9d716e9.ba1fd8","type":"visit-select","z":"ccc8e317.ff8cd","name":"pregnant","label":"Are you pregnant?","key":"","behavior":"single","devices":[{"sid":"Yes"},{"sid":"No"}],"x":520,"y":400,"wires":[["9cb53e9c.b68a4"]]},{"id":"a6e069d9.773e8","type":"switch","z":"32b25cd2.550b44","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":600,"wires":[["b0219ada.59995"],["cb9b06c3.54caa"]]},{"id":"4005bb7f.50ba04","type":"switch","z":"32b25cd2.550b44","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":1200,"wires":[["4278e9f9.7da9f8"],["e5ca1440.ef502"]]},{"id":"267a613a.a6c526","type":"switch","z":"32b25cd2.550b44","name":"pregnant","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='Yes'","vt":"str"},{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='No'","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":500,"y":780,"wires":[["5f952378.eb4764"],["e9998fb8.fa8958"]]},{"id":"d1d1db35.53e9f8","type":"Blockly","z":"32b25cd2.550b44","language":"en","func":"\nreturn msg;","workspaceXml":"","outputs":1,"name":"","x":120,"y":240,"wires":[[]]},{"id":"7e783c88.0f66d4","type":"device-coordinates","z":"899e571e.0bda48","name":"","x":570,"y":800,"wires":[["d1f91274.6e9cc"]]},{"id":"c72a7da8.928358","type":"play-audio","z":"899e571e.0bda48","name":"","x":550,"y":840,"wires":[["d1f91274.6e9cc"]]},{"id":"125d3367.d125a5","type":"scan-barcode","z":"899e571e.0bda48","name":"","x":560,"y":880,"wires":[["d1f91274.6e9cc"]]},{"id":"148293da.b34364","type":"show-video","z":"899e571e.0bda48","name":"","x":550,"y":920,"wires":[["d1f91274.6e9cc"]]},{"id":"b3dec399.c7ecb8","type":"take-photo","z":"899e571e.0bda48","name":"","x":550,"y":960,"wires":[["d1f91274.6e9cc"]]},{"id":"43928c18.585624","type":"Blockly","z":"899e571e.0bda48","language":"en","func":"\nreturn msg;","workspaceXml":"","outputs":1,"name":"","x":540,"y":1000,"wires":[["d1f91274.6e9cc"]]},{"id":"dccba424.1297a8","type":"print-barcode","z":"899e571e.0bda48","name":"","x":560,"y":1040,"wires":[["d1f91274.6e9cc"]]},{"id":"e7747484.19a978","type":"text-to-speech","z":"899e571e.0bda48","name":"","x":560,"y":1080,"wires":[["d1f91274.6e9cc"]]}]