resources/node-red-flows.json
[{"id":"2297acf6.e98c64","type":"tab","label":"Diagnosing Childhood Malaria","disabled":false,"info":""},{"id":"af77e3e8.e89f3","type":"tab","label":"Vitals","disabled":false,"info":""},{"id":"31f002eb.4ebf6e","type":"tab","label":"Vitals - extended","disabled":false,"info":""},{"id":"4c9fe8ac.10e058","type":"tab","label":"MVP: Lab&Pharmacy","disabled":false,"info":""},{"id":"2d4060a6.92c72","type":"tab","label":"ART Consultation","disabled":false,"info":""},{"id":"a1643e52.69ec58","type":"subflow","name":"Patient Identification","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"56269f66.d78ff"}]}],"out":[{"x":60,"y":500,"wires":[{"id":"b87511c8.2aad4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9eba9893.b5ab6","type":"subflow","name":"HIV C&I Summary Diagnostic","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"fcfaf434.b3f8f"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"369b84b5.91fe7c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c44a39a9.c6ae6","type":"subflow","name":"Initial Assessment by clinician","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"388199af.c68f26"}]}],"out":[{"x":60,"y":320,"wires":[{"id":"9bc52e4e.e24b88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e95b8a2f.2a804","type":"subflow","name":"Other Baseline Information","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"af94a681.5c5f4"}]}],"out":[{"x":60,"y":520,"wires":[{"id":"1d0d3e47.b7d02a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"86b75ff7.b31198","type":"subflow","name":"Treatment Interruptions","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"ed2ea718.e51d28"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"82665184.30463","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1c8e387f.c41f88","type":"subflow","name":"Departure from Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"7039070c.3ad958"}]}],"out":[{"x":60,"y":220,"wires":[{"id":"4fe9ce0e.405ac8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e2e7ca08.3b41","type":"subflow","name":"Ongoing Staging","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52a25e32.945718"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"d0aa055d.d853b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3cffefd8.654f6","type":"subflow","name":"ART Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f318e98c.757928"}]}],"out":[{"x":60,"y":580,"wires":[{"id":"7c5a4eee.45416","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"21ab2f94.f2bee","type":"subflow","name":"ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52c625e7.065abc"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"52c625e7.065abc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3589d1ce.0e5f66","type":"subflow","name":"Pre-ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"49dba4ec.e9cdac"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"49dba4ec.e9cdac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6467ceb9.0eaa4","type":"subflow","name":"ART register patient","info":"","category":"RDH HIV","in":[{"x":60,"y":120,"wires":[{"id":"42682891.4504c8"}]}],"out":[{"x":660,"y":480,"wires":[{"id":"f78e7511.2a1df8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9d34a91.b320b58","type":"subflow","name":"ART Status at Initiation","info":"","category":"RDH HIV","in":[{"x":40,"y":160,"wires":[{"id":"b899546b.02c3c8"}]}],"out":[{"x":380,"y":740,"wires":[{"id":"bfdf9eca.ce5e3","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"340fa181.b8c92e","type":"subflow","name":"ART Confirmatory HIV Test","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"7512aec1.ed22b"}]}],"out":[{"x":380,"y":560,"wires":[{"id":"e5ceb606.7fa3d8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"2ace2e04.3bb9a2","type":"subflow","name":"ART Intake (as per Register)","info":"","category":"RDH HIV","in":[{"x":60,"y":120,"wires":[{"id":"25327dd5.15a8a2"}]}],"out":[{"x":640,"y":440,"wires":[{"id":"fb0b67a7.9c36b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a617f170.1c605","type":"subflow","name":"ART Visit: Vitals","info":"","category":"RDH HIV","in":[{"x":60,"y":80,"wires":[{"id":"447a0ef0.4e232"}]}],"out":[{"x":780,"y":260,"wires":[{"id":"3b06c6e8.c5f2da","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1643d582.b1991a","type":"subflow","name":"ART Visit: Visit","info":"","category":"RDH HIV","in":[{"x":60,"y":80,"wires":[{"id":"9e2278b8.90b6d8"}]}],"out":[{"x":740,"y":780,"wires":[{"id":"5a67260f.aacc38","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d5cb0610.e75008","type":"subflow","name":"Exp Infant Vitals","info":"","category":"RDH HIV","in":[{"x":60,"y":80,"wires":[{"id":"2ddca830.c798e8"}]}],"out":[{"x":480,"y":240,"wires":[{"id":"46b2a0c4.41a7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dc4d15f8.c825c8","type":"subflow","name":"Exp Infant register patient","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"c228b7c7.6ccee8"}]}],"out":[{"x":360,"y":640,"wires":[{"id":"1c0b8c9a.f51c43","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e4a163f.bcc78a","type":"subflow","name":"Exp Infant Status","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"e8f47685.f065c8"}]}],"out":[{"x":400,"y":280,"wires":[{"id":"f4da2592.cc43b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"69e3b9ba.723bc8","type":"subflow","name":"Exp Infant HIV Testing","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"b6fe09d2.2a9958"}]}],"out":[{"x":340,"y":320,"wires":[{"id":"39ae6d4d.b35712","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7d846b81.1913b4","type":"subflow","name":"Exp Infant Visit","info":"","category":"RDH HIV","in":[{"x":130,"y":90,"wires":[{"id":"451388c5.870eb8"}]}],"out":[{"x":500,"y":460,"wires":[{"id":"4e50bfc.a0a5d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"128d8803.8b8dd8","type":"subflow","name":"VL order","info":"","category":"","in":[{"x":160,"y":220,"wires":[{"id":"6156dabd.252114"}]}],"out":[{"x":1900,"y":200,"wires":[{"id":"def4ae91.af319","port":0},{"id":"dcc0a522.adbbf8","port":1},{"id":"3b2159fe.67da16","port":0},{"id":"888e9ead.9616b","port":0},{"id":"b6557126.0ce8a","port":0},{"id":"eaaa7635.a55248","port":0},{"id":"14ad6ec0.670881","port":0},{"id":"412676e1.e927a8","port":0},{"id":"42319100.c3c39","port":0},{"id":"6598135e.5bbd3c","port":"2"}]}],"env":[],"color":"#DDAA99"},{"id":"31334eec.6d3a32","type":"subflow","name":"Subflow 1","info":"","in":[{"x":40,"y":80,"wires":[{"id":"2bccbdec.b41762"}]}],"out":[{"x":600,"y":120,"wires":[{"id":"bfe7bb9a.a93288","port":0},{"id":"2bccbdec.b41762","port":0},{"id":"6b1e99d7.d7f258","port":1}]}]},{"id":"8597eba8.d8b1e8","type":"subflow","name":"Subflow 2","info":"","in":[{"x":40,"y":80,"wires":[{"id":"9c85c55b.37704"}]}],"out":[{"x":580,"y":140,"wires":[{"id":"9c85c55b.37704","port":0},{"id":"6128ffeb.5975b8","port":0},{"id":"a47d183c.048828","port":1}]}]},{"id":"7bf38ac1.088444","type":"careflow-config","z":"","environment":"xian","runtime_flow_path":"/Users/xian/projects/data-first-emr/workflow-poc-emr/resources/node-red-flows.json"},{"id":"56269f66.d78ff","type":"question-primitive","z":"a1643e52.69ec58","name":"name","label":"Name","scope":"demographic","key":"","datatype":"text","x":190,"y":80,"wires":[["8555e461.fb86c"]]},{"id":"8555e461.fb86c","type":"question-primitive","z":"a1643e52.69ec58","name":"clientid","label":"Facility Client ID","scope":"demographic","key":"","datatype":"integer","x":200,"y":140,"wires":[["7b624999.7b36a"]]},{"id":"7b624999.7b36a","type":"question-primitive","z":"a1643e52.69ec58","name":"uniquecode","label":"Unique Code","scope":"demographic","key":"","datatype":"integer","x":210,"y":200,"wires":[["c495c5b8.64ada"]]},{"id":"c495c5b8.64ada","type":"demographic-birthdate","z":"a1643e52.69ec58","name":"","entrybyage":"","partialdate":"","x":200,"y":260,"wires":[["11b3883d.dbfc7"]]},{"id":"11b3883d.dbfc7","type":"question-primitive","z":"a1643e52.69ec58","name":"familymembername","label":"Name of Family Member","scope":"demographic","key":"","datatype":"text","x":240,"y":320,"wires":[["aa469a0e.1654b"]]},{"id":"aa469a0e.1654b","type":"question-select","z":"a1643e52.69ec58","name":"sex","label":"Sex","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":190,"y":380,"wires":[["b87511c8.2aad4"]]},{"id":"b87511c8.2aad4","type":"question-primitive","z":"a1643e52.69ec58","name":"contact","label":"Contact #","scope":"demographic","key":"","datatype":"text","x":200,"y":440,"wires":[[]]},{"id":"fcfaf434.b3f8f","type":"question-primitive","z":"9eba9893.b5ab6","name":"date confirmed HIV+","label":"Date Confirmed HIV+","scope":"encounter","key":"","datatype":"date","x":240,"y":80,"wires":[["75a05baf.3e7d44"]]},{"id":"75a05baf.3e7d44","type":"question-select","z":"9eba9893.b5ab6","name":"hivtype","label":"HIV Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["85db2847.d8394"]]},{"id":"85db2847.d8394","type":"question-primitive","z":"9eba9893.b5ab6","name":"referred from","label":"Referred from (coded)","scope":"encounter","key":"","datatype":"text","x":210,"y":200,"wires":[["369b84b5.91fe7c"]]},{"id":"369b84b5.91fe7c","type":"question-primitive","z":"9eba9893.b5ab6","name":"partnertested","label":"Partner and Children tested?","scope":"encounter","key":"","datatype":"boolean","x":220,"y":260,"wires":[[]]},{"id":"388199af.c68f26","type":"question-primitive","z":"c44a39a9.c6ae6","name":"date","label":"Date","scope":"encounter","key":"","datatype":"date","x":190,"y":80,"wires":[["f5c6d144.75a92"]]},{"id":"f5c6d144.75a92","type":"height-weight","z":"c44a39a9.c6ae6","name":"","x":220,"y":140,"wires":[["9bc52e4e.e24b88"]]},{"id":"9bc52e4e.e24b88","type":"question-primitive","z":"c44a39a9.c6ae6","name":"bmi","label":"Body mass index (kg/m^2)","scope":"encounter","key":"","datatype":"decimal","x":190,"y":260,"wires":[[]]},{"id":"af94a681.5c5f4","type":"question-primitive","z":"e95b8a2f.2a804","name":"rpr","label":"RPR","scope":"encounter","key":"","datatype":"text","x":190,"y":80,"wires":[["6c2dc748.aa9148"]]},{"id":"6c2dc748.aa9148","type":"question-primitive","z":"e95b8a2f.2a804","name":"rpr date","label":"RPD Date","scope":"encounter","key":"","datatype":"date","x":200,"y":140,"wires":[["fc29a7b4.229698"]]},{"id":"fc29a7b4.229698","type":"question-primitive","z":"e95b8a2f.2a804","name":"other1 lab","label":"Other Lab 1","scope":"encounter","key":"","datatype":"text","x":200,"y":200,"wires":[["338eed57.89c7a2"]]},{"id":"338eed57.89c7a2","type":"question-primitive","z":"e95b8a2f.2a804","name":"other1 lab date","label":"Other Lab 1 date","scope":"encounter","key":"","datatype":"date","x":220,"y":260,"wires":[["9dce0601.a1114"]]},{"id":"9dce0601.a1114","type":"question-primitive","z":"e95b8a2f.2a804","name":"other2 lab","label":"Other 2 Lab","scope":"encounter","key":"","datatype":"text","x":200,"y":320,"wires":[["be098554.4adff"]]},{"id":"be098554.4adff","type":"question-primitive","z":"e95b8a2f.2a804","name":"other2 lab date","label":"Other 2 Lab date","scope":"encounter","key":"","datatype":"date","x":220,"y":380,"wires":[["1d0d3e47.b7d02a"]]},{"id":"1d0d3e47.b7d02a","type":"question-primitive","z":"e95b8a2f.2a804","name":"tb treatments","label":"Past TB Regimens & Dates","scope":"encounter","key":"","datatype":"text","x":220,"y":440,"wires":[[]]},{"id":"ed2ea718.e51d28","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption1","label":"1st Treatment Interruption Reason","scope":"encounter","key":"","datatype":"text","x":190,"y":80,"wires":[["56715cbb.069e0c"]]},{"id":"56715cbb.069e0c","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption1 date","label":"1st Treatment Interruption Date","scope":"encounter","key":"","datatype":"date","x":210,"y":140,"wires":[["f6eedc09.bfb8"]]},{"id":"f6eedc09.bfb8","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption2","label":"2nd Treatment Interruption Reason","scope":"encounter","key":"","datatype":"text","x":190,"y":200,"wires":[["82665184.30463"]]},{"id":"82665184.30463","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption2 date","label":"2nd Treatment Interruption Date","scope":"encounter","key":"","datatype":"date","x":210,"y":260,"wires":[[]]},{"id":"4fe9ce0e.405ac8","type":"question-primitive","z":"1c8e387f.c41f88","name":"treatment departure","label":"Treatment Departure Reason","scope":"encounter","key":"","datatype":"text","x":200,"y":140,"wires":[[]]},{"id":"7039070c.3ad958","type":"question-primitive","z":"1c8e387f.c41f88","name":"treatment departure date","label":"Treatment Departure Date","scope":"encounter","key":"","datatype":"date","x":210,"y":80,"wires":[["4fe9ce0e.405ac8"]]},{"id":"52a25e32.945718","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage1 date","label":"WHO Stage 1 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":80,"wires":[["da03c42e.a93a1"]]},{"id":"da03c42e.a93a1","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage2 date","label":"WHO Stage 2 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":140,"wires":[["c1b34a16.490578"]]},{"id":"c1b34a16.490578","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage3 date","label":"WHO Stage 3 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":200,"wires":[["d0aa055d.d853b8"]]},{"id":"d0aa055d.d853b8","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage4 date","label":"WHO Stage 4 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":260,"wires":[[]]},{"id":"f318e98c.757928","type":"question-primitive","z":"3cffefd8.654f6","name":"startdate","label":"Date Started","scope":"encounter","key":"","datatype":"date","x":200,"y":80,"wires":[["5a8950ca.280e38"]]},{"id":"5a8950ca.280e38","type":"question-select","z":"3cffefd8.654f6","name":"initial regimen","label":"Initial Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":220,"y":140,"wires":[["aa85dc3e.255ca"]]},{"id":"aa85dc3e.255ca","type":"question-select","z":"3cffefd8.654f6","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":270,"y":200,"wires":[["71df6c0d.305864"]]},{"id":"71df6c0d.305864","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","scope":"encounter","key":"","datatype":"text","x":270,"y":260,"wires":[["a81911bd.b7966"]]},{"id":"a81911bd.b7966","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","scope":"encounter","key":"","datatype":"date","x":260,"y":320,"wires":[["1ae30506.e4bedb"]]},{"id":"1ae30506.e4bedb","type":"question-select","z":"3cffefd8.654f6","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":280,"y":380,"wires":[["5249124e.1e61cc"]]},{"id":"5249124e.1e61cc","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","scope":"encounter","key":"","datatype":"text","x":270,"y":440,"wires":[["bb6b2b3e.886ca8"]]},{"id":"bb6b2b3e.886ca8","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","scope":"encounter","key":"","datatype":"date","x":260,"y":500,"wires":[["4056f450.4d7114"]]},{"id":"4056f450.4d7114","type":"question-select","z":"3cffefd8.654f6","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":200,"wires":[["e4e8fa63.521778"]]},{"id":"e4e8fa63.521778","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","scope":"encounter","key":"","datatype":"text","x":650,"y":260,"wires":[["bd5dfea8.3979f8"]]},{"id":"bd5dfea8.3979f8","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","scope":"encounter","key":"","datatype":"date","x":640,"y":320,"wires":[["cdd68008.98d8c8"]]},{"id":"cdd68008.98d8c8","type":"question-select","z":"3cffefd8.654f6","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":380,"wires":[["447fbe02.ebe208"]]},{"id":"447fbe02.ebe208","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","scope":"encounter","key":"","datatype":"text","x":650,"y":440,"wires":[["7c5a4eee.45416"]]},{"id":"7c5a4eee.45416","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","scope":"encounter","key":"","datatype":"date","x":650,"y":500,"wires":[[]]},{"id":"52c625e7.065abc","type":"question-primitive","z":"21ab2f94.f2bee","name":"ART Register Book","label":"ART Register Book TBD","scope":"encounter","key":"","datatype":"text","x":210,"y":40,"wires":[[]]},{"id":"49dba4ec.e9cdac","type":"question-primitive","z":"3589d1ce.0e5f66","name":"preart","label":"Pre-ART Register TBD","scope":"encounter","key":"","datatype":"text","x":190,"y":80,"wires":[[]]},{"id":"d9dc795a.53b728","type":"lab-order-entry","z":"4c9fe8ac.10e058","name":"Order VL Test","panel":"","x":660,"y":200,"wires":[["fc442c8f.80305"]]},{"id":"c2650a4c.d799c8","type":"switch","z":"4c9fe8ac.10e058","name":"viral load needed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["d9dc795a.53b728"],["37f7d080.1d9af"]]},{"id":"37f7d080.1d9af","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":1060,"y":220,"wires":[]},{"id":"6ba123b8.dac74c","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":980,"y":520,"wires":[]},{"id":"f5be541c.e807f8","type":"comment","z":"4c9fe8ac.10e058","name":"HIV Visit: VL","info":"","x":110,"y":180,"wires":[]},{"id":"99743d2b.a75f6","type":"comment","z":"4c9fe8ac.10e058","name":"HIV Visit: Result processing","info":"","x":160,"y":480,"wires":[]},{"id":"4bdddf2a.17d7a","type":"medication-prescription","z":"4c9fe8ac.10e058","name":"Prescription","drugs":"","x":810,"y":520,"wires":[["6ba123b8.dac74c"]]},{"id":"69e5dc08.60be54","type":"comment","z":"4c9fe8ac.10e058","name":"Lab: Process sample (run test and entry result)","info":"","x":220,"y":380,"wires":[]},{"id":"824ea3c0.d4612","type":"question-primitive","z":"4c9fe8ac.10e058","name":"Test Result Entry","label":"","scope":"encounter","key":"","datatype":"","x":450,"y":420,"wires":[["64988a56.04dd04"]]},{"id":"64988a56.04dd04","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":640,"y":420,"wires":[]},{"id":"b370dd90.487d7","type":"comment","z":"4c9fe8ac.10e058","name":"Pharmacy: Dispense","info":"","x":130,"y":580,"wires":[]},{"id":"9b619b7d.b68508","type":"question-select","z":"4c9fe8ac.10e058","name":"Select open prescription","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":""}],"x":530,"y":620,"wires":[["4d4c8a31.912964"]]},{"id":"4d4c8a31.912964","type":"switch","z":"4c9fe8ac.10e058","name":"medication available?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":620,"wires":[["2628ac32.a3caa4","c8286e5a.6c4ad"],["c8286e5a.6c4ad"]]},{"id":"e6c93954.b8d9a8","type":"switch","z":"4c9fe8ac.10e058","name":"another open prescription?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":720,"wires":[["9b619b7d.b68508"],["93edebaa.ac2248"]]},{"id":"c8286e5a.6c4ad","type":"question-select","z":"4c9fe8ac.10e058","name":"select substitute","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":""}],"x":1000,"y":640,"wires":[["2628ac32.a3caa4"]]},{"id":"2628ac32.a3caa4","type":"question-select","z":"4c9fe8ac.10e058","name":"dispense","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":""}],"x":1180,"y":620,"wires":[["e6c93954.b8d9a8"]]},{"id":"93edebaa.ac2248","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":480,"y":720,"wires":[]},{"id":"fc442c8f.80305","type":"invoke-flow","z":"4c9fe8ac.10e058","name":"Create LIMS order","invokeflow":"","x":870,"y":200,"wires":[["37f7d080.1d9af"]]},{"id":"66ddfe59.0eb57","type":"comment","z":"4c9fe8ac.10e058","name":"Lab: Automated Inbox (no user interaction)","info":"","x":200,"y":280,"wires":[]},{"id":"97993d72.dab4c","type":"invoke-flow","z":"4c9fe8ac.10e058","name":"store order","invokeflow":"","x":370,"y":320,"wires":[["5cbad06d.00741"]]},{"id":"118b3c5d.978334","type":"find-patient","z":"4c9fe8ac.10e058","name":"new order entry","includename":"","includeidentifier":"","program":"","expression":"","x":180,"y":320,"wires":[["97993d72.dab4c"]]},{"id":"5cbad06d.00741","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":540,"y":320,"wires":[]},{"id":"16058ba7.84ea94","type":"switch","z":"4c9fe8ac.10e058","name":"critical VL?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":520,"wires":[["1bc2c65a.9ee4ca"],["4bdddf2a.17d7a"]]},{"id":"1bc2c65a.9ee4ca","type":"question-primitive","z":"4c9fe8ac.10e058","name":"Switch Regimen","label":"","scope":"encounter","key":"","datatype":"","x":620,"y":500,"wires":[["4bdddf2a.17d7a"]]},{"id":"706a1970.dbabe8","type":"comment","z":"6467ceb9.0eaa4","name":"ART Chart - Patient","info":"","x":170,"y":60,"wires":[]},{"id":"1a67bdec.f3c132","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Transfer-In Date","label":"Transfer-In Date","scope":"encounter","key":"","datatype":"date","optional":true,"x":500,"y":320,"wires":[["8725adde.7d85b"]]},{"id":"8725adde.7d85b","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Guardian Name","label":"Guardian Name","scope":"encounter","key":"","datatype":"string","optional":true,"x":500,"y":360,"wires":[["b0ceb226.acf9c"]]},{"id":"b0ceb226.acf9c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Phone Guardian","label":"Phone Guardian","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":500,"y":400,"wires":[["cfd02eb7.e728d"]]},{"id":"cfd02eb7.e728d","type":"question-select","z":"6467ceb9.0eaa4","name":"Agreed to FUP","label":"Agreed to FUP","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":500,"y":440,"wires":[["f78e7511.2a1df8"]]},{"id":"f78e7511.2a1df8","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Guardian Relation","label":"Guardian Relation","scope":"encounter","key":"","datatype":"string","optional":true,"x":500,"y":480,"wires":[[]]},{"id":"5aad3de7.f89924","type":"comment","z":"9d34a91.b320b58","name":"ART Chart - Status At Initiation","info":"","x":190,"y":60,"wires":[]},{"id":"b899546b.02c3c8","type":"question-primitive","z":"9d34a91.b320b58","name":"HIV related diseases","label":"HIV related diseases","scope":"encounter","key":"","datatype":"string","optional":true,"x":200,"y":160,"wires":[["5f399288.df43ac"]]},{"id":"11ba11e8.0a589e","type":"question-select","z":"9d34a91.b320b58","name":"Urine LAM/CrAg Result","label":"Urine LAM/CrAg Result","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"RPR"},{"sid":"HgB"},{"sid":"ALT"},{"sid":"HBV"},{"sid":"HCV"},{"sid":"M/S"},{"sid":"CrAG"}],"x":470,"y":180,"wires":[["1c37280d.521308"]]},{"id":"d6d33300.09749","type":"question-select","z":"9d34a91.b320b58","name":"Urine LAM/CrAg Result/Other","label":"Urine LAM/CrAg Result/Other","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"RPR"},{"sid":"HgB"},{"sid":"ALT"},{"sid":"HBV"},{"sid":"HCV"},{"sid":"M/S"},{"sid":"CrAG"}],"x":490,"y":220,"wires":[["c5c62a05.990f08"]]},{"id":"c5c62a05.990f08","type":"question-select","z":"9d34a91.b320b58","name":"WHO Stage","label":"WHO Stage","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1"},{"sid":"2"},{"sid":"3"},{"sid":"4"}],"x":730,"y":220,"wires":[["dee6e93b.9ff848"]]},{"id":"869f8d2b.8e994","type":"question-select","z":"9d34a91.b320b58","name":"TB Status at initiation","label":"TB Status at initiation","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Never"},{"sid":"Last >2yrs"},{"sid":"Last 2yrs"},{"sid":"Curr"}],"x":220,"y":420,"wires":[["51be2014.3d11f"]]},{"id":"dee6e93b.9ff848","type":"question-primitive","z":"9d34a91.b320b58","name":"CD4","label":"CD4","scope":"encounter","key":"","datatype":"decimal","x":210,"y":300,"wires":[["15416935.1e8dd7"]]},{"id":"51be2014.3d11f","type":"question-select","z":"9d34a91.b320b58","name":"KS","label":"KS","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":210,"y":460,"wires":[["ec36a132.a9c28"]]},{"id":"15416935.1e8dd7","type":"question-primitive","z":"9d34a91.b320b58","name":"CD4 Date","label":"CD4 Date","scope":"encounter","key":"","datatype":"date","x":200,"y":340,"wires":[["37a827af.650ee8"]]},{"id":"cc36a655.527e58","type":"question-select","z":"9d34a91.b320b58","name":"Pregnant/Breastfeeding","label":"Pregnant/Breastfeeding","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Preg"},{"sid":"Bf"}],"x":470,"y":380,"wires":[["869f8d2b.8e994"]]},{"id":"ec36a132.a9c28","type":"question-primitive","z":"9d34a91.b320b58","name":"Height","label":"Height","scope":"encounter","key":"","datatype":"decimal","x":210,"y":500,"wires":[["68c324e.11bdedc"]]},{"id":"68c324e.11bdedc","type":"question-primitive","z":"9d34a91.b320b58","name":"Weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":210,"y":540,"wires":[["74f6713d.2437c"]]},{"id":"74f6713d.2437c","type":"question-select","z":"9d34a91.b320b58","name":"Ever taken ARVs","label":"Ever taken ARVs","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":210,"y":580,"wires":[["7e61d218.b8eebc"]]},{"id":"7e61d218.b8eebc","type":"question-primitive","z":"9d34a91.b320b58","name":"Age at Initiation","label":"Age at Initiation","scope":"encounter","key":"","datatype":"decimal","x":210,"y":620,"wires":[["a4f93f5d.38391"]]},{"id":"a4f93f5d.38391","type":"question-primitive","z":"9d34a91.b320b58","name":"Last ARVs (drug)","label":"Last ARVs (drug)","scope":"encounter","key":"","datatype":"string","x":200,"y":660,"wires":[["5dba385b.f28528"]]},{"id":"bfdf9eca.ce5e3","type":"question-primitive","z":"9d34a91.b320b58","name":"Location of ART initiation","label":"Location of ART initiation","scope":"encounter","key":"","datatype":"string","x":210,"y":740,"wires":[[]]},{"id":"5f399288.df43ac","type":"switch","z":"9d34a91.b320b58","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":200,"wires":[["11ba11e8.0a589e"],["d6d33300.09749"]]},{"id":"37a827af.650ee8","type":"switch","z":"9d34a91.b320b58","name":"Adult & Female?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":380,"wires":[["cc36a655.527e58"],["869f8d2b.8e994"]]},{"id":"5dba385b.f28528","type":"question-primitive","z":"9d34a91.b320b58","name":"Last ARVs (Date)","label":"Last ARVs (Date)","scope":"encounter","key":"","datatype":"date","x":210,"y":700,"wires":[["bfdf9eca.ce5e3"]]},{"id":"1c37280d.521308","type":"question-primitive","z":"9d34a91.b320b58","name":"CD4 %","label":"CD4 %","scope":"encounter","key":"","datatype":"decimal","x":720,"y":180,"wires":[["dee6e93b.9ff848"]]},{"id":"83dfb748.e73f48","type":"comment","z":"340fa181.b8c92e","name":"ART Chart - Confirmatory HIV Test","info":"","x":200,"y":60,"wires":[]},{"id":"7512aec1.ed22b","type":"question-primitive","z":"340fa181.b8c92e","name":"Site, HTS Serial No.","label":"Site, HTS Serial No.","scope":"encounter","key":"","datatype":"string","x":200,"y":120,"wires":[["a5f09ea6.d608"]]},{"id":"a5f09ea6.d608","type":"question-primitive","z":"340fa181.b8c92e","name":"Test Date","label":"Test Date","scope":"encounter","key":"","datatype":"date","x":200,"y":160,"wires":[["bcefe2d8.5e85e"]]},{"id":"bcefe2d8.5e85e","type":"question-select","z":"340fa181.b8c92e","name":"Test type","label":"Test type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Rapid"},{"sid":"PCR"}],"x":200,"y":200,"wires":[["de66fd8f.14b3a"]]},{"id":"de66fd8f.14b3a","type":"question-select","z":"340fa181.b8c92e","name":"ART education done","label":"ART education done","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":200,"y":240,"wires":[["cfec4f5a.fad6a"]]},{"id":"cfec4f5a.fad6a","type":"question-primitive","z":"340fa181.b8c92e","name":"ART education Date","label":"ART education Date","scope":"encounter","key":"","datatype":"date","x":200,"y":280,"wires":[["b10c9741.5b4e28"]]},{"id":"b10c9741.5b4e28","type":"question-primitive","z":"340fa181.b8c92e","name":"TB Treatment Reg No.","label":"TB Treatment Reg No.","scope":"encounter","key":"","datatype":"string","optional":true,"x":200,"y":320,"wires":[["5997284f.9606e8"]]},{"id":"5997284f.9606e8","type":"question-select","z":"340fa181.b8c92e","name":"TB Treatment Start Date","label":"TB Treatment Start Date","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":360,"wires":[["7f755930.5daf98"]]},{"id":"7f755930.5daf98","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #1","label":"ART Regimens #1","scope":"encounter","key":"","datatype":"string","x":200,"y":400,"wires":[["f17e17af.476d28"]]},{"id":"f17e17af.476d28","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #1 Start Date","label":"ART Regimens #1 Start Date","scope":"encounter","key":"","datatype":"date","x":200,"y":440,"wires":[["e21942d8.427d8"]]},{"id":"e21942d8.427d8","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #2","label":"ART Regimens #2","scope":"encounter","key":"","datatype":"string","optional":true,"x":200,"y":480,"wires":[["a68b756c.31c7a8"]]},{"id":"a68b756c.31c7a8","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #2 Start Date","label":"ART Regimens #2 Start Date","scope":"encounter","key":"","datatype":"date","optional":true,"x":200,"y":520,"wires":[["e5ceb606.7fa3d8"]]},{"id":"fe067824.2a9948","type":"comment","z":"2ace2e04.3bb9a2","name":"ART Intake / Enrolment (only in Register)","info":"","x":220,"y":60,"wires":[]},{"id":"3da6178c.67d858","type":"question-select","z":"2ace2e04.3bb9a2","name":"HIV Type","label":"HIV Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":200,"wires":[["aa6962fb.f9bfd"]]},{"id":"f2896062.6052c","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"Date of HIV diagnosis","label":"Date of HIV diagnosis","scope":"encounter","key":"","datatype":"date","x":240,"y":160,"wires":[["3da6178c.67d858"]]},{"id":"25327dd5.15a8a2","type":"question-select","z":"2ace2e04.3bb9a2","name":"Age group","label":"Age group","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Below 24 months"},{"sid":"2 - 14 years"},{"sid":"15 - 19 years"},{"sid":"20 - 24 years"},{"sid":"25+ years"}],"x":210,"y":120,"wires":[["f2896062.6052c"]]},{"id":"aa6962fb.f9bfd","type":"question-select","z":"2ace2e04.3bb9a2","name":"ART Status at registration","label":"ART Status at registration","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1st time initiation"},{"sid":"Re-initiation"},{"sid":"Transfer in"}],"x":250,"y":240,"wires":[["6644e7d2.d93a08"]]},{"id":"6644e7d2.d93a08","type":"question-select","z":"2ace2e04.3bb9a2","name":"Condition at ART initiation","label":"Condition at ART initiation","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1"},{"sid":"2"},{"sid":"3"},{"sid":"4"},{"sid":"PSHD"},{"sid":"Unknown"}],"x":250,"y":280,"wires":[["cda5d82.e2a2e28"]]},{"id":"cda5d82.e2a2e28","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"TPT Start date","label":"TPT Start date","scope":"encounter","key":"","datatype":"date","x":220,"y":320,"wires":[["27b2029b.3168fe"]]},{"id":"27b2029b.3168fe","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"TPT End date","label":"TPT End date","scope":"encounter","key":"","datatype":"date","optional":true,"x":220,"y":360,"wires":[["f72d049.25c2ff8"]]},{"id":"f72d049.25c2ff8","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"TB Treatment End date","label":"TPT End date","scope":"encounter","key":"","datatype":"date","optional":true,"x":250,"y":400,"wires":[["fb0b67a7.9c36b8"]]},{"id":"fb0b67a7.9c36b8","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"Number of times client re-started ART after default or stop ","label":"Number of times client re-started ART after default or stop ","scope":"encounter","key":"","datatype":"integer","optional":true,"x":360,"y":440,"wires":[[]]},{"id":"447a0ef0.4e232","type":"question-primitive","z":"a617f170.1c605","name":"Visit Date","label":"","scope":"encounter","key":"","datatype":"date","x":200,"y":80,"wires":[["6500da71.d7ea34"]]},{"id":"6d901930.8fc7e8","type":"question-primitive","z":"a617f170.1c605","name":"Age (curr)","label":"","scope":"encounter","key":"","datatype":"decimal","x":340,"y":120,"wires":[["a20f6918.28c508"]]},{"id":"a20f6918.28c508","type":"question-primitive","z":"a617f170.1c605","name":"Height","label":"","scope":"encounter","key":"","datatype":"decimal","x":490,"y":120,"wires":[["49e60b0d.a85394"]]},{"id":"49e60b0d.a85394","type":"question-primitive","z":"a617f170.1c605","name":"Weight","label":"","scope":"encounter","key":"","datatype":"decimal","x":190,"y":160,"wires":[["74f61fdc.2f8b7"]]},{"id":"b04c8d7e.15f0d","type":"question-select","z":"a617f170.1c605","name":"Pregnant/Breastfeed","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Preg"},{"sid":"Bf"}],"x":240,"y":260,"wires":[["29689ef1.1028e2"]]},{"id":"29689ef1.1028e2","type":"question-primitive","z":"a617f170.1c605","name":"Pregnant/Breastfeed Child HCC No","label":"","scope":"encounter","key":"","datatype":"string","optional":true,"x":280,"y":300,"wires":[["3b06c6e8.c5f2da"]]},{"id":"74f61fdc.2f8b7","type":"switch","z":"a617f170.1c605","name":"Female and (Pregnant or breastfeeding) and (not child)?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["b04c8d7e.15f0d"],["3b06c6e8.c5f2da"]]},{"id":"6500da71.d7ea34","type":"switch","z":"a617f170.1c605","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":120,"wires":[["6d901930.8fc7e8"],["49e60b0d.a85394"]]},{"id":"b1696fa7.6b7ea","type":"question-select","z":"1643d582.b1991a","name":"TB Status (Current)","label":"TB Status (Current)","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N - TB Not suspected"},{"sid":"Y - TB Suspected"},{"sid":"C - TB confirmed NOT on TB treatment"},{"sid":"Rx - TB confirmed on TB Rx"}],"x":690,"y":80,"wires":[["e369d925.cc48e8"]]},{"id":"e369d925.cc48e8","type":"question-select","z":"1643d582.b1991a","name":"Side Effects","label":"Side Effects","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":190,"y":120,"wires":[["ef97677b.405a18"]]},{"id":"ef97677b.405a18","type":"question-primitive","z":"1643d582.b1991a","name":"Side Effects Notes","label":"Side Effects Notes","scope":"encounter","key":"","datatype":"string","x":210,"y":160,"wires":[["8632d432.05a0a8"]]},{"id":"e138f3db.ab5e9","type":"question-primitive","z":"1643d582.b1991a","name":"AIDS Assoc. Conditions","label":"AIDS Assoc. Conditions","scope":"encounter","key":"","datatype":"string","x":470,"y":220,"wires":[["5fc8968d.556cc8"]]},{"id":"2e376ee5.992ea2","type":"question-primitive","z":"1643d582.b1991a","name":"Pill count","label":"Pill count","scope":"encounter","key":"","datatype":"decimal","x":420,"y":180,"wires":[["5fc8968d.556cc8"]]},{"id":"5fc8968d.556cc8","type":"question-primitive","z":"1643d582.b1991a","name":"Doses Missed","label":"Doses Missed","scope":"encounter","key":"","datatype":"decimal","x":200,"y":260,"wires":[["57b5ee2a.f9602"]]},{"id":"8a235bf8.2f1388","type":"question-select","z":"1643d582.b1991a","name":"ART Regimen Adult","label":"ART Regimen Adult","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":450,"y":340,"wires":[["d4062604.06fd28"]]},{"id":"d4062604.06fd28","type":"question-primitive","z":"1643d582.b1991a","name":"ARVs Given No of tablets","label":"ARVs Given No of tablets","scope":"encounter","key":"","datatype":"decimal","x":230,"y":380,"wires":[["428db83a.0f4818"]]},{"id":"428db83a.0f4818","type":"question-select","z":"1643d582.b1991a","name":"ARVs Given To","label":"ARVs Given To","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"P"},{"sid":"G"}],"x":200,"y":420,"wires":[["f81512dd.457a5"]]},{"id":"f81512dd.457a5","type":"question-select","z":"1643d582.b1991a","name":"CPT/TPT Given","label":"CPT/TPT Given","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"C - CPT only"},{"sid":"I - TPT only"},{"sid":"CI - CPT + TPT"}],"x":200,"y":460,"wires":[["322a1d12.33aae2"]]},{"id":"322a1d12.33aae2","type":"question-primitive","z":"1643d582.b1991a","name":"CPT/TPT No. of Tablets","label":"CPT/TPT No. of Tablets","scope":"encounter","key":"","datatype":"decimal","x":230,"y":500,"wires":[["2a87392.2b8a1c6"]]},{"id":"2a87392.2b8a1c6","type":"question-select","z":"1643d582.b1991a","name":"Stable?","label":"Stable?","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Y"},{"sid":"N"}],"x":180,"y":540,"wires":[["b6b1fb0c.b06998"]]},{"id":"b6b1fb0c.b06998","type":"question-select","z":"1643d582.b1991a","name":"Stable? DSD Model","label":"Stable? DSD Model","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1 - HIV clinic-based ART"},{"sid":"2 - Fast-track ART"},{"sid":"3 - Facility-based adherence club"},{"sid":"4 - Community ART Distribution point"},{"sid":"5 - Peer-led community ART group"},{"sid":"6 - Patient-led community ART group"}],"x":210,"y":580,"wires":[["1224fa3b.a545e6"]]},{"id":"9aa2965d.dbe728","type":"question-select","z":"1643d582.b1991a","name":"Viral Load Sample taken","label":"Viral Load Sample taken","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Bled"}],"x":610,"y":660,"wires":[["6dacd2b9.a661cc"]]},{"id":"5a58e2c2.42d4dc","type":"question-primitive","z":"1643d582.b1991a","name":"Next Appointment/Outcome Date","label":"Next Appointment/Outcome Date","scope":"encounter","key":"","datatype":"date","x":260,"y":740,"wires":[["c4af907d.c3317"]]},{"id":"c4af907d.c3317","type":"question-select","z":"1643d582.b1991a","name":"Outcome","label":"Outcome","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Died"},{"sid":"Defaulted/LTFU"},{"sid":"Client stopped medication"},{"sid":"Transferred out"}],"x":180,"y":780,"wires":[["5a67260f.aacc38"]]},{"id":"8632d432.05a0a8","type":"switch","z":"1643d582.b1991a","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"msg"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":200,"wires":[["2e376ee5.992ea2"],["e138f3db.ab5e9"]]},{"id":"57b5ee2a.f9602","type":"switch","z":"1643d582.b1991a","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":320,"wires":[["8115bea1.a4c31"],["8a235bf8.2f1388"]]},{"id":"8115bea1.a4c31","type":"question-select","z":"1643d582.b1991a","name":"ART Regimen Child","label":"ART Regimen Child","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":450,"y":300,"wires":[["d4062604.06fd28"]]},{"id":"2ddca830.c798e8","type":"question-primitive","z":"d5cb0610.e75008","name":"Visit Date","label":"Visit Date","scope":"encounter","key":"","datatype":"date","x":200,"y":80,"wires":[["e0d9f482.02dee8"]]},{"id":"e0d9f482.02dee8","type":"question-primitive","z":"d5cb0610.e75008","name":"Height","label":"Height","scope":"encounter","key":"","datatype":"decimal","x":200,"y":120,"wires":[["444c2713.4dedd8"]]},{"id":"444c2713.4dedd8","type":"question-primitive","z":"d5cb0610.e75008","name":"Weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":200,"y":160,"wires":[["41019334.725a9c"]]},{"id":"9c947670.675af8","type":"question-primitive","z":"d5cb0610.e75008","name":"MUAC","label":"MUAC","scope":"encounter","key":"","datatype":"decimal","x":370,"y":200,"wires":[["46b2a0c4.41a7"]]},{"id":"41019334.725a9c","type":"switch","z":"d5cb0610.e75008","name":"6 months or older?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":200,"wires":[["9c947670.675af8"],["46b2a0c4.41a7"]]},{"id":"2a4b7cd3.ca8784","type":"comment","z":"dc4d15f8.c825c8","name":"Exp Infant Chart - Child","info":"","x":200,"y":80,"wires":[]},{"id":"eedefb7c.4c5478","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Transfer-In Date","label":"Transfer-In Date","scope":"encounter","key":"","datatype":"date","x":200,"y":480,"wires":[["4928200a.fe2dc"]]},{"id":"4928200a.fe2dc","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Guardian Name","label":"Guardian Name","scope":"encounter","key":"","datatype":"string","optional":false,"x":200,"y":520,"wires":[["f4639225.b2139"]]},{"id":"f4639225.b2139","type":"question-select","z":"dc4d15f8.c825c8","name":"Agree to FUP","label":"Agree to FUP","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":200,"y":560,"wires":[["a560a5fd.9260f8"]]},{"id":"a560a5fd.9260f8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Guardian Relation","label":"Guardian Relation","scope":"encounter","key":"","datatype":"string","optional":true,"x":210,"y":600,"wires":[["1c0b8c9a.f51c43"]]},{"id":"1c0b8c9a.f51c43","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Guardian Phone","label":"Guardian Phone","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":200,"y":640,"wires":[[]]},{"id":"b613021f.3adc9","type":"comment","z":"e4a163f.bcc78a","name":"Exp Infant Chart - Status","info":"","x":190,"y":60,"wires":[]},{"id":"e8f47685.f065c8","type":"question-primitive","z":"e4a163f.bcc78a","name":"ART Reg No","label":"ART Reg No","scope":"encounter","key":"","datatype":"string","x":190,"y":120,"wires":[["fd11bb47.f0af68"]]},{"id":"fd11bb47.f0af68","type":"question-primitive","z":"e4a163f.bcc78a","name":"ART Start Date","label":"ART Start Date","scope":"encounter","key":"","datatype":"date","x":190,"y":160,"wires":[["efe7e37.2873f2"]]},{"id":"efe7e37.2873f2","type":"question-primitive","z":"e4a163f.bcc78a","name":"Child Age - At enrolment","label":"Child Age - At enrolment","scope":"encounter","key":"","datatype":"decimal","x":190,"y":200,"wires":[["3344cb82.23a934"]]},{"id":"3344cb82.23a934","type":"question-primitive","z":"e4a163f.bcc78a","name":"Child age - When starting NVP","label":"Child age - When starting NVP","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":190,"y":240,"wires":[["f4da2592.cc43b8"]]},{"id":"f4da2592.cc43b8","type":"question-primitive","z":"e4a163f.bcc78a","name":"NVP duration","label":"NVP duration","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":190,"y":280,"wires":[[]]},{"id":"aad4c8da.e9b5a8","type":"comment","z":"69e3b9ba.723bc8","name":"Exp Infant Chart - HIV Testing","info":"","x":200,"y":60,"wires":[]},{"id":"b6fe09d2.2a9958","type":"question-primitive","z":"69e3b9ba.723bc8","name":"Sample Date","label":"Sample Date","scope":"encounter","key":"","datatype":"date","x":200,"y":120,"wires":[["2acb0c6e.98bba4"]]},{"id":"2acb0c6e.98bba4","type":"question-select","z":"69e3b9ba.723bc8","name":"Type","label":"Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"DBS"},{"sid":"RT"}],"x":200,"y":160,"wires":[["7f5409c7.4330c8"]]},{"id":"7f5409c7.4330c8","type":"question-primitive","z":"69e3b9ba.723bc8","name":"Sample ID/HCT","label":"Sample ID/HCT","scope":"encounter","key":"","datatype":"date","x":200,"y":200,"wires":[["8669f1a8.6753c"]]},{"id":"8669f1a8.6753c","type":"question-select","z":"69e3b9ba.723bc8","name":"Result","label":"Result","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Neg"},{"sid":"Pos"},{"sid":"Inc"}],"x":200,"y":240,"wires":[["19b151c1.fff8de"]]},{"id":"19b151c1.fff8de","type":"question-primitive","z":"69e3b9ba.723bc8","name":"From lab","label":"From lab","scope":"encounter","key":"","datatype":"string","x":200,"y":280,"wires":[["39ae6d4d.b35712"]]},{"id":"39ae6d4d.b35712","type":"question-primitive","z":"69e3b9ba.723bc8","name":"tests","label":"tests","scope":"encounter","key":"","datatype":"string","x":200,"y":320,"wires":[[]]},{"id":"4a5a9bbc.6299c4","type":"question-select","z":"7d846b81.1913b4","name":"Wasting/Malnutrition (based on Wt/Hgt or MUAC)","label":"Wasting/Malnutrition (based on Wt/Hgt or MUAC)","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Mod"},{"sid":"Sev"}],"x":270,"y":140,"wires":[["bb6ffd9d.a6755"]]},{"id":"bb6ffd9d.a6755","type":"question-select","z":"7d846b81.1913b4","name":"Breast feeding","label":"Breast feeding","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Ongoing - Exclusive"},{"sid":"Ongoing - Mixed/Complementary"},{"sid":"Stopped - In last 6 weeks"},{"sid":"Stopped - Over 6 weeks age"}],"x":270,"y":180,"wires":[["7f218d1c.aa0584"]]},{"id":"7f218d1c.aa0584","type":"question-select","z":"7d846b81.1913b4","name":"Mother Status","label":"Mother Status","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Not On ART"},{"sid":"ART Adherent"},{"sid":"Died"},{"sid":"Unknown"}],"x":270,"y":220,"wires":[["ea4eec5c.17aed"]]},{"id":"ea4eec5c.17aed","type":"question-select","z":"7d846b81.1913b4","name":"Clinical Monitoring","label":"Clinical Monitoring","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No Abnorm. Det"},{"sid":"Any sickness"}],"x":270,"y":260,"wires":[["a674e866.911268"]]},{"id":"a674e866.911268","type":"question-select","z":"7d846b81.1913b4","name":"HIV Testing","label":"HIV Testing","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Not done"},{"sid":"DBS taken (PCR)"},{"sid":"Rapid test done"}],"x":270,"y":300,"wires":[["bd0401e2.bf43d"]]},{"id":"bd0401e2.bf43d","type":"question-select","z":"7d846b81.1913b4","name":"HIV Infection","label":"HIV Infection","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Confirmed - Not infected"},{"sid":"Confirmed - Infected ART"},{"sid":"Not confirmed - Not ART eligible"},{"sid":"Not confirmed - PSHD"}],"x":270,"y":340,"wires":[["401dc0b7.9a2b8"]]},{"id":"401dc0b7.9a2b8","type":"question-primitive","z":"7d846b81.1913b4","name":"CPT given (ml/tabs)","label":"CPT given (ml/tabs)","scope":"encounter","key":"","datatype":"decimal","x":270,"y":380,"wires":[["b92a7288.ae701"]]},{"id":"b92a7288.ae701","type":"question-select","z":"7d846b81.1913b4","name":"Follow-Up Outcome","label":"Follow-Up Outcome","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Continnue FUP"},{"sid":"Discharge Uninfected"},{"sid":"Started ART"},{"sid":"Transfer out"},{"sid":"Defaulted"},{"sid":"Died"}],"x":270,"y":420,"wires":[["4e50bfc.a0a5d4"]]},{"id":"4e50bfc.a0a5d4","type":"question-primitive","z":"7d846b81.1913b4","name":"Next appointment/Outcome Date","label":"Next appointment/Outcome Date","scope":"encounter","key":"","datatype":"date","x":270,"y":460,"wires":[[]]},{"id":"451388c5.870eb8","type":"summary","z":"7d846b81.1913b4","name":"","x":280,"y":100,"wires":[["4a5a9bbc.6299c4"]],"info":"Show weight & height & muac"},{"id":"d8d59681.67bdc8","type":"comment","z":"a617f170.1c605","name":"ART Visit: Vitals","info":"","x":160,"y":20,"wires":[]},{"id":"31c73880.41ab48","type":"comment","z":"1643d582.b1991a","name":"ART Visit","info":"","x":160,"y":20,"wires":[]},{"id":"4ccfcd31.5d9fc4","type":"comment","z":"d5cb0610.e75008","name":"Exp Infant: Vitals","info":"","x":180,"y":40,"wires":[]},{"id":"78b65795.0f0f08","type":"comment","z":"7d846b81.1913b4","name":"Exp Infant Visit","info":"","x":280,"y":40,"wires":[]},{"id":"46b2a0c4.41a7","type":"function","z":"d5cb0610.e75008","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[[]]},{"id":"3b06c6e8.c5f2da","type":"summary","z":"a617f170.1c605","name":"","x":660,"y":260,"wires":[[]]},{"id":"623c7d4e.d18f04","type":"switch","z":"1643d582.b1991a","name":"Viral Load necessary?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":700,"wires":[["9aa2965d.dbe728"],["5a58e2c2.42d4dc"]]},{"id":"1224fa3b.a545e6","type":"switch","z":"1643d582.b1991a","name":"1st Viral Load after 6months?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":620,"wires":[["9aa2965d.dbe728"],["1e72f7cb.3f63d8"]]},{"id":"1e72f7cb.3f63d8","type":"switch","z":"1643d582.b1991a","name":"Viral Load every 12 months?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":660,"wires":[["9aa2965d.dbe728"],["623c7d4e.d18f04"]]},{"id":"6dacd2b9.a661cc","type":"print-barcode","z":"1643d582.b1991a","name":"","x":640,"y":700,"wires":[["5a67260f.aacc38"]]},{"id":"5a67260f.aacc38","type":"summary","z":"1643d582.b1991a","name":"","x":620,"y":780,"wires":[[]]},{"id":"d9c943e9.6568d","type":"create-patient","z":"6467ceb9.0eaa4","name":"","x":180,"y":480,"wires":[["7098ebc1.67e864"]]},{"id":"42682891.4504c8","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Unique Code","label":"Unique Code","scope":"demographic","key":"","datatype":"text","x":170,"y":120,"wires":[["541f9430.ec979c"]]},{"id":"d29e0668.becb78","type":"demographic-birthdate","z":"6467ceb9.0eaa4","name":"","entrybyage":"","partialdate":"","x":160,"y":360,"wires":[["7719ce4f.e02b"]]},{"id":"541f9430.ec979c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Facility Client #","label":"Facility Client #","scope":"demographic","key":"","datatype":"text","x":180,"y":160,"wires":[["cad521a.643b8e"]]},{"id":"cad521a.643b8e","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Cohort #","label":"Cohort #","scope":"demographic","key":"","datatype":"text","x":160,"y":200,"wires":[["3cfe6f0b.c2363"]]},{"id":"3cfe6f0b.c2363","type":"question-primitive","z":"6467ceb9.0eaa4","name":"givenname","label":"givenname","scope":"demographic","key":"","datatype":"text","x":170,"y":240,"wires":[["7defe26.ffdcd1c"]]},{"id":"7defe26.ffdcd1c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"familyname","label":"familyname","scope":"demographic","key":"","datatype":"text","x":170,"y":280,"wires":[["75a6a57f.2c4c6c"]]},{"id":"e5272788.457b58","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Phone Patient","label":"Phone Patient","scope":"demographic","key":"","datatype":"text","optional":true,"x":180,"y":440,"wires":[["d9c943e9.6568d"]]},{"id":"75a6a57f.2c4c6c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Sex","label":"Sex","scope":"demographic","key":"","datatype":"text","x":150,"y":320,"wires":[["d29e0668.becb78"]]},{"id":"7098ebc1.67e864","type":"set-encountertype","z":"6467ceb9.0eaa4","name":"","encounterType":"art-register","x":510,"y":280,"wires":[["1a67bdec.f3c132"]]},{"id":"a7c9ecc8.4420a","type":"set-encountertype","z":"dc4d15f8.c825c8","name":"","encounterType":"expinfant-register","x":210,"y":440,"wires":[["eedefb7c.4c5478"]]},{"id":"a19aba08.757b98","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Sex","label":"","scope":"demographic","key":"","datatype":"string","x":170,"y":320,"wires":[["4fc07fd1.09cc7"]]},{"id":"3ffd8712.7127e8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"familyname","label":"","scope":"demographic","key":"familyname","datatype":"string","x":190,"y":280,"wires":[["a19aba08.757b98"]]},{"id":"2bf878ed.2bfcf8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Givenname","label":"","scope":"demographic","key":"givenname","datatype":"string","x":190,"y":240,"wires":[["3ffd8712.7127e8"]]},{"id":"ef734813.ccb898","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Birth Cohort","label":"","scope":"demographic","key":"","datatype":"string","x":190,"y":200,"wires":[["2bf878ed.2bfcf8"]]},{"id":"c228b7c7.6ccee8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Unique Code","label":"","scope":"demographic","key":"","datatype":"string","x":190,"y":120,"wires":[["dddde1b0.50d0d"]]},{"id":"dddde1b0.50d0d","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Facility Client #","label":"","scope":"demographic","key":"","datatype":"string","x":200,"y":160,"wires":[["ef734813.ccb898"]]},{"id":"248e8a58.28f346","type":"create-patient","z":"dc4d15f8.c825c8","name":"","x":200,"y":400,"wires":[["a7c9ecc8.4420a"]]},{"id":"9e2278b8.90b6d8","type":"summary-chart-art","z":"1643d582.b1991a","name":"","x":220,"y":80,"wires":[["5b3cca0.8e57138"]]},{"id":"5b3cca0.8e57138","type":"summary-chart-art","z":"1643d582.b1991a","name":"","x":440,"y":40,"wires":[["b1696fa7.6b7ea"]]},{"id":"7719ce4f.e02b","type":"address-liberia","z":"6467ceb9.0eaa4","name":"Detailed Physical Address","label":"","scope":"demographic","key":"address","x":210,"y":400,"wires":[["e5272788.457b58"]]},{"id":"4fc07fd1.09cc7","type":"address-liberia","z":"dc4d15f8.c825c8","name":"","scope":"demographic","key":"address","x":200,"y":360,"wires":[["248e8a58.28f346"]]},{"id":"7fdd4604.595208","type":"patients-queue","z":"4c9fe8ac.10e058","name":"Checked-In Patients List","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":220,"wires":[["c2650a4c.d799c8"]]},{"id":"906968ce.9db918","type":"patients-queue","z":"4c9fe8ac.10e058","name":"unprocessed sample list","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":420,"wires":[["824ea3c0.d4612"]]},{"id":"7fe45e7.71e34a","type":"patients-queue","z":"4c9fe8ac.10e058","name":"patient list with lab results","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":520,"wires":[["16058ba7.84ea94"]]},{"id":"dd0180fb.571a3","type":"patients-queue","z":"4c9fe8ac.10e058","name":"patient list with open prescriptions","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":240,"y":620,"wires":[["9b619b7d.b68508"]]},{"id":"e5ceb606.7fa3d8","type":"blood-pressure","z":"340fa181.b8c92e","name":"","label":"","key":"bp","x":200,"y":560,"wires":[[]]},{"id":"a3cb9bb1.02ed48","type":"patients-queue","z":"31f002eb.4ebf6e","name":"Checked in Patients","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":80,"wires":[["3461944a.8a25ac"]]},{"id":"40a65516.de883c","type":"end-flow","z":"31f002eb.4ebf6e","name":"","x":1100,"y":340,"wires":[]},{"id":"ffd3d7c3.8b2838","type":"question-primitive","z":"31f002eb.4ebf6e","name":"Height","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":350,"y":200,"wires":[["3eeee54a.7c509a"]]},{"id":"3eeee54a.7c509a","type":"question-primitive","z":"31f002eb.4ebf6e","name":"Weight","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":490,"y":240,"wires":[["d326fb80.296e88"]]},{"id":"e46aa3a1.cb26a","type":"summary-graph","z":"31f002eb.4ebf6e","name":"","x":240,"y":160,"wires":[["78dfbf2c.af00d"]]},{"id":"78dfbf2c.af00d","type":"switch","z":"31f002eb.4ebf6e","name":"Age?","property":"currentPatient.age","propertyType":"jsonata","rules":[{"t":"btwn","v":"2","vt":"num","v2":"18","v2t":"num"},{"t":"gt","v":"18","vt":"num"},{"t":"lte","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":240,"wires":[["ffd3d7c3.8b2838"],["3eeee54a.7c509a"],["dcb2453b.17e0d8"]]},{"id":"d7e92a49.e9a1e8","type":"question-primitive","z":"31f002eb.4ebf6e","name":"MUAC","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":350,"y":320,"wires":[["4abc59b8.611698"]]},{"id":"dcb2453b.17e0d8","type":"show-video","z":"31f002eb.4ebf6e","name":"","x":370,"y":280,"wires":[["d7e92a49.e9a1e8"]]},{"id":"4abc59b8.611698","type":"question-select","z":"31f002eb.4ebf6e","name":"Refer to Malnutrition Unit","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"yes"},{"sid":"no"}],"x":870,"y":340,"wires":[["1c78347b.aa760c"]]},{"id":"1c78347b.aa760c","type":"next-appointment","z":"31f002eb.4ebf6e","name":"","defaultperiod":"in2months","x":1130,"y":300,"wires":[["40a65516.de883c"]]},{"id":"3461944a.8a25ac","type":"device-coordinates","z":"31f002eb.4ebf6e","name":"","x":250,"y":120,"wires":[["e46aa3a1.cb26a"]]},{"id":"8066cf9d.413d08","type":"patients-queue","z":"af77e3e8.e89f3","name":"","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":480,"y":220,"wires":[["101209dc.d0fd96"]]},{"id":"4e479f68.20009","type":"end-flow","z":"af77e3e8.e89f3","name":"","x":840,"y":580,"wires":[]},{"id":"1daa7fff.0bbab","type":"question-primitive","z":"af77e3e8.e89f3","name":"Height","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":630,"y":340,"wires":[["fa328621.476508"]]},{"id":"fa328621.476508","type":"question-primitive","z":"af77e3e8.e89f3","name":"Weight","label":"","scope":"encounter","key":"","datatype":"decimal","optional":"","x":810,"y":380,"wires":[["d95833d2.ef16e"]]},{"id":"21c85e74.e15b4a","type":"summary-graph","z":"af77e3e8.e89f3","name":"","x":520,"y":300,"wires":[["e1cb7e8.96721"]]},{"id":"e1cb7e8.96721","type":"switch","z":"af77e3e8.e89f3","name":"age?","property":"currentPatient.age","propertyType":"jsonata","rules":[{"t":"btwn","v":"2","vt":"num","v2":"18","v2t":"num"},{"t":"gte","v":"18","vt":"num"},{"t":"lte","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":360,"wires":[["1daa7fff.0bbab"],["fa328621.476508"],["fd5df4a5.03b948"]]},{"id":"15ee1219.4726de","type":"question-primitive","z":"af77e3e8.e89f3","name":"MUAC","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":630,"y":440,"wires":[["d95833d2.ef16e"]]},{"id":"fd5df4a5.03b948","type":"show-video","z":"af77e3e8.e89f3","name":"","x":650,"y":400,"wires":[["15ee1219.4726de"]]},{"id":"d95833d2.ef16e","type":"question-select","z":"af77e3e8.e89f3","name":"Refer to Malnutrition Unit","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"yes"},{"sid":"no"}],"x":890,"y":500,"wires":[["5d69d9cb.1b9258"]]},{"id":"5d69d9cb.1b9258","type":"next-appointment","z":"af77e3e8.e89f3","name":"","defaultperiod":"","x":870,"y":540,"wires":[["4e479f68.20009"]]},{"id":"101209dc.d0fd96","type":"device-coordinates","z":"af77e3e8.e89f3","name":"","x":530,"y":260,"wires":[["21c85e74.e15b4a"]]},{"id":"6598135e.5bbd3c","type":"switch","z":"128d8803.8b8dd8","name":"Time since ART start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Between milestones","vt":"str"},{"t":"eq","v":"Around milestones","vt":"str"},{"t":"eq","v":"Less than 6 months","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":740,"y":140,"wires":[["eabf2250.50e03"],["3b2159fe.67da16"],[]]},{"id":"eabf2250.50e03","type":"switch","z":"128d8803.8b8dd8","name":"Ever had VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ever","vt":"str"},{"t":"eq","v":"Never","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":100,"wires":[["aab196c1.588c58"],["3b2159fe.67da16"]]},{"id":"dcc0a522.adbbf8","type":"switch","z":"128d8803.8b8dd8","name":"Clinical condition","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Not well","vt":"str"},{"t":"eq","v":"Well","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":100,"wires":[["def4ae91.af319"],[]]},{"id":"b049f8d3.a5fd28","type":"switch","z":"128d8803.8b8dd8","name":"Detectable VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Any detectable VL","vt":"str"},{"t":"eq","v":"Below detection limit","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":220,"wires":[["ad12af5a.c4407"],["68e2e9cb.46bf58"]]},{"id":"1c4364cd.b237db","type":"question-primitive","z":"128d8803.8b8dd8","name":"Intensive Adh Support","label":"","scope":"encounter","key":"","datatype":"string","x":1160,"y":200,"wires":[["888e9ead.9616b"]]},{"id":"80ae2a91.276df8","type":"switch","z":"128d8803.8b8dd8","name":"Current Regimen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0 - 6","vt":"str"},{"t":"eq","v":"7 - 15","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":340,"wires":[["65c88a64.75bf14"],["7721b84b.4825d8"]]},{"id":"5a4bf142.936f4","type":"switch","z":"128d8803.8b8dd8","name":"VL (copies / ml)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Below detection limit (DL)","vt":"str"},{"t":"eq","v":"1000+","vt":"str"},{"t":"eq","v":"Above DL, but <1000","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":340,"wires":[["c636b117.e4d7c"],["e57d9122.b943b"],["594e7e76.2be4"]]},{"id":"65c88a64.75bf14","type":"question-select","z":"128d8803.8b8dd8","name":"Start 2nd Line","label":"Start 2nd Line","scope":"encounter","key":"","behavior":"","devices":[{"sid":"2nd Line"}],"x":1360,"y":320,"wires":[["14ad6ec0.670881"]]},{"id":"3c31299b.a58d66","type":"question-primitive","z":"128d8803.8b8dd8","name":"Intensive Adh Support","label":"Intensive Adh Support","scope":"encounter","key":"","datatype":"string","optional":false,"x":1220,"y":400,"wires":[["42319100.c3c39"]]},{"id":"7721b84b.4825d8","type":"summary","z":"128d8803.8b8dd8","name":"Poor adherence or failure","x":1390,"y":360,"wires":[["412676e1.e927a8"]],"info":"<h1>Poor adherence or failure</h1>"},{"id":"14ad6ec0.670881","type":"summary","z":"128d8803.8b8dd8","name":"Confirmed failure","x":1570,"y":320,"wires":[[]],"info":"<h1>Confirmed failure</h1>"},{"id":"594e7e76.2be4","type":"summary","z":"128d8803.8b8dd8","name":"Potential failure","x":1000,"y":400,"wires":[["3c31299b.a58d66"]],"info":"<h1>Potential failure</h1>"},{"id":"c636b117.e4d7c","type":"summary","z":"128d8803.8b8dd8","name":"Below Detection Limit (DL)","x":1040,"y":280,"wires":[["eaaa7635.a55248"]],"info":"<h1>Potential failure</h1>"},{"id":"e57d9122.b943b","type":"summary","z":"128d8803.8b8dd8","name":"1000+","x":970,"y":340,"wires":[["80ae2a91.276df8"]],"info":"<h1>1000+</h1>"},{"id":"68e2e9cb.46bf58","type":"summary","z":"128d8803.8b8dd8","name":"Below detection limit","x":940,"y":240,"wires":[["b6557126.0ce8a"]],"info":"<h1>Below detection limit</h1>"},{"id":"ad12af5a.c4407","type":"summary","z":"128d8803.8b8dd8","name":"Any detectable VL","x":930,"y":200,"wires":[["1c4364cd.b237db"]],"info":"<h1>Any detectable VL</h1>"},{"id":"3b2159fe.67da16","type":"question-primitive","z":"128d8803.8b8dd8","name":"Order: VL Routing schedule","label":"Order: VL Routing schedule: Enter sample ID","scope":"encounter","key":"","datatype":"integer","x":1180,"y":140,"wires":[[]]},{"id":"def4ae91.af319","type":"question-primitive","z":"128d8803.8b8dd8","name":"Order: VL Targeted Follow-up VL","label":"Order: VL Targeted Follow-up VL: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","x":1640,"y":80,"wires":[[]]},{"id":"42319100.c3c39","type":"question-primitive","z":"128d8803.8b8dd8","name":"Order: VL Targeted Follow-up VL","label":"Order: VL Targeted Follow-up VL: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","x":1500,"y":400,"wires":[[]]},{"id":"412676e1.e927a8","type":"question-primitive","z":"128d8803.8b8dd8","name":"Order: Genotype testing","label":"Order: Genotype testing: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","optional":false,"x":1650,"y":360,"wires":[[]]},{"id":"aab196c1.588c58","type":"question-select","z":"128d8803.8b8dd8","name":"Clinical condition","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"well"},{"sid":"not well"}],"x":1150,"y":100,"wires":[["dcc0a522.adbbf8"]]},{"id":"6156dabd.252114","type":"switch","z":"128d8803.8b8dd8","name":"VL Result avail","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"None","vt":"str"},{"t":"eq","v":"Routine Result avail","vt":"str"},{"t":"eq","v":"Targeted/Follow-up Result avail","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":300,"y":220,"wires":[["79744329.6af93c"],["556ddd9b.600884"],["15aa6c02.d7c7b4"]]},{"id":"556ddd9b.600884","type":"summary","z":"128d8803.8b8dd8","name":"New Routine result","x":510,"y":220,"wires":[["b049f8d3.a5fd28"]],"info":"<h1>New Routine result avail</h1>"},{"id":"79744329.6af93c","type":"summary","z":"128d8803.8b8dd8","name":"No/no new result","x":510,"y":140,"wires":[["6598135e.5bbd3c"]],"info":"<h1>No result avail</h1>"},{"id":"15aa6c02.d7c7b4","type":"summary","z":"128d8803.8b8dd8","name":"New Targeted/Follow-up result","x":550,"y":340,"wires":[["5a4bf142.936f4"]],"info":"<h1>New Targeted/Follow-up Result avail</h1>"},{"id":"eaaa7635.a55248","type":"summary","z":"128d8803.8b8dd8","name":"Continue current regimen","x":1310,"y":280,"wires":[[]],"info":"<h1>Continue current regimen</h1>"},{"id":"b6557126.0ce8a","type":"summary","z":"128d8803.8b8dd8","name":"Continue current regimen","x":1190,"y":240,"wires":[[]],"info":"<h1>Continue current regimen</h1>"},{"id":"888e9ead.9616b","type":"question-primitive","z":"128d8803.8b8dd8","name":"Order: VL Targeted Follow-up VL","label":"Order: VL Targeted Follow-up VL: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","x":1440,"y":200,"wires":[[]]},{"id":"a164c224.32f0f","type":"patients-queue","z":"2d4060a6.92c72","name":"","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":240,"y":100,"wires":[["77fd8415.dcd734"]]},{"id":"48c54fbd.f1068","type":"end-flow","z":"2d4060a6.92c72","name":"","x":400,"y":300,"wires":[]},{"id":"d326fb80.296e88","type":"function","z":"31f002eb.4ebf6e","name":"Adult BMI","func":"currentEncounter.bmi = \n  10000 *\n  Number(currentEncounter.Weight) /\n  (Number(currentEncounter.Height) * Number(currentEncounter.Height));","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["1beec829.d34768"]]},{"id":"fcd5534a.873ad","type":"Blockly","z":"31f002eb.4ebf6e","language":"en","func":"var bmi, currentPatient_age, weight, height;\n\n\nif (currentPatient_age >= 18) {\n  bmi = weight / (height * height);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"B,!jx_8RuMX|*!GC,K`A\">bmi</variable><variable type=\"\" id=\"@U2|[Y)WUdZk/:tks=G!\">currentPatient.age</variable><variable type=\"\" id=\"sruN~/fptYYpRrpjU{FU\">weight</variable><variable type=\"\" id=\"BF2=%D/D[!e2fk7PKjL^\">height</variable></variables><block type=\"controls_if\" id=\"-lasGC)qH75ujHTY*[5]\" x=\"-38\" y=\"-162\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"uuctI+u):{E(e,,iBHs)\"><field name=\"OP\">GTE</field><value name=\"A\"><block type=\"variables_get\" id=\"s^{HWO8%G8z053UodFHT\"><field name=\"VAR\" id=\"@U2|[Y)WUdZk/:tks=G!\" variabletype=\"\">currentPatient.age</field></block></value><value name=\"B\"><block type=\"math_number\" id=\"[![Lu5mSrcV8HVLe^uU[\"><field name=\"NUM\">18</field></block></value></block></value><statement name=\"DO0\"><block type=\"variables_set\" id=\"Ad~nOR8X)nku.lI=@Pi_\"><field name=\"VAR\" id=\"B,!jx_8RuMX|*!GC,K`A\" variabletype=\"\">bmi</field><value name=\"VALUE\"><block type=\"math_arithmetic\" id=\"MX~tsLyBuiJFoEg@)ZxR\"><field name=\"OP\">DIVIDE</field><value name=\"A\"><shadow type=\"math_number\" id=\"L!D!ZF|,5#L`/z2o67Ix\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"U*]r{!DjPOw5u*0NM)?z\"><field name=\"VAR\" id=\"sruN~/fptYYpRrpjU{FU\" variabletype=\"\">weight</field></block></value><value name=\"B\"><shadow type=\"math_number\" id=\"Y[s|zbM_o3J_?In(2}^Q\"><field name=\"NUM\">1</field></shadow><block type=\"math_arithmetic\" id=\"3FLkyFS)Q`1YW(A{j=-c\"><field name=\"OP\">MULTIPLY</field><value name=\"A\"><shadow type=\"math_number\" id=\"~1pjiva`3SNb/D[AKhJg\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"jf@(/c6Hq),vGUm+C:P0\"><field name=\"VAR\" id=\"BF2=%D/D[!e2fk7PKjL^\" variabletype=\"\">height</field></block></value><value name=\"B\"><shadow type=\"math_number\" id=\"19wl4@5,KUEToM-z+7Yc\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"u9UiK-4q?YvQo7DPbDsq\"><field name=\"VAR\" id=\"BF2=%D/D[!e2fk7PKjL^\" variabletype=\"\">height</field></block></value></block></value></block></value></block></statement></block></xml>","outputs":1,"name":"Adult BMI","x":480,"y":540,"wires":[[]]},{"id":"1beec829.d34768","type":"switch","z":"31f002eb.4ebf6e","name":"bmi action","property":"payload","propertyType":"jsonata","rules":[{"t":"gt","v":"25","vt":"num"},{"t":"btwn","v":"16","vt":"num","v2":"25","v2t":"num"},{"t":"lt","v":"16.9","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":300,"wires":[["f6f344be.510bf8"],["1c78347b.aa760c"],["4abc59b8.611698"]]},{"id":"f6f344be.510bf8","type":"question-select","z":"31f002eb.4ebf6e","name":"Refer to Chronic Care Unit","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"yes"},{"sid":"no"}],"x":880,"y":260,"wires":[["1c78347b.aa760c"]]},{"id":"8d556bb0.44d428","type":"question-select","z":"2d4060a6.92c72","name":"Side Effects","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":410,"y":180,"wires":[["71e0ad8f.dc7ab4"]]},{"id":"1fe27307.958dbd","type":"question-primitive","z":"2d4060a6.92c72","name":"Next Appointment","label":"","scope":"encounter","key":"","datatype":"date","optional":false,"x":430,"y":260,"wires":[["48c54fbd.f1068"]]},{"id":"71e0ad8f.dc7ab4","type":"question-select","z":"2d4060a6.92c72","name":"ART Regimen","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":420,"y":220,"wires":[["1fe27307.958dbd"]]},{"id":"2bccbdec.b41762","type":"switch","z":"31334eec.6d3a32","name":"Time on ART treatment","property":"monthsOnTreatment","propertyType":"jsonata","rules":[{"t":"lte","v":"5","vt":"num"},{"t":"gte","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[[],["744471af.606b8"]]},{"id":"744471af.606b8","type":"switch","z":"31334eec.6d3a32","name":"Ever had a VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"no","vt":"str"},{"t":"eq","v":"yes","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":120,"wires":[["bfe7bb9a.a93288"],["6b1e99d7.d7f258"]]},{"id":"6b1e99d7.d7f258","type":"switch","z":"31334eec.6d3a32","name":"Last VL 12 months ago","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":160,"wires":[["bfe7bb9a.a93288"],[]]},{"id":"bfe7bb9a.a93288","type":"lab-order-entry","z":"31334eec.6d3a32","name":"Order VL test","panel":"","x":450,"y":120,"wires":[[]]},{"id":"9c85c55b.37704","type":"switch","z":"8597eba8.d8b1e8","name":"Time on ART treatment?","property":"monthsOnTreatment","propertyType":"jsonata","rules":[{"t":"lte","v":"5","vt":"num"},{"t":"gte","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[[],["8752baa9.461798"]]},{"id":"8752baa9.461798","type":"switch","z":"8597eba8.d8b1e8","name":"Ever had a VL?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"no","vt":"str"},{"t":"eq","v":"yes","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":140,"wires":[["6128ffeb.5975b8"],["a47d183c.048828"]]},{"id":"a47d183c.048828","type":"switch","z":"8597eba8.d8b1e8","name":"Last VL 12+ months ago?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[["6128ffeb.5975b8"],[]]},{"id":"6128ffeb.5975b8","type":"lab-order-entry","z":"8597eba8.d8b1e8","name":"Order VL test","panel":"","x":430,"y":140,"wires":[[]]},{"id":"77fd8415.dcd734","type":"subflow:8597eba8.d8b1e8","z":"2d4060a6.92c72","name":"VL test","env":[],"x":260,"y":180,"wires":[["8d556bb0.44d428"]]},{"id":"d710c7f5.b1e898","type":"register-patient","z":"2297acf6.e98c64","name":"Register Patient","x":140,"y":40,"wires":[["89f6c852.edac68"]]},{"id":"19d5e2b3.2f69cd","type":"question-select","z":"2297acf6.e98c64","name":"Duration of Illness","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Less than or equal to 2 days"},{"sid":"2-15 days"},{"sid":"16-30 days"},{"sid":"Over 30 days"},{"sid":"Unknown"}],"x":190,"y":300,"wires":[["3a1ccd69.17c732"]]},{"id":"3a1ccd69.17c732","type":"question-select","z":"2297acf6.e98c64","name":"Conscious","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Yes"},{"sid":"No"},{"sid":"Unknown"}],"x":170,"y":340,"wires":[["328c642.c0c819c"]]},{"id":"328c642.c0c819c","type":"question-select","z":"2297acf6.e98c64","name":"Anemia","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":380,"wires":[["aec8f74d.d475d8"]]},{"id":"d74069dd.11bc68","type":"summary","z":"2297acf6.e98c64","name":"Show calculated birthdate","x":560,"y":160,"wires":[["dd7dc492.d24e78"]],"info":"<h1>Birthdate range</h1>\n<h3>Start: <span id=\"range-start\"></span>\n<h3>End: <span id=\"range-end\"></span>\n\n<script>\n$(\"#range-start\").text(currentPatient.birthdate_start);\n$(\"#range-end\").text(currentPatient.birthdate_end);\n</script>\n"},{"id":"aec8f74d.d475d8","type":"question-select","z":"2297acf6.e98c64","name":"Convulsions","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":380,"wires":[["5c859dc3.f75d74"]]},{"id":"5c859dc3.f75d74","type":"question-select","z":"2297acf6.e98c64","name":"Cough or Difficulty Breathing (CDB)","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":540,"y":380,"wires":[["6e00a139.2d646"]]},{"id":"6e00a139.2d646","type":"question-select","z":"2297acf6.e98c64","name":"Diarrhea","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":420,"wires":[["2e3cda3a.45c256"]]},{"id":"2e3cda3a.45c256","type":"question-select","z":"2297acf6.e98c64","name":"History of Fever","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":320,"y":420,"wires":[["6eefc85e.3836c8"]]},{"id":"6eefc85e.3836c8","type":"question-select","z":"2297acf6.e98c64","name":"Fever (>37.5 C)","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":500,"y":420,"wires":[["79942273.148c9c"]]},{"id":"79942273.148c9c","type":"question-select","z":"2297acf6.e98c64","name":"Lethargie","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":460,"wires":[["f75ec5c0.52e9c8"]]},{"id":"f75ec5c0.52e9c8","type":"question-select","z":"2297acf6.e98c64","name":"Malnutrition","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":460,"wires":[["fbdd36ea.334ec8"]]},{"id":"fbdd36ea.334ec8","type":"question-select","z":"2297acf6.e98c64","name":"Unable to feed","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":480,"y":460,"wires":[["43c8349f.53bb5c"]]},{"id":"43c8349f.53bb5c","type":"question-select","z":"2297acf6.e98c64","name":"Vomiting","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":640,"y":460,"wires":[["4f026bb8.e9fa54"]]},{"id":"8e24c976.e51638","type":"question-select","z":"2297acf6.e98c64","name":"Age","label":"","scope":"demographic","key":"","behavior":"single","devices":[{"sid":"Less than 2 months"},{"sid":"2-12 months"},{"sid":"13-24 months"},{"sid":"25-60 months"},{"sid":"Over 60 months"},{"sid":"Unknown"}],"x":150,"y":160,"wires":[["90ba20ce.f4aa7"]]},{"id":"dd7dc492.d24e78","type":"create-patient","z":"2297acf6.e98c64","name":"","x":140,"y":200,"wires":[["2e150ef5.1d0c42"]]},{"id":"4f026bb8.e9fa54","type":"create-encounter-end","z":"2297acf6.e98c64","name":"","x":170,"y":500,"wires":[]},{"id":"85e4ecd2.055be","type":"patients-queue","z":"2297acf6.e98c64","name":"Queue #1","queueName":"all","queueDateFilter":"","label":"","encounterType":"second","x":120,"y":560,"wires":[["322b709e.ee2fe"]]},{"id":"f7b8d06e.c27be","type":"patients-queue","z":"2297acf6.e98c64","name":"Queue #2","queueName":"all","queueDateFilter":"","label":"","encounterType":"third","x":120,"y":600,"wires":[["958eabf3.adbdf8"]]},{"id":"322b709e.ee2fe","type":"create-encounter-end","z":"2297acf6.e98c64","name":"","x":410,"y":560,"wires":[]},{"id":"958eabf3.adbdf8","type":"create-encounter-end","z":"2297acf6.e98c64","name":"","x":410,"y":600,"wires":[]},{"id":"cbe77f00.95673","type":"question-primitive","z":"2297acf6.e98c64","name":"Name","label":"","scope":"demographic","key":"","datatype":"string","optional":"","x":150,"y":120,"wires":[["8e24c976.e51638"]]},{"id":"89f6c852.edac68","type":"question-primitive","z":"2297acf6.e98c64","name":"Health ID","label":"","scope":"demographic","key":"","datatype":"string","optional":true,"x":160,"y":80,"wires":[["cbe77f00.95673"]]},{"id":"90ba20ce.f4aa7","type":"function","z":"2297acf6.e98c64","name":"calc birthdate range","func":"var start = new Date();\nvar end = new Date();\n\nswitch (currentPatient.Age_val) {\n    case \"0\":\n        start.setMonth(start.getMonth() - 2);\n        end = '';\n        break;\n    case \"1\":\n        start.setMonth(start.getMonth() - 12);\n        end.setMonth(end.getMonth() - 2);\n        break;\n    case \"2\":\n        start.setMonth(start.getMonth() - 24);\n        end.setMonth(end.getMonth() - 13);\n        break;\n    case \"3\":\n        start.setMonth(start.getMonth() - 60);\n        end.setMonth(end.getMonth() - 25);\n        break;\n    case \"4\":\n        start = '';\n        end.setMonth(end.getMonth() - 60);\n        break;\n    case \"5\":\n        start = 'unknown';\n        end = 'unknown';\n    default:\n        start = 'error';\n        end = 'error';\n        break;\n}\n\ncurrentPatient['birthdate_start']= start;\ncurrentPatient['birthdate_end']= end;\n\nupdateCurrentPatient(currentPatient);\n","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["d74069dd.11bc68"]]},{"id":"2e150ef5.1d0c42","type":"set-encountertype","z":"2297acf6.e98c64","name":"","encounterType":"first","x":150,"y":260,"wires":[["19d5e2b3.2f69cd"]]},{"id":"28d4d88.067c828","type":"find-patient","z":"2297acf6.e98c64","name":"Browse all patients","includename":"","includeidentifier":"","program":"","expression":"","x":150,"y":640,"wires":[["5a4bc667.de1008"]]},{"id":"5a4bc667.de1008","type":"end-flow","z":"2297acf6.e98c64","name":"","x":360,"y":640,"wires":[]}]