resources/node-red-flows.json
[{"id":"2297acf6.e98c64","type":"tab","label":"Diagnosing Childhood Malaria","disabled":false,"info":""},{"id":"c3146e98.69994","type":"tab","label":"RDH: HIV Registration","disabled":false,"info":""},{"id":"40529161.05535","type":"tab","label":"RDH: ART Unit","disabled":false,"info":""},{"id":"da8155cd.bf0aa8","type":"tab","label":"RDH: Micro Lab","disabled":false,"info":""},{"id":"83a8b2ef.0d8da","type":"tab","label":"RDH: Dispensary","disabled":false,"info":""},{"id":"4b01af8e.6fbac","type":"tab","label":"RDH Overview ","disabled":false,"info":""},{"id":"754804bf.8aba7c","type":"tab","label":"New Guidelines: Flow ART (Adult & Children)","disabled":false,"info":""},{"id":"24d48d2.d3ad672","type":"tab","label":"New Guidelines: Flow Exp Infant","disabled":false,"info":""},{"id":"822d45ca.d6f5e8","type":"tab","label":"Liberia: ART Header","disabled":false,"info":""},{"id":"af77e3e8.e89f3","type":"tab","label":"Vitals","disabled":false,"info":""},{"id":"ccc8e317.ff8cd","type":"tab","label":"Liberia: ART visit","disabled":false,"info":""},{"id":"32b25cd2.550b44","type":"tab","label":"Liberia: HIV visit","disabled":false,"info":""},{"id":"4c9fe8ac.10e058","type":"tab","label":"MVP: Lab&Pharmacy","disabled":false,"info":""},{"id":"8204b671.3e7a68","type":"tab","label":"Targeted VL testing","disabled":false,"info":""},{"id":"31f002eb.4ebf6e","type":"tab","label":"Testing","disabled":false,"info":""},{"id":"2d4060a6.92c72","type":"tab","label":"ART Consultation","disabled":false,"info":""},{"id":"a1643e52.69ec58","type":"subflow","name":"Patient Identification","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"56269f66.d78ff"}]}],"out":[{"x":60,"y":500,"wires":[{"id":"b87511c8.2aad4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9eba9893.b5ab6","type":"subflow","name":"HIV C&I Summary Diagnostic","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"fcfaf434.b3f8f"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"369b84b5.91fe7c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c44a39a9.c6ae6","type":"subflow","name":"Initial Assessment by clinician","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"388199af.c68f26"}]}],"out":[{"x":60,"y":320,"wires":[{"id":"9bc52e4e.e24b88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e95b8a2f.2a804","type":"subflow","name":"Other Baseline Information","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"af94a681.5c5f4"}]}],"out":[{"x":60,"y":520,"wires":[{"id":"1d0d3e47.b7d02a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"86b75ff7.b31198","type":"subflow","name":"Treatment Interruptions","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"ed2ea718.e51d28"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"82665184.30463","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1c8e387f.c41f88","type":"subflow","name":"Departure from Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"7039070c.3ad958"}]}],"out":[{"x":60,"y":220,"wires":[{"id":"4fe9ce0e.405ac8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e2e7ca08.3b41","type":"subflow","name":"Ongoing Staging","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52a25e32.945718"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"d0aa055d.d853b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3cffefd8.654f6","type":"subflow","name":"ART Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f318e98c.757928"}]}],"out":[{"x":60,"y":580,"wires":[{"id":"7c5a4eee.45416","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"21ab2f94.f2bee","type":"subflow","name":"ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52c625e7.065abc"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"52c625e7.065abc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3589d1ce.0e5f66","type":"subflow","name":"Pre-ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"49dba4ec.e9cdac"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"49dba4ec.e9cdac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"6467ceb9.0eaa4","type":"subflow","name":"ART register patient","info":"","category":"RDH HIV","in":[{"x":60,"y":120,"wires":[{"id":"42682891.4504c8"}]}],"out":[{"x":660,"y":480,"wires":[{"id":"f78e7511.2a1df8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9d34a91.b320b58","type":"subflow","name":"ART Status at Initiation","info":"","category":"RDH HIV","in":[{"x":40,"y":160,"wires":[{"id":"b899546b.02c3c8"}]}],"out":[{"x":380,"y":740,"wires":[{"id":"bfdf9eca.ce5e3","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"340fa181.b8c92e","type":"subflow","name":"ART Confirmatory HIV Test","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"7512aec1.ed22b"}]}],"out":[{"x":380,"y":560,"wires":[{"id":"e5ceb606.7fa3d8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"2ace2e04.3bb9a2","type":"subflow","name":"ART Intake (as per Register)","info":"","category":"RDH HIV","in":[{"x":60,"y":120,"wires":[{"id":"25327dd5.15a8a2"}]}],"out":[{"x":640,"y":440,"wires":[{"id":"fb0b67a7.9c36b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"a617f170.1c605","type":"subflow","name":"ART Visit: Vitals","info":"","category":"RDH HIV","in":[{"x":60,"y":80,"wires":[{"id":"447a0ef0.4e232"}]}],"out":[{"x":780,"y":260,"wires":[{"id":"3b06c6e8.c5f2da","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1643d582.b1991a","type":"subflow","name":"ART Visit: Visit","info":"","category":"RDH HIV","in":[{"x":60,"y":80,"wires":[{"id":"9e2278b8.90b6d8"}]}],"out":[{"x":740,"y":780,"wires":[{"id":"5a67260f.aacc38","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"d5cb0610.e75008","type":"subflow","name":"Exp Infant Vitals","info":"","category":"RDH HIV","in":[{"x":60,"y":80,"wires":[{"id":"2ddca830.c798e8"}]}],"out":[{"x":480,"y":240,"wires":[{"id":"46b2a0c4.41a7","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"dc4d15f8.c825c8","type":"subflow","name":"Exp Infant register patient","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"c228b7c7.6ccee8"}]}],"out":[{"x":360,"y":640,"wires":[{"id":"1c0b8c9a.f51c43","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e4a163f.bcc78a","type":"subflow","name":"Exp Infant Status","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"e8f47685.f065c8"}]}],"out":[{"x":400,"y":280,"wires":[{"id":"f4da2592.cc43b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"69e3b9ba.723bc8","type":"subflow","name":"Exp Infant HIV Testing","info":"","category":"RDH HIV","in":[{"x":40,"y":120,"wires":[{"id":"b6fe09d2.2a9958"}]}],"out":[{"x":340,"y":320,"wires":[{"id":"39ae6d4d.b35712","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"7d846b81.1913b4","type":"subflow","name":"Exp Infant Visit","info":"","category":"RDH HIV","in":[{"x":130,"y":90,"wires":[{"id":"451388c5.870eb8"}]}],"out":[{"x":500,"y":460,"wires":[{"id":"4e50bfc.a0a5d4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"128d8803.8b8dd8","type":"subflow","name":"VL order","info":"","category":"","in":[{"x":160,"y":220,"wires":[{"id":"6156dabd.252114"}]}],"out":[{"x":1900,"y":200,"wires":[{"id":"dcc0a522.adbbf8","port":1},{"id":"b6557126.0ce8a","port":0},{"id":"eaaa7635.a55248","port":0},{"id":"14ad6ec0.670881","port":0},{"id":"6598135e.5bbd3c","port":"2"},{"id":"19c1c12c.558b6f","port":0},{"id":"8ec3f8d7.3d7638","port":0},{"id":"69c43d8a.5c8c14","port":0},{"id":"e1494425.886ed8","port":0},{"id":"9f531852.7323d8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"31334eec.6d3a32","type":"subflow","name":"Subflow 1","info":"","in":[{"x":40,"y":80,"wires":[{"id":"2bccbdec.b41762"}]}],"out":[{"x":600,"y":120,"wires":[{"id":"bfe7bb9a.a93288","port":0},{"id":"2bccbdec.b41762","port":0},{"id":"6b1e99d7.d7f258","port":1}]}]},{"id":"8597eba8.d8b1e8","type":"subflow","name":"Subflow 2","info":"","in":[{"x":40,"y":80,"wires":[{"id":"9c85c55b.37704"}]}],"out":[{"x":580,"y":140,"wires":[{"id":"9c85c55b.37704","port":0},{"id":"6128ffeb.5975b8","port":0},{"id":"a47d183c.048828","port":1}]}]},{"id":"7bf38ac1.088444","type":"careflow-config","z":"","environment":"xian","runtime_flow_path":"/Users/xian/projects/data-first-emr/workflow-poc-emr/resources/node-red-flows.json"},{"id":"2699ecc2.a7b384","type":"find-patient","z":"ccc8e317.ff8cd","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":390,"y":40,"wires":[["ec0b5be.8ccb6a8"]]},{"id":"8c21b6cd.5576b8","type":"end-flow","z":"ccc8e317.ff8cd","name":"","x":380,"y":1120,"wires":[]},{"id":"e7ea90a6.1e866","type":"question-primitive","z":"ccc8e317.ff8cd","name":"weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":370,"y":400,"wires":[["a9d716e9.ba1fd8"]]},{"id":"ec0b5be.8ccb6a8","type":"question-select","z":"ccc8e317.ff8cd","name":"scheduled","label":"scheduled visit","scope":"encounter","key":"","devices":[{"sid":"Yes"},{"sid":"No"}],"x":390,"y":100,"wires":[["44be35ba.b39a7c"]]},{"id":"44be35ba.b39a7c","type":"question-select","z":"ccc8e317.ff8cd","name":"reason","label":"reason","scope":"encounter","key":"","devices":[{"sid":"0: Follow up/Refill"},{"sid":"1: Nausea"},{"sid":"2: Diarrhea"},{"sid":"3: Fatigue"},{"sid":"4: Headache"},{"sid":"5: Rash"},{"sid":"6: Anaemia"},{"sid":"7: Burning, Numbing, Tingling"},{"sid":"8: Dizziness, Sleeplessness, Nightmare, Depression"},{"sid":"9: Abdominal Pain"},{"sid":"10: Fat Changes"},{"sid":"11: Jaundice"},{"sid":"12: Fever"},{"sid":"13: Wt. Loss"},{"sid":"14: Cough"},{"sid":"15: Poor Appetite"},{"sid":"16: Other"}],"x":370,"y":160,"wires":[["dea827b0.ea4f08"]]},{"id":"dea827b0.ea4f08","type":"question-select","z":"ccc8e317.ff8cd","name":"adherence","label":"Adherence","scope":"encounter","key":"","devices":[{"sid":"1: Good (Missed less than 3 doses / month)"},{"sid":"2: Fair (Missed 5-8 doses / month)"},{"sid":"3: Poor (Missed more than 9 doses / month)"}],"x":390,"y":220,"wires":[["9f4ab454.f80ed8"]]},{"id":"b77a512e.b9c84","type":"question-primitive","z":"ccc8e317.ff8cd","name":"height","label":"Height","scope":"encounter","key":"","datatype":"integer","x":370,"y":340,"wires":[["e7ea90a6.1e866"]]},{"id":"7249e75f.a6a0f8","type":"question-primitive","z":"ccc8e317.ff8cd","name":"muac","label":"MUAC","scope":"encounter","key":"","datatype":"decimal","x":530,"y":280,"wires":[["e7ea90a6.1e866"]]},{"id":"9f4ab454.f80ed8","type":"switch","z":"ccc8e317.ff8cd","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":370,"y":280,"wires":[["7249e75f.a6a0f8"],["b77a512e.b9c84"]]},{"id":"49074b2b.b94504","type":"question-primitive","z":"ccc8e317.ff8cd","name":"lmp or edd","label":"LMP or EDD","scope":"encounter","key":"","datatype":"integer","x":550,"y":460,"wires":[["68d3019d.8015c"]]},{"id":"9cb53e9c.b68a4","type":"switch","z":"ccc8e317.ff8cd","name":"pregnant","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='Yes'","vt":"str"},{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='No'","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":380,"y":460,"wires":[["49074b2b.b94504"],["68d3019d.8015c"]]},{"id":"68d3019d.8015c","type":"question-select","z":"ccc8e317.ff8cd","name":"tb status","label":"TB Status","scope":"encounter","key":"","devices":[{"sid":"1: No Signs (Cough, Fever, wt lose)"},{"sid":"2: Suspected"},{"sid":"3: Confirmed, but not on treatment yet"},{"sid":"4: Currently on treatment"},{"sid":"5: Past treatment"}],"x":380,"y":520,"wires":[["c12215a8.e949c8"]]},{"id":"c12215a8.e949c8","type":"question-select","z":"ccc8e317.ff8cd","name":"conditions","label":"AIDS Associated Conditions","scope":"encounter","key":"","devices":[{"sid":"1: Herpes Zoster"},{"sid":"2: Oral Candidiasis"},{"sid":"3: Pulmonary TB"},{"sid":"4: ???"},{"sid":"5: Anemia"},{"sid":"6: Giardia"},{"sid":"7: PCP"},{"sid":"8: Cryptococcal Meningitis"},{"sid":"9: Esophageal Candidiasis"},{"sid":"10: Kaposi Sarcoma"},{"sid":"11: Herpes Simplex"},{"sid":"12: Chronic Diarrhea"},{"sid":"13: Toxoplasmosis"},{"sid":"14: Other"},{"sid":"15: None"},{"sid":"16: Extra Pulmonary TB"}],"x":390,"y":580,"wires":[["d0e4d7e3.a8da28"]]},{"id":"d0e4d7e3.a8da28","type":"question-select","z":"ccc8e317.ff8cd","name":"functional status","label":"Functional Status","scope":"encounter","key":"","devices":[{"sid":"1: Normal"},{"sid":"2: Ambulatory"},{"sid":"3: Bedridden"}],"x":400,"y":640,"wires":[["431b4dd3.174324"]]},{"id":"5cda3a3f.2896d4","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: CD4 Count","x":400,"y":760,"wires":[["836cff34.c5a37"]]},{"id":"836cff34.c5a37","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: ALT","x":560,"y":760,"wires":[["862d5874.4a23e8"]]},{"id":"862d5874.4a23e8","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: HB","x":700,"y":760,"wires":[["74780cb2.c70b54"]]},{"id":"74780cb2.c70b54","type":"lab-test-result","z":"ccc8e317.ff8cd","name":"Lab: Creatinine","x":860,"y":760,"wires":[["4e3d62eb.d4284c"]]},{"id":"4e3d62eb.d4284c","type":"question-primitive","z":"ccc8e317.ff8cd","name":"ctx","label":"CTX Dose","scope":"encounter","key":"","datatype":"integer","x":370,"y":820,"wires":[["887881e4.d47da"]]},{"id":"b90f4832.e8dbe8","type":"question-select","z":"ccc8e317.ff8cd","name":"regimen (adult)","label":"ART Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":400,"y":940,"wires":[["a83d4166.b858e"]]},{"id":"d49c937a.316c2","type":"question-select","z":"ccc8e317.ff8cd","name":"regimen (child)","label":"ART Regimen","scope":"encounter","key":"","devices":[{"sid":"3a"},{"sid":"3b"},{"sid":"3c"},{"sid":"3d"},{"sid":"3e"},{"sid":"3f"},{"sid":"3g"},{"sid":"3h"},{"sid":"3i"},{"sid":"5a"},{"sid":"5b"},{"sid":"5c"}],"x":560,"y":880,"wires":[["a83d4166.b858e"]]},{"id":"887881e4.d47da","type":"switch","z":"ccc8e317.ff8cd","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":880,"wires":[["d49c937a.316c2"],["b90f4832.e8dbe8"]]},{"id":"a83d4166.b858e","type":"next-appointment","z":"ccc8e317.ff8cd","name":"","defaultperiod":"","x":410,"y":1000,"wires":[["2bbbea18.d0b946"]]},{"id":"2bbbea18.d0b946","type":"question-primitive","z":"ccc8e317.ff8cd","name":"comments","label":"Comments","scope":"encounter","key":"","datatype":"text","x":390,"y":1060,"wires":[["8c21b6cd.5576b8"]]},{"id":"222c1c51.063764","type":"question-primitive","z":"822d45ca.d6f5e8","name":"name","label":"Name","scope":"demographic","key":"","datatype":"text","x":130,"y":100,"wires":[["269c862f.ad8d42"]]},{"id":"269c862f.ad8d42","type":"question-primitive","z":"822d45ca.d6f5e8","name":"clientid","label":"Facility Client ID","scope":"demographic","key":"","datatype":"integer","x":140,"y":160,"wires":[["23b03384.54c03c"]]},{"id":"23b03384.54c03c","type":"question-primitive","z":"822d45ca.d6f5e8","name":"uniquecode","label":"Unique Code","scope":"demographic","key":"","datatype":"integer","x":150,"y":220,"wires":[["b37f4f0e.a8c8b"]]},{"id":"b37f4f0e.a8c8b","type":"demographic-birthdate","z":"822d45ca.d6f5e8","name":"","entrybyage":"","partialdate":"","x":140,"y":280,"wires":[["767e4c3d.cd0074"]]},{"id":"767e4c3d.cd0074","type":"question-primitive","z":"822d45ca.d6f5e8","name":"familymembername","label":"Name of Family Member","scope":"demographic","key":"","datatype":"text","x":180,"y":340,"wires":[["be3c576.6e0f128"]]},{"id":"be3c576.6e0f128","type":"question-select","z":"822d45ca.d6f5e8","name":"sex","label":"Sex","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":130,"y":400,"wires":[["1f57e09d.8ddd27"]]},{"id":"1f57e09d.8ddd27","type":"question-primitive","z":"822d45ca.d6f5e8","name":"contact","label":"Contact #","scope":"demographic","key":"","datatype":"text","x":140,"y":460,"wires":[[]]},{"id":"ecc0f6c8.2e817","type":"question-primitive","z":"822d45ca.d6f5e8","name":"date confirmed HIV+","label":"Date Confirmed HIV+","scope":"encounter","key":"","datatype":"date","x":460,"y":80,"wires":[["82b5c217.10d08"]]},{"id":"82b5c217.10d08","type":"question-select","z":"822d45ca.d6f5e8","name":"hivtype","label":"HIV Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":420,"y":140,"wires":[["41caa231.e6a4bc"]]},{"id":"41caa231.e6a4bc","type":"question-primitive","z":"822d45ca.d6f5e8","name":"referred from","label":"Referred from (coded)","scope":"encounter","key":"","datatype":"text","x":430,"y":200,"wires":[["a2fa0cce.291788"]]},{"id":"a2fa0cce.291788","type":"question-primitive","z":"822d45ca.d6f5e8","name":"partnertested","label":"Partner and Children tested?","scope":"encounter","key":"","datatype":"text","x":440,"y":260,"wires":[[]]},{"id":"5dd7f272.03fe14","type":"question-primitive","z":"822d45ca.d6f5e8","name":"date","label":"Date","scope":"encounter","key":"","datatype":"date","x":730,"y":80,"wires":[["4cbfcd87.f98ebc"]]},{"id":"9258df16.342648","type":"question-select","z":"822d45ca.d6f5e8","name":"","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":""}],"x":750,"y":200,"wires":[["84259304.b96e18"]]},{"id":"4cbfcd87.f98ebc","type":"height-weight","z":"822d45ca.d6f5e8","name":"","x":760,"y":140,"wires":[["9258df16.342648"]]},{"id":"84259304.b96e18","type":"question-primitive","z":"822d45ca.d6f5e8","name":"bmi","label":"Body mass index (kg/m^2)","scope":"encounter","key":"","datatype":"decimal","x":730,"y":260,"wires":[[]]},{"id":"431b4dd3.174324","type":"question-select","z":"ccc8e317.ff8cd","name":"stage","label":"WHO Stage","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Stage 1"},{"sid":"Stage 2"},{"sid":"Stage 3"},{"sid":"Stage 4"}],"x":370,"y":700,"wires":[["5cda3a3f.2896d4"]]},{"id":"309fe645.2a8fba","type":"question-primitive","z":"822d45ca.d6f5e8","name":"rpr","label":"RPR","scope":"encounter","key":"","datatype":"text","x":1030,"y":80,"wires":[["b4ee316a.a12048"]]},{"id":"b4ee316a.a12048","type":"question-primitive","z":"822d45ca.d6f5e8","name":"rpr date","label":"RPD Date","scope":"encounter","key":"","datatype":"date","x":1040,"y":140,"wires":[["e738fb19.dd96d8"]]},{"id":"e738fb19.dd96d8","type":"question-primitive","z":"822d45ca.d6f5e8","name":"other1","label":"Other 1","scope":"encounter","key":"","datatype":"text","x":1030,"y":200,"wires":[["5ed52bde.044394"]]},{"id":"5ed52bde.044394","type":"question-primitive","z":"822d45ca.d6f5e8","name":"other1 date","label":"Other 1 date","scope":"encounter","key":"","datatype":"date","x":1050,"y":260,"wires":[["ec1f708e.f0b81"]]},{"id":"ec1f708e.f0b81","type":"question-primitive","z":"822d45ca.d6f5e8","name":"other2","label":"Other 2","scope":"encounter","key":"","datatype":"text","x":1030,"y":320,"wires":[["8948e89e.d01958"]]},{"id":"8948e89e.d01958","type":"question-primitive","z":"822d45ca.d6f5e8","name":"other2 date","label":"Other 2 date","scope":"encounter","key":"","datatype":"date","x":1050,"y":380,"wires":[["928f5e24.cd64a8"]]},{"id":"928f5e24.cd64a8","type":"question-primitive","z":"822d45ca.d6f5e8","name":"tb treatments","label":"Past TB Regimens & Dates","scope":"encounter","key":"","datatype":"text","x":1060,"y":440,"wires":[[]]},{"id":"aa56e33e.694a58","type":"question-primitive","z":"822d45ca.d6f5e8","name":"interruption1","label":"1st Treatment Interruption Reason","scope":"encounter","key":"","datatype":"text","x":1350,"y":80,"wires":[["134850ac.b1bfe7"]]},{"id":"134850ac.b1bfe7","type":"question-primitive","z":"822d45ca.d6f5e8","name":"interruption1 date","label":"1st Treatment Interruption Date","scope":"encounter","key":"","datatype":"date","x":1370,"y":140,"wires":[["9e6dd4db.ab56c8"]]},{"id":"9e6dd4db.ab56c8","type":"question-primitive","z":"822d45ca.d6f5e8","name":"interruption2","label":"2nd Treatment Interruption Reason","scope":"encounter","key":"","datatype":"text","x":1350,"y":200,"wires":[["6075733c.6ae884"]]},{"id":"6075733c.6ae884","type":"question-primitive","z":"822d45ca.d6f5e8","name":"interruption2 date","label":"2nd Treatment Interruption Date","scope":"encounter","key":"","datatype":"date","x":1370,"y":260,"wires":[[]]},{"id":"f7ca2ef1.943588","type":"question-primitive","z":"822d45ca.d6f5e8","name":"treatment departure","label":"Treatment Departure Reason","scope":"encounter","key":"","datatype":"text","x":1640,"y":140,"wires":[[]]},{"id":"7153f7e6.c85028","type":"question-primitive","z":"822d45ca.d6f5e8","name":"treatment departure date","label":"Treatment Departure Date","scope":"encounter","key":"","datatype":"date","x":1650,"y":80,"wires":[["f7ca2ef1.943588"]]},{"id":"56269f66.d78ff","type":"question-primitive","z":"a1643e52.69ec58","name":"name","label":"Name","scope":"demographic","key":"","datatype":"text","x":190,"y":80,"wires":[["8555e461.fb86c"]]},{"id":"8555e461.fb86c","type":"question-primitive","z":"a1643e52.69ec58","name":"clientid","label":"Facility Client ID","scope":"demographic","key":"","datatype":"integer","x":200,"y":140,"wires":[["7b624999.7b36a"]]},{"id":"7b624999.7b36a","type":"question-primitive","z":"a1643e52.69ec58","name":"uniquecode","label":"Unique Code","scope":"demographic","key":"","datatype":"integer","x":210,"y":200,"wires":[["c495c5b8.64ada"]]},{"id":"c495c5b8.64ada","type":"demographic-birthdate","z":"a1643e52.69ec58","name":"","entrybyage":"","partialdate":"","x":200,"y":260,"wires":[["11b3883d.dbfc7"]]},{"id":"11b3883d.dbfc7","type":"question-primitive","z":"a1643e52.69ec58","name":"familymembername","label":"Name of Family Member","scope":"demographic","key":"","datatype":"text","x":240,"y":320,"wires":[["aa469a0e.1654b"]]},{"id":"aa469a0e.1654b","type":"question-select","z":"a1643e52.69ec58","name":"sex","label":"Sex","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":190,"y":380,"wires":[["b87511c8.2aad4"]]},{"id":"b87511c8.2aad4","type":"question-primitive","z":"a1643e52.69ec58","name":"contact","label":"Contact #","scope":"demographic","key":"","datatype":"text","x":200,"y":440,"wires":[[]]},{"id":"72a9c44d.ae699c","type":"subflow:a1643e52.69ec58","z":"822d45ca.d6f5e8","name":"Patient Identification","env":[],"x":130,"y":40,"wires":[[]]},{"id":"fcfaf434.b3f8f","type":"question-primitive","z":"9eba9893.b5ab6","name":"date confirmed HIV+","label":"Date Confirmed HIV+","scope":"encounter","key":"","datatype":"date","x":240,"y":80,"wires":[["75a05baf.3e7d44"]]},{"id":"75a05baf.3e7d44","type":"question-select","z":"9eba9893.b5ab6","name":"hivtype","label":"HIV Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["85db2847.d8394"]]},{"id":"85db2847.d8394","type":"question-primitive","z":"9eba9893.b5ab6","name":"referred from","label":"Referred from (coded)","scope":"encounter","key":"","datatype":"text","x":210,"y":200,"wires":[["369b84b5.91fe7c"]]},{"id":"369b84b5.91fe7c","type":"question-primitive","z":"9eba9893.b5ab6","name":"partnertested","label":"Partner and Children tested?","scope":"encounter","key":"","datatype":"boolean","x":220,"y":260,"wires":[[]]},{"id":"e3681105.f7d0a","type":"subflow:9eba9893.b5ab6","z":"822d45ca.d6f5e8","x":460,"y":40,"wires":[[]]},{"id":"388199af.c68f26","type":"question-primitive","z":"c44a39a9.c6ae6","name":"date","label":"Date","scope":"encounter","key":"","datatype":"date","x":190,"y":80,"wires":[["f5c6d144.75a92"]]},{"id":"f5c6d144.75a92","type":"height-weight","z":"c44a39a9.c6ae6","name":"","x":220,"y":140,"wires":[["9bc52e4e.e24b88"]]},{"id":"9bc52e4e.e24b88","type":"question-primitive","z":"c44a39a9.c6ae6","name":"bmi","label":"Body mass index (kg/m^2)","scope":"encounter","key":"","datatype":"decimal","x":190,"y":260,"wires":[[]]},{"id":"2c7df330.bc0954","type":"subflow:c44a39a9.c6ae6","z":"822d45ca.d6f5e8","x":760,"y":40,"wires":[[]]},{"id":"af94a681.5c5f4","type":"question-primitive","z":"e95b8a2f.2a804","name":"rpr","label":"RPR","scope":"encounter","key":"","datatype":"text","x":190,"y":80,"wires":[["6c2dc748.aa9148"]]},{"id":"6c2dc748.aa9148","type":"question-primitive","z":"e95b8a2f.2a804","name":"rpr date","label":"RPD Date","scope":"encounter","key":"","datatype":"date","x":200,"y":140,"wires":[["fc29a7b4.229698"]]},{"id":"fc29a7b4.229698","type":"question-primitive","z":"e95b8a2f.2a804","name":"other1 lab","label":"Other Lab 1","scope":"encounter","key":"","datatype":"text","x":200,"y":200,"wires":[["338eed57.89c7a2"]]},{"id":"338eed57.89c7a2","type":"question-primitive","z":"e95b8a2f.2a804","name":"other1 lab date","label":"Other Lab 1 date","scope":"encounter","key":"","datatype":"date","x":220,"y":260,"wires":[["9dce0601.a1114"]]},{"id":"9dce0601.a1114","type":"question-primitive","z":"e95b8a2f.2a804","name":"other2 lab","label":"Other 2 Lab","scope":"encounter","key":"","datatype":"text","x":200,"y":320,"wires":[["be098554.4adff"]]},{"id":"be098554.4adff","type":"question-primitive","z":"e95b8a2f.2a804","name":"other2 lab date","label":"Other 2 Lab date","scope":"encounter","key":"","datatype":"date","x":220,"y":380,"wires":[["1d0d3e47.b7d02a"]]},{"id":"1d0d3e47.b7d02a","type":"question-primitive","z":"e95b8a2f.2a804","name":"tb treatments","label":"Past TB Regimens & Dates","scope":"encounter","key":"","datatype":"text","x":220,"y":440,"wires":[[]]},{"id":"4a817748.7be378","type":"subflow:e95b8a2f.2a804","z":"822d45ca.d6f5e8","x":1090,"y":40,"wires":[[]]},{"id":"ed2ea718.e51d28","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption1","label":"1st Treatment Interruption Reason","scope":"encounter","key":"","datatype":"text","x":190,"y":80,"wires":[["56715cbb.069e0c"]]},{"id":"56715cbb.069e0c","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption1 date","label":"1st Treatment Interruption Date","scope":"encounter","key":"","datatype":"date","x":210,"y":140,"wires":[["f6eedc09.bfb8"]]},{"id":"f6eedc09.bfb8","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption2","label":"2nd Treatment Interruption Reason","scope":"encounter","key":"","datatype":"text","x":190,"y":200,"wires":[["82665184.30463"]]},{"id":"82665184.30463","type":"question-primitive","z":"86b75ff7.b31198","name":"interruption2 date","label":"2nd Treatment Interruption Date","scope":"encounter","key":"","datatype":"date","x":210,"y":260,"wires":[[]]},{"id":"8d211ee1.a007","type":"subflow:86b75ff7.b31198","z":"822d45ca.d6f5e8","name":"","env":[],"x":1400,"y":40,"wires":[[]]},{"id":"4fe9ce0e.405ac8","type":"question-primitive","z":"1c8e387f.c41f88","name":"treatment departure","label":"Treatment Departure Reason","scope":"encounter","key":"","datatype":"text","x":200,"y":140,"wires":[[]]},{"id":"7039070c.3ad958","type":"question-primitive","z":"1c8e387f.c41f88","name":"treatment departure date","label":"Treatment Departure Date","scope":"encounter","key":"","datatype":"date","x":210,"y":80,"wires":[["4fe9ce0e.405ac8"]]},{"id":"7f9c3ecb.a73188","type":"subflow:1c8e387f.c41f88","z":"822d45ca.d6f5e8","name":"","env":[],"x":1650,"y":40,"wires":[[]]},{"id":"88d1826d.968e4","type":"question-primitive","z":"822d45ca.d6f5e8","name":"stage1 date","label":"WHO Stage 1 Date","scope":"encounter","key":"","datatype":"date","x":1910,"y":100,"wires":[[]]},{"id":"555f5e40.a7bad","type":"question-primitive","z":"822d45ca.d6f5e8","name":"stage2 date","label":"WHO Stage 2 Date","scope":"encounter","key":"","datatype":"date","x":1910,"y":160,"wires":[[]]},{"id":"e23084d8.665878","type":"question-primitive","z":"822d45ca.d6f5e8","name":"stage3 date","label":"WHO Stage 3 Date","scope":"encounter","key":"","datatype":"date","x":1910,"y":220,"wires":[[]]},{"id":"aaec2662.a1d048","type":"question-primitive","z":"822d45ca.d6f5e8","name":"stage4 date","label":"WHO Stage 4 Date","scope":"encounter","key":"","datatype":"date","x":1910,"y":280,"wires":[[]]},{"id":"52a25e32.945718","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage1 date","label":"WHO Stage 1 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":80,"wires":[["da03c42e.a93a1"]]},{"id":"da03c42e.a93a1","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage2 date","label":"WHO Stage 2 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":140,"wires":[["c1b34a16.490578"]]},{"id":"c1b34a16.490578","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage3 date","label":"WHO Stage 3 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":200,"wires":[["d0aa055d.d853b8"]]},{"id":"d0aa055d.d853b8","type":"question-primitive","z":"e2e7ca08.3b41","name":"stage4 date","label":"WHO Stage 4 Date","scope":"encounter","key":"","datatype":"date","x":190,"y":260,"wires":[[]]},{"id":"827b5783.a85e28","type":"subflow:e2e7ca08.3b41","z":"822d45ca.d6f5e8","name":"","env":[],"x":1920,"y":40,"wires":[[]]},{"id":"f4f5ef9f.1979e","type":"question-primitive","z":"822d45ca.d6f5e8","name":"startdate","label":"Date Started","scope":"encounter","key":"","datatype":"date","x":2160,"y":100,"wires":[["31357b88.76b24c"]]},{"id":"31357b88.76b24c","type":"question-select","z":"822d45ca.d6f5e8","name":"initial regimen","label":"Initial Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2180,"y":160,"wires":[["44afbde5.9d69bc"]]},{"id":"44afbde5.9d69bc","type":"question-select","z":"822d45ca.d6f5e8","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2230,"y":220,"wires":[["5120cf7b.ec786"]]},{"id":"5120cf7b.ec786","type":"question-primitive","z":"822d45ca.d6f5e8","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","scope":"encounter","key":"","datatype":"text","x":2230,"y":280,"wires":[["43bc2ff9.36ef3"]]},{"id":"43bc2ff9.36ef3","type":"question-primitive","z":"822d45ca.d6f5e8","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","scope":"encounter","key":"","datatype":"date","x":2220,"y":340,"wires":[["a59133f6.e042"]]},{"id":"a59133f6.e042","type":"question-select","z":"822d45ca.d6f5e8","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2240,"y":400,"wires":[["3b198f4e.4f75c"]]},{"id":"3b198f4e.4f75c","type":"question-primitive","z":"822d45ca.d6f5e8","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","scope":"encounter","key":"","datatype":"text","x":2230,"y":460,"wires":[["91888905.8f43f"]]},{"id":"91888905.8f43f","type":"question-primitive","z":"822d45ca.d6f5e8","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","scope":"encounter","key":"","datatype":"date","x":2220,"y":520,"wires":[["1ee6e342.2239ed"]]},{"id":"1ee6e342.2239ed","type":"question-select","z":"822d45ca.d6f5e8","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2240,"y":580,"wires":[["3ec4fef0.534f82"]]},{"id":"3ec4fef0.534f82","type":"question-primitive","z":"822d45ca.d6f5e8","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","scope":"encounter","key":"","datatype":"text","x":2230,"y":640,"wires":[["7ff68aac.4125f4"]]},{"id":"7ff68aac.4125f4","type":"question-primitive","z":"822d45ca.d6f5e8","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","scope":"encounter","key":"","datatype":"date","x":2220,"y":700,"wires":[["c5c81172.5fb488"]]},{"id":"c5c81172.5fb488","type":"question-select","z":"822d45ca.d6f5e8","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":2240,"y":760,"wires":[["e0f942f8.337368"]]},{"id":"e0f942f8.337368","type":"question-primitive","z":"822d45ca.d6f5e8","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","scope":"encounter","key":"","datatype":"text","x":2230,"y":820,"wires":[["e0db4a14.7833d"]]},{"id":"e0db4a14.7833d","type":"question-primitive","z":"822d45ca.d6f5e8","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","scope":"encounter","key":"","datatype":"date","x":2230,"y":880,"wires":[[]]},{"id":"f318e98c.757928","type":"question-primitive","z":"3cffefd8.654f6","name":"startdate","label":"Date Started","scope":"encounter","key":"","datatype":"date","x":200,"y":80,"wires":[["5a8950ca.280e38"]]},{"id":"5a8950ca.280e38","type":"question-select","z":"3cffefd8.654f6","name":"initial regimen","label":"Initial Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":220,"y":140,"wires":[["aa85dc3e.255ca"]]},{"id":"aa85dc3e.255ca","type":"question-select","z":"3cffefd8.654f6","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":270,"y":200,"wires":[["71df6c0d.305864"]]},{"id":"71df6c0d.305864","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","scope":"encounter","key":"","datatype":"text","x":270,"y":260,"wires":[["a81911bd.b7966"]]},{"id":"a81911bd.b7966","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","scope":"encounter","key":"","datatype":"date","x":260,"y":320,"wires":[["1ae30506.e4bedb"]]},{"id":"1ae30506.e4bedb","type":"question-select","z":"3cffefd8.654f6","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":280,"y":380,"wires":[["5249124e.1e61cc"]]},{"id":"5249124e.1e61cc","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","scope":"encounter","key":"","datatype":"text","x":270,"y":440,"wires":[["bb6b2b3e.886ca8"]]},{"id":"bb6b2b3e.886ca8","type":"question-primitive","z":"3cffefd8.654f6","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","scope":"encounter","key":"","datatype":"date","x":260,"y":500,"wires":[["4056f450.4d7114"]]},{"id":"4056f450.4d7114","type":"question-select","z":"3cffefd8.654f6","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":200,"wires":[["e4e8fa63.521778"]]},{"id":"e4e8fa63.521778","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","scope":"encounter","key":"","datatype":"text","x":650,"y":260,"wires":[["bd5dfea8.3979f8"]]},{"id":"bd5dfea8.3979f8","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","scope":"encounter","key":"","datatype":"date","x":640,"y":320,"wires":[["cdd68008.98d8c8"]]},{"id":"cdd68008.98d8c8","type":"question-select","z":"3cffefd8.654f6","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":380,"wires":[["447fbe02.ebe208"]]},{"id":"447fbe02.ebe208","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","scope":"encounter","key":"","datatype":"text","x":650,"y":440,"wires":[["7c5a4eee.45416"]]},{"id":"7c5a4eee.45416","type":"question-primitive","z":"3cffefd8.654f6","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","scope":"encounter","key":"","datatype":"date","x":650,"y":500,"wires":[[]]},{"id":"18177a5d.16415e","type":"subflow:3cffefd8.654f6","z":"822d45ca.d6f5e8","name":"","env":[],"x":2180,"y":40,"wires":[[]]},{"id":"622965bb.6c36c4","type":"find-patient","z":"32b25cd2.550b44","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":510,"y":300,"wires":[["d0d19198.94682"]]},{"id":"7d7c9bb2.664b24","type":"end-flow","z":"32b25cd2.550b44","name":"","x":500,"y":1440,"wires":[]},{"id":"3ad2b71e.f6a01","type":"question-primitive","z":"32b25cd2.550b44","name":"weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":490,"y":720,"wires":[["267a613a.a6c526"]]},{"id":"d0d19198.94682","type":"question-select","z":"32b25cd2.550b44","name":"scheduled","label":"scheduled visit","scope":"encounter","key":"","devices":[{"sid":"Yes"},{"sid":"No"}],"x":510,"y":360,"wires":[["5906c324.5ca634"]]},{"id":"26fee490.019894","type":"question-select","z":"32b25cd2.550b44","name":"reason","label":"reason","scope":"encounter","key":"","devices":[{"sid":"0: Follow up/Refill"},{"sid":"1: Nausea"},{"sid":"2: Diarrhea"},{"sid":"3: Fatigue"},{"sid":"4: Headache"},{"sid":"5: Rash"},{"sid":"6: Anaemia"},{"sid":"7: Burning, Numbing, Tingling"},{"sid":"8: Dizziness, Sleeplessness, Nightmare, Depression"},{"sid":"9: Abdominal Pain"},{"sid":"10: Fat Changes"},{"sid":"11: Jaundice"},{"sid":"12: Fever"},{"sid":"13: Wt. Loss"},{"sid":"14: Cough"},{"sid":"15: Poor Appetite"},{"sid":"16: Other"}],"x":490,"y":480,"wires":[["6aecd09f.ad836"]]},{"id":"6aecd09f.ad836","type":"question-select","z":"32b25cd2.550b44","name":"adherence","label":"Adherence","scope":"encounter","key":"","devices":[{"sid":"1: Good (Missed less than 3 doses / month)"},{"sid":"2: Fair (Missed 5-8 doses / month)"},{"sid":"3: Poor (Missed more than 9 doses / month)"}],"x":510,"y":540,"wires":[["a6e069d9.773e8"]]},{"id":"cb9b06c3.54caa","type":"question-primitive","z":"32b25cd2.550b44","name":"height","label":"Height","scope":"encounter","key":"","datatype":"integer","x":490,"y":660,"wires":[["3ad2b71e.f6a01"]]},{"id":"b0219ada.59995","type":"question-primitive","z":"32b25cd2.550b44","name":"muac","label":"MUAC","scope":"encounter","key":"","datatype":"decimal","x":650,"y":600,"wires":[["3ad2b71e.f6a01"]]},{"id":"5f952378.eb4764","type":"question-primitive","z":"32b25cd2.550b44","name":"lmp or edd","label":"LMP or EDD","scope":"encounter","key":"","datatype":"integer","x":670,"y":780,"wires":[["e9998fb8.fa8958"]]},{"id":"e9998fb8.fa8958","type":"question-select","z":"32b25cd2.550b44","name":"tb status","label":"TB Status","scope":"encounter","key":"","devices":[{"sid":"1: No Signs (Cough, Fever, wt lose)"},{"sid":"2: Suspected"},{"sid":"3: Confirmed, but not on treatment yet"},{"sid":"4: Currently on treatment"},{"sid":"5: Past treatment"}],"x":500,"y":840,"wires":[["cc3b5e5f.b655b"]]},{"id":"cc3b5e5f.b655b","type":"question-select","z":"32b25cd2.550b44","name":"conditions","label":"AIDS Associated Conditions","scope":"encounter","key":"","devices":[{"sid":"1: Herpes Zoster"},{"sid":"2: Oral Candidiasis"},{"sid":"3: Pulmonary TB"},{"sid":"4: ???"},{"sid":"5: Anemia"},{"sid":"6: Giardia"},{"sid":"7: PCP"},{"sid":"8: Cryptococcal Meningitis"},{"sid":"9: Esophageal Candidiasis"},{"sid":"10: Kaposi Sarcoma"},{"sid":"11: Herpes Simplex"},{"sid":"12: Chronic Diarrhea"},{"sid":"13: Toxoplasmosis"},{"sid":"14: Other"},{"sid":"15: None"},{"sid":"16: Extra Pulmonary TB"}],"x":510,"y":900,"wires":[["9bd4dcb9.756fa"]]},{"id":"9bd4dcb9.756fa","type":"question-select","z":"32b25cd2.550b44","name":"functional status","label":"Functional Status","scope":"encounter","key":"","devices":[{"sid":"1: Normal"},{"sid":"2: Ambulatory"},{"sid":"3: Bedridden"}],"x":520,"y":960,"wires":[["e13bfaea.8aa078"]]},{"id":"7d15d3b7.f4dc2c","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: CD4 Count","x":520,"y":1080,"wires":[["86c8f644.4493a"]]},{"id":"86c8f644.4493a","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: ALT","x":680,"y":1080,"wires":[["eabd1371.ed2498"]]},{"id":"eabd1371.ed2498","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: HB","x":820,"y":1080,"wires":[["6927d38.fd091ac"]]},{"id":"6927d38.fd091ac","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: Creatinine","x":980,"y":1080,"wires":[["d3b82f5c.46f5d8"]]},{"id":"d3b82f5c.46f5d8","type":"question-primitive","z":"32b25cd2.550b44","name":"ctx","label":"CTX Dose","scope":"encounter","key":"","datatype":"integer","x":490,"y":1140,"wires":[["4005bb7f.50ba04"]]},{"id":"e5ca1440.ef502","type":"question-select","z":"32b25cd2.550b44","name":"regimen (adult)","label":"ART Regimen","scope":"encounter","key":"","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":520,"y":1260,"wires":[["f1040052.3beb"]]},{"id":"4278e9f9.7da9f8","type":"question-select","z":"32b25cd2.550b44","name":"regimen (child)","label":"ART Regimen","scope":"encounter","key":"","devices":[{"sid":"3a"},{"sid":"3b"},{"sid":"3c"},{"sid":"3d"},{"sid":"3e"},{"sid":"3f"},{"sid":"3g"},{"sid":"3h"},{"sid":"3i"},{"sid":"5a"},{"sid":"5b"},{"sid":"5c"}],"x":700,"y":1200,"wires":[["f1040052.3beb"]]},{"id":"f1040052.3beb","type":"next-appointment","z":"32b25cd2.550b44","name":"","defaultperiod":"","x":530,"y":1320,"wires":[["37742e00.6f253a"]]},{"id":"37742e00.6f253a","type":"question-primitive","z":"32b25cd2.550b44","name":"comments","label":"Comments","scope":"encounter","key":"","datatype":"text","x":510,"y":1380,"wires":[["7d7c9bb2.664b24"]]},{"id":"e13bfaea.8aa078","type":"question-select","z":"32b25cd2.550b44","name":"stage","label":"WHO Stage","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Stage 1"},{"sid":"Stage 2"},{"sid":"Stage 3"},{"sid":"Stage 4"}],"x":490,"y":1020,"wires":[["7d15d3b7.f4dc2c"]]},{"id":"555d0270.ba7e44","type":"register-patient","z":"32b25cd2.550b44","name":"","x":520,"y":180,"wires":[["e920ee20.5cc31"]]},{"id":"ed2781ab.86bce","type":"subflow:a1643e52.69ec58","z":"32b25cd2.550b44","name":"","env":[],"x":770,"y":240,"wires":[["ae75a1ed.89b61"]]},{"id":"e1cac088.0a7818","type":"subflow:9eba9893.b5ab6","z":"32b25cd2.550b44","name":"","env":[],"x":1120,"y":240,"wires":[["3a13082c.2679"]]},{"id":"715bef7.f1d271","type":"subflow:c44a39a9.c6ae6","z":"32b25cd2.550b44","name":"","env":[],"x":1510,"y":240,"wires":[["ccdc827b.da0fa8"]]},{"id":"d11f0b76.167068","type":"subflow:e2e7ca08.3b41","z":"32b25cd2.550b44","name":"","env":[],"x":760,"y":300,"wires":[["5db553c1.1d924c"]]},{"id":"30c40aed.6ba416","type":"subflow:e95b8a2f.2a804","z":"32b25cd2.550b44","name":"","env":[],"x":1900,"y":240,"wires":[["3d5e5d6a.d8877a"]]},{"id":"76e2ce6.9eb9fb","type":"subflow:3cffefd8.654f6","z":"32b25cd2.550b44","name":"","env":[],"x":1060,"y":300,"wires":[["67ae3d80.92a74c"]]},{"id":"52b92679.56b5f8","type":"subflow:86b75ff7.b31198","z":"32b25cd2.550b44","name":"","env":[],"x":1390,"y":300,"wires":[["f57ff541.e249a"]]},{"id":"b9cd3c10.1766b","type":"subflow:1c8e387f.c41f88","z":"32b25cd2.550b44","name":"","env":[],"x":1750,"y":300,"wires":[["5906c324.5ca634"]]},{"id":"5906c324.5ca634","type":"question-primitive","z":"32b25cd2.550b44","name":"date","label":"Date","scope":"encounter","key":"","datatype":"date","x":490,"y":420,"wires":[["26fee490.019894"]]},{"id":"52c625e7.065abc","type":"question-primitive","z":"21ab2f94.f2bee","name":"ART Register Book","label":"ART Register Book TBD","scope":"encounter","key":"","datatype":"text","x":210,"y":40,"wires":[[]]},{"id":"a5fb0957.d42308","type":"subflow:21ab2f94.f2bee","z":"32b25cd2.550b44","name":"","env":[],"x":1110,"y":180,"wires":[["29c2eb3.6186014"]]},{"id":"49dba4ec.e9cdac","type":"question-primitive","z":"3589d1ce.0e5f66","name":"preart","label":"Pre-ART Register TBD","scope":"encounter","key":"","datatype":"text","x":190,"y":80,"wires":[[]]},{"id":"e920ee20.5cc31","type":"subflow:3589d1ce.0e5f66","z":"32b25cd2.550b44","name":"","env":[],"x":780,"y":180,"wires":[["b3327741.13ff48"]]},{"id":"b3327741.13ff48","type":"summary","z":"32b25cd2.550b44","name":"todo","x":950,"y":180,"wires":[["a5fb0957.d42308"]]},{"id":"29c2eb3.6186014","type":"summary","z":"32b25cd2.550b44","name":"todo","x":1270,"y":180,"wires":[["ed2781ab.86bce"]]},{"id":"3d5e5d6a.d8877a","type":"summary","z":"32b25cd2.550b44","name":"todo","x":2090,"y":240,"wires":[["d11f0b76.167068"]]},{"id":"5db553c1.1d924c","type":"summary","z":"32b25cd2.550b44","name":"todo","x":910,"y":300,"wires":[["76e2ce6.9eb9fb"]]},{"id":"67ae3d80.92a74c","type":"summary","z":"32b25cd2.550b44","name":"todo","x":1210,"y":300,"wires":[["52b92679.56b5f8"]]},{"id":"f57ff541.e249a","type":"summary","z":"32b25cd2.550b44","name":"todo","x":1570,"y":300,"wires":[["b9cd3c10.1766b"]]},{"id":"ccdc827b.da0fa8","type":"summary","z":"32b25cd2.550b44","name":"todo","x":1710,"y":240,"wires":[["30c40aed.6ba416"]]},{"id":"3a13082c.2679","type":"summary","z":"32b25cd2.550b44","name":"todo","x":1310,"y":240,"wires":[["715bef7.f1d271"]]},{"id":"ae75a1ed.89b61","type":"summary","z":"32b25cd2.550b44","name":"todo","x":930,"y":240,"wires":[["e1cac088.0a7818"]]},{"id":"a9d716e9.ba1fd8","type":"question-select","z":"ccc8e317.ff8cd","name":"pregnant","label":"Are you pregnant?","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Yes"},{"sid":"No"}],"x":520,"y":400,"wires":[["9cb53e9c.b68a4"]]},{"id":"a6e069d9.773e8","type":"switch","z":"32b25cd2.550b44","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":600,"wires":[["b0219ada.59995"],["cb9b06c3.54caa"]]},{"id":"4005bb7f.50ba04","type":"switch","z":"32b25cd2.550b44","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) < 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) >= 5","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":490,"y":1200,"wires":[["4278e9f9.7da9f8"],["e5ca1440.ef502"]]},{"id":"267a613a.a6c526","type":"switch","z":"32b25cd2.550b44","name":"pregnant","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='Yes'","vt":"str"},{"t":"eq","v":"currentPatient.currentEncounter.pregnant_text=='No'","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":500,"y":780,"wires":[["5f952378.eb4764"],["e9998fb8.fa8958"]]},{"id":"d2af5409.a60128","type":"comment","z":"24d48d2.d3ad672","name":"Exp Infant Chart - Child","info":"","x":220,"y":60,"wires":[]},{"id":"f6371c4d.b49a8","type":"question-primitive","z":"24d48d2.d3ad672","name":"Unique Code","label":"Unique Code","scope":"encounter","key":"","datatype":"string","x":220,"y":100,"wires":[["1ebb4475.27813c"]]},{"id":"1ebb4475.27813c","type":"question-primitive","z":"24d48d2.d3ad672","name":"Facility Client #","label":"Facility Client #","scope":"encounter","key":"","datatype":"string","x":220,"y":140,"wires":[["d1b32c72.ac4ce"]]},{"id":"d1b32c72.ac4ce","type":"question-primitive","z":"24d48d2.d3ad672","name":"Transfer-In Date","label":"Transfer-In Date","scope":"encounter","key":"","datatype":"date","x":220,"y":180,"wires":[["3cec99e8.8c4006"]]},{"id":"3cec99e8.8c4006","type":"question-primitive","z":"24d48d2.d3ad672","name":"Birth Cohort","label":"Birth Cohort","scope":"encounter","key":"","datatype":"string","x":220,"y":220,"wires":[["69ff8b09.d690e4"]]},{"id":"69ff8b09.d690e4","type":"question-primitive","z":"24d48d2.d3ad672","name":"Child Name","label":"Child Name","scope":"encounter","key":"","datatype":"string","x":220,"y":260,"wires":[["40a5882c.2cbb18"]]},{"id":"40a5882c.2cbb18","type":"question-select","z":"24d48d2.d3ad672","name":"Sex","label":"Sex","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"M"},{"sid":"F"}],"x":220,"y":300,"wires":[["b095f933.ef4758"]]},{"id":"b095f933.ef4758","type":"question-primitive","z":"24d48d2.d3ad672","name":"Guardian Name","label":"Guardian Name","scope":"encounter","key":"","datatype":"string","x":220,"y":340,"wires":[["124123c5.d014ac"]]},{"id":"124123c5.d014ac","type":"question-primitive","z":"24d48d2.d3ad672","name":"Physical Address","label":"Physical Address","scope":"encounter","key":"","datatype":"string","x":220,"y":380,"wires":[["451fcdd0.516cd4"]]},{"id":"451fcdd0.516cd4","type":"question-select","z":"24d48d2.d3ad672","name":"Agree to FUP","label":"Agree to FUP","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":220,"y":420,"wires":[["a436bde7.2cb9e"]]},{"id":"a436bde7.2cb9e","type":"question-primitive","z":"24d48d2.d3ad672","name":"Guardian Relation","label":"Guardian Relation","scope":"encounter","key":"","datatype":"string","x":220,"y":460,"wires":[["ee8d0c1f.598c"]]},{"id":"ee8d0c1f.598c","type":"question-primitive","z":"24d48d2.d3ad672","name":"Guardian Phone","label":"Guardian Phone","scope":"encounter","key":"","datatype":"decimal","x":220,"y":500,"wires":[[]]},{"id":"568a2639.0cdb18","type":"comment","z":"24d48d2.d3ad672","name":"Exp Infant Chart - Status","info":"","x":510,"y":60,"wires":[]},{"id":"f34d0096.a1a04","type":"question-primitive","z":"24d48d2.d3ad672","name":"ART Reg No","label":"ART Reg No","scope":"encounter","key":"","datatype":"string","x":510,"y":100,"wires":[["a7a50c05.1d4bd"]]},{"id":"a7a50c05.1d4bd","type":"question-primitive","z":"24d48d2.d3ad672","name":"ART Start Date","label":"ART Start Date","scope":"encounter","key":"","datatype":"date","x":510,"y":140,"wires":[["6f487a77.d170f4"]]},{"id":"6f487a77.d170f4","type":"question-primitive","z":"24d48d2.d3ad672","name":"Child Age - At enrolment","label":"Child Age - At enrolment","scope":"encounter","key":"","datatype":"decimal","x":510,"y":180,"wires":[["ddc5fe2a.74126"]]},{"id":"ddc5fe2a.74126","type":"question-primitive","z":"24d48d2.d3ad672","name":"Child age - When starting NVP","label":"Child age - When starting NVP","scope":"encounter","key":"","datatype":"decimal","x":510,"y":220,"wires":[["118c9946.f0fc37"]]},{"id":"118c9946.f0fc37","type":"question-primitive","z":"24d48d2.d3ad672","name":"NVP duration","label":"NVP duration","scope":"encounter","key":"","datatype":"decimal","x":510,"y":260,"wires":[[]]},{"id":"476a2916.fee688","type":"comment","z":"24d48d2.d3ad672","name":"Exp Infant Chart - HIV Testing","info":"","x":820,"y":60,"wires":[]},{"id":"1caf3e95.769c01","type":"question-primitive","z":"24d48d2.d3ad672","name":"Sample Date","label":"Sample Date","scope":"encounter","key":"","datatype":"date","x":820,"y":100,"wires":[["931a0992.2b4dd8"]]},{"id":"931a0992.2b4dd8","type":"question-select","z":"24d48d2.d3ad672","name":"Type","label":"Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"DBS"},{"sid":"RT"}],"x":820,"y":140,"wires":[["2933994d.e49fc6"]]},{"id":"2933994d.e49fc6","type":"question-primitive","z":"24d48d2.d3ad672","name":"Sample ID/HCT","label":"Sample ID/HCT","scope":"encounter","key":"","datatype":"date","x":820,"y":180,"wires":[["ac82542d.aab178"]]},{"id":"ac82542d.aab178","type":"question-select","z":"24d48d2.d3ad672","name":"Result","label":"Result","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Neg"},{"sid":"Pos"},{"sid":"Inc"}],"x":820,"y":220,"wires":[["5585d1a1.13369"]]},{"id":"5585d1a1.13369","type":"question-primitive","z":"24d48d2.d3ad672","name":"From lab","label":"From lab","scope":"encounter","key":"","datatype":"string","x":820,"y":260,"wires":[["f4d3421b.b4a2c"]]},{"id":"f4d3421b.b4a2c","type":"question-primitive","z":"24d48d2.d3ad672","name":"tests","label":"tests","scope":"encounter","key":"","datatype":"string","x":820,"y":300,"wires":[[]]},{"id":"3d588538.df339a","type":"comment","z":"24d48d2.d3ad672","name":"Exp Infant Chart","info":"","x":240,"y":560,"wires":[]},{"id":"c2173417.7718b8","type":"question-primitive","z":"24d48d2.d3ad672","name":"Visit Date","label":"Visit Date","scope":"encounter","key":"","datatype":"date","x":240,"y":640,"wires":[["1f3817c1.d07ad8"]]},{"id":"1f3817c1.d07ad8","type":"question-primitive","z":"24d48d2.d3ad672","name":"Height","label":"Height","scope":"encounter","key":"","datatype":"decimal","x":240,"y":680,"wires":[["b66810d6.d8531"]]},{"id":"b66810d6.d8531","type":"question-primitive","z":"24d48d2.d3ad672","name":"Weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":240,"y":720,"wires":[["744fcf8f.a1ff2"]]},{"id":"63457194.c6fe9","type":"question-primitive","z":"24d48d2.d3ad672","name":"MUAC","label":"MUAC","scope":"encounter","key":"","datatype":"decimal","x":450,"y":760,"wires":[["7f7b2955.2cca08"]]},{"id":"7f7b2955.2cca08","type":"question-select","z":"24d48d2.d3ad672","name":"Wasting/Malnutrition (based on Wt/Hgt or MUAC)","label":"Wasting/Malnutrition (based on Wt/Hgt or MUAC)","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Mod"},{"sid":"Sev"}],"x":240,"y":800,"wires":[["a8ea4369.ff411"]]},{"id":"a8ea4369.ff411","type":"question-select","z":"24d48d2.d3ad672","name":"Breast feeding","label":"Breast feeding","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Ongoing - Exclusive"},{"sid":"Ongoing - Mixed/Complementary"},{"sid":"Stopped - In last 6 weeks"},{"sid":"Stopped - Over 6 weeks age"}],"x":240,"y":840,"wires":[["61d5496d.26bc18"]]},{"id":"61d5496d.26bc18","type":"question-select","z":"24d48d2.d3ad672","name":"Mother Status","label":"Mother Status","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Not On ART"},{"sid":"ART Adherent"},{"sid":"Died"},{"sid":"Unknown"}],"x":240,"y":880,"wires":[["cfa53a0d.6503d8"]]},{"id":"cfa53a0d.6503d8","type":"question-select","z":"24d48d2.d3ad672","name":"Clinical Monitoring","label":"Clinical Monitoring","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No Abnorm. Det"},{"sid":"Any sickness"}],"x":240,"y":920,"wires":[["6d18c587.64ab0c"]]},{"id":"6d18c587.64ab0c","type":"question-select","z":"24d48d2.d3ad672","name":"HIV Testing","label":"HIV Testing","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Not done"},{"sid":"DBS taken (PCR)"},{"sid":"Rapid test done"}],"x":240,"y":960,"wires":[["e2cd7080.feef2"]]},{"id":"e2cd7080.feef2","type":"question-select","z":"24d48d2.d3ad672","name":"HIV Infection","label":"HIV Infection","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Confirmed - Not infected"},{"sid":"Confirmed - Infected ART"},{"sid":"Not confirmed - Not ART eligible"},{"sid":"Not confirmed - PSHD"}],"x":240,"y":1000,"wires":[["b3ae5679.439af8"]]},{"id":"b3ae5679.439af8","type":"question-primitive","z":"24d48d2.d3ad672","name":"CPT given (ml/tabs)","label":"CPT given (ml/tabs)","scope":"encounter","key":"","datatype":"decimal","x":240,"y":1040,"wires":[["da176717.0ebb78"]]},{"id":"da176717.0ebb78","type":"question-select","z":"24d48d2.d3ad672","name":"Follow-Up Outcome","label":"Follow-Up Outcome","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Continnue FUP"},{"sid":"Discharge Uninfected"},{"sid":"Started ART"},{"sid":"Transfer out"},{"sid":"Defaulted"},{"sid":"Died"}],"x":240,"y":1080,"wires":[["b64405c0.43bc68"]]},{"id":"b64405c0.43bc68","type":"question-primitive","z":"24d48d2.d3ad672","name":"Next appointment/Outcome Date","label":"Next appointment/Outcome Date","scope":"encounter","key":"","datatype":"date","x":240,"y":1120,"wires":[[]]},{"id":"ca19e5d5.de6b68","type":"comment","z":"754804bf.8aba7c","name":"ART Chart - Patient","info":"","x":170,"y":40,"wires":[]},{"id":"2dbd9e3e.3bf552","type":"question-primitive","z":"754804bf.8aba7c","name":"Unique Code","label":"Unique Code","scope":"encounter","key":"","datatype":"string","x":170,"y":80,"wires":[["c2776c4b.e4518"]]},{"id":"c2776c4b.e4518","type":"question-primitive","z":"754804bf.8aba7c","name":"Transfer-In Date","label":"Transfer-In Date","scope":"encounter","key":"","datatype":"date","x":170,"y":120,"wires":[["19373dee.e23952"]]},{"id":"19373dee.e23952","type":"question-primitive","z":"754804bf.8aba7c","name":"Facility Client #","label":"Facility Client #","scope":"encounter","key":"","datatype":"string","x":170,"y":160,"wires":[["1e25878b.ad5188"]]},{"id":"1e25878b.ad5188","type":"question-primitive","z":"754804bf.8aba7c","name":"Cohort #","label":"Cohort #","scope":"encounter","key":"","datatype":"decimal","x":170,"y":200,"wires":[["55e9b0a6.a028e"]]},{"id":"55e9b0a6.a028e","type":"question-primitive","z":"754804bf.8aba7c","name":"Patient Name","label":"Patient Name","scope":"encounter","key":"","datatype":"string","x":170,"y":240,"wires":[["c513e11d.fad3a"]]},{"id":"c513e11d.fad3a","type":"question-select","z":"754804bf.8aba7c","name":"Sex","label":"Sex","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"M"},{"sid":"F"}],"x":170,"y":280,"wires":[["bdeee25a.6c087"]]},{"id":"bdeee25a.6c087","type":"question-primitive","z":"754804bf.8aba7c","name":"BirthDate","label":"BirthDate","scope":"encounter","key":"","datatype":"date","x":170,"y":320,"wires":[["2fce2eaf.365542"]]},{"id":"2fce2eaf.365542","type":"question-primitive","z":"754804bf.8aba7c","name":"Detailed Physical Address","label":"Detailed Physical Address","scope":"encounter","key":"","datatype":"string","x":170,"y":360,"wires":[["7bf291d4.2835e"]]},{"id":"7bf291d4.2835e","type":"question-primitive","z":"754804bf.8aba7c","name":"Guardian Name","label":"Guardian Name","scope":"encounter","key":"","datatype":"string","x":170,"y":400,"wires":[["9b199d9e.aef82"]]},{"id":"9b199d9e.aef82","type":"question-primitive","z":"754804bf.8aba7c","name":"Phone Patient","label":"Phone Patient","scope":"encounter","key":"","datatype":"decimal","x":170,"y":440,"wires":[["8b3c94d8.2494f8"]]},{"id":"8b3c94d8.2494f8","type":"question-primitive","z":"754804bf.8aba7c","name":"Phone Guardian","label":"Phone Guardian","scope":"encounter","key":"","datatype":"decimal","x":170,"y":480,"wires":[["c1c22da4.0c978"]]},{"id":"c1c22da4.0c978","type":"question-select","z":"754804bf.8aba7c","name":"Agreed to FUP","label":"Agreed to FUP","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":170,"y":520,"wires":[["ef20d34b.cd7e1"]]},{"id":"ef20d34b.cd7e1","type":"question-primitive","z":"754804bf.8aba7c","name":"Guardian Relation","label":"Guardian Relation","scope":"encounter","key":"","datatype":"string","x":170,"y":560,"wires":[[]]},{"id":"47b9b8d3.6ee928","type":"comment","z":"754804bf.8aba7c","name":"ART Chart - Status At Initiation","info":"","x":470,"y":40,"wires":[]},{"id":"48b427c1.117bd8","type":"question-primitive","z":"754804bf.8aba7c","name":"HIV related diseases","label":"HIV related diseases","scope":"encounter","key":"","datatype":"string","x":460,"y":80,"wires":[["b27d401.41313c"]]},{"id":"4b997489.de3e9c","type":"question-select","z":"754804bf.8aba7c","name":"Urine LAM/CrAg Result","label":"Urine LAM/CrAg Result","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"RPR"},{"sid":"HgB"},{"sid":"ALT"},{"sid":"HBV"},{"sid":"HCV"},{"sid":"M/S"},{"sid":"CrAG"}],"x":730,"y":120,"wires":[["a9daca9a.83ce78"]]},{"id":"8f393b18.999a68","type":"question-select","z":"754804bf.8aba7c","name":"Urine LAM/CrAg Result/Other","label":"Urine LAM/CrAg Result/Other","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"RPR"},{"sid":"HgB"},{"sid":"ALT"},{"sid":"HBV"},{"sid":"HCV"},{"sid":"M/S"},{"sid":"CrAG"}],"x":750,"y":160,"wires":[["a9daca9a.83ce78"]]},{"id":"3260f7ee.4f5318","type":"question-select","z":"754804bf.8aba7c","name":"WHO Stage","label":"WHO Stage","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1"},{"sid":"2"},{"sid":"3"},{"sid":"4"}],"x":690,"y":240,"wires":[["10481b33.e9bca5"]]},{"id":"bb55aa0c.5d1b08","type":"question-select","z":"754804bf.8aba7c","name":"TB Status at initiation","label":"TB Status at initiation","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Never"},{"sid":"Last >2yrs"},{"sid":"Last 2yrs"},{"sid":"Curr"}],"x":480,"y":400,"wires":[["dd1b70ec.300d4"]]},{"id":"10481b33.e9bca5","type":"question-primitive","z":"754804bf.8aba7c","name":"CD4","label":"CD4","scope":"encounter","key":"","datatype":"decimal","x":470,"y":280,"wires":[["7af8e56f.dcd76c"]]},{"id":"dd1b70ec.300d4","type":"question-select","z":"754804bf.8aba7c","name":"KS","label":"KS","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":470,"y":440,"wires":[["4328228b.d64a0c"]]},{"id":"7af8e56f.dcd76c","type":"question-primitive","z":"754804bf.8aba7c","name":"CD4 Date","label":"CD4 Date","scope":"encounter","key":"","datatype":"date","x":460,"y":320,"wires":[["fa2df36e.24eff"]]},{"id":"7c5c7db8.031b34","type":"question-select","z":"754804bf.8aba7c","name":"Pregnant/Breastfeeding","label":"Pregnant/Breastfeeding","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Preg"},{"sid":"Bf"}],"x":730,"y":360,"wires":[["bb55aa0c.5d1b08"]]},{"id":"4328228b.d64a0c","type":"question-primitive","z":"754804bf.8aba7c","name":"Height","label":"Height","scope":"encounter","key":"","datatype":"decimal","x":470,"y":480,"wires":[["ef82e3a1.fdc38"]]},{"id":"ef82e3a1.fdc38","type":"question-primitive","z":"754804bf.8aba7c","name":"Weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":470,"y":520,"wires":[["abfb000e.f7339"]]},{"id":"abfb000e.f7339","type":"question-select","z":"754804bf.8aba7c","name":"Ever taken ARVs","label":"Ever taken ARVs","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":470,"y":560,"wires":[["8cfbfb91.777858"]]},{"id":"8cfbfb91.777858","type":"question-primitive","z":"754804bf.8aba7c","name":"Age at Initiation","label":"Age at Initiation","scope":"encounter","key":"","datatype":"decimal","x":470,"y":600,"wires":[["ac853517.5f3518"]]},{"id":"ac853517.5f3518","type":"question-primitive","z":"754804bf.8aba7c","name":"Last ARVs (drug)","label":"Last ARVs (drug)","scope":"encounter","key":"","datatype":"string","x":460,"y":640,"wires":[["2869deaf.3947e2"]]},{"id":"f1cefba3.6e7b68","type":"question-primitive","z":"754804bf.8aba7c","name":"Location of ART initiation","label":"Location of ART initiation","scope":"encounter","key":"","datatype":"string","x":470,"y":720,"wires":[[]]},{"id":"41e10c3a.13f714","type":"comment","z":"754804bf.8aba7c","name":"ART Chart - Confirmatory HIV Test","info":"","x":1080,"y":40,"wires":[]},{"id":"9cfa205a.0e256","type":"question-primitive","z":"754804bf.8aba7c","name":"Site, HTS Serial No.","label":"Site, HTS Serial No.","scope":"encounter","key":"","datatype":"string","x":1080,"y":80,"wires":[["19d2578a.785828"]]},{"id":"19d2578a.785828","type":"question-primitive","z":"754804bf.8aba7c","name":"Test Date","label":"Test Date","scope":"encounter","key":"","datatype":"date","x":1080,"y":120,"wires":[["559bb5a2.11660c"]]},{"id":"559bb5a2.11660c","type":"question-select","z":"754804bf.8aba7c","name":"Test type","label":"Test type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Rapid"},{"sid":"PCR"}],"x":1080,"y":160,"wires":[["e4bfa152.080af"]]},{"id":"e4bfa152.080af","type":"question-select","z":"754804bf.8aba7c","name":"ART education done","label":"ART education done","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":1080,"y":200,"wires":[["2c6ccb3b.64a1f4"]]},{"id":"2c6ccb3b.64a1f4","type":"question-primitive","z":"754804bf.8aba7c","name":"ART education Date","label":"ART education Date","scope":"encounter","key":"","datatype":"date","x":1080,"y":240,"wires":[["5773b73f.e9fea8"]]},{"id":"5773b73f.e9fea8","type":"question-primitive","z":"754804bf.8aba7c","name":"TB Treatment Reg No.","label":"TB Treatment Reg No.","scope":"encounter","key":"","datatype":"string","x":1080,"y":280,"wires":[["196f6ec5.c6ef41"]]},{"id":"196f6ec5.c6ef41","type":"question-select","z":"754804bf.8aba7c","name":"TB Treatment Start Date","label":"TB Treatment Start Date","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":1080,"y":320,"wires":[["9dd7b9a7.f8b6e8"]]},{"id":"9dd7b9a7.f8b6e8","type":"question-primitive","z":"754804bf.8aba7c","name":"ART Regimens #1","label":"ART Regimens #1","scope":"encounter","key":"","datatype":"string","x":1080,"y":360,"wires":[["9c7ccc31.ec358"]]},{"id":"9c7ccc31.ec358","type":"question-primitive","z":"754804bf.8aba7c","name":"ART Regimens #1 Start Date","label":"ART Regimens #1 Start Date","scope":"encounter","key":"","datatype":"date","x":1080,"y":400,"wires":[["d970abb1.de4cf8"]]},{"id":"d970abb1.de4cf8","type":"question-primitive","z":"754804bf.8aba7c","name":"ART Regimens #2","label":"ART Regimens #2","scope":"encounter","key":"","datatype":"string","x":1080,"y":440,"wires":[["9066dbab.44d658"]]},{"id":"9066dbab.44d658","type":"question-primitive","z":"754804bf.8aba7c","name":"ART Regimens #2 Start Date","label":"ART Regimens #2 Start Date","scope":"encounter","key":"","datatype":"date","x":1080,"y":480,"wires":[["472629b.c3f9ed8"]]},{"id":"472629b.c3f9ed8","type":"question-primitive","z":"754804bf.8aba7c","name":"Blood Pressure sys","label":"Blood Pressure sys","scope":"encounter","key":"","datatype":"decimal","x":1080,"y":520,"wires":[["15081903.24cc57"]]},{"id":"15081903.24cc57","type":"question-primitive","z":"754804bf.8aba7c","name":"Blood Pressure dias","label":"Blood Pressure dias","scope":"encounter","key":"","datatype":"decimal","x":1080,"y":560,"wires":[[]]},{"id":"bb56436.9278bc","type":"comment","z":"754804bf.8aba7c","name":"ART Chart","info":"","x":180,"y":780,"wires":[]},{"id":"8045793e.6fd128","type":"question-primitive","z":"754804bf.8aba7c","name":"Visit Date","label":"Visit Date","scope":"encounter","key":"","datatype":"date","x":180,"y":820,"wires":[["c9a01a60.24b218"]]},{"id":"5becdfa0.dd22","type":"question-primitive","z":"754804bf.8aba7c","name":"Age (curr)","label":"Age (curr)","scope":"encounter","key":"","datatype":"decimal","x":420,"y":860,"wires":[["67854b78.f17af4"]]},{"id":"67854b78.f17af4","type":"question-primitive","z":"754804bf.8aba7c","name":"Height","label":"Height","scope":"encounter","key":"","datatype":"decimal","x":570,"y":860,"wires":[["f238999c.afee38"]]},{"id":"f238999c.afee38","type":"question-primitive","z":"754804bf.8aba7c","name":"Weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":170,"y":900,"wires":[["a870e970.d9cac8"]]},{"id":"7f3f19d5.85c488","type":"question-select","z":"754804bf.8aba7c","name":"Pregnant/Breastfeed","label":"Pregnant/Breastfeed","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Preg"},{"sid":"Bf"}],"x":460,"y":940,"wires":[["96ce4237.fc3b8"]]},{"id":"96ce4237.fc3b8","type":"question-primitive","z":"754804bf.8aba7c","name":"Pregnant/Breastfeed Child HCC No","label":"Pregnant/Breastfeed Child HCC No","scope":"encounter","key":"","datatype":"string","x":720,"y":940,"wires":[["3bc3eda5.29c142"]]},{"id":"3bc3eda5.29c142","type":"question-select","z":"754804bf.8aba7c","name":"TB Status (Current)","label":"TB Status (Current)","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N - TB Not suspected"},{"sid":"Y - TB Suspected"},{"sid":"C - TB confirmed NOT on TB treatment"},{"sid":"Rx - TB confirmed on TB Rx"}],"x":210,"y":980,"wires":[["b90e0428.4eec58"]]},{"id":"b90e0428.4eec58","type":"question-select","z":"754804bf.8aba7c","name":"Side Effects","label":"Side Effects","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":190,"y":1020,"wires":[["e891e6d4.d00a38"]]},{"id":"e891e6d4.d00a38","type":"question-primitive","z":"754804bf.8aba7c","name":"Side Effects Notes","label":"Side Effects Notes","scope":"encounter","key":"","datatype":"string","x":210,"y":1060,"wires":[["f3738925.532218"]]},{"id":"867007b0.592b38","type":"question-primitive","z":"754804bf.8aba7c","name":"AIDS Assoc. Conditions","label":"AIDS Assoc. Conditions","scope":"encounter","key":"","datatype":"string","x":470,"y":1140,"wires":[["ff89cbc3.342f88"]]},{"id":"98601fed.6b336","type":"question-primitive","z":"754804bf.8aba7c","name":"Pill count","label":"Pill count","scope":"encounter","key":"","datatype":"decimal","x":420,"y":1100,"wires":[["ff89cbc3.342f88"]]},{"id":"ff89cbc3.342f88","type":"question-primitive","z":"754804bf.8aba7c","name":"Doses Missed","label":"Doses Missed","scope":"encounter","key":"","datatype":"decimal","x":200,"y":1180,"wires":[["af3b172c.21f6e8"]]},{"id":"3908b2be.89a1fe","type":"question-select","z":"754804bf.8aba7c","name":"ART Regimen Adult","label":"ART Regimen Adult","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":450,"y":1260,"wires":[["90949a0.079e068"]]},{"id":"90949a0.079e068","type":"question-primitive","z":"754804bf.8aba7c","name":"ARVs Given No of tablets","label":"ARVs Given No of tablets","scope":"encounter","key":"","datatype":"decimal","x":230,"y":1300,"wires":[["4e1f04fc.efb0ac"]]},{"id":"4e1f04fc.efb0ac","type":"question-select","z":"754804bf.8aba7c","name":"ARVs Given To","label":"ARVs Given To","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"P"},{"sid":"G"}],"x":200,"y":1340,"wires":[["3f1884f0.debb8c"]]},{"id":"3f1884f0.debb8c","type":"question-select","z":"754804bf.8aba7c","name":"CPT/TPT Given","label":"CPT/TPT Given","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"C - CPT only"},{"sid":"I - TPT only"},{"sid":"CI - CPT + TPT"}],"x":200,"y":1380,"wires":[["92ba05c7.e8c078"]]},{"id":"92ba05c7.e8c078","type":"question-primitive","z":"754804bf.8aba7c","name":"CPT/TPT No. of Tablets","label":"CPT/TPT No. of Tablets","scope":"encounter","key":"","datatype":"decimal","x":230,"y":1420,"wires":[["e29df09e.9bb0c"]]},{"id":"e29df09e.9bb0c","type":"question-select","z":"754804bf.8aba7c","name":"Stable?","label":"Stable?","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Y"},{"sid":"N"}],"x":180,"y":1460,"wires":[["85b235eb.a63ef8"]]},{"id":"85b235eb.a63ef8","type":"question-select","z":"754804bf.8aba7c","name":"Stable? DSD Model","label":"Stable? DSD Model","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1 - HIV clinic-based ART"},{"sid":"2 - Fast-track ART"},{"sid":"3 - Facility-based adherence club"},{"sid":"4 - Community ART Distribution point"},{"sid":"5 - Peer-led community ART group"},{"sid":"6 - Patient-led community ART group"}],"x":210,"y":1500,"wires":[["1c900b3c.ae6185"]]},{"id":"1c900b3c.ae6185","type":"question-select","z":"754804bf.8aba7c","name":"Viral Load Sample taken","label":"Viral Load Sample taken","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Bled"}],"x":230,"y":1540,"wires":[["8957ee0c.f42dd"]]},{"id":"8957ee0c.f42dd","type":"question-primitive","z":"754804bf.8aba7c","name":"Viral Load Result","label":"Viral Load Result","scope":"encounter","key":"","datatype":"decimal","x":210,"y":1580,"wires":[["5e165598.45de6c"]]},{"id":"5e165598.45de6c","type":"question-primitive","z":"754804bf.8aba7c","name":"Next Appointment/Outcome Date","label":"Next Appointment/Outcome Date","scope":"encounter","key":"","datatype":"date","x":260,"y":1620,"wires":[["4e27a933.7eca88"]]},{"id":"4e27a933.7eca88","type":"question-select","z":"754804bf.8aba7c","name":"Outcome","label":"Outcome","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Died"},{"sid":"Defaulted/LTFU"},{"sid":"Client stopped medication"},{"sid":"Transferred out"}],"x":180,"y":1660,"wires":[[]]},{"id":"a870e970.d9cac8","type":"switch","z":"754804bf.8aba7c","name":"Female?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":940,"wires":[["7f3f19d5.85c488"],["3bc3eda5.29c142"]]},{"id":"c9a01a60.24b218","type":"switch","z":"754804bf.8aba7c","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":860,"wires":[["5becdfa0.dd22"],["f238999c.afee38"]]},{"id":"f3738925.532218","type":"switch","z":"754804bf.8aba7c","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":1120,"wires":[["98601fed.6b336"],["867007b0.592b38"]]},{"id":"af3b172c.21f6e8","type":"switch","z":"754804bf.8aba7c","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":1240,"wires":[["e479c170.7e692"],["3908b2be.89a1fe"]]},{"id":"e479c170.7e692","type":"question-select","z":"754804bf.8aba7c","name":"ART Regimen Child","label":"ART Regimen Child","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":450,"y":1220,"wires":[["90949a0.079e068"]]},{"id":"b27d401.41313c","type":"switch","z":"754804bf.8aba7c","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":140,"wires":[["4b997489.de3e9c"],["8f393b18.999a68"]]},{"id":"fa2df36e.24eff","type":"switch","z":"754804bf.8aba7c","name":"Adult & Female?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":360,"wires":[["7c5c7db8.031b34"],["bb55aa0c.5d1b08"]]},{"id":"a9daca9a.83ce78","type":"switch","z":"754804bf.8aba7c","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":220,"wires":[["772fc724.9cc028"],["3260f7ee.4f5318"]]},{"id":"2869deaf.3947e2","type":"question-primitive","z":"754804bf.8aba7c","name":"Last ARVs (Date)","label":"Last ARVs (Date)","scope":"encounter","key":"","datatype":"string","x":470,"y":680,"wires":[["f1cefba3.6e7b68"]]},{"id":"772fc724.9cc028","type":"question-primitive","z":"754804bf.8aba7c","name":"CD4 %","label":"CD4 %","scope":"encounter","key":"","datatype":"decimal","x":680,"y":200,"wires":[["10481b33.e9bca5"]]},{"id":"dcddafe6.fd2e","type":"question-primitive","z":"24d48d2.d3ad672","name":"Current Age in months","label":"Current Age in months","scope":"encounter","key":"","datatype":"decimal","x":240,"y":600,"wires":[[]]},{"id":"744fcf8f.a1ff2","type":"switch","z":"24d48d2.d3ad672","name":"6 months or older?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":760,"wires":[["63457194.c6fe9"],["7f7b2955.2cca08"]]},{"id":"15d6f295.bec34d","type":"comment","z":"754804bf.8aba7c","name":"ART Intake / Enrolment (only in Register)","info":"","x":1460,"y":40,"wires":[]},{"id":"19d749fe.4a0f26","type":"question-select","z":"754804bf.8aba7c","name":"HIV Type","label":"HIV Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":1400,"y":160,"wires":[["7ae0fde7.5baa14"]]},{"id":"d36ba745.b50788","type":"question-primitive","z":"754804bf.8aba7c","name":"Date of HIV diagnosis","label":"Date of HIV diagnosis","scope":"encounter","key":"","datatype":"date","x":1440,"y":120,"wires":[["19d749fe.4a0f26"]]},{"id":"6489c91e.a3abe8","type":"question-select","z":"754804bf.8aba7c","name":"Age group","label":"Age group","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Below 24 months"},{"sid":"2 - 14 years"},{"sid":"15 - 19 years"},{"sid":"20 - 24 years"},{"sid":"25+ years"}],"x":1410,"y":80,"wires":[["d36ba745.b50788"]]},{"id":"7ae0fde7.5baa14","type":"question-select","z":"754804bf.8aba7c","name":"ART Status at registration","label":"ART Status at registration","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1st time initiation"},{"sid":"Re-initiation"},{"sid":"Transfer in"}],"x":1450,"y":200,"wires":[["91f3dcf3.ce8bc"]]},{"id":"91f3dcf3.ce8bc","type":"question-select","z":"754804bf.8aba7c","name":"Condition at ART initiation","label":"Condition at ART initiation","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1"},{"sid":"2"},{"sid":"3"},{"sid":"4"},{"sid":"PSHD"},{"sid":"Unknown"}],"x":1450,"y":240,"wires":[["cfb22878.413e28"]]},{"id":"cfb22878.413e28","type":"question-primitive","z":"754804bf.8aba7c","name":"TPT Start date","label":"TPT Start date","scope":"encounter","key":"","datatype":"date","x":1420,"y":280,"wires":[["2d3934af.43b5cc"]]},{"id":"2d3934af.43b5cc","type":"question-primitive","z":"754804bf.8aba7c","name":"TPT End date","label":"TPT End date","scope":"encounter","key":"","datatype":"date","x":1420,"y":320,"wires":[["ecb55190.4b124"]]},{"id":"ecb55190.4b124","type":"question-primitive","z":"754804bf.8aba7c","name":"TB Treatment End date","label":"TPT End date","scope":"encounter","key":"","datatype":"date","x":1450,"y":360,"wires":[["241c5611.e5feda"]]},{"id":"241c5611.e5feda","type":"question-primitive","z":"754804bf.8aba7c","name":"Number of times client re-started ART after default or stop ","label":"Number of times client re-started ART after default or stop ","scope":"encounter","key":"","datatype":"integer","x":1560,"y":400,"wires":[[]]},{"id":"33c4515.dcfa6ae","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Triage OPD","invokeflow":"","x":130,"y":580,"wires":[["ffc6fe35.ff59a","938c715d.cd6f","a338d76b.fa6bf8"]]},{"id":"ffc6fe35.ff59a","type":"invoke-flow","z":"4b01af8e.6fbac","name":"OPD Registration","invokeflow":"","x":330,"y":540,"wires":[["5e6ce5bd.44854c","f6e1fbb5.b34fb8"]]},{"id":"5e6ce5bd.44854c","type":"invoke-flow","z":"4b01af8e.6fbac","name":"General Consultation","invokeflow":"","x":540,"y":380,"wires":[["dc1074c4.d142f8","315e07e1.b3c0b8","c38b66e0.5ffeb8","ad7ba01b.13e2b","bc25d2b9.13f92","a3ed1759.ec2a08"]]},{"id":"9cdf202e.cf4d","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Family Planning","invokeflow":"","x":780,"y":720,"wires":[["2c7199d0.779cb6"]]},{"id":"f6e1fbb5.b34fb8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"MCH","invokeflow":"","x":490,"y":780,"wires":[["11edfc83.8b42d3","18c15dd.34cb0a2","303065c.9cbbe9a","9cdf202e.cf4d"]]},{"id":"303065c.9cbbe9a","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Post Natal Care","invokeflow":"","x":780,"y":800,"wires":[["2c7199d0.779cb6"]]},{"id":"18c15dd.34cb0a2","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Ante-Natal Care","invokeflow":"","x":780,"y":760,"wires":[["2c7199d0.779cb6"]]},{"id":"11edfc83.8b42d3","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Immunization","invokeflow":"","x":780,"y":840,"wires":[["2c7199d0.779cb6"]]},{"id":"6a11aa75.977ce4","type":"invoke-flow","z":"4b01af8e.6fbac","name":"ART Unit","invokeflow":"","x":1280,"y":600,"wires":[["41880a07.f86034","938c715d.cd6f"]]},{"id":"938c715d.cd6f","type":"invoke-flow","z":"4b01af8e.6fbac","name":"TB Clinic","invokeflow":"","x":760,"y":660,"wires":[[]]},{"id":"9ddfe0b3.5eb72","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Micro Lab","invokeflow":"","x":1360,"y":680,"wires":[["6a11aa75.977ce4"]]},{"id":"4df3e487.f2f0dc","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Dispensary","invokeflow":"","x":1630,"y":600,"wires":[["2075fc38.6735b4"]]},{"id":"6fcfe580.5742ac","type":"invoke-flow","z":"4b01af8e.6fbac","name":"HCT Unit","invokeflow":"","x":1220,"y":500,"wires":[["3ef6bbf5.3f81a4"]]},{"id":"a338d76b.fa6bf8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"HIV Registration","invokeflow":"","x":780,"y":600,"wires":[["206dca41.7ef726"]]},{"id":"3ef6bbf5.3f81a4","type":"switch","z":"4b01af8e.6fbac","name":"negative?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1380,"y":500,"wires":[["2075fc38.6735b4"],["a338d76b.fa6bf8"]]},{"id":"41880a07.f86034","type":"switch","z":"4b01af8e.6fbac","name":"VL required?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"no","vt":"str"},{"t":"eq","v":"yes","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1450,"y":600,"wires":[["4df3e487.f2f0dc"],["9ddfe0b3.5eb72"]]},{"id":"52867052.78de9","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Central Lab","invokeflow":"","x":170,"y":1280,"wires":[["a640afcc.5b8ca","1fb13801.461958"]]},{"id":"2a439964.084596","type":"invoke-flow","z":"4b01af8e.6fbac","name":"SGBV","invokeflow":"","x":310,"y":940,"wires":[["15cff13f.3f535f","e04aa78a.c44238"]]},{"id":"15cff13f.3f535f","type":"invoke-flow","z":"4b01af8e.6fbac","name":"IPD Registration","invokeflow":"","x":560,"y":1020,"wires":[["a5ccf802.71ccb8","c519aa53.ba6c88","b8268a04.cacc28","ee572b51.e81898","1abe171f.3bae19","390e95ea.512d2a","f3af1392.66593","99537eda.c28ad"]]},{"id":"e04aa78a.c44238","type":"link out","z":"4b01af8e.6fbac","name":"referral ART","links":["6967ac53.bbbbb4"],"x":550,"y":940,"wires":[],"l":true},{"id":"a4a52757.718d18","type":"link out","z":"4b01af8e.6fbac","name":"referral HIV","links":["a6c81856.7dae38"],"x":1170,"y":340,"wires":[],"l":true},{"id":"33347000.d8746","type":"link out","z":"4b01af8e.6fbac","name":"exit","links":["f17a0d1b.48605"],"x":1150,"y":380,"wires":[],"l":true},{"id":"13843b09.16caf5","type":"link out","z":"4b01af8e.6fbac","name":"referral Other","links":["9341c9d3.d72528","c0ac8997.d2e3d8"],"x":1170,"y":420,"wires":[],"l":true},{"id":"a6c81856.7dae38","type":"link in","z":"4b01af8e.6fbac","name":"referral HIV","links":["4a932236.57901c","5ce60756.71c8e8","8b3d66d6.219698","a36d53d8.bf2ab","a4a52757.718d18","c7549187.a78b"],"x":620,"y":560,"wires":[["a338d76b.fa6bf8"]],"l":true},{"id":"6967ac53.bbbbb4","type":"link in","z":"4b01af8e.6fbac","name":"referral ART","links":["56855e18.5555","6dfcfc98.26d1c4","6e94bd78.423d34","a640afcc.5b8ca","e04aa78a.c44238"],"x":630,"y":520,"wires":[["a338d76b.fa6bf8"]],"l":true},{"id":"b6af9793.a276c8","type":"link out","z":"4b01af8e.6fbac","name":"exit","links":["f17a0d1b.48605"],"x":1330,"y":1000,"wires":[],"l":true},{"id":"62110caf.27d134","type":"link out","z":"4b01af8e.6fbac","name":"referral Other","links":["9341c9d3.d72528","c0ac8997.d2e3d8"],"x":1350,"y":1040,"wires":[],"l":true},{"id":"8b3d66d6.219698","type":"link out","z":"4b01af8e.6fbac","name":"referral HIV","links":["a6c81856.7dae38"],"x":1350,"y":960,"wires":[],"l":true},{"id":"ddb1da33.6b92c8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"join","invokeflow":"","x":1170,"y":1000,"wires":[["8b3d66d6.219698","b6af9793.a276c8","62110caf.27d134"]]},{"id":"c076389c.d31a78","type":"link out","z":"4b01af8e.6fbac","name":"exit","links":["f17a0d1b.48605"],"x":1130,"y":780,"wires":[],"l":true},{"id":"9d26a530.ad4bc8","type":"link out","z":"4b01af8e.6fbac","name":"referral Other","links":["9341c9d3.d72528","c0ac8997.d2e3d8"],"x":1150,"y":820,"wires":[],"l":true},{"id":"56855e18.5555","type":"link out","z":"4b01af8e.6fbac","name":"referral ART","links":["6967ac53.bbbbb4"],"x":1150,"y":740,"wires":[],"l":true},{"id":"2c7199d0.779cb6","type":"invoke-flow","z":"4b01af8e.6fbac","name":"join","invokeflow":"","x":970,"y":780,"wires":[["56855e18.5555","c076389c.d31a78","9d26a530.ad4bc8"]]},{"id":"9341c9d3.d72528","type":"link in","z":"4b01af8e.6fbac","name":"referral Other","links":["13843b09.16caf5","1fb13801.461958","62110caf.27d134","75cffbe6.e84614","854dc688.831468","97949a8b.e350e8","9d26a530.ad4bc8","a2c73227.d207e","aa81a707.980948","e1621953.ef0ab8"],"x":330,"y":380,"wires":[["5e6ce5bd.44854c"]],"l":true},{"id":"c38b66e0.5ffeb8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Pediatrics","invokeflow":"","x":760,"y":280,"wires":[["f795ee81.e8ce5"]]},{"id":"315e07e1.b3c0b8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Surgery","invokeflow":"","x":760,"y":320,"wires":[["f795ee81.e8ce5"]]},{"id":"dc1074c4.d142f8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Internal Medication","invokeflow":"","x":790,"y":360,"wires":[["f795ee81.e8ce5"]]},{"id":"ad7ba01b.13e2b","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Optomology","invokeflow":"","x":770,"y":400,"wires":[["f795ee81.e8ce5"]]},{"id":"bc25d2b9.13f92","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Dentist","invokeflow":"","x":760,"y":440,"wires":[["f795ee81.e8ce5"]]},{"id":"a3ed1759.ec2a08","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Mental Health","invokeflow":"","x":780,"y":480,"wires":[["f795ee81.e8ce5"]]},{"id":"f795ee81.e8ce5","type":"invoke-flow","z":"4b01af8e.6fbac","name":"join","invokeflow":"","x":990,"y":380,"wires":[["a4a52757.718d18","33347000.d8746","13843b09.16caf5"]]},{"id":"befbf299.c351d","type":"link out","z":"4b01af8e.6fbac","name":"exit","links":["f17a0d1b.48605"],"x":1930,"y":520,"wires":[],"l":true},{"id":"854dc688.831468","type":"link out","z":"4b01af8e.6fbac","name":"referral Other","links":["9341c9d3.d72528","c0ac8997.d2e3d8"],"x":1950,"y":560,"wires":[],"l":true},{"id":"2075fc38.6735b4","type":"invoke-flow","z":"4b01af8e.6fbac","name":"join","invokeflow":"","x":1790,"y":540,"wires":[["befbf299.c351d","854dc688.831468","73cc2853.e8f048"]]},{"id":"6501b981.0ea198","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Isolation","invokeflow":"","x":320,"y":980,"wires":[["15cff13f.3f535f"]]},{"id":"a4924b3d.22d9d8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"OBGYN","invokeflow":"","x":320,"y":1020,"wires":[["15cff13f.3f535f"]]},{"id":"c20028c3.a77818","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Adult ER","invokeflow":"","x":320,"y":1060,"wires":[["15cff13f.3f535f"]]},{"id":"a245ac25.d3e42","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Pediatrics ER","invokeflow":"","x":340,"y":1100,"wires":[["15cff13f.3f535f"]]},{"id":"1abe171f.3bae19","type":"invoke-flow","z":"4b01af8e.6fbac","name":"General Pediatrics Ward","invokeflow":"","x":810,"y":1020,"wires":[["ddb1da33.6b92c8"]]},{"id":"390e95ea.512d2a","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Pediatrics ICU","invokeflow":"","x":780,"y":1060,"wires":[["ddb1da33.6b92c8"]]},{"id":"f3af1392.66593","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Malnutrition Ward","invokeflow":"","x":790,"y":1100,"wires":[["ddb1da33.6b92c8"]]},{"id":"99537eda.c28ad","type":"invoke-flow","z":"4b01af8e.6fbac","name":"OBGYN Ward","invokeflow":"","x":780,"y":1140,"wires":[["ddb1da33.6b92c8"]]},{"id":"57df2e40.874d7","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Post C-Section Ward","invokeflow":"","x":1000,"y":1200,"wires":[["ddb1da33.6b92c8"]]},{"id":"a5ccf802.71ccb8","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Surgery Ward","invokeflow":"","x":780,"y":980,"wires":[["ddb1da33.6b92c8"]]},{"id":"c519aa53.ba6c88","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Labor Ward","invokeflow":"","x":770,"y":1180,"wires":[["57df2e40.874d7","f1dd274f.825a58"]]},{"id":"b8268a04.cacc28","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Medical Ward","invokeflow":"","x":780,"y":940,"wires":[["ddb1da33.6b92c8"]]},{"id":"ee572b51.e81898","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Pediatrics Ward","invokeflow":"","x":780,"y":900,"wires":[["ddb1da33.6b92c8"]]},{"id":"f1dd274f.825a58","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Delivery Ward","invokeflow":"","x":980,"y":1160,"wires":[["ddb1da33.6b92c8"]]},{"id":"1fb13801.461958","type":"link out","z":"4b01af8e.6fbac","name":"referral Other","links":["9341c9d3.d72528","c0ac8997.d2e3d8"],"x":370,"y":1300,"wires":[],"l":true},{"id":"a640afcc.5b8ca","type":"link out","z":"4b01af8e.6fbac","name":"referral ART","links":["6967ac53.bbbbb4"],"x":370,"y":1260,"wires":[],"l":true},{"id":"98745a43.72ae58","type":"invoke-flow","z":"4b01af8e.6fbac","name":"Triage IPD","invokeflow":"","x":130,"y":1020,"wires":[["c20028c3.a77818","a4924b3d.22d9d8","6501b981.0ea198","a245ac25.d3e42","2a439964.084596"]]},{"id":"f17a0d1b.48605","type":"link in","z":"4b01af8e.6fbac","name":"exit","links":["33347000.d8746","b6af9793.a276c8","befbf299.c351d","c076389c.d31a78"],"x":1750,"y":980,"wires":[["13a5ecd4.e36af3","47808013.e4075","959c826f.83d41"]],"l":true},{"id":"47808013.e4075","type":"invoke-flow","z":"4b01af8e.6fbac","name":"transfer","invokeflow":"","x":1920,"y":940,"wires":[[]]},{"id":"13a5ecd4.e36af3","type":"invoke-flow","z":"4b01af8e.6fbac","name":"discharge","invokeflow":"","x":1920,"y":980,"wires":[[]]},{"id":"959c826f.83d41","type":"invoke-flow","z":"4b01af8e.6fbac","name":"morgue","invokeflow":"","x":1920,"y":1020,"wires":[[]]},{"id":"c0ac8997.d2e3d8","type":"link in","z":"4b01af8e.6fbac","name":"referral Other","links":["13843b09.16caf5","1fb13801.461958","62110caf.27d134","75cffbe6.e84614","854dc688.831468","97949a8b.e350e8","9d26a530.ad4bc8","a2c73227.d207e","aa81a707.980948","e1621953.ef0ab8"],"x":330,"y":780,"wires":[["f6e1fbb5.b34fb8"]],"l":true},{"id":"f13080b4.ce03a","type":"comment","z":"4b01af8e.6fbac","name":"Redemption OPD & IPD","info":"","x":180,"y":260,"wires":[]},{"id":"d9dc795a.53b728","type":"lab-order-entry","z":"4c9fe8ac.10e058","name":"Order VL Test","panel":"","x":660,"y":200,"wires":[["fc442c8f.80305"]]},{"id":"c2650a4c.d799c8","type":"switch","z":"4c9fe8ac.10e058","name":"viral load needed?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":220,"wires":[["d9dc795a.53b728"],["37f7d080.1d9af"]]},{"id":"37f7d080.1d9af","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":1060,"y":220,"wires":[]},{"id":"6ba123b8.dac74c","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":980,"y":520,"wires":[]},{"id":"f5be541c.e807f8","type":"comment","z":"4c9fe8ac.10e058","name":"HIV Visit: VL","info":"","x":110,"y":180,"wires":[]},{"id":"99743d2b.a75f6","type":"comment","z":"4c9fe8ac.10e058","name":"HIV Visit: Result processing","info":"","x":160,"y":480,"wires":[]},{"id":"4bdddf2a.17d7a","type":"medication-prescription","z":"4c9fe8ac.10e058","name":"Prescription","drugs":"","x":810,"y":520,"wires":[["6ba123b8.dac74c"]]},{"id":"69e5dc08.60be54","type":"comment","z":"4c9fe8ac.10e058","name":"Lab: Process sample (run test and entry result)","info":"","x":220,"y":380,"wires":[]},{"id":"824ea3c0.d4612","type":"question-primitive","z":"4c9fe8ac.10e058","name":"Test Result Entry","label":"","scope":"encounter","key":"","datatype":"","x":450,"y":420,"wires":[["64988a56.04dd04"]]},{"id":"64988a56.04dd04","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":640,"y":420,"wires":[]},{"id":"b370dd90.487d7","type":"comment","z":"4c9fe8ac.10e058","name":"Pharmacy: Dispense","info":"","x":130,"y":580,"wires":[]},{"id":"9b619b7d.b68508","type":"question-select","z":"4c9fe8ac.10e058","name":"Select open prescription","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":""}],"x":530,"y":620,"wires":[["4d4c8a31.912964"]]},{"id":"4d4c8a31.912964","type":"switch","z":"4c9fe8ac.10e058","name":"medication available?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":620,"wires":[["2628ac32.a3caa4","c8286e5a.6c4ad"],["c8286e5a.6c4ad"]]},{"id":"e6c93954.b8d9a8","type":"switch","z":"4c9fe8ac.10e058","name":"another open prescription?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":260,"y":720,"wires":[["9b619b7d.b68508"],["93edebaa.ac2248"]]},{"id":"c8286e5a.6c4ad","type":"question-select","z":"4c9fe8ac.10e058","name":"select substitute","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":""}],"x":1000,"y":640,"wires":[["2628ac32.a3caa4"]]},{"id":"2628ac32.a3caa4","type":"question-select","z":"4c9fe8ac.10e058","name":"dispense","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":""}],"x":1180,"y":620,"wires":[["e6c93954.b8d9a8"]]},{"id":"93edebaa.ac2248","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":480,"y":720,"wires":[]},{"id":"73cc2853.e8f048","type":"invoke-flow","z":"4b01af8e.6fbac","name":"transfer out","invokeflow":"","x":1950,"y":600,"wires":[[]]},{"id":"206dca41.7ef726","type":"switch","z":"4b01af8e.6fbac","name":"new or unknown HIV patient?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":600,"wires":[["6fcfe580.5742ac"],["6a11aa75.977ce4"]]},{"id":"fc442c8f.80305","type":"invoke-flow","z":"4c9fe8ac.10e058","name":"Create LIMS order","invokeflow":"","x":870,"y":200,"wires":[["37f7d080.1d9af"]]},{"id":"66ddfe59.0eb57","type":"comment","z":"4c9fe8ac.10e058","name":"Lab: Automated Inbox (no user interaction)","info":"","x":200,"y":280,"wires":[]},{"id":"97993d72.dab4c","type":"invoke-flow","z":"4c9fe8ac.10e058","name":"store order","invokeflow":"","x":370,"y":320,"wires":[["5cbad06d.00741"]]},{"id":"118b3c5d.978334","type":"find-patient","z":"4c9fe8ac.10e058","name":"new order entry","includename":"","includeidentifier":"","program":"","expression":"","x":180,"y":320,"wires":[["97993d72.dab4c"]]},{"id":"5cbad06d.00741","type":"end-flow","z":"4c9fe8ac.10e058","name":"","x":540,"y":320,"wires":[]},{"id":"16058ba7.84ea94","type":"switch","z":"4c9fe8ac.10e058","name":"critical VL?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":430,"y":520,"wires":[["1bc2c65a.9ee4ca"],["4bdddf2a.17d7a"]]},{"id":"1bc2c65a.9ee4ca","type":"question-primitive","z":"4c9fe8ac.10e058","name":"Switch Regimen","label":"","scope":"encounter","key":"","datatype":"","x":620,"y":500,"wires":[["4bdddf2a.17d7a"]]},{"id":"a8f602ab.25e53","type":"find-patient","z":"c3146e98.69994","name":"Find ART patient","includename":"","includeidentifier":"","program":"","expression":"","x":120,"y":300,"wires":[["ffdf596a.bab228"]]},{"id":"afdd41db.180bf","type":"register-patient","z":"c3146e98.69994","name":"New ART patient (child & adult)","x":170,"y":140,"wires":[["d76981ed.1bc2"]]},{"id":"706a1970.dbabe8","type":"comment","z":"6467ceb9.0eaa4","name":"ART Chart - Patient","info":"","x":170,"y":60,"wires":[]},{"id":"1a67bdec.f3c132","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Transfer-In Date","label":"Transfer-In Date","scope":"encounter","key":"","datatype":"date","optional":true,"x":500,"y":320,"wires":[["8725adde.7d85b"]]},{"id":"8725adde.7d85b","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Guardian Name","label":"Guardian Name","scope":"encounter","key":"","datatype":"string","optional":true,"x":500,"y":360,"wires":[["b0ceb226.acf9c"]]},{"id":"b0ceb226.acf9c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Phone Guardian","label":"Phone Guardian","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":500,"y":400,"wires":[["cfd02eb7.e728d"]]},{"id":"cfd02eb7.e728d","type":"question-select","z":"6467ceb9.0eaa4","name":"Agreed to FUP","label":"Agreed to FUP","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":500,"y":440,"wires":[["f78e7511.2a1df8"]]},{"id":"f78e7511.2a1df8","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Guardian Relation","label":"Guardian Relation","scope":"encounter","key":"","datatype":"string","optional":true,"x":500,"y":480,"wires":[[]]},{"id":"f14e309.34ebed","type":"register-patient","z":"c3146e98.69994","name":"New Exp Infant patient","x":140,"y":400,"wires":[["2b04fcf.a3db204"]]},{"id":"d76981ed.1bc2","type":"subflow:6467ceb9.0eaa4","z":"c3146e98.69994","name":"","env":[],"x":440,"y":140,"wires":[["5b968043.31ee7"]]},{"id":"5aad3de7.f89924","type":"comment","z":"9d34a91.b320b58","name":"ART Chart - Status At Initiation","info":"","x":190,"y":60,"wires":[]},{"id":"b899546b.02c3c8","type":"question-primitive","z":"9d34a91.b320b58","name":"HIV related diseases","label":"HIV related diseases","scope":"encounter","key":"","datatype":"string","optional":true,"x":200,"y":160,"wires":[["5f399288.df43ac"]]},{"id":"11ba11e8.0a589e","type":"question-select","z":"9d34a91.b320b58","name":"Urine LAM/CrAg Result","label":"Urine LAM/CrAg Result","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"RPR"},{"sid":"HgB"},{"sid":"ALT"},{"sid":"HBV"},{"sid":"HCV"},{"sid":"M/S"},{"sid":"CrAG"}],"x":470,"y":180,"wires":[["1c37280d.521308"]]},{"id":"d6d33300.09749","type":"question-select","z":"9d34a91.b320b58","name":"Urine LAM/CrAg Result/Other","label":"Urine LAM/CrAg Result/Other","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"RPR"},{"sid":"HgB"},{"sid":"ALT"},{"sid":"HBV"},{"sid":"HCV"},{"sid":"M/S"},{"sid":"CrAG"}],"x":490,"y":220,"wires":[["c5c62a05.990f08"]]},{"id":"c5c62a05.990f08","type":"question-select","z":"9d34a91.b320b58","name":"WHO Stage","label":"WHO Stage","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1"},{"sid":"2"},{"sid":"3"},{"sid":"4"}],"x":730,"y":220,"wires":[["dee6e93b.9ff848"]]},{"id":"869f8d2b.8e994","type":"question-select","z":"9d34a91.b320b58","name":"TB Status at initiation","label":"TB Status at initiation","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Never"},{"sid":"Last >2yrs"},{"sid":"Last 2yrs"},{"sid":"Curr"}],"x":220,"y":420,"wires":[["51be2014.3d11f"]]},{"id":"dee6e93b.9ff848","type":"question-primitive","z":"9d34a91.b320b58","name":"CD4","label":"CD4","scope":"encounter","key":"","datatype":"decimal","x":210,"y":300,"wires":[["15416935.1e8dd7"]]},{"id":"51be2014.3d11f","type":"question-select","z":"9d34a91.b320b58","name":"KS","label":"KS","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":210,"y":460,"wires":[["ec36a132.a9c28"]]},{"id":"15416935.1e8dd7","type":"question-primitive","z":"9d34a91.b320b58","name":"CD4 Date","label":"CD4 Date","scope":"encounter","key":"","datatype":"date","x":200,"y":340,"wires":[["37a827af.650ee8"]]},{"id":"cc36a655.527e58","type":"question-select","z":"9d34a91.b320b58","name":"Pregnant/Breastfeeding","label":"Pregnant/Breastfeeding","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Preg"},{"sid":"Bf"}],"x":470,"y":380,"wires":[["869f8d2b.8e994"]]},{"id":"ec36a132.a9c28","type":"question-primitive","z":"9d34a91.b320b58","name":"Height","label":"Height","scope":"encounter","key":"","datatype":"decimal","x":210,"y":500,"wires":[["68c324e.11bdedc"]]},{"id":"68c324e.11bdedc","type":"question-primitive","z":"9d34a91.b320b58","name":"Weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":210,"y":540,"wires":[["74f6713d.2437c"]]},{"id":"74f6713d.2437c","type":"question-select","z":"9d34a91.b320b58","name":"Ever taken ARVs","label":"Ever taken ARVs","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":210,"y":580,"wires":[["7e61d218.b8eebc"]]},{"id":"7e61d218.b8eebc","type":"question-primitive","z":"9d34a91.b320b58","name":"Age at Initiation","label":"Age at Initiation","scope":"encounter","key":"","datatype":"decimal","x":210,"y":620,"wires":[["a4f93f5d.38391"]]},{"id":"a4f93f5d.38391","type":"question-primitive","z":"9d34a91.b320b58","name":"Last ARVs (drug)","label":"Last ARVs (drug)","scope":"encounter","key":"","datatype":"string","x":200,"y":660,"wires":[["5dba385b.f28528"]]},{"id":"bfdf9eca.ce5e3","type":"question-primitive","z":"9d34a91.b320b58","name":"Location of ART initiation","label":"Location of ART initiation","scope":"encounter","key":"","datatype":"string","x":210,"y":740,"wires":[[]]},{"id":"5f399288.df43ac","type":"switch","z":"9d34a91.b320b58","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":210,"y":200,"wires":[["11ba11e8.0a589e"],["d6d33300.09749"]]},{"id":"37a827af.650ee8","type":"switch","z":"9d34a91.b320b58","name":"Adult & Female?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":380,"wires":[["cc36a655.527e58"],["869f8d2b.8e994"]]},{"id":"5dba385b.f28528","type":"question-primitive","z":"9d34a91.b320b58","name":"Last ARVs (Date)","label":"Last ARVs (Date)","scope":"encounter","key":"","datatype":"date","x":210,"y":700,"wires":[["bfdf9eca.ce5e3"]]},{"id":"1c37280d.521308","type":"question-primitive","z":"9d34a91.b320b58","name":"CD4 %","label":"CD4 %","scope":"encounter","key":"","datatype":"decimal","x":720,"y":180,"wires":[["dee6e93b.9ff848"]]},{"id":"94e6c502.707408","type":"subflow:9d34a91.b320b58","z":"c3146e98.69994","name":"","env":[],"x":440,"y":180,"wires":[["72fe491f.9bd0d8"]]},{"id":"83dfb748.e73f48","type":"comment","z":"340fa181.b8c92e","name":"ART Chart - Confirmatory HIV Test","info":"","x":200,"y":60,"wires":[]},{"id":"7512aec1.ed22b","type":"question-primitive","z":"340fa181.b8c92e","name":"Site, HTS Serial No.","label":"Site, HTS Serial No.","scope":"encounter","key":"","datatype":"string","x":200,"y":120,"wires":[["a5f09ea6.d608"]]},{"id":"a5f09ea6.d608","type":"question-primitive","z":"340fa181.b8c92e","name":"Test Date","label":"Test Date","scope":"encounter","key":"","datatype":"date","x":200,"y":160,"wires":[["bcefe2d8.5e85e"]]},{"id":"bcefe2d8.5e85e","type":"question-select","z":"340fa181.b8c92e","name":"Test type","label":"Test type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Rapid"},{"sid":"PCR"}],"x":200,"y":200,"wires":[["de66fd8f.14b3a"]]},{"id":"de66fd8f.14b3a","type":"question-select","z":"340fa181.b8c92e","name":"ART education done","label":"ART education done","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":200,"y":240,"wires":[["cfec4f5a.fad6a"]]},{"id":"cfec4f5a.fad6a","type":"question-primitive","z":"340fa181.b8c92e","name":"ART education Date","label":"ART education Date","scope":"encounter","key":"","datatype":"date","x":200,"y":280,"wires":[["b10c9741.5b4e28"]]},{"id":"b10c9741.5b4e28","type":"question-primitive","z":"340fa181.b8c92e","name":"TB Treatment Reg No.","label":"TB Treatment Reg No.","scope":"encounter","key":"","datatype":"string","optional":true,"x":200,"y":320,"wires":[["5997284f.9606e8"]]},{"id":"5997284f.9606e8","type":"question-select","z":"340fa181.b8c92e","name":"TB Treatment Start Date","label":"TB Treatment Start Date","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":360,"wires":[["7f755930.5daf98"]]},{"id":"7f755930.5daf98","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #1","label":"ART Regimens #1","scope":"encounter","key":"","datatype":"string","x":200,"y":400,"wires":[["f17e17af.476d28"]]},{"id":"f17e17af.476d28","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #1 Start Date","label":"ART Regimens #1 Start Date","scope":"encounter","key":"","datatype":"date","x":200,"y":440,"wires":[["e21942d8.427d8"]]},{"id":"e21942d8.427d8","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #2","label":"ART Regimens #2","scope":"encounter","key":"","datatype":"string","optional":true,"x":200,"y":480,"wires":[["a68b756c.31c7a8"]]},{"id":"a68b756c.31c7a8","type":"question-primitive","z":"340fa181.b8c92e","name":"ART Regimens #2 Start Date","label":"ART Regimens #2 Start Date","scope":"encounter","key":"","datatype":"date","optional":true,"x":200,"y":520,"wires":[["e5ceb606.7fa3d8"]]},{"id":"fe067824.2a9948","type":"comment","z":"2ace2e04.3bb9a2","name":"ART Intake / Enrolment (only in Register)","info":"","x":220,"y":60,"wires":[]},{"id":"3da6178c.67d858","type":"question-select","z":"2ace2e04.3bb9a2","name":"HIV Type","label":"HIV Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":200,"wires":[["aa6962fb.f9bfd"]]},{"id":"f2896062.6052c","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"Date of HIV diagnosis","label":"Date of HIV diagnosis","scope":"encounter","key":"","datatype":"date","x":240,"y":160,"wires":[["3da6178c.67d858"]]},{"id":"25327dd5.15a8a2","type":"question-select","z":"2ace2e04.3bb9a2","name":"Age group","label":"Age group","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Below 24 months"},{"sid":"2 - 14 years"},{"sid":"15 - 19 years"},{"sid":"20 - 24 years"},{"sid":"25+ years"}],"x":210,"y":120,"wires":[["f2896062.6052c"]]},{"id":"aa6962fb.f9bfd","type":"question-select","z":"2ace2e04.3bb9a2","name":"ART Status at registration","label":"ART Status at registration","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1st time initiation"},{"sid":"Re-initiation"},{"sid":"Transfer in"}],"x":250,"y":240,"wires":[["6644e7d2.d93a08"]]},{"id":"6644e7d2.d93a08","type":"question-select","z":"2ace2e04.3bb9a2","name":"Condition at ART initiation","label":"Condition at ART initiation","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1"},{"sid":"2"},{"sid":"3"},{"sid":"4"},{"sid":"PSHD"},{"sid":"Unknown"}],"x":250,"y":280,"wires":[["cda5d82.e2a2e28"]]},{"id":"cda5d82.e2a2e28","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"TPT Start date","label":"TPT Start date","scope":"encounter","key":"","datatype":"date","x":220,"y":320,"wires":[["27b2029b.3168fe"]]},{"id":"27b2029b.3168fe","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"TPT End date","label":"TPT End date","scope":"encounter","key":"","datatype":"date","optional":true,"x":220,"y":360,"wires":[["f72d049.25c2ff8"]]},{"id":"f72d049.25c2ff8","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"TB Treatment End date","label":"TPT End date","scope":"encounter","key":"","datatype":"date","optional":true,"x":250,"y":400,"wires":[["fb0b67a7.9c36b8"]]},{"id":"fb0b67a7.9c36b8","type":"question-primitive","z":"2ace2e04.3bb9a2","name":"Number of times client re-started ART after default or stop ","label":"Number of times client re-started ART after default or stop ","scope":"encounter","key":"","datatype":"integer","optional":true,"x":360,"y":440,"wires":[[]]},{"id":"bb9df2e9.77089","type":"subflow:340fa181.b8c92e","z":"c3146e98.69994","name":"","env":[],"x":460,"y":220,"wires":[["38dd245a.8eee5c"]]},{"id":"1cb6c288.4e5cdd","type":"subflow:2ace2e04.3bb9a2","z":"c3146e98.69994","name":"","env":[],"x":460,"y":260,"wires":[["2022b8d4.e3be58"]]},{"id":"447a0ef0.4e232","type":"question-primitive","z":"a617f170.1c605","name":"Visit Date","label":"","scope":"encounter","key":"","datatype":"date","x":200,"y":80,"wires":[["6500da71.d7ea34"]]},{"id":"6d901930.8fc7e8","type":"question-primitive","z":"a617f170.1c605","name":"Age (curr)","label":"","scope":"encounter","key":"","datatype":"decimal","x":340,"y":120,"wires":[["a20f6918.28c508"]]},{"id":"a20f6918.28c508","type":"question-primitive","z":"a617f170.1c605","name":"Height","label":"","scope":"encounter","key":"","datatype":"decimal","x":490,"y":120,"wires":[["49e60b0d.a85394"]]},{"id":"49e60b0d.a85394","type":"question-primitive","z":"a617f170.1c605","name":"Weight","label":"","scope":"encounter","key":"","datatype":"decimal","x":190,"y":160,"wires":[["74f61fdc.2f8b7"]]},{"id":"b04c8d7e.15f0d","type":"question-select","z":"a617f170.1c605","name":"Pregnant/Breastfeed","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Preg"},{"sid":"Bf"}],"x":240,"y":260,"wires":[["29689ef1.1028e2"]]},{"id":"29689ef1.1028e2","type":"question-primitive","z":"a617f170.1c605","name":"Pregnant/Breastfeed Child HCC No","label":"","scope":"encounter","key":"","datatype":"string","optional":true,"x":280,"y":300,"wires":[["3b06c6e8.c5f2da"]]},{"id":"74f61fdc.2f8b7","type":"switch","z":"a617f170.1c605","name":"Female and (Pregnant or breastfeeding) and (not child)?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":200,"wires":[["b04c8d7e.15f0d"],["3b06c6e8.c5f2da"]]},{"id":"6500da71.d7ea34","type":"switch","z":"a617f170.1c605","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":120,"wires":[["6d901930.8fc7e8"],["49e60b0d.a85394"]]},{"id":"c799d209.55979","type":"subflow:a617f170.1c605","z":"c3146e98.69994","name":"","env":[],"x":640,"y":320,"wires":[["278e2d6a.17a642"]]},{"id":"b1696fa7.6b7ea","type":"question-select","z":"1643d582.b1991a","name":"TB Status (Current)","label":"TB Status (Current)","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N - TB Not suspected"},{"sid":"Y - TB Suspected"},{"sid":"C - TB confirmed NOT on TB treatment"},{"sid":"Rx - TB confirmed on TB Rx"}],"x":450,"y":80,"wires":[["e369d925.cc48e8"]]},{"id":"e369d925.cc48e8","type":"question-select","z":"1643d582.b1991a","name":"Side Effects","label":"Side Effects","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":190,"y":120,"wires":[["ef97677b.405a18"]]},{"id":"ef97677b.405a18","type":"question-primitive","z":"1643d582.b1991a","name":"Side Effects Notes","label":"Side Effects Notes","scope":"encounter","key":"","datatype":"string","x":210,"y":160,"wires":[["8632d432.05a0a8"]]},{"id":"e138f3db.ab5e9","type":"question-primitive","z":"1643d582.b1991a","name":"AIDS Assoc. Conditions","label":"AIDS Assoc. Conditions","scope":"encounter","key":"","datatype":"string","x":470,"y":220,"wires":[["5fc8968d.556cc8"]]},{"id":"2e376ee5.992ea2","type":"question-primitive","z":"1643d582.b1991a","name":"Pill count","label":"Pill count","scope":"encounter","key":"","datatype":"decimal","x":420,"y":180,"wires":[["5fc8968d.556cc8"]]},{"id":"5fc8968d.556cc8","type":"question-primitive","z":"1643d582.b1991a","name":"Doses Missed","label":"Doses Missed","scope":"encounter","key":"","datatype":"decimal","x":200,"y":260,"wires":[["57b5ee2a.f9602"]]},{"id":"8a235bf8.2f1388","type":"question-select","z":"1643d582.b1991a","name":"ART Regimen Adult","label":"ART Regimen Adult","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":450,"y":340,"wires":[["d4062604.06fd28"]]},{"id":"d4062604.06fd28","type":"question-primitive","z":"1643d582.b1991a","name":"ARVs Given No of tablets","label":"ARVs Given No of tablets","scope":"encounter","key":"","datatype":"decimal","x":230,"y":380,"wires":[["428db83a.0f4818"]]},{"id":"428db83a.0f4818","type":"question-select","z":"1643d582.b1991a","name":"ARVs Given To","label":"ARVs Given To","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"P"},{"sid":"G"}],"x":200,"y":420,"wires":[["f81512dd.457a5"]]},{"id":"f81512dd.457a5","type":"question-select","z":"1643d582.b1991a","name":"CPT/TPT Given","label":"CPT/TPT Given","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"C - CPT only"},{"sid":"I - TPT only"},{"sid":"CI - CPT + TPT"}],"x":200,"y":460,"wires":[["322a1d12.33aae2"]]},{"id":"322a1d12.33aae2","type":"question-primitive","z":"1643d582.b1991a","name":"CPT/TPT No. of Tablets","label":"CPT/TPT No. of Tablets","scope":"encounter","key":"","datatype":"decimal","x":230,"y":500,"wires":[["2a87392.2b8a1c6"]]},{"id":"2a87392.2b8a1c6","type":"question-select","z":"1643d582.b1991a","name":"Stable?","label":"Stable?","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Y"},{"sid":"N"}],"x":180,"y":540,"wires":[["b6b1fb0c.b06998"]]},{"id":"b6b1fb0c.b06998","type":"question-select","z":"1643d582.b1991a","name":"Stable? DSD Model","label":"Stable? DSD Model","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"1 - HIV clinic-based ART"},{"sid":"2 - Fast-track ART"},{"sid":"3 - Facility-based adherence club"},{"sid":"4 - Community ART Distribution point"},{"sid":"5 - Peer-led community ART group"},{"sid":"6 - Patient-led community ART group"}],"x":210,"y":580,"wires":[["1224fa3b.a545e6"]]},{"id":"9aa2965d.dbe728","type":"question-select","z":"1643d582.b1991a","name":"Viral Load Sample taken","label":"Viral Load Sample taken","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Bled"}],"x":610,"y":660,"wires":[["6dacd2b9.a661cc"]]},{"id":"5a58e2c2.42d4dc","type":"question-primitive","z":"1643d582.b1991a","name":"Next Appointment/Outcome Date","label":"Next Appointment/Outcome Date","scope":"encounter","key":"","datatype":"date","x":260,"y":740,"wires":[["c4af907d.c3317"]]},{"id":"c4af907d.c3317","type":"question-select","z":"1643d582.b1991a","name":"Outcome","label":"Outcome","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Died"},{"sid":"Defaulted/LTFU"},{"sid":"Client stopped medication"},{"sid":"Transferred out"}],"x":180,"y":780,"wires":[["5a67260f.aacc38"]]},{"id":"8632d432.05a0a8","type":"switch","z":"1643d582.b1991a","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"msg"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":200,"wires":[["2e376ee5.992ea2"],["e138f3db.ab5e9"]]},{"id":"57b5ee2a.f9602","type":"switch","z":"1643d582.b1991a","name":"Child?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":320,"wires":[["8115bea1.a4c31"],["8a235bf8.2f1388"]]},{"id":"8115bea1.a4c31","type":"question-select","z":"1643d582.b1991a","name":"ART Regimen Child","label":"ART Regimen Child","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":450,"y":300,"wires":[["d4062604.06fd28"]]},{"id":"e6626c0a.c4cb4","type":"find-patient","z":"c3146e98.69994","name":"Find Exp Infant patient","includename":"","includeidentifier":"","program":"","expression":"","x":140,"y":520,"wires":[["760b0c53.8478e4"]]},{"id":"2ddca830.c798e8","type":"question-primitive","z":"d5cb0610.e75008","name":"Visit Date","label":"Visit Date","scope":"encounter","key":"","datatype":"date","x":200,"y":80,"wires":[["e0d9f482.02dee8"]]},{"id":"e0d9f482.02dee8","type":"question-primitive","z":"d5cb0610.e75008","name":"Height","label":"Height","scope":"encounter","key":"","datatype":"decimal","x":200,"y":120,"wires":[["444c2713.4dedd8"]]},{"id":"444c2713.4dedd8","type":"question-primitive","z":"d5cb0610.e75008","name":"Weight","label":"Weight","scope":"encounter","key":"","datatype":"decimal","x":200,"y":160,"wires":[["41019334.725a9c"]]},{"id":"9c947670.675af8","type":"question-primitive","z":"d5cb0610.e75008","name":"MUAC","label":"MUAC","scope":"encounter","key":"","datatype":"decimal","x":370,"y":200,"wires":[["46b2a0c4.41a7"]]},{"id":"41019334.725a9c","type":"switch","z":"d5cb0610.e75008","name":"6 months or older?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":200,"wires":[["9c947670.675af8"],["46b2a0c4.41a7"]]},{"id":"e7e7c0e6.72576","type":"subflow:d5cb0610.e75008","z":"c3146e98.69994","name":"","env":[],"x":620,"y":540,"wires":[["ccbaf7c1.aa16c8"]]},{"id":"2a4b7cd3.ca8784","type":"comment","z":"dc4d15f8.c825c8","name":"Exp Infant Chart - Child","info":"","x":200,"y":80,"wires":[]},{"id":"eedefb7c.4c5478","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Transfer-In Date","label":"Transfer-In Date","scope":"encounter","key":"","datatype":"date","x":200,"y":480,"wires":[["4928200a.fe2dc"]]},{"id":"4928200a.fe2dc","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Guardian Name","label":"Guardian Name","scope":"encounter","key":"","datatype":"string","optional":false,"x":200,"y":520,"wires":[["f4639225.b2139"]]},{"id":"f4639225.b2139","type":"question-select","z":"dc4d15f8.c825c8","name":"Agree to FUP","label":"Agree to FUP","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":200,"y":560,"wires":[["a560a5fd.9260f8"]]},{"id":"a560a5fd.9260f8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Guardian Relation","label":"Guardian Relation","scope":"encounter","key":"","datatype":"string","optional":true,"x":210,"y":600,"wires":[["1c0b8c9a.f51c43"]]},{"id":"1c0b8c9a.f51c43","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Guardian Phone","label":"Guardian Phone","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":200,"y":640,"wires":[[]]},{"id":"b613021f.3adc9","type":"comment","z":"e4a163f.bcc78a","name":"Exp Infant Chart - Status","info":"","x":190,"y":60,"wires":[]},{"id":"e8f47685.f065c8","type":"question-primitive","z":"e4a163f.bcc78a","name":"ART Reg No","label":"ART Reg No","scope":"encounter","key":"","datatype":"string","x":190,"y":120,"wires":[["fd11bb47.f0af68"]]},{"id":"fd11bb47.f0af68","type":"question-primitive","z":"e4a163f.bcc78a","name":"ART Start Date","label":"ART Start Date","scope":"encounter","key":"","datatype":"date","x":190,"y":160,"wires":[["efe7e37.2873f2"]]},{"id":"efe7e37.2873f2","type":"question-primitive","z":"e4a163f.bcc78a","name":"Child Age - At enrolment","label":"Child Age - At enrolment","scope":"encounter","key":"","datatype":"decimal","x":190,"y":200,"wires":[["3344cb82.23a934"]]},{"id":"3344cb82.23a934","type":"question-primitive","z":"e4a163f.bcc78a","name":"Child age - When starting NVP","label":"Child age - When starting NVP","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":190,"y":240,"wires":[["f4da2592.cc43b8"]]},{"id":"f4da2592.cc43b8","type":"question-primitive","z":"e4a163f.bcc78a","name":"NVP duration","label":"NVP duration","scope":"encounter","key":"","datatype":"decimal","optional":true,"x":190,"y":280,"wires":[[]]},{"id":"aad4c8da.e9b5a8","type":"comment","z":"69e3b9ba.723bc8","name":"Exp Infant Chart - HIV Testing","info":"","x":200,"y":60,"wires":[]},{"id":"b6fe09d2.2a9958","type":"question-primitive","z":"69e3b9ba.723bc8","name":"Sample Date","label":"Sample Date","scope":"encounter","key":"","datatype":"date","x":200,"y":120,"wires":[["2acb0c6e.98bba4"]]},{"id":"2acb0c6e.98bba4","type":"question-select","z":"69e3b9ba.723bc8","name":"Type","label":"Type","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"DBS"},{"sid":"RT"}],"x":200,"y":160,"wires":[["7f5409c7.4330c8"]]},{"id":"7f5409c7.4330c8","type":"question-primitive","z":"69e3b9ba.723bc8","name":"Sample ID/HCT","label":"Sample ID/HCT","scope":"encounter","key":"","datatype":"date","x":200,"y":200,"wires":[["8669f1a8.6753c"]]},{"id":"8669f1a8.6753c","type":"question-select","z":"69e3b9ba.723bc8","name":"Result","label":"Result","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Neg"},{"sid":"Pos"},{"sid":"Inc"}],"x":200,"y":240,"wires":[["19b151c1.fff8de"]]},{"id":"19b151c1.fff8de","type":"question-primitive","z":"69e3b9ba.723bc8","name":"From lab","label":"From lab","scope":"encounter","key":"","datatype":"string","x":200,"y":280,"wires":[["39ae6d4d.b35712"]]},{"id":"39ae6d4d.b35712","type":"question-primitive","z":"69e3b9ba.723bc8","name":"tests","label":"tests","scope":"encounter","key":"","datatype":"string","x":200,"y":320,"wires":[[]]},{"id":"2b04fcf.a3db204","type":"subflow:dc4d15f8.c825c8","z":"c3146e98.69994","name":"","env":[],"x":430,"y":400,"wires":[["c85ec29.e873b4"]]},{"id":"1c45f065.6f6dc","type":"subflow:e4a163f.bcc78a","z":"c3146e98.69994","name":"","env":[],"x":410,"y":440,"wires":[["1921d86b.f413a8"]]},{"id":"eaeb6cbf.1aff9","type":"subflow:69e3b9ba.723bc8","z":"c3146e98.69994","name":"","env":[],"x":420,"y":480,"wires":[["27d88665.d1995a"]]},{"id":"4a5a9bbc.6299c4","type":"question-select","z":"7d846b81.1913b4","name":"Wasting/Malnutrition (based on Wt/Hgt or MUAC)","label":"Wasting/Malnutrition (based on Wt/Hgt or MUAC)","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Mod"},{"sid":"Sev"}],"x":270,"y":140,"wires":[["bb6ffd9d.a6755"]]},{"id":"bb6ffd9d.a6755","type":"question-select","z":"7d846b81.1913b4","name":"Breast feeding","label":"Breast feeding","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Ongoing - Exclusive"},{"sid":"Ongoing - Mixed/Complementary"},{"sid":"Stopped - In last 6 weeks"},{"sid":"Stopped - Over 6 weeks age"}],"x":270,"y":180,"wires":[["7f218d1c.aa0584"]]},{"id":"7f218d1c.aa0584","type":"question-select","z":"7d846b81.1913b4","name":"Mother Status","label":"Mother Status","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Not On ART"},{"sid":"ART Adherent"},{"sid":"Died"},{"sid":"Unknown"}],"x":270,"y":220,"wires":[["ea4eec5c.17aed"]]},{"id":"ea4eec5c.17aed","type":"question-select","z":"7d846b81.1913b4","name":"Clinical Monitoring","label":"Clinical Monitoring","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"No Abnorm. Det"},{"sid":"Any sickness"}],"x":270,"y":260,"wires":[["a674e866.911268"]]},{"id":"a674e866.911268","type":"question-select","z":"7d846b81.1913b4","name":"HIV Testing","label":"HIV Testing","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Not done"},{"sid":"DBS taken (PCR)"},{"sid":"Rapid test done"}],"x":270,"y":300,"wires":[["bd0401e2.bf43d"]]},{"id":"bd0401e2.bf43d","type":"question-select","z":"7d846b81.1913b4","name":"HIV Infection","label":"HIV Infection","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Confirmed - Not infected"},{"sid":"Confirmed - Infected ART"},{"sid":"Not confirmed - Not ART eligible"},{"sid":"Not confirmed - PSHD"}],"x":270,"y":340,"wires":[["401dc0b7.9a2b8"]]},{"id":"401dc0b7.9a2b8","type":"question-primitive","z":"7d846b81.1913b4","name":"CPT given (ml/tabs)","label":"CPT given (ml/tabs)","scope":"encounter","key":"","datatype":"decimal","x":270,"y":380,"wires":[["b92a7288.ae701"]]},{"id":"b92a7288.ae701","type":"question-select","z":"7d846b81.1913b4","name":"Follow-Up Outcome","label":"Follow-Up Outcome","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Continnue FUP"},{"sid":"Discharge Uninfected"},{"sid":"Started ART"},{"sid":"Transfer out"},{"sid":"Defaulted"},{"sid":"Died"}],"x":270,"y":420,"wires":[["4e50bfc.a0a5d4"]]},{"id":"4e50bfc.a0a5d4","type":"question-primitive","z":"7d846b81.1913b4","name":"Next appointment/Outcome Date","label":"Next appointment/Outcome Date","scope":"encounter","key":"","datatype":"date","x":270,"y":460,"wires":[[]]},{"id":"863fadff.37a2a","type":"subflow:7d846b81.1913b4","z":"40529161.05535","name":"","env":[],"x":340,"y":240,"wires":[["14c33238.f7ecde"]]},{"id":"758b8e72.98744","type":"subflow:1643d582.b1991a","z":"40529161.05535","name":"","env":[],"x":340,"y":400,"wires":[["46a7c7cf.f35cf8"]]},{"id":"471d5d14.c882c4","type":"end-flow","z":"40529161.05535","name":"","x":400,"y":320,"wires":[]},{"id":"3537ea8d.50b4b6","type":"end-flow","z":"40529161.05535","name":"","x":400,"y":480,"wires":[]},{"id":"ea49283e.89d128","type":"find-patient","z":"c3146e98.69994","name":"Unknown status","includename":"","includeidentifier":"","program":"","expression":"","x":120,"y":640,"wires":[["7289761e.232da8"]]},{"id":"98deaf2f.cf475","type":"end-flow","z":"da8155cd.bf0aa8","name":"","x":720,"y":100,"wires":[]},{"id":"3a283229.4358ce","type":"question-primitive","z":"da8155cd.bf0aa8","name":"VL result","label":"VL result","scope":"encounter","key":"","datatype":"integer","x":560,"y":100,"wires":[["98deaf2f.cf475"]]},{"id":"db920d58.40188","type":"question-select","z":"83a8b2ef.0d8da","name":"Select open prescription","label":"Select open prescription","scope":"encounter","key":"","behavior":"","devices":[{"sid":"dummy"}],"x":490,"y":100,"wires":[["15046fe.420dd9"]]},{"id":"15046fe.420dd9","type":"switch","z":"83a8b2ef.0d8da","name":"medication available?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":140,"wires":[["a94ea4a2.5dd978","81a669f2.b8c5a8"],["81a669f2.b8c5a8"]]},{"id":"79eb2546.d81bdc","type":"switch","z":"83a8b2ef.0d8da","name":"another open prescription?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":300,"wires":[["db920d58.40188"],["28b4ac01.903564"]]},{"id":"81a669f2.b8c5a8","type":"question-select","z":"83a8b2ef.0d8da","name":"select substitute","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"dummy2"}],"x":560,"y":200,"wires":[["a94ea4a2.5dd978"]]},{"id":"a94ea4a2.5dd978","type":"question-select","z":"83a8b2ef.0d8da","name":"dispense","label":"dispense","scope":"encounter","key":"","behavior":"","devices":[{"sid":"dummy"},{"sid":"dummy2"}],"x":760,"y":200,"wires":[["79eb2546.d81bdc"]]},{"id":"28b4ac01.903564","type":"end-flow","z":"83a8b2ef.0d8da","name":"","x":440,"y":300,"wires":[]},{"id":"5b968043.31ee7","type":"summary","z":"c3146e98.69994","name":"","x":680,"y":140,"wires":[["94e6c502.707408"]]},{"id":"72fe491f.9bd0d8","type":"summary","z":"c3146e98.69994","name":"","x":680,"y":180,"wires":[["bb9df2e9.77089"]]},{"id":"38dd245a.8eee5c","type":"summary","z":"c3146e98.69994","name":"","x":680,"y":220,"wires":[["1cb6c288.4e5cdd"]]},{"id":"2022b8d4.e3be58","type":"summary","z":"c3146e98.69994","name":"","x":680,"y":260,"wires":[["8061fe90.d5036"]]},{"id":"c85ec29.e873b4","type":"summary","z":"c3146e98.69994","name":"","x":660,"y":400,"wires":[["1c45f065.6f6dc"]]},{"id":"1921d86b.f413a8","type":"summary","z":"c3146e98.69994","name":"","x":660,"y":440,"wires":[["eaeb6cbf.1aff9"]]},{"id":"27d88665.d1995a","type":"summary","z":"c3146e98.69994","name":"","x":660,"y":480,"wires":[["4022dbf5.e6d764"]]},{"id":"7289761e.232da8","type":"question-select","z":"c3146e98.69994","name":"Refer to HCT","label":"Refer to HCT","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"yes"},{"sid":"no"}],"x":310,"y":640,"wires":[["93cc95e6.6e6bd8"]]},{"id":"27a5e34.e3f861c","type":"question-select","z":"c3146e98.69994","name":"Contact status","label":"Contact status","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Patient"},{"sid":"Guardian"},{"sid":"None contacted"}],"x":480,"y":840,"wires":[["230f51ef.3341ee"]]},{"id":"40f927f2.744ab8","type":"question-select","z":"c3146e98.69994","name":"Outcome update","label":"Outcome update","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Stopped"},{"sid":"Died"},{"sid":"Transfer out"}],"x":470,"y":1000,"wires":[["da5edb67.d083d8"]]},{"id":"2651b910.1c8b16","type":"summary","z":"c3146e98.69994","name":"","x":500,"y":800,"wires":[["27a5e34.e3f861c"]],"info":"\nShow agrees to follow-up\n\nShow contact details for patient and guardian"},{"id":"230f51ef.3341ee","type":"switch","z":"c3146e98.69994","name":"Contact successful?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":460,"y":880,"wires":[["6fb728e9.a20038"],["da5edb67.d083d8"]]},{"id":"9f69b60b.f455e8","type":"switch","z":"c3146e98.69994","name":"Patient returning to clinic?","property":"currentEncounter","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":440,"y":960,"wires":[["da5edb67.d083d8"],["40f927f2.744ab8"]]},{"id":"aab31a83.992ee8","type":"summary","z":"c3146e98.69994","name":"","x":360,"y":720,"wires":[["341cf6b0.91c9aa"]]},{"id":"341cf6b0.91c9aa","type":"question-select","z":"c3146e98.69994","name":"Outcome update","label":"Outcome update","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Stopped"},{"sid":"Died"},{"sid":"Transfer out"},{"sid":"Lost to follow-up (defaulted)"}],"x":530,"y":720,"wires":[["ae45af1d.7fc1b"]]},{"id":"14c33238.f7ecde","type":"summary","z":"40529161.05535","name":"","x":380,"y":280,"wires":[["471d5d14.c882c4"]]},{"id":"46a7c7cf.f35cf8","type":"summary","z":"40529161.05535","name":"","x":380,"y":440,"wires":[["3537ea8d.50b4b6"]]},{"id":"451388c5.870eb8","type":"summary","z":"7d846b81.1913b4","name":"","x":280,"y":100,"wires":[["4a5a9bbc.6299c4"]],"info":"Show weight & height & muac"},{"id":"b18f185b.71d9a8","type":"careflow","z":"c3146e98.69994","careflow_runtime":"7bf38ac1.088444","x":760,"y":40,"wires":[]},{"id":"854c67f8.75a448","type":"comment","z":"c3146e98.69994","name":"RDH: HIV Registration","info":"","x":400,"y":40,"wires":[]},{"id":"692f11d5.71e8e","type":"comment","z":"40529161.05535","name":"RDH: ART Unit","info":"","x":500,"y":140,"wires":[]},{"id":"819d4e98.0289","type":"comment","z":"da8155cd.bf0aa8","name":"RDH: Micro Lab","info":"","x":400,"y":40,"wires":[]},{"id":"d86dcc05.307fd","type":"comment","z":"83a8b2ef.0d8da","name":"RDH: Dispensary","info":"","x":440,"y":40,"wires":[]},{"id":"d8d59681.67bdc8","type":"comment","z":"a617f170.1c605","name":"ART Visit: Vitals","info":"","x":160,"y":20,"wires":[]},{"id":"31c73880.41ab48","type":"comment","z":"1643d582.b1991a","name":"ART Visit","info":"","x":140,"y":20,"wires":[]},{"id":"4ccfcd31.5d9fc4","type":"comment","z":"d5cb0610.e75008","name":"Exp Infant: Vitals","info":"","x":180,"y":40,"wires":[]},{"id":"78b65795.0f0f08","type":"comment","z":"7d846b81.1913b4","name":"Exp Infant Visit","info":"","x":280,"y":40,"wires":[]},{"id":"46b2a0c4.41a7","type":"function","z":"d5cb0610.e75008","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":240,"wires":[[]]},{"id":"3b06c6e8.c5f2da","type":"summary","z":"a617f170.1c605","name":"","x":660,"y":260,"wires":[[]]},{"id":"623c7d4e.d18f04","type":"switch","z":"1643d582.b1991a","name":"Viral Load necessary?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":700,"wires":[["9aa2965d.dbe728"],["5a58e2c2.42d4dc"]]},{"id":"1224fa3b.a545e6","type":"switch","z":"1643d582.b1991a","name":"1st Viral Load after 6months?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":310,"y":620,"wires":[["9aa2965d.dbe728"],["1e72f7cb.3f63d8"]]},{"id":"1e72f7cb.3f63d8","type":"switch","z":"1643d582.b1991a","name":"Viral Load every 12 months?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":660,"wires":[["9aa2965d.dbe728"],["623c7d4e.d18f04"]]},{"id":"40d0417a.6119d","type":"scan-barcode","z":"da8155cd.bf0aa8","name":"","x":420,"y":180,"wires":[[]]},{"id":"6dacd2b9.a661cc","type":"print-barcode","z":"1643d582.b1991a","name":"","x":640,"y":700,"wires":[["5a67260f.aacc38"]]},{"id":"19c1d9ad.d81bf6","type":"take-photo","z":"da8155cd.bf0aa8","name":"Photo of barcode","x":370,"y":100,"wires":[["3a283229.4358ce"]]},{"id":"cf73b8b4.e0b418","type":"summary-clinical","z":"da8155cd.bf0aa8","name":"","x":250,"y":140,"wires":[["19c1d9ad.d81bf6"]]},{"id":"4631b8cf.7edba8","type":"summary-interactive","z":"da8155cd.bf0aa8","name":"","label":"","outputs":1,"buttons":[{"name":"wewe"}],"x":180,"y":260,"wires":[["cf73b8b4.e0b418"]],"info":"<h1>Viral Load</h1>\n<div style=\"height: 400px; width: 800px\">\n<canvas id=\"myChart\" width=\"800\" height=\"400\"></canvas>\n<script>\nvar ctx = document.getElementById('myChart').getContext('2d');\nvar myChart = new Chart(ctx, {\n    type: 'line',\n    data: {\n        labels: ['July', 'August', 'September', 'October', 'November', 'December'],\n        datasets: [{\n            label: 'Viral Load',\n            data: [12345, 25001, 30000, 22394, 17934, 9878],\n            backgroundColor: [\n                'rgba(255, 99, 132, 0.2)',\n                'rgba(54, 162, 235, 0.2)',\n                'rgba(255, 206, 86, 0.2)',\n                'rgba(75, 192, 192, 0.2)',\n                'rgba(153, 102, 255, 0.2)',\n                'rgba(255, 159, 64, 0.2)'\n            ],\n            borderColor: [\n                'rgba(255, 99, 132, 1)',\n                'rgba(54, 162, 235, 1)',\n                'rgba(255, 206, 86, 1)',\n                'rgba(75, 192, 192, 1)',\n                'rgba(153, 102, 255, 1)',\n                'rgba(255, 159, 64, 1)'\n            ],\n            borderWidth: 1\n        }]\n    },\n    options: {\n    responsive: true,\n    maintainAspectRatio: false,\n    scales: {\n            yAxes: [{\n                ticks: {\n                    beginAtZero: true\n                }\n            }]\n        }\n    }\n});\n</script>\n</div>\n"},{"id":"1160b16.125af4f","type":"switch","z":"8204b671.3e7a68","name":"Time since ART start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Less than 6 months","vt":"str"},{"t":"eq","v":"Between milestones","vt":"str"},{"t":"eq","v":"Around milestones","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":500,"y":140,"wires":[["46ae5274.9acc5c"],["2b6367cb.feb958"],["722bf6d6.040698"]]},{"id":"e2702eee.3eaeb","type":"comment","z":"8204b671.3e7a68","name":"ART clinician visit","info":"","x":120,"y":80,"wires":[]},{"id":"2b6367cb.feb958","type":"switch","z":"8204b671.3e7a68","name":"Ever had VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ever","vt":"str"},{"t":"eq","v":"Never","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":710,"y":140,"wires":[["cb698707.6381b8"],["722bf6d6.040698"]]},{"id":"cb698707.6381b8","type":"switch","z":"8204b671.3e7a68","name":"Clinical condition","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Well","vt":"str"},{"t":"eq","v":"Not well","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":140,"wires":[["ab36a922.55a248"],["d3013926.d3e238"]]},{"id":"46ae5274.9acc5c","type":"end-flow","z":"8204b671.3e7a68","name":"","x":700,"y":100,"wires":[]},{"id":"9613794f.e43788","type":"comment","z":"8204b671.3e7a68","name":"ART clinician visit: Routine VL available","info":"","x":190,"y":300,"wires":[]},{"id":"38228469.c6cb0c","type":"switch","z":"8204b671.3e7a68","name":"Detectable VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Below detection limit","vt":"str"},{"t":"eq","v":"Any detectable VL","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":700,"y":360,"wires":[["1287a2f0.f49e4d"],["37dfe70f.186288"]]},{"id":"ee34e26.426742","type":"question-primitive","z":"8204b671.3e7a68","name":"Continue current regimen","label":"","scope":"encounter","key":"","datatype":"boolean","x":1170,"y":340,"wires":[["91ac47a2.aa0518"]]},{"id":"5274b61c.946488","type":"question-primitive","z":"8204b671.3e7a68","name":"Intensive Adh Support","label":"","scope":"encounter","key":"","datatype":"string","x":1160,"y":380,"wires":[["dc649066.42e38"]]},{"id":"91ac47a2.aa0518","type":"end-flow","z":"8204b671.3e7a68","name":"","x":1380,"y":340,"wires":[]},{"id":"75b00b3c.25d784","type":"switch","z":"8204b671.3e7a68","name":"Current Regimen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0 - 6","vt":"str"},{"t":"eq","v":"7 - 15","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1270,"y":540,"wires":[["548206f5.4d7358"],["745923c2.0b3abc"]]},{"id":"ab36a922.55a248","type":"end-flow","z":"8204b671.3e7a68","name":"","x":1160,"y":120,"wires":[]},{"id":"c04b1c4a.35ddc","type":"end-flow","z":"8204b671.3e7a68","name":"","x":1160,"y":200,"wires":[]},{"id":"eae61deb.2a4e1","type":"end-flow","z":"8204b671.3e7a68","name":"","x":1640,"y":160,"wires":[]},{"id":"11b950dc.be961f","type":"end-flow","z":"8204b671.3e7a68","name":"","x":1700,"y":380,"wires":[]},{"id":"49066cde.03a104","type":"switch","z":"8204b671.3e7a68","name":"VL (copies / ml)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1000+","vt":"str"},{"t":"eq","v":"Above DL, but <1000","vt":"str"},{"t":"eq","v":"Below detection limit (DL)","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":780,"y":600,"wires":[["7953849d.3243fc"],["408c9003.47f18"],["2dd843af.d751ec"]]},{"id":"548206f5.4d7358","type":"question-select","z":"8204b671.3e7a68","name":"Start 2nd Line","label":"Start 2nd Line","scope":"encounter","key":"","behavior":"","devices":[{"sid":"2nd Line"}],"x":1520,"y":520,"wires":[["3d2420c.0f0c2e"]]},{"id":"7125c6a1.5028e8","type":"end-flow","z":"8204b671.3e7a68","name":"","x":2080,"y":520,"wires":[]},{"id":"e6ca7ef4.813f4","type":"end-flow","z":"8204b671.3e7a68","name":"","x":2080,"y":560,"wires":[]},{"id":"722cdeab.e889","type":"question-primitive","z":"8204b671.3e7a68","name":"Intensive Adh Support","label":"Intensive Adh Support","scope":"encounter","key":"","datatype":"","x":1280,"y":600,"wires":[["cf3c2db1.5afc"]]},{"id":"745923c2.0b3abc","type":"summary","z":"8204b671.3e7a68","name":"Poor adherence or failure","x":1550,"y":560,"wires":[["f2959bc3.a7c978"]],"info":"<b>Poor adherence or failure</b>"},{"id":"3d2420c.0f0c2e","type":"summary","z":"8204b671.3e7a68","name":"Confirmed failure","x":1850,"y":520,"wires":[["7125c6a1.5028e8"]],"info":"<b>Confirmed failure</b>"},{"id":"408c9003.47f18","type":"summary","z":"8204b671.3e7a68","name":"Potential failure","x":980,"y":600,"wires":[["722cdeab.e889"]],"info":"<b>Result: Potential failure</b>"},{"id":"2dd843af.d751ec","type":"summary","z":"8204b671.3e7a68","name":"Below Detection Limit (DL)","x":1020,"y":640,"wires":[["f6604c02.de4e4"]],"info":"<b>Result below detection limit (DL)</b>"},{"id":"f6604c02.de4e4","type":"question-primitive","z":"8204b671.3e7a68","name":"Continue current regimen","label":"Continue current regimen","scope":"encounter","key":"","datatype":"","x":1290,"y":640,"wires":[["b18af91d.7892c8"]]},{"id":"b18af91d.7892c8","type":"end-flow","z":"8204b671.3e7a68","name":"","x":1500,"y":640,"wires":[]},{"id":"ba2321fb.d94b5","type":"end-flow","z":"8204b671.3e7a68","name":"","x":1820,"y":600,"wires":[]},{"id":"7953849d.3243fc","type":"summary","z":"8204b671.3e7a68","name":"1000+","x":950,"y":540,"wires":[["75b00b3c.25d784"]],"info":"<b>Result: 1000+</b>"},{"id":"c4e336b5.ebcef8","type":"comment","z":"8204b671.3e7a68","name":"ART clinician visit: Targeted / Follow-up VL available","info":"","x":230,"y":540,"wires":[]},{"id":"1287a2f0.f49e4d","type":"summary","z":"8204b671.3e7a68","name":"Below detection limit","x":920,"y":340,"wires":[["ee34e26.426742"]],"info":"<b>Result: Below detection limit</b>"},{"id":"37dfe70f.186288","type":"summary","z":"8204b671.3e7a68","name":"Any detectable VL","x":910,"y":380,"wires":[["5274b61c.946488"]],"info":"<b>Result: Any detectable VL</b>"},{"id":"722bf6d6.040698","type":"question-primitive","z":"8204b671.3e7a68","name":"Order: VL Routing schedule","label":"Order: VL Routing schedule: Enter sample ID","scope":"encounter","key":"","datatype":"integer","x":940,"y":200,"wires":[["c04b1c4a.35ddc"]]},{"id":"fcdc6a0c.53c948","type":"question-primitive","z":"8204b671.3e7a68","name":"Order: VL Targeted Follow-up VL","label":"Order: VL Targeted Follow-up VL: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","x":1400,"y":160,"wires":[["eae61deb.2a4e1"]]},{"id":"d3013926.d3e238","type":"summary","z":"8204b671.3e7a68","name":"Not Well","x":1160,"y":160,"wires":[["fcdc6a0c.53c948"]],"info":"<b>Clinical Condition: Not well</b>"},{"id":"dc649066.42e38","type":"question-primitive","z":"8204b671.3e7a68","name":"Order: VL Targeted Follow-up VL","label":"Order: VL Targeted Follow-up VL: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","x":1460,"y":380,"wires":[["11b950dc.be961f"]]},{"id":"cf3c2db1.5afc","type":"question-primitive","z":"8204b671.3e7a68","name":"Order: VL Targeted Follow-up VL","label":"Order: VL Targeted Follow-up VL: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","x":1580,"y":600,"wires":[["ba2321fb.d94b5"]]},{"id":"f2959bc3.a7c978","type":"question-primitive","z":"8204b671.3e7a68","name":"Order: Genotype testing","label":"Order: Genotype testing: Enter Sample ID","scope":"encounter","key":"","datatype":"integer","x":1870,"y":560,"wires":[["e6ca7ef4.813f4"]]},{"id":"fe1d00ea.2923d","type":"summary","z":"8204b671.3e7a68","name":"VL Targeted/Follow-up Result","x":530,"y":600,"wires":[["49066cde.03a104"]],"info":"<b>VL Targeted/Follow-up Result available</b>"},{"id":"87948933.6fcb58","type":"summary","z":"8204b671.3e7a68","name":"VL Routine Result","x":490,"y":360,"wires":[["38228469.c6cb0c"]],"info":"<b>VL Routine Result available</b>"},{"id":"e188c2d.5ce7d4","type":"summary-chart-art","z":"8204b671.3e7a68","name":"","x":200,"y":220,"wires":[["c4196074.1cc5b"]]},{"id":"f3f1fd1e.ef6b4","type":"summary-clinical","z":"8204b671.3e7a68","name":"","x":820,"y":260,"wires":[[]]},{"id":"c4196074.1cc5b","type":"summary-interactive","z":"8204b671.3e7a68","name":"","label":"","outputs":1,"buttons":[{"name":"","desc":"","model":""}],"x":440,"y":240,"wires":[["f981419c.da0d2"]]},{"id":"f981419c.da0d2","type":"summary","z":"8204b671.3e7a68","name":"","x":640,"y":260,"wires":[["f3f1fd1e.ef6b4"]]},{"id":"5da1b8c1.156df8","type":"find-patient","z":"8204b671.3e7a68","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":100,"y":180,"wires":[["e188c2d.5ce7d4"]]},{"id":"5a67260f.aacc38","type":"summary","z":"1643d582.b1991a","name":"","x":620,"y":780,"wires":[[]]},{"id":"6fb728e9.a20038","type":"question-select","z":"c3146e98.69994","name":"Patient returning to Clinic","label":"Patient returning to Clinic?","scope":"encounter","key":"","behavior":"","devices":[{"sid":"yes"},{"sid":"no"}],"x":450,"y":920,"wires":[["9f69b60b.f455e8"]]},{"id":"d9c943e9.6568d","type":"create-patient","z":"6467ceb9.0eaa4","name":"","x":180,"y":480,"wires":[["7098ebc1.67e864"]]},{"id":"42682891.4504c8","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Unique Code","label":"Unique Code","scope":"demographic","key":"","datatype":"text","x":170,"y":120,"wires":[["541f9430.ec979c"]]},{"id":"d29e0668.becb78","type":"demographic-birthdate","z":"6467ceb9.0eaa4","name":"","entrybyage":"","partialdate":"","x":160,"y":360,"wires":[["7719ce4f.e02b"]]},{"id":"541f9430.ec979c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Facility Client #","label":"Facility Client #","scope":"demographic","key":"","datatype":"text","x":180,"y":160,"wires":[["cad521a.643b8e"]]},{"id":"cad521a.643b8e","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Cohort #","label":"Cohort #","scope":"demographic","key":"","datatype":"text","x":160,"y":200,"wires":[["3cfe6f0b.c2363"]]},{"id":"3cfe6f0b.c2363","type":"question-primitive","z":"6467ceb9.0eaa4","name":"givenname","label":"givenname","scope":"demographic","key":"","datatype":"text","x":170,"y":240,"wires":[["7defe26.ffdcd1c"]]},{"id":"7defe26.ffdcd1c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"familyname","label":"familyname","scope":"demographic","key":"","datatype":"text","x":170,"y":280,"wires":[["75a6a57f.2c4c6c"]]},{"id":"e5272788.457b58","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Phone Patient","label":"Phone Patient","scope":"demographic","key":"","datatype":"text","optional":true,"x":180,"y":440,"wires":[["d9c943e9.6568d"]]},{"id":"75a6a57f.2c4c6c","type":"question-primitive","z":"6467ceb9.0eaa4","name":"Sex","label":"Sex","scope":"demographic","key":"","datatype":"text","x":150,"y":320,"wires":[["d29e0668.becb78"]]},{"id":"7098ebc1.67e864","type":"set-encountertype","z":"6467ceb9.0eaa4","name":"","encounterType":"art-register","x":510,"y":280,"wires":[["1a67bdec.f3c132"]]},{"id":"ffdf596a.bab228","type":"set-encountertype","z":"c3146e98.69994","name":"","encounterType":"art-visit","x":430,"y":320,"wires":[["c799d209.55979"]]},{"id":"8061fe90.d5036","type":"create-encounter","z":"c3146e98.69994","name":"","x":870,"y":260,"wires":[["ffdf596a.bab228"]]},{"id":"278e2d6a.17a642","type":"create-encounter-end","z":"c3146e98.69994","name":"","x":870,"y":320,"wires":[]},{"id":"93cc95e6.6e6bd8","type":"create-encounter-end","z":"c3146e98.69994","name":"","x":530,"y":640,"wires":[]},{"id":"ccbaf7c1.aa16c8","type":"create-encounter-end","z":"c3146e98.69994","name":"","x":850,"y":540,"wires":[]},{"id":"760b0c53.8478e4","type":"set-encountertype","z":"c3146e98.69994","name":"","encounterType":"expinfant-visit","x":410,"y":540,"wires":[["e7e7c0e6.72576"]]},{"id":"4022dbf5.e6d764","type":"create-encounter","z":"c3146e98.69994","name":"","x":850,"y":480,"wires":[["760b0c53.8478e4"]]},{"id":"da5edb67.d083d8","type":"create-encounter-end","z":"c3146e98.69994","name":"","x":730,"y":920,"wires":[]},{"id":"ae45af1d.7fc1b","type":"create-encounter-end","z":"c3146e98.69994","name":"","x":750,"y":720,"wires":[]},{"id":"a7c9ecc8.4420a","type":"set-encountertype","z":"dc4d15f8.c825c8","name":"","encounterType":"expinfant-register","x":210,"y":440,"wires":[["eedefb7c.4c5478"]]},{"id":"a19aba08.757b98","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Sex","label":"","scope":"demographic","key":"","datatype":"string","x":170,"y":320,"wires":[["4fc07fd1.09cc7"]]},{"id":"3ffd8712.7127e8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"familyname","label":"","scope":"demographic","key":"familyname","datatype":"string","x":190,"y":280,"wires":[["a19aba08.757b98"]]},{"id":"2bf878ed.2bfcf8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Givenname","label":"","scope":"demographic","key":"givenname","datatype":"string","x":190,"y":240,"wires":[["3ffd8712.7127e8"]]},{"id":"ef734813.ccb898","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Birth Cohort","label":"","scope":"demographic","key":"","datatype":"string","x":190,"y":200,"wires":[["2bf878ed.2bfcf8"]]},{"id":"c228b7c7.6ccee8","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Unique Code","label":"","scope":"demographic","key":"","datatype":"string","x":190,"y":120,"wires":[["dddde1b0.50d0d"]]},{"id":"dddde1b0.50d0d","type":"question-primitive","z":"dc4d15f8.c825c8","name":"Facility Client #","label":"","scope":"demographic","key":"","datatype":"string","x":200,"y":160,"wires":[["ef734813.ccb898"]]},{"id":"248e8a58.28f346","type":"create-patient","z":"dc4d15f8.c825c8","name":"","x":200,"y":400,"wires":[["a7c9ecc8.4420a"]]},{"id":"9e2278b8.90b6d8","type":"summary-chart-art","z":"1643d582.b1991a","name":"","x":220,"y":80,"wires":[["b1696fa7.6b7ea"]]},{"id":"7719ce4f.e02b","type":"address-liberia","z":"6467ceb9.0eaa4","name":"Detailed Physical Address","label":"","scope":"demographic","key":"address","x":210,"y":400,"wires":[["e5272788.457b58"]]},{"id":"4fc07fd1.09cc7","type":"address-liberia","z":"dc4d15f8.c825c8","name":"","scope":"demographic","key":"address","x":200,"y":360,"wires":[["248e8a58.28f346"]]},{"id":"69567647.dafd48","type":"patients-queue","z":"40529161.05535","name":"Checked In Exp Infants","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":300,"y":200,"wires":[["863fadff.37a2a"]]},{"id":"f630a055.19324","type":"patients-queue","z":"40529161.05535","name":"Checked in ART patients","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":290,"y":360,"wires":[["758b8e72.98744"]]},{"id":"fc6e29b8.690238","type":"patients-queue","z":"c3146e98.69994","name":"Scheduled ART patients","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":150,"y":340,"wires":[["ffdf596a.bab228"]]},{"id":"c7508b76.907f88","type":"patients-queue","z":"c3146e98.69994","name":"Scheduled Exp Infant patients","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":160,"y":560,"wires":[["760b0c53.8478e4"]]},{"id":"2d5bb799.83ec48","type":"patients-queue","z":"c3146e98.69994","name":"Overdue patients (>3 months)","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":160,"y":720,"wires":[["aab31a83.992ee8"]]},{"id":"aca4c9fa.e858c8","type":"patients-queue","z":"c3146e98.69994","name":"Overdue patients (>2 weeks), 1st contact attempt","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":220,"y":800,"wires":[["2651b910.1c8b16"]]},{"id":"3804fd92.ff2942","type":"patients-queue","z":"da8155cd.bf0aa8","name":"Bled patients list","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":160,"y":100,"wires":[["4631b8cf.7edba8"]]},{"id":"9aaf8e89.929b8","type":"patients-queue","z":"83a8b2ef.0d8da","name":"patient list with open prescriptions","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":200,"y":100,"wires":[["db920d58.40188"]]},{"id":"8f8f2ed3.cfc3d","type":"patients-queue","z":"ccc8e317.ff8cd","name":"Scheduled Patients List","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":160,"y":160,"wires":[["44be35ba.b39a7c"]]},{"id":"386b688b.774648","type":"patients-queue","z":"32b25cd2.550b44","name":"Scheduled Patients List","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":260,"y":420,"wires":[["5906c324.5ca634"]]},{"id":"7fdd4604.595208","type":"patients-queue","z":"4c9fe8ac.10e058","name":"Checked-In Patients List","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":220,"wires":[["c2650a4c.d799c8"]]},{"id":"906968ce.9db918","type":"patients-queue","z":"4c9fe8ac.10e058","name":"unprocessed sample list","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":420,"wires":[["824ea3c0.d4612"]]},{"id":"7fe45e7.71e34a","type":"patients-queue","z":"4c9fe8ac.10e058","name":"patient list with lab results","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":520,"wires":[["16058ba7.84ea94"]]},{"id":"dd0180fb.571a3","type":"patients-queue","z":"4c9fe8ac.10e058","name":"patient list with open prescriptions","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":240,"y":620,"wires":[["9b619b7d.b68508"]]},{"id":"f82e8c35.9aa88","type":"patients-queue","z":"8204b671.3e7a68","name":"Scheduled ART patients","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":250,"y":140,"wires":[["1160b16.125af4f"]]},{"id":"645e087b.d8bcc8","type":"patients-queue","z":"8204b671.3e7a68","name":"ART patients: Routine VL avail","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":240,"y":360,"wires":[["87948933.6fcb58"]]},{"id":"1dec7817.6e06e8","type":"patients-queue","z":"8204b671.3e7a68","name":"ART patients: Targeted, follow-up VL avail","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":200,"y":600,"wires":[["fe1d00ea.2923d"]]},{"id":"e5ceb606.7fa3d8","type":"blood-pressure","z":"340fa181.b8c92e","name":"","label":"","key":"bp","x":200,"y":560,"wires":[[]]},{"id":"a3cb9bb1.02ed48","type":"patients-queue","z":"31f002eb.4ebf6e","name":"Checked in Patients","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":210,"y":80,"wires":[["3461944a.8a25ac"]]},{"id":"40a65516.de883c","type":"end-flow","z":"31f002eb.4ebf6e","name":"","x":1100,"y":340,"wires":[]},{"id":"ffd3d7c3.8b2838","type":"question-primitive","z":"31f002eb.4ebf6e","name":"Height","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":350,"y":200,"wires":[["3eeee54a.7c509a"]]},{"id":"3eeee54a.7c509a","type":"question-primitive","z":"31f002eb.4ebf6e","name":"Weight","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":490,"y":240,"wires":[["d326fb80.296e88"]]},{"id":"e46aa3a1.cb26a","type":"summary-graph","z":"31f002eb.4ebf6e","name":"","x":240,"y":160,"wires":[["78dfbf2c.af00d"]]},{"id":"78dfbf2c.af00d","type":"switch","z":"31f002eb.4ebf6e","name":"Age?","property":"currentPatient.age","propertyType":"jsonata","rules":[{"t":"btwn","v":"2","vt":"num","v2":"18","v2t":"num"},{"t":"gt","v":"18","vt":"num"},{"t":"lte","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":210,"y":240,"wires":[["ffd3d7c3.8b2838"],["3eeee54a.7c509a"],["dcb2453b.17e0d8"]]},{"id":"d7e92a49.e9a1e8","type":"question-primitive","z":"31f002eb.4ebf6e","name":"MUAC","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":350,"y":320,"wires":[["4abc59b8.611698"]]},{"id":"dcb2453b.17e0d8","type":"show-video","z":"31f002eb.4ebf6e","name":"","x":370,"y":280,"wires":[["d7e92a49.e9a1e8"]]},{"id":"4abc59b8.611698","type":"question-select","z":"31f002eb.4ebf6e","name":"Refer to Malnutrition Unit","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"yes"},{"sid":"no"}],"x":870,"y":340,"wires":[["1c78347b.aa760c"]]},{"id":"1c78347b.aa760c","type":"next-appointment","z":"31f002eb.4ebf6e","name":"","defaultperiod":"in2months","x":1130,"y":300,"wires":[["40a65516.de883c"]]},{"id":"3461944a.8a25ac","type":"device-coordinates","z":"31f002eb.4ebf6e","name":"","x":250,"y":120,"wires":[["e46aa3a1.cb26a"]]},{"id":"8066cf9d.413d08","type":"patients-queue","z":"af77e3e8.e89f3","name":"","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":480,"y":220,"wires":[["101209dc.d0fd96"]]},{"id":"4e479f68.20009","type":"end-flow","z":"af77e3e8.e89f3","name":"","x":840,"y":580,"wires":[]},{"id":"1daa7fff.0bbab","type":"question-primitive","z":"af77e3e8.e89f3","name":"Height","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":630,"y":340,"wires":[["fa328621.476508"]]},{"id":"fa328621.476508","type":"question-primitive","z":"af77e3e8.e89f3","name":"Weight","label":"","scope":"encounter","key":"","datatype":"decimal","optional":"","x":810,"y":380,"wires":[["d95833d2.ef16e"]]},{"id":"21c85e74.e15b4a","type":"summary-graph","z":"af77e3e8.e89f3","name":"","x":520,"y":300,"wires":[["e1cb7e8.96721"]]},{"id":"e1cb7e8.96721","type":"switch","z":"af77e3e8.e89f3","name":"age?","property":"currentPatient.age","propertyType":"jsonata","rules":[{"t":"btwn","v":"2","vt":"num","v2":"18","v2t":"num"},{"t":"gte","v":"18","vt":"num"},{"t":"lte","v":"2","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":490,"y":360,"wires":[["1daa7fff.0bbab"],["fa328621.476508"],["fd5df4a5.03b948"]]},{"id":"15ee1219.4726de","type":"question-primitive","z":"af77e3e8.e89f3","name":"MUAC","label":"","scope":"encounter","key":"","datatype":"integer","optional":"","x":630,"y":440,"wires":[["d95833d2.ef16e"]]},{"id":"fd5df4a5.03b948","type":"show-video","z":"af77e3e8.e89f3","name":"","x":650,"y":400,"wires":[["15ee1219.4726de"]]},{"id":"d95833d2.ef16e","type":"question-select","z":"af77e3e8.e89f3","name":"Refer to Malnutrition Unit","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"yes"},{"sid":"no"}],"x":890,"y":500,"wires":[["5d69d9cb.1b9258"]]},{"id":"5d69d9cb.1b9258","type":"next-appointment","z":"af77e3e8.e89f3","name":"","defaultperiod":"","x":870,"y":540,"wires":[["4e479f68.20009"]]},{"id":"101209dc.d0fd96","type":"device-coordinates","z":"af77e3e8.e89f3","name":"","x":530,"y":260,"wires":[["21c85e74.e15b4a"]]},{"id":"6598135e.5bbd3c","type":"switch","z":"128d8803.8b8dd8","name":"Time since ART start","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Between milestones","vt":"str"},{"t":"eq","v":"Around milestones","vt":"str"},{"t":"eq","v":"Less than 6 months","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":740,"y":140,"wires":[["eabf2250.50e03"],["19c1c12c.558b6f"],[]]},{"id":"eabf2250.50e03","type":"switch","z":"128d8803.8b8dd8","name":"Ever had VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Ever","vt":"str"},{"t":"eq","v":"Never","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":120,"wires":[["aab196c1.588c58"],["19c1c12c.558b6f"]]},{"id":"dcc0a522.adbbf8","type":"switch","z":"128d8803.8b8dd8","name":"Clinical condition","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Not well","vt":"str"},{"t":"eq","v":"Well","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1370,"y":100,"wires":[["8ec3f8d7.3d7638"],[]]},{"id":"b049f8d3.a5fd28","type":"switch","z":"128d8803.8b8dd8","name":"Detectable VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Any detectable VL","vt":"str"},{"t":"eq","v":"Below detection limit","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":720,"y":220,"wires":[["ad12af5a.c4407"],["68e2e9cb.46bf58"]]},{"id":"1c4364cd.b237db","type":"question-primitive","z":"128d8803.8b8dd8","name":"Intensive Adh Support","label":"","scope":"encounter","key":"","datatype":"string","x":1160,"y":200,"wires":[["69c43d8a.5c8c14"]]},{"id":"80ae2a91.276df8","type":"switch","z":"128d8803.8b8dd8","name":"Current Regimen","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0 - 6","vt":"str"},{"t":"eq","v":"7 - 15","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1150,"y":340,"wires":[["65c88a64.75bf14"],["7721b84b.4825d8"]]},{"id":"5a4bf142.936f4","type":"switch","z":"128d8803.8b8dd8","name":"VL (copies / ml)","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"Below detection limit (DL)","vt":"str"},{"t":"eq","v":"1000+","vt":"str"},{"t":"eq","v":"Above DL, but <1000","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":800,"y":340,"wires":[["c636b117.e4d7c"],["e57d9122.b943b"],["594e7e76.2be4"]]},{"id":"65c88a64.75bf14","type":"question-select","z":"128d8803.8b8dd8","name":"Start 2nd Line","label":"Start 2nd Line","scope":"encounter","key":"","behavior":"","devices":[{"sid":"2nd Line"}],"x":1360,"y":320,"wires":[["14ad6ec0.670881"]]},{"id":"3c31299b.a58d66","type":"question-primitive","z":"128d8803.8b8dd8","name":"Intensive Adh Support","label":"Intensive Adh Support","scope":"encounter","key":"","datatype":"string","optional":false,"x":1220,"y":400,"wires":[["e1494425.886ed8"]]},{"id":"7721b84b.4825d8","type":"summary","z":"128d8803.8b8dd8","name":"Poor adherence or failure","x":1390,"y":360,"wires":[["9f531852.7323d8"]],"info":"<h1>Poor adherence or failure</h1>"},{"id":"14ad6ec0.670881","type":"summary","z":"128d8803.8b8dd8","name":"Confirmed failure","x":1570,"y":320,"wires":[[]],"info":"<h1>Confirmed failure</h1>"},{"id":"594e7e76.2be4","type":"summary","z":"128d8803.8b8dd8","name":"Potential failure","x":1000,"y":400,"wires":[["3c31299b.a58d66"]],"info":"<h1>Potential failure</h1>"},{"id":"c636b117.e4d7c","type":"summary","z":"128d8803.8b8dd8","name":"Below Detection Limit (DL)","x":1040,"y":280,"wires":[["eaaa7635.a55248"]],"info":"<h1>Potential failure</h1>"},{"id":"e57d9122.b943b","type":"summary","z":"128d8803.8b8dd8","name":"1000+","x":970,"y":340,"wires":[["80ae2a91.276df8"]],"info":"<h1>1000+</h1>"},{"id":"68e2e9cb.46bf58","type":"summary","z":"128d8803.8b8dd8","name":"Below detection limit","x":940,"y":240,"wires":[["b6557126.0ce8a"]],"info":"<h1>Below detection limit</h1>"},{"id":"ad12af5a.c4407","type":"summary","z":"128d8803.8b8dd8","name":"Any detectable VL","x":930,"y":200,"wires":[["1c4364cd.b237db"]],"info":"<h1>Any detectable VL</h1>"},{"id":"aab196c1.588c58","type":"question-select","z":"128d8803.8b8dd8","name":"Clinical condition","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"well"},{"sid":"not well"}],"x":1150,"y":100,"wires":[["dcc0a522.adbbf8"]]},{"id":"6156dabd.252114","type":"switch","z":"128d8803.8b8dd8","name":"VL Result avail","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"None","vt":"str"},{"t":"eq","v":"Routine Result avail","vt":"str"},{"t":"eq","v":"Targeted/Follow-up Result avail","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":300,"y":220,"wires":[["ac6c687.5145d98"],["ac284982.355238"],["2e53e4e6.6dab4c"]]},{"id":"eaaa7635.a55248","type":"summary","z":"128d8803.8b8dd8","name":"Continue current regimen","x":1310,"y":280,"wires":[[]],"info":"<h1>Continue current regimen</h1>"},{"id":"b6557126.0ce8a","type":"summary","z":"128d8803.8b8dd8","name":"Continue current regimen","x":1190,"y":240,"wires":[[]],"info":"<h1>Continue current regimen</h1>"},{"id":"a164c224.32f0f","type":"patients-queue","z":"2d4060a6.92c72","name":"","queueName":"all","queueDateFilter":"","label":"","encounterType":"","x":120,"y":40,"wires":[["77fd8415.dcd734"]]},{"id":"48c54fbd.f1068","type":"end-flow","z":"2d4060a6.92c72","name":"","x":620,"y":280,"wires":[]},{"id":"d326fb80.296e88","type":"function","z":"31f002eb.4ebf6e","name":"Adult BMI","func":"currentEncounter.bmi = \n  10000 *\n  Number(currentEncounter.Weight) /\n  (Number(currentEncounter.Height) * Number(currentEncounter.Height));","outputs":1,"noerr":0,"x":640,"y":240,"wires":[["1beec829.d34768"]]},{"id":"fcd5534a.873ad","type":"Blockly","z":"31f002eb.4ebf6e","language":"en","func":"var bmi, currentPatient_age, weight, height;\n\n\nif (currentPatient_age >= 18) {\n  bmi = weight / (height * height);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"B,!jx_8RuMX|*!GC,K`A\">bmi</variable><variable type=\"\" id=\"@U2|[Y)WUdZk/:tks=G!\">currentPatient.age</variable><variable type=\"\" id=\"sruN~/fptYYpRrpjU{FU\">weight</variable><variable type=\"\" id=\"BF2=%D/D[!e2fk7PKjL^\">height</variable></variables><block type=\"controls_if\" id=\"-lasGC)qH75ujHTY*[5]\" x=\"-38\" y=\"-162\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"uuctI+u):{E(e,,iBHs)\"><field name=\"OP\">GTE</field><value name=\"A\"><block type=\"variables_get\" id=\"s^{HWO8%G8z053UodFHT\"><field name=\"VAR\" id=\"@U2|[Y)WUdZk/:tks=G!\" variabletype=\"\">currentPatient.age</field></block></value><value name=\"B\"><block type=\"math_number\" id=\"[![Lu5mSrcV8HVLe^uU[\"><field name=\"NUM\">18</field></block></value></block></value><statement name=\"DO0\"><block type=\"variables_set\" id=\"Ad~nOR8X)nku.lI=@Pi_\"><field name=\"VAR\" id=\"B,!jx_8RuMX|*!GC,K`A\" variabletype=\"\">bmi</field><value name=\"VALUE\"><block type=\"math_arithmetic\" id=\"MX~tsLyBuiJFoEg@)ZxR\"><field name=\"OP\">DIVIDE</field><value name=\"A\"><shadow type=\"math_number\" id=\"L!D!ZF|,5#L`/z2o67Ix\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"U*]r{!DjPOw5u*0NM)?z\"><field name=\"VAR\" id=\"sruN~/fptYYpRrpjU{FU\" variabletype=\"\">weight</field></block></value><value name=\"B\"><shadow type=\"math_number\" id=\"Y[s|zbM_o3J_?In(2}^Q\"><field name=\"NUM\">1</field></shadow><block type=\"math_arithmetic\" id=\"3FLkyFS)Q`1YW(A{j=-c\"><field name=\"OP\">MULTIPLY</field><value name=\"A\"><shadow type=\"math_number\" id=\"~1pjiva`3SNb/D[AKhJg\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"jf@(/c6Hq),vGUm+C:P0\"><field name=\"VAR\" id=\"BF2=%D/D[!e2fk7PKjL^\" variabletype=\"\">height</field></block></value><value name=\"B\"><shadow type=\"math_number\" id=\"19wl4@5,KUEToM-z+7Yc\"><field name=\"NUM\">1</field></shadow><block type=\"variables_get\" id=\"u9UiK-4q?YvQo7DPbDsq\"><field name=\"VAR\" id=\"BF2=%D/D[!e2fk7PKjL^\" variabletype=\"\">height</field></block></value></block></value></block></value></block></statement></block></xml>","outputs":1,"name":"Adult BMI","x":480,"y":540,"wires":[[]]},{"id":"1beec829.d34768","type":"switch","z":"31f002eb.4ebf6e","name":"bmi action","property":"payload","propertyType":"jsonata","rules":[{"t":"gt","v":"25","vt":"num"},{"t":"btwn","v":"16","vt":"num","v2":"25","v2t":"num"},{"t":"lt","v":"16.9","vt":"num"}],"checkall":"true","repair":false,"outputs":3,"x":650,"y":300,"wires":[["f6f344be.510bf8"],["1c78347b.aa760c"],["4abc59b8.611698"]]},{"id":"f6f344be.510bf8","type":"question-select","z":"31f002eb.4ebf6e","name":"Refer to Chronic Care Unit","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"yes"},{"sid":"no"}],"x":880,"y":260,"wires":[["1c78347b.aa760c"]]},{"id":"8d556bb0.44d428","type":"question-select","z":"2d4060a6.92c72","name":"Side Effects","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"N"},{"sid":"Y"}],"x":630,"y":160,"wires":[["71e0ad8f.dc7ab4"]]},{"id":"1fe27307.958dbd","type":"question-primitive","z":"2d4060a6.92c72","name":"Next Appointment","label":"","scope":"encounter","key":"","datatype":"date","optional":false,"x":650,"y":240,"wires":[["48c54fbd.f1068"]]},{"id":"71e0ad8f.dc7ab4","type":"question-select","z":"2d4060a6.92c72","name":"ART Regimen","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"A1a - TDF + 3TC + DTG (1st Line)"},{"sid":"A1b - TDF + 3TC + EFV (1st Line)"},{"sid":"A1c - ABC + 3TC + DTG (1st Line)"},{"sid":"A1d - AZT + 3TC + EFV (1st Line)"},{"sid":"A2a -  AZT + 3TC + DTG (2nd Line)"},{"sid":"A2b - AZT + 3TC + LPV/r (2nd Line)"},{"sid":"A2c - AZT + 3TC + ATV/r (2nd Line)"},{"sid":"A2d - TDF + 3TC + LPV/r (2nd Line)"},{"sid":"A2e - TDF + 3TC + DRV/r (2nd Line)"}],"x":640,"y":200,"wires":[["1fe27307.958dbd"]]},{"id":"2bccbdec.b41762","type":"switch","z":"31334eec.6d3a32","name":"Time on ART treatment","property":"monthsOnTreatment","propertyType":"jsonata","rules":[{"t":"lte","v":"5","vt":"num"},{"t":"gte","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[[],["744471af.606b8"]]},{"id":"744471af.606b8","type":"switch","z":"31334eec.6d3a32","name":"Ever had a VL","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"no","vt":"str"},{"t":"eq","v":"yes","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":120,"wires":[["bfe7bb9a.a93288"],["6b1e99d7.d7f258"]]},{"id":"6b1e99d7.d7f258","type":"switch","z":"31334eec.6d3a32","name":"Last VL 12 months ago","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":160,"wires":[["bfe7bb9a.a93288"],[]]},{"id":"bfe7bb9a.a93288","type":"lab-order-entry","z":"31334eec.6d3a32","name":"Order VL test","panel":"","x":450,"y":120,"wires":[[]]},{"id":"9c85c55b.37704","type":"switch","z":"8597eba8.d8b1e8","name":"Time on ART treatment?","property":"monthsOnTreatment","propertyType":"jsonata","rules":[{"t":"lte","v":"5","vt":"num"},{"t":"gte","v":"6","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":80,"wires":[[],["8752baa9.461798"]]},{"id":"8752baa9.461798","type":"switch","z":"8597eba8.d8b1e8","name":"Ever had a VL?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"no","vt":"str"},{"t":"eq","v":"yes","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":200,"y":140,"wires":[["6128ffeb.5975b8"],["a47d183c.048828"]]},{"id":"a47d183c.048828","type":"switch","z":"8597eba8.d8b1e8","name":"Last VL 12+ months ago?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"yes","vt":"str"},{"t":"eq","v":"no","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":230,"y":200,"wires":[["6128ffeb.5975b8"],[]]},{"id":"6128ffeb.5975b8","type":"lab-order-entry","z":"8597eba8.d8b1e8","name":"Order VL test","panel":"","x":430,"y":140,"wires":[[]]},{"id":"77fd8415.dcd734","type":"subflow:8597eba8.d8b1e8","z":"2d4060a6.92c72","name":"VL test","env":[],"x":260,"y":180,"wires":[["8d556bb0.44d428"]]},{"id":"d710c7f5.b1e898","type":"register-patient","z":"2297acf6.e98c64","name":"","x":140,"y":40,"wires":[["89f6c852.edac68"]]},{"id":"19d5e2b3.2f69cd","type":"question-select","z":"2297acf6.e98c64","name":"Duration of Illness","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Less than or equal to 2 days"},{"sid":"2-15 days"},{"sid":"16-30 days"},{"sid":"Over 30 days"},{"sid":"Unknown"}],"x":190,"y":300,"wires":[["3a1ccd69.17c732"]]},{"id":"3a1ccd69.17c732","type":"question-select","z":"2297acf6.e98c64","name":"Conscious","label":"","scope":"encounter","key":"","behavior":"single","devices":[{"sid":"Yes"},{"sid":"No"},{"sid":"Unknown"}],"x":170,"y":340,"wires":[["328c642.c0c819c"]]},{"id":"328c642.c0c819c","type":"question-select","z":"2297acf6.e98c64","name":"Anemia","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":380,"wires":[["aec8f74d.d475d8"]]},{"id":"d74069dd.11bc68","type":"summary","z":"2297acf6.e98c64","name":"Show calculated birthdate","x":560,"y":160,"wires":[["dd7dc492.d24e78"]],"info":"<h1>Birthdate range</h1>\n<h3>Start: <span id=\"range-start\"></span>\n<h3>End: <span id=\"range-end\"></span>\n\n<script>\n$(\"#range-start\").text(currentPatient.birthdate_start);\n$(\"#range-end\").text(currentPatient.birthdate_end);\n</script>\n"},{"id":"aec8f74d.d475d8","type":"question-select","z":"2297acf6.e98c64","name":"Convulsions","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":380,"wires":[["5c859dc3.f75d74"]]},{"id":"5c859dc3.f75d74","type":"question-select","z":"2297acf6.e98c64","name":"Cough or Difficulty Breathing (CDB)","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":540,"y":380,"wires":[["6e00a139.2d646"]]},{"id":"6e00a139.2d646","type":"question-select","z":"2297acf6.e98c64","name":"Diarrhea","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":420,"wires":[["2e3cda3a.45c256"]]},{"id":"2e3cda3a.45c256","type":"question-select","z":"2297acf6.e98c64","name":"History of Fever","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":320,"y":420,"wires":[["6eefc85e.3836c8"]]},{"id":"6eefc85e.3836c8","type":"question-select","z":"2297acf6.e98c64","name":"Fever (>37.5 C)","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":500,"y":420,"wires":[["79942273.148c9c"]]},{"id":"79942273.148c9c","type":"question-select","z":"2297acf6.e98c64","name":"Lethargie","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":460,"wires":[["f75ec5c0.52e9c8"]]},{"id":"f75ec5c0.52e9c8","type":"question-select","z":"2297acf6.e98c64","name":"Malnutrition","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":460,"wires":[["fbdd36ea.334ec8"]]},{"id":"fbdd36ea.334ec8","type":"question-select","z":"2297acf6.e98c64","name":"Unable to feed","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":480,"y":460,"wires":[["43c8349f.53bb5c"]]},{"id":"43c8349f.53bb5c","type":"question-select","z":"2297acf6.e98c64","name":"Vomiting","label":"","scope":"encounter","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":640,"y":460,"wires":[["4f026bb8.e9fa54"]]},{"id":"8e24c976.e51638","type":"question-select","z":"2297acf6.e98c64","name":"Age","label":"","scope":"demographic","key":"","behavior":"single","devices":[{"sid":"Less than 2 months"},{"sid":"2-12 months"},{"sid":"13-24 months"},{"sid":"25-60 months"},{"sid":"Over 60 months"},{"sid":"Unknown"}],"x":150,"y":160,"wires":[["90ba20ce.f4aa7"]]},{"id":"dd7dc492.d24e78","type":"create-patient","z":"2297acf6.e98c64","name":"","x":140,"y":200,"wires":[["2e150ef5.1d0c42"]]},{"id":"4f026bb8.e9fa54","type":"create-encounter-end","z":"2297acf6.e98c64","name":"","x":170,"y":500,"wires":[]},{"id":"85e4ecd2.055be","type":"patients-queue","z":"2297acf6.e98c64","name":"Queue #1","queueName":"all","queueDateFilter":"","label":"","encounterType":"second","x":120,"y":560,"wires":[["322b709e.ee2fe"]]},{"id":"f7b8d06e.c27be","type":"patients-queue","z":"2297acf6.e98c64","name":"Queue #2","queueName":"all","queueDateFilter":"","label":"","encounterType":"third","x":120,"y":600,"wires":[["958eabf3.adbdf8"]]},{"id":"322b709e.ee2fe","type":"create-encounter-end","z":"2297acf6.e98c64","name":"","x":410,"y":560,"wires":[]},{"id":"958eabf3.adbdf8","type":"create-encounter-end","z":"2297acf6.e98c64","name":"","x":410,"y":600,"wires":[]},{"id":"cbe77f00.95673","type":"question-primitive","z":"2297acf6.e98c64","name":"Name","label":"","scope":"demographic","key":"","datatype":"string","optional":"","x":150,"y":120,"wires":[["8e24c976.e51638"]]},{"id":"89f6c852.edac68","type":"question-primitive","z":"2297acf6.e98c64","name":"Health ID","label":"","scope":"demographic","key":"","datatype":"string","optional":true,"x":160,"y":80,"wires":[["cbe77f00.95673"]]},{"id":"90ba20ce.f4aa7","type":"function","z":"2297acf6.e98c64","name":"calc birthdate range","func":"var start = new Date();\nvar end = new Date();\n\nswitch (currentPatient.Age_val) {\n    case \"0\":\n        start.setMonth(start.getMonth() - 2);\n        end = '';\n        break;\n    case \"1\":\n        start.setMonth(start.getMonth() - 12);\n        end.setMonth(end.getMonth() - 2);\n        break;\n    case \"2\":\n        start.setMonth(start.getMonth() - 24);\n        end.setMonth(end.getMonth() - 13);\n        break;\n    case \"3\":\n        start.setMonth(start.getMonth() - 60);\n        end.setMonth(end.getMonth() - 25);\n        break;\n    case \"4\":\n        start = '';\n        end.setMonth(end.getMonth() - 60);\n        break;\n    case \"5\":\n        start = 'unknown';\n        end = 'unknown';\n    default:\n        start = 'error';\n        end = 'error';\n        break;\n}\n\ncurrentPatient['birthdate_start']= start;\ncurrentPatient['birthdate_end']= end;\n\nupdateCurrentPatient(currentPatient);\n","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["d74069dd.11bc68"]]},{"id":"2e150ef5.1d0c42","type":"set-encountertype","z":"2297acf6.e98c64","name":"","encounterType":"first","x":150,"y":260,"wires":[["19d5e2b3.2f69cd"]]},{"id":"28d4d88.067c828","type":"find-patient","z":"2297acf6.e98c64","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":130,"y":640,"wires":[["5a4bc667.de1008"]]},{"id":"5a4bc667.de1008","type":"end-flow","z":"2297acf6.e98c64","name":"","x":360,"y":640,"wires":[]},{"id":"4b175b94.6842e4","type":"referral","z":"31334eec.6d3a32","name":"","referralfacility":"","x":280,"y":440,"wires":[[]]},{"id":"ac6c687.5145d98","type":"lab-test-result","z":"128d8803.8b8dd8","name":"No/no new result","x":510,"y":140,"wires":[["6598135e.5bbd3c"]]},{"id":"ac284982.355238","type":"lab-test-result","z":"128d8803.8b8dd8","name":"New Routine result","x":510,"y":220,"wires":[["b049f8d3.a5fd28"]]},{"id":"2e53e4e6.6dab4c","type":"lab-test-result","z":"128d8803.8b8dd8","name":"New Targeted/Follow-up result","x":550,"y":340,"wires":[["5a4bf142.936f4"]]},{"id":"19c1c12c.558b6f","type":"lab-order-entry","z":"128d8803.8b8dd8","name":"Order: VL Routing schedule","panel":"","x":1180,"y":140,"wires":[[]]},{"id":"8ec3f8d7.3d7638","type":"lab-order-entry","z":"128d8803.8b8dd8","name":"Order: VL Targeted Follow-up VL","panel":"","x":1640,"y":80,"wires":[[]]},{"id":"69c43d8a.5c8c14","type":"lab-order-entry","z":"128d8803.8b8dd8","name":"Order: VL Targeted Follow-up VL","panel":"","x":1440,"y":200,"wires":[[]]},{"id":"9f531852.7323d8","type":"lab-order-entry","z":"128d8803.8b8dd8","name":"Order: Genotype testing","panel":"","x":1650,"y":360,"wires":[[]]},{"id":"e1494425.886ed8","type":"lab-order-entry","z":"128d8803.8b8dd8","name":"Order: VL Targeted Follow-up VL","panel":"","x":1500,"y":400,"wires":[[]]}]