resources/node-red-flows.json
[{"id":"899e571e.0bda48","type":"tab","label":"Test all Nodes","disabled":false,"info":""},{"id":"c04d60f2.9d2a78","type":"tab","label":"Blockly logic","disabled":false,"info":""},{"id":"5822d86d.c9b5a8","type":"tab","label":"Diagnosing Childhood Malaria","disabled":false,"info":""},{"id":"52a2125e.4b7f3c","type":"tab","label":"Test curriculum","disabled":false,"info":""},{"id":"2c78c14b.23eb9e","type":"tab","label":"Example","disabled":false,"info":""},{"id":"cd88cd4.bd9ee3","type":"tab","label":"screening","disabled":false,"info":""},{"id":"4d8870f7.0c581","type":"tab","label":"encounter_type/s","disabled":false,"info":""},{"id":"b8f9cad2.d89ca8","type":"tab","label":"REGISTRATION","disabled":false,"info":""},{"id":"feffee17.1d5d5","type":"tab","label":"VITALS","disabled":false,"info":""},{"id":"b1aba1ef.a9a08","type":"tab","label":"APPOINTMENT","disabled":false,"info":""},{"id":"f4258b76.efa088","type":"tab","label":"HIV CLINIC REGISTRATION","disabled":false,"info":""},{"id":"3ac9a4ff.548f8c","type":"tab","label":"LAB","disabled":false,"info":""},{"id":"2cc84fc5.1b461","type":"tab","label":"TREATMENT","disabled":false,"info":""},{"id":"6a84e22.4cb3d1c","type":"tab","label":"HIV RECEPTION","disabled":false,"info":""},{"id":"a73f811b.17ec1","type":"tab","label":"HIV STAGING","disabled":false,"info":""},{"id":"8e6c2260.690ee","type":"tab","label":"HIV CLINIC CONSULTATION","disabled":false,"info":""},{"id":"2e30e80f.988e98","type":"tab","label":"DISPENSING","disabled":false,"info":""},{"id":"a73ab80f.250a38","type":"tab","label":"LAB ORDERS","disabled":false,"info":""},{"id":"1bb8d526.49ca3b","type":"tab","label":"ART ADHERENCE","disabled":false,"info":""},{"id":"2af8512d.c9cc2e","type":"tab","label":"EXIT FROM HIV CARE","disabled":false,"info":""},{"id":"fa9f9d97.c362c","type":"tab","label":"FAST TRACK ASSESMENT","disabled":false,"info":""},{"id":"a1643e52.69ec58","type":"subflow","name":"Patient Identification","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"56269f66.d78ff"}]}],"out":[{"x":60,"y":500,"wires":[{"id":"b87511c8.2aad4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9eba9893.b5ab6","type":"subflow","name":"HIV C&I Summary Diagnostic","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"fcfaf434.b3f8f"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"369b84b5.91fe7c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"c44a39a9.c6ae6","type":"subflow","name":"Initial Assessment by clinician","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"388199af.c68f26"}]}],"out":[{"x":60,"y":320,"wires":[{"id":"9bc52e4e.e24b88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e95b8a2f.2a804","type":"subflow","name":"Other Baseline Information","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"af94a681.5c5f4"}]}],"out":[{"x":60,"y":520,"wires":[{"id":"1d0d3e47.b7d02a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"86b75ff7.b31198","type":"subflow","name":"Treatment Interruptions","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"ed2ea718.e51d28"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"82665184.30463","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"1c8e387f.c41f88","type":"subflow","name":"Departure from Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"7039070c.3ad958"}]}],"out":[{"x":60,"y":220,"wires":[{"id":"4fe9ce0e.405ac8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"e2e7ca08.3b41","type":"subflow","name":"Ongoing Staging","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52a25e32.945718"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"d0aa055d.d853b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3cffefd8.654f6","type":"subflow","name":"ART Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f318e98c.757928"}]}],"out":[{"x":60,"y":580,"wires":[{"id":"7c5a4eee.45416","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"21ab2f94.f2bee","type":"subflow","name":"ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52c625e7.065abc"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"52c625e7.065abc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"3589d1ce.0e5f66","type":"subflow","name":"Pre-ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"49dba4ec.e9cdac"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"49dba4ec.e9cdac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"9dcf777b.4085e8","type":"subflow","name":"Patient Demographics","info":"","category":"subflows","in":[{"x":40,"y":40,"wires":[{"id":"96edd150.7ce4"}]}],"out":[{"x":540,"y":40,"wires":[{"id":"87dafa4b.3c2ca8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"8c1058fa.7435b8","type":"subflow","name":"HIV C&I Summary Diagnostic (2)","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"eaec8f0b.dcee1"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"370c7ef5.401ab2","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f042a8ba.046d28","type":"ui_group","z":"","name":"Home","tab":"5bc0b4b5.6a91d4","disp":true,"width":"6","collapse":false},{"id":"5bc0b4b5.6a91d4","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"5ef2eb24.839e1c","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"e91820d6.35e49","type":"careflow-config","z":"","name":"local dev","runtime_flow_path":"/Users/xian/projects/data-first-emr/workflow-poc-emr/resources/node-red-flows.json"},{"id":"d1f91274.6e9cc","type":"end-flow","z":"899e571e.0bda48","name":"","x":920,"y":580,"wires":[]},{"id":"3c4b5d20.ae8e82","type":"find-patient","z":"899e571e.0bda48","name":"","includename":true,"includeidentifier":true,"program":"tb","expression":"filter","x":90,"y":380,"wires":[["1a39ae10.702cf2"]]},{"id":"58845b6b.144144","type":"demographic-attribute","z":"899e571e.0bda48","name":"","label":"Firstname2","key":"myKey","datatype":"singleselect","x":580,"y":40,"wires":[["d1f91274.6e9cc"]]},{"id":"c2f9a1c9.6e235","type":"enrolment-outcome","z":"899e571e.0bda48","name":"","program":"chroniccare","programoutcome":"transferredout","x":580,"y":80,"wires":[["d1f91274.6e9cc"]]},{"id":"34a120d6.fa04c","type":"lab-order-entry","z":"899e571e.0bda48","name":"","panel":"testpaneld","x":560,"y":120,"wires":[["d1f91274.6e9cc"]]},{"id":"9c93e482.2b7478","type":"medication-prescription","z":"899e571e.0bda48","name":"","drugs":"tb","x":590,"y":160,"wires":[["d1f91274.6e9cc"]]},{"id":"8640b61c.a58bb8","type":"patients-queue","z":"899e571e.0bda48","name":"","expression":"filter","x":100,"y":420,"wires":[["1a39ae10.702cf2"]]},{"id":"ab69ecef.4181c","type":"referral","z":"899e571e.0bda48","name":"","referralfacility":"facility","x":540,"y":200,"wires":[["d1f91274.6e9cc"]]},{"id":"ece80504.57fe28","type":"register-patient","z":"899e571e.0bda48","name":"","x":100,"y":460,"wires":[["1a39ae10.702cf2"]]},{"id":"56c43ae7.108c64","type":"summary","z":"899e571e.0bda48","name":"","x":540,"y":240,"wires":[["d1f91274.6e9cc"]]},{"id":"9bd014f.3434fe8","type":"visit-question","z":"899e571e.0bda48","name":"Visit Question","label":"Visit Question","key":"key","datatype":"decimal","x":560,"y":280,"wires":[["d1f91274.6e9cc"]]},{"id":"b0e0407f.8106c","type":"blood-pressure","z":"899e571e.0bda48","name":"","x":560,"y":320,"wires":[["d1f91274.6e9cc"]]},{"id":"1536e581.d452fa","type":"check-in","z":"899e571e.0bda48","name":"","x":540,"y":360,"wires":[["d1f91274.6e9cc"]]},{"id":"ad35ab34.6f8408","type":"checked-in-patients-list","z":"899e571e.0bda48","name":"","program":"antenatalcare","x":130,"y":500,"wires":[["1a39ae10.702cf2"]]},{"id":"3c998042.b6762","type":"demographic-birthdate","z":"899e571e.0bda48","name":"","entrybyage":true,"partialdate":true,"x":540,"y":400,"wires":[["d1f91274.6e9cc"]]},{"id":"dd798e44.a3dc6","type":"demographic-current-address","z":"899e571e.0bda48","name":"","x":560,"y":440,"wires":[["d1f91274.6e9cc"]]},{"id":"a74481cb.60e6f","type":"demographic-home-address","z":"899e571e.0bda48","name":"","x":560,"y":480,"wires":[["d1f91274.6e9cc"]]},{"id":"828873f1.e7fa2","type":"height-weight","z":"899e571e.0bda48","name":"","x":560,"y":520,"wires":[["d1f91274.6e9cc"]]},{"id":"51f54826.5f3c68","type":"next-appointment","z":"899e571e.0bda48","name":"","defaultperiod":"nextmonth","x":570,"y":560,"wires":[["d1f91274.6e9cc"]]},{"id":"6e8f9f93.705be","type":"scheduled-patients-list","z":"899e571e.0bda48","name":"","program":"hiv","x":120,"y":540,"wires":[["1a39ae10.702cf2"]]},{"id":"1099d1b5.4b3bee","type":"tb-screening","z":"899e571e.0bda48","name":"","x":560,"y":600,"wires":[["d1f91274.6e9cc"],[]]},{"id":"1a39ae10.702cf2","type":"switch","z":"899e571e.0bda48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"true","vt":"str"}],"checkall":"false","repair":false,"outputs":28,"x":330,"y":480,"wires":[["58845b6b.144144"],["c2f9a1c9.6e235"],["34a120d6.fa04c"],["9c93e482.2b7478"],["e4000ca1.4be32"],["ab69ecef.4181c"],["56c43ae7.108c64"],["9bd014f.3434fe8"],["b0e0407f.8106c"],["1536e581.d452fa"],["3c998042.b6762"],["dd798e44.a3dc6"],["a74481cb.60e6f"],["828873f1.e7fa2"],["51f54826.5f3c68"],["1099d1b5.4b3bee"],["803eb510.acdc58"],["163e443b.d0751c"],["b1439458.6b2418"],["7a244772.2c3888"],["7e783c88.0f66d4"],["c72a7da8.928358"],["125d3367.d125a5"],["148293da.b34364"],["b3dec399.c7ecb8"],["43928c18.585624"],["dccba424.1297a8"],["e7747484.19a978"]]},{"id":"84e31910.eeb498","type":"hl7-receive-message","z":"899e571e.0bda48","name":"","x":120,"y":580,"wires":[["1a39ae10.702cf2"]]},{"id":"803eb510.acdc58","type":"hl7-create-message","z":"899e571e.0bda48","name":"","x":580,"y":640,"wires":[["d1f91274.6e9cc"]]},{"id":"163e443b.d0751c","type":"lab-test-result","z":"899e571e.0bda48","name":"","x":560,"y":680,"wires":[["d1f91274.6e9cc"]]},{"id":"b1439458.6b2418","type":"medication-dispensation","z":"899e571e.0bda48","name":"","x":590,"y":720,"wires":[["d1f91274.6e9cc"]]},{"id":"7a244772.2c3888","type":"function","z":"899e571e.0bda48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["d1f91274.6e9cc"]]},{"id":"56269f66.d78ff","type":"demographic-attribute","z":"a1643e52.69ec58","name":"name","label":"Name","key":"","datatype":"text","x":190,"y":80,"wires":[["8555e461.fb86c"]]},{"id":"8555e461.fb86c","type":"demographic-attribute","z":"a1643e52.69ec58","name":"clientid","label":"Facility Client ID","key":"","datatype":"integer","x":200,"y":140,"wires":[["7b624999.7b36a"]]},{"id":"7b624999.7b36a","type":"demographic-attribute","z":"a1643e52.69ec58","name":"uniquecode","label":"Unique Code","key":"","datatype":"integer","x":210,"y":200,"wires":[["c495c5b8.64ada"]]},{"id":"c495c5b8.64ada","type":"demographic-birthdate","z":"a1643e52.69ec58","name":"","entrybyage":"","partialdate":"","x":200,"y":260,"wires":[["11b3883d.dbfc7"]]},{"id":"11b3883d.dbfc7","type":"demographic-attribute","z":"a1643e52.69ec58","name":"familymembername","label":"Name of Family Member","key":"","datatype":"text","x":240,"y":320,"wires":[["aa469a0e.1654b"]]},{"id":"aa469a0e.1654b","type":"visit-select","z":"a1643e52.69ec58","name":"sex","label":"Sex","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":190,"y":380,"wires":[["b87511c8.2aad4"]]},{"id":"b87511c8.2aad4","type":"demographic-attribute","z":"a1643e52.69ec58","name":"contact","label":"Contact #","key":"","datatype":"text","x":200,"y":440,"wires":[[]]},{"id":"fcfaf434.b3f8f","type":"visit-question","z":"9eba9893.b5ab6","name":"date confirmed HIV+","label":"Date Confirmed HIV+","key":"","datatype":"date","x":240,"y":80,"wires":[["75a05baf.3e7d44"]]},{"id":"75a05baf.3e7d44","type":"visit-select","z":"9eba9893.b5ab6","name":"hivtype","label":"HIV Type","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["85db2847.d8394"]]},{"id":"85db2847.d8394","type":"visit-question","z":"9eba9893.b5ab6","name":"referred from","label":"Referred from (coded)","key":"","datatype":"text","x":210,"y":200,"wires":[["369b84b5.91fe7c"]]},{"id":"369b84b5.91fe7c","type":"visit-question","z":"9eba9893.b5ab6","name":"partnertested","label":"Partner and Children tested?","key":"","datatype":"boolean","x":220,"y":260,"wires":[[]]},{"id":"388199af.c68f26","type":"visit-question","z":"c44a39a9.c6ae6","name":"date","label":"Date","key":"","datatype":"date","x":190,"y":80,"wires":[["f5c6d144.75a92"]]},{"id":"f5c6d144.75a92","type":"height-weight","z":"c44a39a9.c6ae6","name":"","x":220,"y":140,"wires":[["9bc52e4e.e24b88"]]},{"id":"9bc52e4e.e24b88","type":"visit-question","z":"c44a39a9.c6ae6","name":"bmi","label":"Body mass index (kg/m^2)","key":"","datatype":"decimal","x":190,"y":260,"wires":[[]]},{"id":"af94a681.5c5f4","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr","label":"RPR","key":"","datatype":"text","x":190,"y":80,"wires":[["6c2dc748.aa9148"]]},{"id":"6c2dc748.aa9148","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr date","label":"RPD Date","key":"","datatype":"date","x":200,"y":140,"wires":[["fc29a7b4.229698"]]},{"id":"fc29a7b4.229698","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab","label":"Other Lab 1","key":"","datatype":"text","x":200,"y":200,"wires":[["338eed57.89c7a2"]]},{"id":"338eed57.89c7a2","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab date","label":"Other Lab 1 date","key":"","datatype":"date","x":220,"y":260,"wires":[["9dce0601.a1114"]]},{"id":"9dce0601.a1114","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab","label":"Other 2 Lab","key":"","datatype":"text","x":200,"y":320,"wires":[["be098554.4adff"]]},{"id":"be098554.4adff","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab date","label":"Other 2 Lab date","key":"","datatype":"date","x":220,"y":380,"wires":[["1d0d3e47.b7d02a"]]},{"id":"1d0d3e47.b7d02a","type":"visit-question","z":"e95b8a2f.2a804","name":"tb treatments","label":"Past TB Regimens & Dates","key":"","datatype":"text","x":220,"y":440,"wires":[[]]},{"id":"ed2ea718.e51d28","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1","label":"1st Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":80,"wires":[["56715cbb.069e0c"]]},{"id":"56715cbb.069e0c","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1 date","label":"1st Treatment Interruption Date","key":"","datatype":"date","x":210,"y":140,"wires":[["f6eedc09.bfb8"]]},{"id":"f6eedc09.bfb8","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2","label":"2nd Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":200,"wires":[["82665184.30463"]]},{"id":"82665184.30463","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2 date","label":"2nd Treatment Interruption Date","key":"","datatype":"date","x":210,"y":260,"wires":[[]]},{"id":"4fe9ce0e.405ac8","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure","label":"Treatment Departure Reason","key":"","datatype":"text","x":200,"y":140,"wires":[[]]},{"id":"7039070c.3ad958","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure date","label":"Treatment Departure Date","key":"","datatype":"date","x":210,"y":80,"wires":[["4fe9ce0e.405ac8"]]},{"id":"52a25e32.945718","type":"visit-question","z":"e2e7ca08.3b41","name":"stage1 date","label":"WHO Stage 1 Date","key":"","datatype":"date","x":190,"y":80,"wires":[["da03c42e.a93a1"]]},{"id":"da03c42e.a93a1","type":"visit-question","z":"e2e7ca08.3b41","name":"stage2 date","label":"WHO Stage 2 Date","key":"","datatype":"date","x":190,"y":140,"wires":[["c1b34a16.490578"]]},{"id":"c1b34a16.490578","type":"visit-question","z":"e2e7ca08.3b41","name":"stage3 date","label":"WHO Stage 3 Date","key":"","datatype":"date","x":190,"y":200,"wires":[["d0aa055d.d853b8"]]},{"id":"d0aa055d.d853b8","type":"visit-question","z":"e2e7ca08.3b41","name":"stage4 date","label":"WHO Stage 4 Date","key":"","datatype":"date","x":190,"y":260,"wires":[[]]},{"id":"f318e98c.757928","type":"visit-question","z":"3cffefd8.654f6","name":"startdate","label":"Date Started","key":"","datatype":"date","x":200,"y":80,"wires":[["5a8950ca.280e38"]]},{"id":"5a8950ca.280e38","type":"visit-select","z":"3cffefd8.654f6","name":"initial regimen","label":"Initial Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":220,"y":140,"wires":[["aa85dc3e.255ca"]]},{"id":"aa85dc3e.255ca","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":270,"y":200,"wires":[["71df6c0d.305864"]]},{"id":"71df6c0d.305864","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","key":"","datatype":"text","x":270,"y":260,"wires":[["a81911bd.b7966"]]},{"id":"a81911bd.b7966","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","key":"","datatype":"date","x":260,"y":320,"wires":[["1ae30506.e4bedb"]]},{"id":"1ae30506.e4bedb","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":280,"y":380,"wires":[["5249124e.1e61cc"]]},{"id":"5249124e.1e61cc","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","key":"","datatype":"text","x":270,"y":440,"wires":[["bb6b2b3e.886ca8"]]},{"id":"bb6b2b3e.886ca8","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","key":"","datatype":"date","x":260,"y":500,"wires":[["4056f450.4d7114"]]},{"id":"4056f450.4d7114","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":200,"wires":[["e4e8fa63.521778"]]},{"id":"e4e8fa63.521778","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","key":"","datatype":"text","x":650,"y":260,"wires":[["bd5dfea8.3979f8"]]},{"id":"bd5dfea8.3979f8","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","key":"","datatype":"date","x":640,"y":320,"wires":[["cdd68008.98d8c8"]]},{"id":"cdd68008.98d8c8","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":380,"wires":[["447fbe02.ebe208"]]},{"id":"447fbe02.ebe208","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","key":"","datatype":"text","x":650,"y":440,"wires":[["7c5a4eee.45416"]]},{"id":"7c5a4eee.45416","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","key":"","datatype":"date","x":650,"y":500,"wires":[[]]},{"id":"52c625e7.065abc","type":"visit-question","z":"21ab2f94.f2bee","name":"ART Register Book","label":"ART Register Book TBD","key":"","datatype":"text","x":210,"y":40,"wires":[[]]},{"id":"49dba4ec.e9cdac","type":"visit-question","z":"3589d1ce.0e5f66","name":"preart","label":"Pre-ART Register TBD","key":"","datatype":"text","x":190,"y":80,"wires":[[]]},{"id":"5c4a2.01f9435f","type":"Blockly","z":"c04d60f2.9d2a78","language":"en","func":"var patient_age, patient_gender;\n\n\nif (patient_age <= 5) {\n  node.send([msg, null]);\n}\nif (patient_age > 5) {\n  node.send([null, msg]);\n}\n\nif (patient_gender == 'F' && patient_age > 5) {\n  node.send([null, msg]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"]J-H.Ir7i!PS/ksfwrII\">patient.age</variable><variable type=\"\" id=\"Q#-43GZ!nWu!fdKyAfCO\">patient.gender</variable></variables><block type=\"controls_if\" id=\"Bah;GU#6B)4ar${Jc-Z1\" x=\"-588\" y=\"-13\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"mTD_@$EV;4S%K[Q[q7^a\"><field name=\"OP\">LTE</field><value name=\"A\"><block type=\"variables_get\" id=\"901?YqqT:y#1GMLn[0^V\"><field name=\"VAR\" id=\"]J-H.Ir7i!PS/ksfwrII\" variabletype=\"\">patient.age</field></block></value><value name=\"B\"><block type=\"math_number\" id=\"YQ,L[3?U~{8f??**w3vs\"><field name=\"NUM\">5</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_send\" id=\"|6IQ?)VI[$:QR6G$]2]n\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"Q$kS5ADHOL7Z{mHpU#1X\"></shadow></value></block></statement><next><block type=\"controls_if\" id=\"L@?l(=0cKhEglN5jZ/D5\"><value name=\"IF0\"><block type=\"logic_compare\" id=\"y14l~0WGY4;~kX|uiDte\"><field name=\"OP\">GT</field><value name=\"A\"><block type=\"variables_get\" id=\")g0@zy`ITl~{kh/jrrGB\"><field name=\"VAR\" id=\"]J-H.Ir7i!PS/ksfwrII\" variabletype=\"\">patient.age</field></block></value><value name=\"B\"><block type=\"math_number\" id=\";,Bn7At^1?jKLEC#ji}3\"><field name=\"NUM\">5</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_send\" id=\"Za.S/09Q|x9vo49S2;G4\"><field name=\"OUTPUT_NR\">2</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"IenP{|}J`{~O^pY/6u-l\"></shadow></value></block></statement></block></next></block><block type=\"controls_if\" id=\"niQaQtL;%8]l0@xPN/bg\" x=\"-587\" y=\"187\"><value name=\"IF0\"><block type=\"logic_operation\" id=\"Umt92BTha.HH6b}+!=*{\"><field name=\"OP\">AND</field><value name=\"A\"><block type=\"logic_compare\" id=\"H2Sc*UX(]Pk{u#n@8+B!\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"SZHOfCHt_tj7Cr3t3J+$\"><field name=\"VAR\" id=\"Q#-43GZ!nWu!fdKyAfCO\" variabletype=\"\">patient.gender</field></block></value><value name=\"B\"><block type=\"text\" id=\"./2Kxvkg2bCV!1kz`pTA\"><field name=\"TEXT\">F</field></block></value></block></value><value name=\"B\"><block type=\"logic_compare\" id=\"5EbSXf[a!$Z,?_QQ@)UR\"><field name=\"OP\">GT</field><value name=\"A\"><block type=\"variables_get\" id=\"`$hkRZ48csHhX`rdftP1\"><field name=\"VAR\" id=\"]J-H.Ir7i!PS/ksfwrII\" variabletype=\"\">patient.age</field></block></value><value name=\"B\"><block type=\"math_number\" id=\")nnFj_gt#;XCfUgp8`*~\"><field name=\"NUM\">5</field></block></value></block></value></block></value><statement name=\"DO0\"><block type=\"node_send\" id=\"wQ0oJ1jA?[5u4uIIQb$5\"><field name=\"OUTPUT_NR\">2</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"tpXg$FDvm4NCjdBRSK{Z\"></shadow></value></block></statement></block></xml>","outputs":2,"name":"age check","x":310,"y":200,"wires":[[],[]]},{"id":"9212ce80.ff00c8","type":"Blockly","z":"c04d60f2.9d2a78","language":"en","func":"var patient_age, patient_gender;\n\n\nif (patient_age <= 5) {\n  node.send([msg, null]);\n} else {\n  node.send([null, msg]);\n}\n\nif (patient_gender == 'F' && patient_age > 5) {\n  node.send([null, msg]);\n} else {\n  node.send([msg, null]);\n}\n","workspaceXml":"<xml xmlns=\"http://www.w3.org/1999/xhtml\"><variables><variable type=\"\" id=\"]J-H.Ir7i!PS/ksfwrII\">patient.age</variable><variable type=\"\" id=\"Q#-43GZ!nWu!fdKyAfCO\">patient.gender</variable></variables><block type=\"controls_if\" id=\"Bah;GU#6B)4ar${Jc-Z1\" x=\"-588\" y=\"-13\"><mutation else=\"1\"></mutation><value name=\"IF0\"><block type=\"logic_compare\" id=\"mTD_@$EV;4S%K[Q[q7^a\"><field name=\"OP\">LTE</field><value name=\"A\"><block type=\"variables_get\" id=\"901?YqqT:y#1GMLn[0^V\"><field name=\"VAR\" id=\"]J-H.Ir7i!PS/ksfwrII\" variabletype=\"\">patient.age</field></block></value><value name=\"B\"><block type=\"math_number\" id=\"YQ,L[3?U~{8f??**w3vs\"><field name=\"NUM\">5</field></block></value></block></value><statement name=\"DO0\"><block type=\"node_send\" id=\"|6IQ?)VI[$:QR6G$]2]n\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"Q$kS5ADHOL7Z{mHpU#1X\"></shadow></value></block></statement><statement name=\"ELSE\"><block type=\"node_send\" id=\"Za.S/09Q|x9vo49S2;G4\"><field name=\"OUTPUT_NR\">2</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"IenP{|}J`{~O^pY/6u-l\"></shadow></value></block></statement></block><block type=\"controls_if\" id=\"niQaQtL;%8]l0@xPN/bg\" x=\"-587\" y=\"187\"><mutation else=\"1\"></mutation><value name=\"IF0\"><block type=\"logic_operation\" id=\"Umt92BTha.HH6b}+!=*{\"><field name=\"OP\">AND</field><value name=\"A\"><block type=\"logic_compare\" id=\"H2Sc*UX(]Pk{u#n@8+B!\"><field name=\"OP\">EQ</field><value name=\"A\"><block type=\"variables_get\" id=\"SZHOfCHt_tj7Cr3t3J+$\"><field name=\"VAR\" id=\"Q#-43GZ!nWu!fdKyAfCO\" variabletype=\"\">patient.gender</field></block></value><value name=\"B\"><block type=\"text\" id=\"./2Kxvkg2bCV!1kz`pTA\"><field name=\"TEXT\">F</field></block></value></block></value><value name=\"B\"><block type=\"logic_compare\" id=\"5EbSXf[a!$Z,?_QQ@)UR\"><field name=\"OP\">GT</field><value name=\"A\"><block type=\"variables_get\" id=\"`$hkRZ48csHhX`rdftP1\"><field name=\"VAR\" id=\"]J-H.Ir7i!PS/ksfwrII\" variabletype=\"\">patient.age</field></block></value><value name=\"B\"><block type=\"math_number\" id=\")nnFj_gt#;XCfUgp8`*~\"><field name=\"NUM\">5</field></block></value></block></value></block></value><statement name=\"DO0\"><block type=\"node_send\" id=\"wQ0oJ1jA?[5u4uIIQb$5\"><field name=\"OUTPUT_NR\">2</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"tpXg$FDvm4NCjdBRSK{Z\"></shadow></value></block></statement><statement name=\"ELSE\"><block type=\"node_send\" id=\"lU*7FZvS_d6b0fH7qQTa\"><field name=\"OUTPUT_NR\">1</field><value name=\"MESSAGE_INPUT\"><shadow type=\"node_msg\" id=\"s~Lpldp!-:(?Yfvmrck2\"></shadow></value></block></statement></block></xml>","outputs":2,"name":"age and gender check","x":340,"y":160,"wires":[[],[]]},{"id":"7e783c88.0f66d4","type":"device-coordinates","z":"899e571e.0bda48","name":"","x":570,"y":800,"wires":[["d1f91274.6e9cc"]]},{"id":"c72a7da8.928358","type":"play-audio","z":"899e571e.0bda48","name":"","x":550,"y":840,"wires":[["d1f91274.6e9cc"]]},{"id":"125d3367.d125a5","type":"scan-barcode","z":"899e571e.0bda48","name":"","x":560,"y":880,"wires":[["d1f91274.6e9cc"]]},{"id":"148293da.b34364","type":"show-video","z":"899e571e.0bda48","name":"","x":550,"y":920,"wires":[["d1f91274.6e9cc"]]},{"id":"b3dec399.c7ecb8","type":"take-photo","z":"899e571e.0bda48","name":"","x":550,"y":960,"wires":[["d1f91274.6e9cc"]]},{"id":"43928c18.585624","type":"Blockly","z":"899e571e.0bda48","language":"en","func":"\nreturn msg;","workspaceXml":"","outputs":1,"name":"","x":540,"y":1000,"wires":[["d1f91274.6e9cc"]]},{"id":"dccba424.1297a8","type":"print-barcode","z":"899e571e.0bda48","name":"","x":560,"y":1040,"wires":[["d1f91274.6e9cc"]]},{"id":"e7747484.19a978","type":"text-to-speech","z":"899e571e.0bda48","name":"","x":560,"y":1080,"wires":[["d1f91274.6e9cc"]]},{"id":"68ae541b.478b8c","type":"register-patient","z":"5822d86d.c9b5a8","name":"","x":140,"y":120,"wires":[["2d94ec99.0599e4"]]},{"id":"427ea4e6.a1e2ec","type":"visit-select","z":"5822d86d.c9b5a8","name":"PI: Age","label":"Age","key":"","behavior":"single","devices":[{"sid":"Less than 2 months"},{"sid":"2-12 months"},{"sid":"13-24 months"},{"sid":"25-60 months"},{"sid":"Over 60 months"},{"sid":"Unknown"}],"x":160,"y":180,"wires":[["fcb28616.dd6ee8"]]},{"id":"4e51bcc9.b460d4","type":"visit-select","z":"5822d86d.c9b5a8","name":"PI: Duration of Illness","label":"Duration of Illness","key":"","behavior":"single","devices":[{"sid":"Less than or equal to 2 days"},{"sid":"2-15 days"},{"sid":"16-30 days"},{"sid":"Over 30 days"},{"sid":"Unknown"}],"x":200,"y":240,"wires":[["bec28d7d.5b157"]]},{"id":"b230a0f.0d0536","type":"visit-select","z":"5822d86d.c9b5a8","name":"Conscious","label":"Conscious","key":"","behavior":"single","devices":[{"sid":"Yes"},{"sid":"No"},{"sid":"Unknown"}],"x":170,"y":300,"wires":[["fcfce773.1fe928"]]},{"id":"fcfce773.1fe928","type":"visit-select","z":"5822d86d.c9b5a8","name":"Anemia","label":"Anemia","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":360,"wires":[["1556bba3.67c244"]]},{"id":"fcb28616.dd6ee8","type":"summary","z":"5822d86d.c9b5a8","name":"Show calculated birthdate","x":360,"y":180,"wires":[["4e51bcc9.b460d4"]]},{"id":"bec28d7d.5b157","type":"summary","z":"5822d86d.c9b5a8","name":"Show calculated start date","x":440,"y":240,"wires":[["b230a0f.0d0536"]]},{"id":"7aaad872.3b3938","type":"end-flow","z":"5822d86d.c9b5a8","name":"","x":120,"y":540,"wires":[]},{"id":"1556bba3.67c244","type":"visit-select","z":"5822d86d.c9b5a8","name":"Convulsions","label":"Convulsions","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":360,"wires":[["93b137f9.071668"]]},{"id":"93b137f9.071668","type":"visit-select","z":"5822d86d.c9b5a8","name":"Cough or Difficulty Breathing (CDB)","label":"Cough or Difficulty Breathing (CDB)","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":540,"y":360,"wires":[["683c05de.4f599c"]]},{"id":"683c05de.4f599c","type":"visit-select","z":"5822d86d.c9b5a8","name":"Diarrhea","label":"Diarrhea","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":420,"wires":[["ea1a1823.449598"]]},{"id":"ea1a1823.449598","type":"visit-select","z":"5822d86d.c9b5a8","name":"History of Fever","label":"History of Fever","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":320,"y":420,"wires":[["8cef716.c88889"]]},{"id":"8cef716.c88889","type":"visit-select","z":"5822d86d.c9b5a8","name":"Fever (>37.5 C)","label":"Fever (>37.5 C)","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":500,"y":420,"wires":[["6080ab05.47ea04"]]},{"id":"6080ab05.47ea04","type":"visit-select","z":"5822d86d.c9b5a8","name":"Lethargie","label":"Lethargie","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":160,"y":480,"wires":[["4ef7a84e.248918"]]},{"id":"4ef7a84e.248918","type":"visit-select","z":"5822d86d.c9b5a8","name":"Malnutrition","label":"Malnutrition","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":310,"y":480,"wires":[["3b4acc2b.4065c4"]]},{"id":"3b4acc2b.4065c4","type":"visit-select","z":"5822d86d.c9b5a8","name":"Unable to feed","label":"Unable to feed","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":480,"y":480,"wires":[["165fb2c8.af792d"]]},{"id":"165fb2c8.af792d","type":"visit-select","z":"5822d86d.c9b5a8","name":"Vomiting","label":"Vomiting","key":"","behavior":"","devices":[{"sid":"Present"},{"sid":"Absent"},{"sid":"Unknown"}],"x":640,"y":480,"wires":[["7aaad872.3b3938"]]},{"id":"11039777.8cb6e9","type":"scheduled-patients-list","z":"52a2125e.4b7f3c","name":"Select student","program":"","x":150,"y":40,"wires":[["86443db6.6dfce"]]},{"id":"4dbda41c.ea441c","type":"end-flow","z":"52a2125e.4b7f3c","name":"","x":460,"y":300,"wires":[]},{"id":"86443db6.6dfce","type":"text-to-speech","z":"52a2125e.4b7f3c","name":"Some verbal explanation","x":190,"y":100,"wires":[["2d53240a.fc0b4c"]]},{"id":"86d5069a.d320c8","type":"show-video","z":"52a2125e.4b7f3c","name":"some fun video","x":480,"y":180,"wires":[["c7e0f5e.1913d08"]]},{"id":"2439904a.2d1c8","type":"visit-question","z":"52a2125e.4b7f3c","name":"2 + 2","label":"2 + 2","key":"","datatype":"integer","x":290,"y":160,"wires":[["86d5069a.d320c8"]]},{"id":"c7e0f5e.1913d08","type":"visit-select","z":"52a2125e.4b7f3c","name":"multiple choice","label":"Capitol of Germany","key":"","behavior":"","devices":[{"sid":"Nierstein"},{"sid":"Berlin"},{"sid":"Bonn"},{"sid":"Munich"}],"x":480,"y":240,"wires":[["4dbda41c.ea441c"]]},{"id":"2d53240a.fc0b4c","type":"switch","z":"52a2125e.4b7f3c","name":"beginner?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"currentPatient.age<=8","vt":"str"},{"t":"eq","v":"currentPatient.age>8","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":180,"wires":[["2439904a.2d1c8"],["3bb28a36.03b166"]]},{"id":"3bb28a36.03b166","type":"visit-question","z":"52a2125e.4b7f3c","name":"200 * 200","label":"200 * 200","key":"","datatype":"integer","x":300,"y":200,"wires":[["86d5069a.d320c8"]]},{"id":"96edd150.7ce4","type":"demographic-attribute","z":"9dcf777b.4085e8","name":"firstname","label":"Firstname","key":"","datatype":"text","x":200,"y":40,"wires":[["78cbd66f.658778"]]},{"id":"78cbd66f.658778","type":"demographic-attribute","z":"9dcf777b.4085e8","name":"lastname","label":"Lastname","key":"","datatype":"text","x":360,"y":40,"wires":[["4a6d0749.4c81e8"]]},{"id":"4a6d0749.4c81e8","type":"demographic-birthdate","z":"9dcf777b.4085e8","name":"","entrybyage":false,"partialdate":false,"x":200,"y":100,"wires":[["e8d5afb4.fdf9f"]]},{"id":"e8d5afb4.fdf9f","type":"demographic-current-address","z":"9dcf777b.4085e8","name":"","x":220,"y":160,"wires":[["87dafa4b.3c2ca8"]]},{"id":"87dafa4b.3c2ca8","type":"demographic-home-address","z":"9dcf777b.4085e8","name":"","x":420,"y":160,"wires":[[]]},{"id":"eaec8f0b.dcee1","type":"visit-question","z":"8c1058fa.7435b8","name":"date confirmed HIV+","label":"Date Confirmed HIV+","key":"","datatype":"date","x":240,"y":80,"wires":[["3f48c4a5.bdc5bc"]]},{"id":"3f48c4a5.bdc5bc","type":"visit-select","z":"8c1058fa.7435b8","name":"hivtype","label":"HIV Type","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["727f0f50.43dd6"]]},{"id":"727f0f50.43dd6","type":"visit-question","z":"8c1058fa.7435b8","name":"referred from","label":"Referred from (coded)","key":"","datatype":"text","x":210,"y":200,"wires":[["370c7ef5.401ab2"]]},{"id":"370c7ef5.401ab2","type":"visit-question","z":"8c1058fa.7435b8","name":"partnertested","label":"Partner and Children tested?","key":"","datatype":"text","x":220,"y":260,"wires":[[]]},{"id":"a10229f.bcd2fd8","type":"scheduled-patients-list","z":"2c78c14b.23eb9e","name":"","program":"","x":200,"y":80,"wires":[["d98d0290.c45fc"]]},{"id":"a1f19d3a.39ce1","type":"height-weight","z":"2c78c14b.23eb9e","name":"","x":180,"y":200,"wires":[["67ddf13d.e370b"]]},{"id":"9267e873.799c28","type":"visit-question","z":"2c78c14b.23eb9e","name":"muac","label":"MUAC","key":"","datatype":"integer","x":550,"y":140,"wires":[["a0b36526.a95f98"]]},{"id":"a0b36526.a95f98","type":"visit-question","z":"2c78c14b.23eb9e","name":"height","label":"Height","key":"","datatype":"integer","x":550,"y":200,"wires":[["48edf6f5.29d7c8"]]},{"id":"48edf6f5.29d7c8","type":"switch","z":"2c78c14b.23eb9e","name":"female","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"currentPatient.gender=='F'","vt":"str"},{"t":"eq","v":"currentPatient.gender=='M'","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":320,"wires":[["2e9a498e.5ac276"],["a9d2db9f.a0dcc8"]]},{"id":"2e9a498e.5ac276","type":"lab-order-entry","z":"2c78c14b.23eb9e","name":"","panel":"","x":580,"y":320,"wires":[["a9d2db9f.a0dcc8"]]},{"id":"a9d2db9f.a0dcc8","type":"next-appointment","z":"2c78c14b.23eb9e","name":"","defaultperiod":"","x":410,"y":400,"wires":[["b136946d.4b5548"]]},{"id":"b136946d.4b5548","type":"end-flow","z":"2c78c14b.23eb9e","name":"","x":780,"y":420,"wires":[]},{"id":"20f52871.01e288","type":"switch","z":"2c78c14b.23eb9e","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) <= 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) > 5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":140,"wires":[["9267e873.799c28"],["a1f19d3a.39ce1"]]},{"id":"d98d0290.c45fc","type":"tb-screening","z":"2c78c14b.23eb9e","name":"","x":180,"y":140,"wires":[["20f52871.01e288"],[]]},{"id":"67ddf13d.e370b","type":"blood-pressure","z":"2c78c14b.23eb9e","name":"","x":180,"y":260,"wires":[["48edf6f5.29d7c8"]]},{"id":"f451a494.0dbe68","type":"checked-in-patients-list","z":"cd88cd4.bd9ee3","name":"","program":"","x":190,"y":80,"wires":[["5e8a55b3.5f725c"]]},{"id":"1662930c.c6bc1d","type":"end-flow","z":"cd88cd4.bd9ee3","name":"","x":780,"y":260,"wires":[]},{"id":"471c734b.174f1c","type":"height-weight","z":"cd88cd4.bd9ee3","name":"","x":420,"y":220,"wires":[["be5287de.9a4bd8"]]},{"id":"be5287de.9a4bd8","type":"blood-pressure","z":"cd88cd4.bd9ee3","name":"","x":620,"y":220,"wires":[["1662930c.c6bc1d"]]},{"id":"5e8a55b3.5f725c","type":"switch","z":"cd88cd4.bd9ee3","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) <= 5","vt":"str"},{"t":"eq","v":"calculateAge(new Date(currentPatient.birthdate)) > 5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":160,"wires":[["af691cb2.238f7"],["471c734b.174f1c"]]},{"id":"af691cb2.238f7","type":"visit-question","z":"cd88cd4.bd9ee3","name":"height","label":"Height","key":"","datatype":"integer","x":470,"y":120,"wires":[["fa132617.e61c68"]]},{"id":"fa132617.e61c68","type":"visit-question","z":"cd88cd4.bd9ee3","name":"muac","label":"MUAC","key":"","datatype":"integer","x":650,"y":120,"wires":[["1662930c.c6bc1d"]]},{"id":"bda36dca.88a74","type":"careflow","z":"899e571e.0bda48","careflow_runtime":"e91820d6.35e49","x":80,"y":60,"wires":[]},{"id":"e4000ca1.4be32","type":"visit-question-primitive","z":"899e571e.0bda48","name":"","label":"","key":"","datatype":"boolean","x":570,"y":220,"wires":[["d1f91274.6e9cc"]]},{"id":"2d94ec99.0599e4","type":"visit-question-primitive","z":"5822d86d.c9b5a8","name":"name","label":"","key":"","datatype":"decimal","x":320,"y":120,"wires":[[]]},{"id":"6802aaa.949c754","type":"visit-question","z":"5822d86d.c9b5a8","name":"","label":"","key":"","datatype":"","x":360,"y":60,"wires":[[]]},{"id":"2fd65a00.342436","type":"visit-question-primitive","z":"4d8870f7.0c581","name":"concept_name_first","label":"concept_name_first","key":"","datatype":"","x":200,"y":100,"wires":[[]]},{"id":"e860687a.6b2d08","type":"visit-question-primitive","z":"4d8870f7.0c581","name":"concept_name_first","label":"concept_name_first","key":"","datatype":"","x":200,"y":140,"wires":[[]]},{"id":"8403da0.e49fb28","type":"visit-select","z":"b8f9cad2.d89ca8","name":"Type of patient","label":"Type of patient","key":"","behavior":"single","devices":[{"sid":"External consultation"},{"sid":"New patient"}],"x":200,"y":100,"wires":[[]]},{"id":"969476ed.d211b8","type":"visit-select","z":"b8f9cad2.d89ca8","name":"Appointment reason","label":"Appointment reason","key":"","behavior":"single","devices":[{"sid":"NULL"}],"x":200,"y":140,"wires":[[]]},{"id":"3a60394a.2e1aa6","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Treatment status","label":"Treatment status","key":"","datatype":"string","x":200,"y":100,"wires":[[]]},{"id":"f5e0c4b2.33d9f8","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"W-H % median","label":"W-H % median","key":"","datatype":"decimal","x":200,"y":140,"wires":[[]]},{"id":"427d631c.b974cc","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"BMI","label":"BMI","key":"","datatype":"decimal","x":200,"y":180,"wires":[[]]},{"id":"7407e987.c023f8","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"SBP","label":"SBP","key":"","datatype":"decimal","x":200,"y":220,"wires":[[]]},{"id":"96112f41.416cc","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"DBP","label":"DBP","key":"","datatype":"decimal","x":200,"y":260,"wires":[[]]},{"id":"4373c343.87758c","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Heart rate","label":"Heart rate","key":"","datatype":"decimal","x":200,"y":300,"wires":[[]]},{"id":"eb1a5c7d.069b5","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Temp (c)","label":"Temp (c)","key":"","datatype":"decimal","x":200,"y":340,"wires":[[]]},{"id":"cee262cd.48719","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Weight","label":"Weight","key":"","datatype":"decimal","x":200,"y":380,"wires":[[]]},{"id":"6e3b0c98.1806c4","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Height (cm)","label":"Height (cm)","key":"","datatype":"decimal","x":200,"y":420,"wires":[[]]},{"id":"45195dcc.3bae64","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Blood oxygen saturation","label":"Blood oxygen saturation","key":"","datatype":"decimal","x":200,"y":460,"wires":[[]]},{"id":"921bdb72.e12378","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Weight for age percent of median","label":"Weight for age percent of median","key":"","datatype":"decimal","x":200,"y":500,"wires":[[]]},{"id":"4a5ced3b.71a354","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Height for age percent of median","label":"Height for age percent of median","key":"","datatype":"decimal","x":200,"y":540,"wires":[[]]},{"id":"cde6062b.74d298","type":"visit-select","z":"feffee17.1d5d5","name":"Appointment reason","label":"Appointment reason","key":"","behavior":"single","devices":[{"sid":"NULL"}],"x":200,"y":580,"wires":[[]]},{"id":"5a8bcbbb.083ab4","type":"visit-question-primitive","z":"feffee17.1d5d5","name":"Refer patient to clinician","label":"Refer patient to clinician","key":"","datatype":"string","x":200,"y":620,"wires":[[]]},{"id":"97dacc01.d6b99","type":"visit-question-primitive","z":"b1aba1ef.a9a08","name":"Reason for test","label":"Reason for test","key":"","datatype":"string","x":200,"y":100,"wires":[[]]},{"id":"e5e29c51.82182","type":"visit-question-primitive","z":"b1aba1ef.a9a08","name":"Appointment date","label":"Appointment date","key":"","datatype":"date","x":200,"y":140,"wires":[[]]},{"id":"ea390fa.294f7f","type":"visit-question-primitive","z":"b1aba1ef.a9a08","name":"Estimated date","label":"Estimated date","key":"","datatype":"string","x":200,"y":180,"wires":[[]]},{"id":"7c528d2e.ab95b4","type":"visit-question-primitive","z":"f4258b76.efa088","name":"ART start date","label":"ART start date","key":"","datatype":"date","x":200,"y":100,"wires":[["3e0c949a.bd53bc"]]},{"id":"3e0c949a.bd53bc","type":"visit-select","z":"f4258b76.efa088","name":"Agrees to followup","label":"Agrees to followup","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Phone only"},{"sid":"Visit only"},{"sid":"Yes"}],"x":200,"y":140,"wires":[["ae1b8bd8.dd4b08"]]},{"id":"ae1b8bd8.dd4b08","type":"visit-question-primitive","z":"f4258b76.efa088","name":"CD4","label":"CD4","key":"","datatype":"decimal","x":200,"y":180,"wires":[["5c97d2c.b68b12c"]]},{"id":"5c97d2c.b68b12c","type":"visit-select","z":"f4258b76.efa088","name":"Is patient pregnant?","label":"Is patient pregnant?","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":220,"wires":[["14ebd37f.5df4ed"]]},{"id":"14ebd37f.5df4ed","type":"visit-select","z":"f4258b76.efa088","name":"Has transfer letter","label":"Has transfer letter","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":260,"wires":[["6531b6e8.c0ee98"]]},{"id":"6531b6e8.c0ee98","type":"visit-select","z":"f4258b76.efa088","name":"Has the patient taken ART in the last two weeks","label":"Has the patient taken ART in the last two weeks","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":300,"wires":[["cef3137e.83a92"]]},{"id":"cef3137e.83a92","type":"visit-question-primitive","z":"f4258b76.efa088","name":"ART number at previous location","label":"ART number at previous location","key":"","datatype":"string","x":200,"y":340,"wires":[["32865d33.56d482"]]},{"id":"32865d33.56d482","type":"visit-question-primitive","z":"f4258b76.efa088","name":"Location of ART initiation","label":"Location of ART initiation","key":"","datatype":"string","x":200,"y":380,"wires":[["fb4fc60e.7a9d18"]]},{"id":"fb4fc60e.7a9d18","type":"visit-question-primitive","z":"f4258b76.efa088","name":"Date ART last taken","label":"Date ART last taken","key":"","datatype":"date","x":200,"y":420,"wires":[["1072592.9cadba7"]]},{"id":"1072592.9cadba7","type":"visit-question-primitive","z":"f4258b76.efa088","name":"Has the patient taken ART in the last two months","label":"Has the patient taken ART in the last two months","key":"","datatype":"string","x":200,"y":460,"wires":[["8396f8f4.393598"]]},{"id":"8396f8f4.393598","type":"visit-select","z":"f4258b76.efa088","name":"Ever received ART","label":"Ever received ART","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":500,"wires":[["567cfdaa.844644"]]},{"id":"567cfdaa.844644","type":"visit-select","z":"f4258b76.efa088","name":"Confirmatory HIV test type","label":"Confirmatory HIV test type","key":"","behavior":"single","devices":[{"sid":"DNA PCR"},{"sid":"HIV rapid qual"},{"sid":"NOT done"}],"x":200,"y":540,"wires":[["7e081958.46e5b8"]]},{"id":"7e081958.46e5b8","type":"visit-question-primitive","z":"f4258b76.efa088","name":"Confirmatory HIV test location","label":"Confirmatory HIV test location","key":"","datatype":"string","x":200,"y":580,"wires":[["b1f1247.cca61d8"]]},{"id":"b1f1247.cca61d8","type":"visit-question-primitive","z":"f4258b76.efa088","name":"Confirmatory HIV test date","label":"Confirmatory HIV test date","key":"","datatype":"date","x":200,"y":620,"wires":[["acc4a1b3.fa5bb"]]},{"id":"acc4a1b3.fa5bb","type":"visit-select","z":"f4258b76.efa088","name":"Ever registered at ART clinic","label":"Ever registered at ART clinic","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":660,"wires":[["886f8a5f.e06548"]]},{"id":"886f8a5f.e06548","type":"visit-select","z":"f4258b76.efa088","name":"Breast feeding?","label":"Breast feeding?","key":"","behavior":"single","devices":[{"sid":"No"}],"x":200,"y":700,"wires":[["67b9446.9ae01bc"]]},{"id":"67b9446.9ae01bc","type":"visit-select","z":"f4258b76.efa088","name":"SEND SMS","label":"SEND SMS","key":"","behavior":"single","devices":[{"sid":"No"}],"x":200,"y":740,"wires":[["b497a875.534b18"]]},{"id":"b497a875.534b18","type":"visit-question-primitive","z":"f4258b76.efa088","name":"CD4 count <= 500","label":"CD4 count <= 500","key":"","datatype":"decimal","x":200,"y":780,"wires":[["ab12d634.5253d8"]]},{"id":"ab12d634.5253d8","type":"visit-question-primitive","z":"f4258b76.efa088","name":"Phone only","label":"Phone only","key":"","datatype":"string","x":200,"y":820,"wires":[["653d42f6.0b296c"]]},{"id":"653d42f6.0b296c","type":"visit-question-primitive","z":"f4258b76.efa088","name":"Visit only","label":"Visit only","key":"","datatype":"string","x":200,"y":860,"wires":[["e627e812.1c8df8"]]},{"id":"140027d9.3321c8","type":"visit-question-primitive","z":"3ac9a4ff.548f8c","name":"HIV viral load","label":"HIV viral load","key":"","datatype":"decimal","x":200,"y":100,"wires":[[]]},{"id":"2b917748.cac008","type":"visit-question-primitive","z":"3ac9a4ff.548f8c","name":"Reason for test","label":"Reason for test","key":"","datatype":"string","x":200,"y":140,"wires":[[]]},{"id":"47960ef0.c6ed4","type":"visit-question-primitive","z":"2cc84fc5.1b461","name":"INH","label":"INH","key":"","datatype":"string","x":200,"y":100,"wires":[[]]},{"id":"501c8e78.e7672","type":"visit-question-primitive","z":"2cc84fc5.1b461","name":"Pyridoxin","label":"Pyridoxin","key":"","datatype":"string","x":200,"y":140,"wires":[[]]},{"id":"4bfd4cb9.a39274","type":"visit-select","z":"2cc84fc5.1b461","name":"Reason antiretrovirals change (first line only","label":"Reason antiretrovirals change (first line only","key":"","behavior":"single","devices":[{"sid":"NULL"}],"x":200,"y":180,"wires":[[]]},{"id":"71a283a.f0b407c","type":"visit-select","z":"2cc84fc5.1b461","name":"Appointment reason","label":"Appointment reason","key":"","behavior":"single","devices":[{"sid":"NULL"}],"x":200,"y":220,"wires":[[]]},{"id":"a4601bd1.6a5228","type":"visit-select","z":"2cc84fc5.1b461","name":"ARV regimen type","label":"ARV regimen type","key":"","behavior":"single","devices":[{"sid":"NULL"}],"x":200,"y":260,"wires":[[]]},{"id":"a6a9000c.001be","type":"visit-select","z":"2cc84fc5.1b461","name":"Cotrimoxazole prophylaxis treatment started","label":"Cotrimoxazole prophylaxis treatment started","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":300,"wires":[[]]},{"id":"12d8a421.10a4bc","type":"visit-question-primitive","z":"2cc84fc5.1b461","name":"Regimen Category","label":"Regimen Category","key":"","datatype":"string","x":200,"y":340,"wires":[[]]},{"id":"646bb3a0.d02fac","type":"visit-select","z":"6a84e22.4cb3d1c","name":"Patient present","label":"Patient present","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":100,"wires":[[]]},{"id":"bfba9992.53b008","type":"visit-question-primitive","z":"6a84e22.4cb3d1c","name":"Guardian present","label":"Guardian present","key":"","datatype":"boolean","x":200,"y":140,"wires":[[]]},{"id":"67a89179.8c048","type":"visit-select","z":"6a84e22.4cb3d1c","name":"Appointment reason","label":"Appointment reason","key":"","behavior":"single","devices":[{"sid":"NULL"}],"x":200,"y":180,"wires":[[]]},{"id":"1a1a6b84.f60484","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"CD4 percent","label":"CD4 percent","key":"","datatype":"decimal","x":200,"y":100,"wires":[[]]},{"id":"4d4f9862.ad68e8","type":"visit-select","z":"a73f811b.17ec1","name":"Herpes zoster","label":"Herpes zoster","key":"","behavior":"single","devices":[{"sid":"No"}],"x":200,"y":140,"wires":[[]]},{"id":"eba7af79.f9469","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Angular cheilitis","label":"Angular cheilitis","key":"","datatype":"string","x":200,"y":180,"wires":[[]]},{"id":"11002f70.bf9641","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Oral ulcerations, recurrent","label":"Oral ulcerations, recurrent","key":"","datatype":"string","x":200,"y":220,"wires":[[]]},{"id":"939794d2.cd3b88","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Seborrhoeic dermatitis","label":"Seborrhoeic dermatitis","key":"","datatype":"string","x":200,"y":260,"wires":[[]]},{"id":"a6831e48.83461","type":"visit-select","z":"a73f811b.17ec1","name":"Who stages criteria present","label":"Who stages criteria present","key":"","behavior":"single","devices":[{"sid":"Anaemia"},{"sid":"unexplained < 8 g/dl"},{"sid":"Asymptomatic HIV infection"},{"sid":"Bacterial pneumonia"},{"sid":"severe recurrent"},{"sid":"Candidiasis of oseophagus"},{"sid":"trachea and bronchi or lungs"},{"sid":"Candidiasis oral - voided"},{"sid":"Chonic herpes simplex"},{"sid":"Chronic diarrhea"},{"sid":"Cryptococcal meningitis or other extrapulmonary cryptococcosis"},{"sid":"EPTB"},{"sid":"Fever"},{"sid":"persistent unexplained"},{"sid":"intermittent or constant"},{"sid":">1 month"},{"sid":"Herpes zoster"},{"sid":"Kaposi sarcoma"},{"sid":"Moderate unexplained wasting/malnutrition not responding to treatment (weight-for-height/ -age 70-79% or muac 11-12 cm)"},{"sid":"Moderate weight loss less than or equal to 10 percent"},{"sid":"unexplained"},{"sid":"Other"},{"sid":"PCP"},{"sid":"Pulmonary TB (current)"},{"sid":"Pulmonary tuberculosis within the last 2 years"},{"sid":"Recurrent upper respiratory infection"},{"sid":"Seborrhoeic dermatitis"},{"sid":"Severe bacterial infections (pneumonia"},{"sid":"empyema"},{"sid":"pyomyositis"},{"sid":"bone/joint"},{"sid":"meningitis"},{"sid":"bacteraemia)"},{"sid":"Severe unexplained wasting or malnutrition not responding to treatment"},{"sid":"Severe weight loss >10% and/or BMI <18.5kg/m^2"},{"sid":"unexplained"},{"sid":"Symptomatic HIV associated nephropathy or cardiomyopathy"},{"sid":"Unspecified stage 2 condition"},{"sid":""}],"x":200,"y":300,"wires":[[]]},{"id":"7dcb7092.41f5e","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Recurrent upper respiratory infection","label":"Recurrent upper respiratory infection","key":"","datatype":"string","x":200,"y":340,"wires":[[]]},{"id":"26c271fb.ee22be","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Chronic diarrhea","label":"Chronic diarrhea","key":"","datatype":"string","x":200,"y":380,"wires":[[]]},{"id":"de30090a.941bc8","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Fever, persistent unexplained, intermittent or constant, >1 month","label":"Fever, persistent unexplained, intermittent or constant, >1 month","key":"","datatype":"string","x":200,"y":420,"wires":[[]]},{"id":"70b83d11.23bb14","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Persistent generalized lymphadenopathy","label":"Persistent generalized lymphadenopathy","key":"","datatype":"string","x":200,"y":460,"wires":[[]]},{"id":"a08ea81c.6d0808","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Moderate weight loss less than or equal to 10 percent, unexplained","label":"Moderate weight loss less than or equal to 10 percent, unexplained","key":"","datatype":"string","x":200,"y":500,"wires":[[]]},{"id":"4e4a153d.ab85ec","type":"visit-select","z":"a73f811b.17ec1","name":"Candidiasis oral - voided","label":"Candidiasis oral - voided","key":"","behavior":"single","devices":[{"sid":"No"}],"x":200,"y":540,"wires":[[]]},{"id":"1b137fec.9457f","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"CD4","label":"CD4","key":"","datatype":"decimal","x":200,"y":580,"wires":[[]]},{"id":"eff92d75.50e0e","type":"visit-select","z":"a73f811b.17ec1","name":"Is patient pregnant?","label":"Is patient pregnant?","key":"","behavior":"single","devices":[{"sid":"Do not know"},{"sid":"No"},{"sid":"Yes"}],"x":200,"y":620,"wires":[[]]},{"id":"1261a1ce.04b08e","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Cd4 count location","label":"Cd4 count location","key":"","datatype":"string","x":200,"y":660,"wires":[[]]},{"id":"c571fe72.0ca6","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Cd4 count datetime","label":"Cd4 count datetime","key":"","datatype":"dateTime","x":200,"y":700,"wires":[[]]},{"id":"c994fb8.065e108","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"CD4 percent location","label":"CD4 percent location","key":"","datatype":"string","x":200,"y":740,"wires":[[]]},{"id":"4221c718.500278","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"CD4 percent less than 25","label":"CD4 percent less than 25","key":"","datatype":"string","x":200,"y":780,"wires":[[]]},{"id":"8843458e.6f9178","type":"visit-select","z":"a73f811b.17ec1","name":"Presumed severe HIV criteria present","label":"Presumed severe HIV criteria present","key":"","behavior":"single","devices":[{"sid":"Severe unexplained wasting or malnutrition not responding to treatment"}],"x":200,"y":820,"wires":[[]]},{"id":"5539153f.62ac4c","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Unspecified stage 2 condition","label":"Unspecified stage 2 condition","key":"","datatype":"string","x":200,"y":860,"wires":[[]]},{"id":"8a3a02ae.f63f6","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Papular pruritic eruptions / Fungal nail infections","label":"Papular pruritic eruptions / Fungal nail infections","key":"","datatype":"string","x":200,"y":900,"wires":[[]]},{"id":"8dd97aa6.262ba8","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Pulmonary tuberculosis within the last 2 years","label":"Pulmonary tuberculosis within the last 2 years","key":"","datatype":"string","x":200,"y":940,"wires":[[]]},{"id":"6f2e1cd2.2b9ff4","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Severe weight loss >10% and/or BMI <18.5kg/m^2, unexplained","label":"Severe weight loss >10% and/or BMI <18.5kg/m^2, unexplained","key":"","datatype":"string","x":200,"y":980,"wires":[[]]},{"id":"e76b340b.50daf8","type":"visit-select","z":"a73f811b.17ec1","name":"WHO stage","label":"WHO stage","key":"","behavior":"single","devices":[{"sid":""},{"sid":"WHO stage I adult"}],"x":200,"y":1020,"wires":[[]]},{"id":"9a4cbe24.7959","type":"visit-select","z":"a73f811b.17ec1","name":"Reason for ART eligibility","label":"Reason for ART eligibility","key":"","behavior":"single","devices":[{"sid":""},{"sid":"Asymptomatic"},{"sid":"Breastfeeding"},{"sid":"CD4 count <= 250"},{"sid":"CD4 count <= 350"},{"sid":"CD4 count <= 500"},{"sid":"Gravida"},{"sid":"HIV infected"},{"sid":"None"},{"sid":"WHO stage III adult"},{"sid":"WHO stage IV adult"}],"x":200,"y":1060,"wires":[[]]},{"id":"6342743d.683ecc","type":"visit-select","z":"a73f811b.17ec1","name":"Breast feeding?","label":"Breast feeding?","key":"","behavior":"single","devices":[{"sid":"Do not know"},{"sid":"No"},{"sid":"Yes"}],"x":200,"y":1100,"wires":[[]]},{"id":"32aecb98.0e4b54","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"Pulmonary TB (current)","label":"Pulmonary TB (current)","key":"","datatype":"string","x":200,"y":1140,"wires":[[]]},{"id":"b61c27d0.2b4508","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"CD4 count <= 350","label":"CD4 count <= 350","key":"","datatype":"string","x":200,"y":1180,"wires":[[]]},{"id":"a7086c47.ce7c6","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"CD4 count <= 250","label":"CD4 count <= 250","key":"","datatype":"string","x":200,"y":1220,"wires":[[]]},{"id":"54f2f68c.787848","type":"visit-question-primitive","z":"a73f811b.17ec1","name":"CD4 count <= 500","label":"CD4 count <= 500","key":"","datatype":"decimal","x":200,"y":1260,"wires":[[]]},{"id":"725bc303.cfe47c","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Anaemia","label":"Anaemia","key":"","datatype":"string","x":200,"y":100,"wires":[[]]},{"id":"a409fb05.9db188","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Cough","label":"Cough","key":"","datatype":"string","x":200,"y":140,"wires":[[]]},{"id":"d12cd00f.2bd94","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Icterus","label":"Icterus","key":"","datatype":"string","x":200,"y":180,"wires":[[]]},{"id":"6a11be3e.ff4d6","type":"visit-select","z":"8e6c2260.690ee","name":"Psychosis","label":"Psychosis","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":220,"wires":[[]]},{"id":"5e4345cb.9ea9ac","type":"visit-select","z":"8e6c2260.690ee","name":"Family planning method","label":"Family planning method","key":"","behavior":"single","devices":[{"sid":"Birth control pills"},{"sid":"Contraceptive implant"},{"sid":"Depo"},{"sid":"Female condoms"},{"sid":"Intrauterine contraception"},{"sid":"Male condoms"},{"sid":"None"},{"sid":"Tubal ligation"}],"x":200,"y":260,"wires":[[]]},{"id":"35c6a203.f2c0ee","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Rash","label":"Rash","key":"","datatype":"string","x":200,"y":300,"wires":[[]]},{"id":"5a9d3262.d7238c","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Headache","label":"Headache","key":"","datatype":"string","x":200,"y":340,"wires":[[]]},{"id":"3f6294a1.33045c","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"AZT + 3TC","label":"AZT + 3TC","key":"","datatype":"string","x":200,"y":380,"wires":[[]]},{"id":"f3c2192c.875818","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Nevirapine","label":"Nevirapine","key":"","datatype":"string","x":200,"y":420,"wires":[[]]},{"id":"8dbaee82.a64fd","type":"visit-select","z":"8e6c2260.690ee","name":"Peripheral neuropathy","label":"Peripheral neuropathy","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":460,"wires":[[]]},{"id":"d80e314d.15e5c","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Insomnia","label":"Insomnia","key":"","datatype":"string","x":200,"y":500,"wires":[[]]},{"id":"cbbec73c.48a568","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Dizziness","label":"Dizziness","key":"","datatype":"boolean","x":200,"y":540,"wires":[[]]},{"id":"11f64a05.7b74e6","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Medication orders","label":"Medication orders","key":"","datatype":"string","x":200,"y":580,"wires":[[]]},{"id":"a4f068fd.cc2158","type":"visit-select","z":"8e6c2260.690ee","name":"Lactic acidosis","label":"Lactic acidosis","key":"","behavior":"single","devices":[{"sid":"No"}],"x":200,"y":620,"wires":[[]]},{"id":"d126dcc8.70225","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"AZT/3TC/NVP","label":"AZT/3TC/NVP","key":"","datatype":"string","x":200,"y":660,"wires":[[]]},{"id":"b4b2c383.13e81","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Family planning","label":"Family planning","key":"","datatype":"string","x":200,"y":700,"wires":[[]]},{"id":"c4b27742.880358","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Currently using family planning method","label":"Currently using family planning method","key":"","datatype":"boolean","x":200,"y":740,"wires":[[]]},{"id":"828ee9e5.9a3b38","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Lipodystrophy","label":"Lipodystrophy","key":"","datatype":"string","x":200,"y":780,"wires":[[]]},{"id":"dc9c7935.64ecd8","type":"visit-select","z":"8e6c2260.690ee","name":"Category I TB regimen","label":"Category I TB regimen","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":820,"wires":[[]]},{"id":"22ee6afa.d6bbb6","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"TDF/3TC/EFV","label":"TDF/3TC/EFV","key":"","datatype":"string","x":200,"y":860,"wires":[[]]},{"id":"54578f54.f76fc","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Fever","label":"Fever","key":"","datatype":"string","x":200,"y":900,"wires":[[]]},{"id":"2797a0a3.3564e","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Nausea","label":"Nausea","key":"","datatype":"string","x":200,"y":940,"wires":[[]]},{"id":"d8315049.b3c2c","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Emesis","label":"Emesis","key":"","datatype":"string","x":200,"y":980,"wires":[[]]},{"id":"4639c17c.3c928","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Night sweats","label":"Night sweats","key":"","datatype":"string","x":200,"y":1020,"wires":[[]]},{"id":"734433db.2697bc","type":"visit-select","z":"8e6c2260.690ee","name":"Is patient pregnant?","label":"Is patient pregnant?","key":"","behavior":"single","devices":[{"sid":"Do not know"},{"sid":"No"},{"sid":"Yes"}],"x":200,"y":1060,"wires":[[]]},{"id":"8208256f.6992a8","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Reason for no family planning","label":"Reason for no family planning","key":"","datatype":"string","x":200,"y":1100,"wires":[[]]},{"id":"ae7946be.bbd7c8","type":"visit-select","z":"8e6c2260.690ee","name":"Refer to ART clinician","label":"Refer to ART clinician","key":"","behavior":"single","devices":[{"sid":"No"},{"sid":"Yes"}],"x":200,"y":1140,"wires":[[]]},{"id":"2256481d.2c2568","type":"visit-select","z":"8e6c2260.690ee","name":"TB status","label":"TB status","key":"","behavior":"single","devices":[{"sid":"Confirmed TB NOT on treatment"},{"sid":"Confirmed TB on treatment"},{"sid":"Nosup"},{"sid":"sup"}],"x":200,"y":1180,"wires":[[]]},{"id":"587ebba9.4b6764","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Drug induced","label":"Drug induced","key":"","datatype":"string","x":200,"y":1220,"wires":[[]]},{"id":"2c6bfaad.59fc36","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Last antiretroviral drugs taken","label":"Last antiretroviral drugs taken","key":"","datatype":"string","x":200,"y":1260,"wires":[[]]},{"id":"6b90823f.a061ec","type":"visit-select","z":"8e6c2260.690ee","name":"Malawi ART side effects","label":"Malawi ART side effects","key":"","behavior":"single","devices":[{"sid":"Anaemia"},{"sid":"Gynaecomastia"},{"sid":"Icterus"},{"sid":"Insomnia"},{"sid":"Kidney Failure"},{"sid":"Lipodystrophy"},{"sid":"Peripheral neuropathy"},{"sid":"Psychosis"},{"sid":"Rash"}],"x":200,"y":1300,"wires":[[]]},{"id":"d6a4db22.e85bc8","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Prescribe drugs","label":"Prescribe drugs","key":"","datatype":"string","x":200,"y":1340,"wires":[[]]},{"id":"23aa493e.18f2c6","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"TDF+3TC","label":"TDF+3TC","key":"","datatype":"decimal","x":200,"y":1380,"wires":[[]]},{"id":"41d78b6a.70f064","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Other side effect","label":"Other side effect","key":"","datatype":"string","x":200,"y":1420,"wires":[[]]},{"id":"92e1f1e1.a5234","type":"visit-select","z":"8e6c2260.690ee","name":"Breast feeding?","label":"Breast feeding?","key":"","behavior":"single","devices":[{"sid":"Do not know"},{"sid":"No"},{"sid":"Yes"}],"x":200,"y":1460,"wires":[[]]},{"id":"9641a8.400ede58","type":"visit-select","z":"8e6c2260.690ee","name":"Allergic to sulphur","label":"Allergic to sulphur","key":"","behavior":"single","devices":[{"sid":"Do not know"},{"sid":"No"},{"sid":"Yes"}],"x":200,"y":1500,"wires":[[]]},{"id":"87423e2a.e44c6","type":"visit-select","z":"8e6c2260.690ee","name":"Routine TB Screening","label":"Routine TB Screening","key":"","behavior":"single","devices":[{"sid":"Cough any duration"},{"sid":"Fever"},{"sid":"Night sweats"},{"sid":"Weight loss / Failure to thrive / maln."}],"x":200,"y":1540,"wires":[[]]},{"id":"79687ffd.ff1ef","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Weight loss / Failure to thrive / maln.","label":"Weight loss / Failure to thrive / maln.","key":"","datatype":"string","x":200,"y":1580,"wires":[[]]},{"id":"933202da.9d46","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Cough any duration","label":"Cough any duration","key":"","datatype":"string","x":200,"y":1620,"wires":[[]]},{"id":"de49bc68.491ec","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Atazanavir Ritonavir","label":"Atazanavir Ritonavir","key":"","datatype":"string","x":200,"y":1660,"wires":[[]]},{"id":"be91a9e8.15d208","type":"visit-select","z":"8e6c2260.690ee","name":"Reason for not using contraceptives","label":"Reason for not using contraceptives","key":"","behavior":"single","devices":[{"sid":"Afraid of side effects"},{"sid":"Apathetic"},{"sid":"Never thought about it"}],"x":200,"y":1700,"wires":[[]]},{"id":"5caa6679.87dcf8","type":"visit-select","z":"8e6c2260.690ee","name":"Offer contraception","label":"Offer contraception","key":"","behavior":"single","devices":[{"sid":"Discuss with spouse"},{"sid":"No"},{"sid":"Yes"}],"x":200,"y":1740,"wires":[[]]},{"id":"426fa541.65c7fc","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Kidney Failure","label":"Kidney Failure","key":"","datatype":"string","x":200,"y":1780,"wires":[[]]},{"id":"191e7210.9e5e0e","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Gynaecomastia","label":"Gynaecomastia","key":"","datatype":"string","x":200,"y":1820,"wires":[[]]},{"id":"ff982d49.d4174","type":"visit-question-primitive","z":"8e6c2260.690ee","name":"Contraindications","label":"Contraindications","key":"","datatype":"string","x":200,"y":1860,"wires":[[]]},{"id":"8331cecb.ec941","type":"visit-question-primitive","z":"2e30e80f.988e98","name":"Drug end date","label":"Drug end date","key":"","datatype":"date","x":200,"y":100,"wires":[[]]},{"id":"1c4aacc2.aa97b3","type":"visit-question-primitive","z":"2e30e80f.988e98","name":"Amount dispensed","label":"Amount dispensed","key":"","datatype":"decimal","x":200,"y":140,"wires":[[]]},{"id":"6d8ac7e6.7649d8","type":"visit-question-primitive","z":"2e30e80f.988e98","name":"Regimen Category","label":"Regimen Category","key":"","datatype":"string","x":200,"y":180,"wires":[[]]},{"id":"bcaf279b.223958","type":"visit-question-primitive","z":"a73ab80f.250a38","name":"Reason for test","label":"Reason for test","key":"","datatype":"string","x":200,"y":100,"wires":[[]]},{"id":"9b8c8295.b6882","type":"visit-question-primitive","z":"1bb8d526.49ca3b","name":"Medication orders","label":"Medication orders","key":"","datatype":"string","x":200,"y":100,"wires":[[]]},{"id":"4da4f6d5.c0dbd8","type":"visit-question-primitive","z":"1bb8d526.49ca3b","name":"Amount of drug brought to clinic","label":"Amount of drug brought to clinic","key":"","datatype":"decimal","x":200,"y":140,"wires":[[]]},{"id":"e2b9da69.40d078","type":"visit-question-primitive","z":"1bb8d526.49ca3b","name":"Reason for missing dose or incorrectly taking medicne","label":"Reason for missing dose or incorrectly taking medicne","key":"","datatype":"string","x":200,"y":180,"wires":[[]]},{"id":"6a9ec78b.9cda38","type":"visit-question-primitive","z":"1bb8d526.49ca3b","name":"Drug order adherence","label":"Drug order adherence","key":"","datatype":"decimal","x":200,"y":220,"wires":[[]]},{"id":"b766027e.cb512","type":"visit-select","z":"2af8512d.c9cc2e","name":"&#8201;REASON PATIENT EXITED CARE&#8201;","label":"&#8201;REASON PATIENT EXITED CARE&#8201;","key":"","behavior":"single","devices":[{"sid":"Died"},{"sid":"Patient transferred out"},{"sid":"Treatment stopped"}],"x":200,"y":100,"wires":[[]]},{"id":"6365857d.d6f72c","type":"visit-question-primitive","z":"2af8512d.c9cc2e","name":"Transfer out destination","label":"Transfer out destination","key":"","datatype":"string","x":200,"y":140,"wires":[[]]},{"id":"ba346edc.b4d31","type":"visit-question-primitive","z":"2af8512d.c9cc2e","name":"Patient tracking state","label":"Patient tracking state","key":"","datatype":"string","x":200,"y":180,"wires":[[]]},{"id":"8b852ea6.1dcdd","type":"visit-question-primitive","z":"2af8512d.c9cc2e","name":"Date of exiting care","label":"Date of exiting care","key":"","datatype":"string","x":200,"y":220,"wires":[[]]},{"id":"c960f7f1.d9fde8","type":"visit-question-primitive","z":"fa9f9d97.c362c","name":"Assess for fast track?","label":"Assess for fast track?","key":"","datatype":"string","x":200,"y":100,"wires":[[]]},{"id":"e627e812.1c8df8","type":"end-flow","z":"f4258b76.efa088","name":"","x":180,"y":920,"wires":[]},{"id":"5c9d1879.0c6448","type":"find-patient","z":"f4258b76.efa088","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":360,"y":60,"wires":[["7c528d2e.ab95b4"]]}]