docs/flows/old/flows_Christians-MacBook-Pro-2.local.json
[{"id":"b7f71309.d3b9a8","type":"tab","label":"patient registration","disabled":false,"info":""},{"id":"2655a0dc.af28e","type":"tab","label":"Liberia: ART visit","disabled":false,"info":""},{"id":"5a2ba874.26fca8","type":"tab","label":"Vitals & Screening","disabled":false,"info":""},{"id":"c96314b7.334a78","type":"find-patient","z":"2655a0dc.af28e","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":390,"y":40,"wires":[["deea18ec.3ba938"]]},{"id":"c5b9e0.e62e762","type":"end-flow","z":"2655a0dc.af28e","name":"","x":380,"y":1120,"wires":[]},{"id":"a822bcc3.60c83","type":"visit-question","z":"2655a0dc.af28e","name":"weight","label":"Weight","key":"","datatype":"decimal","x":370,"y":400,"wires":[["8576801d.8e"]]},{"id":"deea18ec.3ba938","type":"visit-select","z":"2655a0dc.af28e","name":"scheduled","label":"scheduled visit","key":"","devices":[{"sid":"Yes"},{"sid":"No"}],"x":390,"y":100,"wires":[["b29b7f88.f5266"]]},{"id":"b29b7f88.f5266","type":"visit-select","z":"2655a0dc.af28e","name":"reason","label":"reason","key":"","devices":[{"sid":"0: Follow up/Refill"},{"sid":"1: Nausea"},{"sid":"2: Diarrhea"},{"sid":"3: Fatigue"},{"sid":"4: Headache"},{"sid":"5: Rash"},{"sid":"6: Anaemia"},{"sid":"7: Burning, Numbing, Tingling"},{"sid":"8: Dizziness, Sleeplessness, Nightmare, Depression"},{"sid":"9: Abdominal Pain"},{"sid":"10: Fat Changes"},{"sid":"11: Jaundice"},{"sid":"12: Fever"},{"sid":"13: Wt. Loss"},{"sid":"14: Cough"},{"sid":"15: Poor Appetite"},{"sid":"16: Other"}],"x":370,"y":160,"wires":[["944e0bf0.ea66f8"]]},{"id":"944e0bf0.ea66f8","type":"visit-select","z":"2655a0dc.af28e","name":"adherence","label":"Adherence","key":"","devices":[{"sid":"1: Good (Missed less than 3 doses / month)"},{"sid":"2: Fair (Missed 5-8 doses / month)"},{"sid":"3: Poor (Missed more than 9 doses / month)"}],"x":390,"y":220,"wires":[["1fa9641d.7ba6fc"]]},{"id":"d70511e3.c9e89","type":"visit-question","z":"2655a0dc.af28e","name":"height","label":"Height","key":"","datatype":"integer","x":370,"y":340,"wires":[["a822bcc3.60c83"]]},{"id":"c6e1d50b.8efb38","type":"visit-question","z":"2655a0dc.af28e","name":"muac","label":"MUAC","key":"","datatype":"decimal","x":530,"y":280,"wires":[["a822bcc3.60c83"]]},{"id":"1fa9641d.7ba6fc","type":"switch","z":"2655a0dc.af28e","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"child","vt":"str"},{"t":"eq","v":"adult","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":280,"wires":[["c6e1d50b.8efb38"],["d70511e3.c9e89"]]},{"id":"94561a9a.a93838","type":"visit-question","z":"2655a0dc.af28e","name":"lmp or edd","label":"LMP or EDD","key":"","datatype":"integer","x":550,"y":460,"wires":[["fb01f3d4.47c1d"]]},{"id":"8576801d.8e","type":"switch","z":"2655a0dc.af28e","name":"pregnant","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pregnant","vt":"str"},{"t":"eq","v":"not pregnant","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":460,"wires":[["94561a9a.a93838"],["fb01f3d4.47c1d"]]},{"id":"fb01f3d4.47c1d","type":"visit-select","z":"2655a0dc.af28e","name":"tb status","label":"TB Status","key":"","devices":[{"sid":"1: No Signs (Cough, Fever, wt lose)"},{"sid":"2: Suspected"},{"sid":"3: Confirmed, but not on treatment yet"},{"sid":"4: Currently on treatment"},{"sid":"5: Past treatment"}],"x":380,"y":520,"wires":[["f27fdb18.1eafc8"]]},{"id":"f27fdb18.1eafc8","type":"visit-select","z":"2655a0dc.af28e","name":"conditions","label":"AIDS Associated Conditions","key":"","devices":[{"sid":"1: Herpes Zoster"},{"sid":"2: Oral Candidiasis"},{"sid":"3: Pulmonary TB"},{"sid":"4: ???"},{"sid":"5: Anemia"},{"sid":"6: Giardia"},{"sid":"7: PCP"},{"sid":"8: Cryptococcal Meningitis"},{"sid":"9: Esophageal Candidiasis"},{"sid":"10: Kaposi Sarcoma"},{"sid":"11: Herpes Simplex"},{"sid":"12: Chronic Diarrhea"},{"sid":"13: Toxoplasmosis"},{"sid":"14: Other"},{"sid":"15: None"},{"sid":"16: Extra Pulmonary TB"}],"x":390,"y":580,"wires":[["7f7ab2ec.89c28c"]]},{"id":"7f7ab2ec.89c28c","type":"visit-select","z":"2655a0dc.af28e","name":"functional status","label":"Functional Status","key":"","devices":[{"sid":"1: Normal"},{"sid":"2: Ambulatory"},{"sid":"3: Bedridden"}],"x":400,"y":640,"wires":[["86b6aa17.e05448"]]},{"id":"86b6aa17.e05448","type":"visit-question","z":"2655a0dc.af28e","name":"stage","label":"WHO Stage","key":"","datatype":"integer","x":370,"y":700,"wires":[["360025a0.62831a"]]},{"id":"360025a0.62831a","type":"lab-test-result","z":"2655a0dc.af28e","name":"Lab: CD4 Count","x":400,"y":760,"wires":[["aa672035.f988b"]]},{"id":"aa672035.f988b","type":"lab-test-result","z":"2655a0dc.af28e","name":"Lab: ALT","x":560,"y":760,"wires":[["23e353d.b0bedac"]]},{"id":"23e353d.b0bedac","type":"lab-test-result","z":"2655a0dc.af28e","name":"Lab: HB","x":700,"y":760,"wires":[["7ccdc7a9.ac3f48"]]},{"id":"7ccdc7a9.ac3f48","type":"lab-test-result","z":"2655a0dc.af28e","name":"Lab: Creatinine","x":860,"y":760,"wires":[["95d831d6.c2201"]]},{"id":"95d831d6.c2201","type":"visit-question","z":"2655a0dc.af28e","name":"ctx","label":"CTX Dose","key":"","datatype":"integer","x":370,"y":820,"wires":[["301bbed1.225242"]]},{"id":"d1a14a71.97eff8","type":"visit-select","z":"2655a0dc.af28e","name":"regimen (adult)","label":"ART Regimen","key":"","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":400,"y":940,"wires":[["7f5b9b8e.27d074"]]},{"id":"8993ef9c.4bd87","type":"visit-select","z":"2655a0dc.af28e","name":"regimen (child)","label":"ART Regimen","key":"","devices":[{"sid":"3a"},{"sid":"3b"},{"sid":"3c"},{"sid":"3d"},{"sid":"3e"},{"sid":"3f"},{"sid":"3g"},{"sid":"3h"},{"sid":"3i"},{"sid":"5a"},{"sid":"5b"},{"sid":"5c"}],"x":560,"y":880,"wires":[["7f5b9b8e.27d074"]]},{"id":"301bbed1.225242","type":"switch","z":"2655a0dc.af28e","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"child","vt":"str"},{"t":"eq","v":"adult","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":880,"wires":[["8993ef9c.4bd87"],["d1a14a71.97eff8"]]},{"id":"7f5b9b8e.27d074","type":"next-appointment","z":"2655a0dc.af28e","name":"","defaultperiod":"","x":410,"y":1000,"wires":[["4526e815.88aef8"]]},{"id":"4526e815.88aef8","type":"visit-question","z":"2655a0dc.af28e","name":"comments","label":"Comments","key":"","datatype":"text","x":390,"y":1060,"wires":[["c5b9e0.e62e762"]]},{"id":"4e9f22ea.75f98c","type":"scheduled-patients-list","z":"2655a0dc.af28e","name":"","program":"","x":140,"y":160,"wires":[["b29b7f88.f5266"]]},{"id":"d79fdcaa.c025c","type":"find-patient","z":"b7f71309.d3b9a8","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":160,"y":140,"wires":[["9abf360.52859c8"]]},{"id":"9abf360.52859c8","type":"enrolment-outcome","z":"b7f71309.d3b9a8","name":"","program":"","programoutcome":"","x":360,"y":160,"wires":[["b959e2ef.da59f"]]},{"id":"20b2fffd.eccb2","type":"end-flow","z":"b7f71309.d3b9a8","name":"","x":920,"y":160,"wires":[]},{"id":"b959e2ef.da59f","type":"visit-question","z":"b7f71309.d3b9a8","name":"mothersname","label":"mothernsname","key":"mothersname","datatype":"text","x":500,"y":180,"wires":[["50309e16.930fd"]]},{"id":"50309e16.930fd","type":"height-weight","z":"b7f71309.d3b9a8","name":"","x":680,"y":260,"wires":[["20b2fffd.eccb2"]]},{"id":"1d376dd.00eed92","type":"checked-in-patients-list","z":"5a2ba874.26fca8","name":"","x":130,"y":40,"wires":[["6fcfbc68.feceb4"]]},{"id":"6fcfbc68.feceb4","type":"height-weight","z":"5a2ba874.26fca8","name":"","x":374.1903610229492,"y":40.47725963592529,"wires":[["6d80e9bf.c7f7f8"]]},{"id":"4f46cc43.651cf4","type":"blood-pressure","z":"5a2ba874.26fca8","name":"","x":533,"y":96.58806800842285,"wires":[["b2166959.f08d18"]]},{"id":"14b1844.83a557c","type":"tb-screening","z":"5a2ba874.26fca8","name":"","x":373,"y":216.58806800842285,"wires":[["7347de5b.98196"]]},{"id":"5437d835.201e88","type":"next-appointment","z":"5a2ba874.26fca8","name":"","x":383,"y":276.58806800842285,"wires":[["af9075f6.29add8"]]},{"id":"af9075f6.29add8","type":"end-flow","z":"5a2ba874.26fca8","name":"","x":553,"y":276.58806800842285,"wires":[]},{"id":"8158a4f6.7d90e8","type":"lab-order-entry","z":"5a2ba874.26fca8","name":"Lab Order Pregnancy Test","x":683,"y":156.58806800842285,"wires":[["14b1844.83a557c"]]},{"id":"3342a83b.e19a48","type":"lab-order-entry","z":"5a2ba874.26fca8","name":"Lab Order Sputum","x":763,"y":216.58806800842285,"wires":[["5437d835.201e88"]]},{"id":"6d80e9bf.c7f7f8","type":"switch","z":"5a2ba874.26fca8","name":"Under 5?","property":"age","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"str"},{"t":"lt","v":"5","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":353,"y":96.58806800842285,"wires":[["4f46cc43.651cf4"],["b2166959.f08d18"]]},{"id":"7347de5b.98196","type":"switch","z":"5a2ba874.26fca8","name":"TB  Suspect?","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"neq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":563,"y":216.58806800842285,"wires":[["3342a83b.e19a48"],["5437d835.201e88"]]},{"id":"b2166959.f08d18","type":"function","z":"5a2ba874.26fca8","name":"Female && >= 15 years","func":"\nreturn msg;","outputs":2,"noerr":0,"x":403,"y":156.58806800842285,"wires":[["8158a4f6.7d90e8"],["14b1844.83a557c"]]}]