docs/node-red-flow-test.json
[{"id":"899e571e.0bda48","type":"tab","label":"Test all Nodes","disabled":false,"info":""},{"id":"ccc8e317.ff8cd","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d1f91274.6e9cc","type":"end-flow","z":"899e571e.0bda48","name":"","x":860,"y":320,"wires":[]},{"id":"3c4b5d20.ae8e82","type":"find-patient","z":"899e571e.0bda48","name":"","includename":true,"includeidentifier":true,"program":"tb","expression":"filter","x":110,"y":240,"wires":[["1a39ae10.702cf2"]]},{"id":"58845b6b.144144","type":"demographic-attribute","z":"899e571e.0bda48","name":"","label":"Firstname","key":"myKey","datatype":"singleselect","x":580,"y":40,"wires":[["d1f91274.6e9cc"]]},{"id":"c2f9a1c9.6e235","type":"enrolment-outcome","z":"899e571e.0bda48","name":"","program":"chroniccare","programoutcome":"transferredout","x":580,"y":80,"wires":[["d1f91274.6e9cc"]]},{"id":"34a120d6.fa04c","type":"lab-order-entry","z":"899e571e.0bda48","name":"","panel":"testpaneld","x":560,"y":120,"wires":[["d1f91274.6e9cc"]]},{"id":"9c93e482.2b7478","type":"medication-prescription","z":"899e571e.0bda48","name":"","drugs":"tb","x":590,"y":160,"wires":[["d1f91274.6e9cc"]]},{"id":"8640b61c.a58bb8","type":"patients-queue","z":"899e571e.0bda48","name":"","expression":"filter","x":120,"y":280,"wires":[["1a39ae10.702cf2"]]},{"id":"ab69ecef.4181c","type":"referral","z":"899e571e.0bda48","name":"","referralfacility":"facility","x":540,"y":200,"wires":[["d1f91274.6e9cc"]]},{"id":"ece80504.57fe28","type":"register-patient","z":"899e571e.0bda48","name":"","x":120,"y":320,"wires":[["1a39ae10.702cf2"]]},{"id":"56c43ae7.108c64","type":"summary","z":"899e571e.0bda48","name":"","x":540,"y":240,"wires":[["d1f91274.6e9cc"]]},{"id":"9bd014f.3434fe8","type":"visit-question","z":"899e571e.0bda48","name":"","label":"label","key":"key","datatype":"decimal","x":560,"y":280,"wires":[["d1f91274.6e9cc"]]},{"id":"b0e0407f.8106c","type":"blood-pressure","z":"899e571e.0bda48","name":"","x":560,"y":320,"wires":[["d1f91274.6e9cc"]]},{"id":"1536e581.d452fa","type":"check-in","z":"899e571e.0bda48","name":"","x":540,"y":360,"wires":[["d1f91274.6e9cc"]]},{"id":"ad35ab34.6f8408","type":"checked-in-patients-list","z":"899e571e.0bda48","name":"","program":"antenatalcare","x":150,"y":360,"wires":[["1a39ae10.702cf2"]]},{"id":"3c998042.b6762","type":"demographic-birthdate","z":"899e571e.0bda48","name":"","entrybyage":true,"partialdate":true,"x":540,"y":400,"wires":[["d1f91274.6e9cc"]]},{"id":"dd798e44.a3dc6","type":"demographic-current-address","z":"899e571e.0bda48","name":"","x":560,"y":440,"wires":[["d1f91274.6e9cc"]]},{"id":"a74481cb.60e6f","type":"demographic-home-address","z":"899e571e.0bda48","name":"","x":560,"y":480,"wires":[["d1f91274.6e9cc"]]},{"id":"828873f1.e7fa2","type":"height-weight","z":"899e571e.0bda48","name":"","x":560,"y":520,"wires":[["d1f91274.6e9cc"]]},{"id":"51f54826.5f3c68","type":"next-appointment","z":"899e571e.0bda48","name":"","defaultperiod":"nextmonth","x":570,"y":560,"wires":[["d1f91274.6e9cc"]]},{"id":"6e8f9f93.705be","type":"scheduled-patients-list","z":"899e571e.0bda48","name":"","program":"hiv","x":140,"y":400,"wires":[["1a39ae10.702cf2"]]},{"id":"1099d1b5.4b3bee","type":"tb-screening","z":"899e571e.0bda48","name":"","x":560,"y":600,"wires":[["d1f91274.6e9cc"]]},{"id":"1a39ae10.702cf2","type":"switch","z":"899e571e.0bda48","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"","vt":"str"}],"checkall":"true","repair":false,"outputs":19,"x":350,"y":300,"wires":[["58845b6b.144144"],["c2f9a1c9.6e235"],["34a120d6.fa04c"],["9c93e482.2b7478"],["ab69ecef.4181c"],["56c43ae7.108c64"],["9bd014f.3434fe8"],["b0e0407f.8106c"],["1536e581.d452fa"],["3c998042.b6762"],["dd798e44.a3dc6"],["a74481cb.60e6f"],["828873f1.e7fa2"],["51f54826.5f3c68"],["1099d1b5.4b3bee"],["803eb510.acdc58"],["163e443b.d0751c"],["b1439458.6b2418"],["7a244772.2c3888"]]},{"id":"84e31910.eeb498","type":"hl7-receive-message","z":"899e571e.0bda48","name":"","x":140,"y":440,"wires":[["1a39ae10.702cf2"]]},{"id":"803eb510.acdc58","type":"hl7-create-message","z":"899e571e.0bda48","name":"","x":580,"y":640,"wires":[["d1f91274.6e9cc"]]},{"id":"163e443b.d0751c","type":"lab-test-result","z":"899e571e.0bda48","name":"","x":560,"y":680,"wires":[["d1f91274.6e9cc"]]},{"id":"b1439458.6b2418","type":"medication-dispensation","z":"899e571e.0bda48","name":"","x":590,"y":720,"wires":[["d1f91274.6e9cc"]]},{"id":"7a244772.2c3888","type":"function","z":"899e571e.0bda48","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":760,"wires":[["d1f91274.6e9cc"]]},{"id":"2699ecc2.a7b384","type":"find-patient","z":"ccc8e317.ff8cd","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":140,"y":160,"wires":[["78b54fa4.a1cc5"]]},{"id":"8c21b6cd.5576b8","type":"end-flow","z":"ccc8e317.ff8cd","name":"","x":500,"y":180,"wires":[]},{"id":"78b54fa4.a1cc5","type":"visit-select","z":"ccc8e317.ff8cd","name":"regimen","label":"","key":"","style":"single","devices":[{"sid":"1"},{"sid":"2"},{"sid":"3"},{"sid":"4"},{"sid":"5"},{"sid":"6"}],"x":310,"y":180,"wires":[["8c21b6cd.5576b8"]]}]