docs/node-red-flow-test.json
[{"id":"3589d1ce.0e5f66","type":"subflow","name":"Pre-ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"49dba4ec.e9cdac"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"49dba4ec.e9cdac","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"49dba4ec.e9cdac","type":"visit-question","z":"3589d1ce.0e5f66","name":"preart","label":"Pre-ART Register TBD","key":"","datatype":"text","x":190,"y":80,"wires":[[]]},{"id":"21ab2f94.f2bee","type":"subflow","name":"ART Register Book","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52c625e7.065abc"}]}],"out":[{"x":340,"y":40,"wires":[{"id":"52c625e7.065abc","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"52c625e7.065abc","type":"visit-question","z":"21ab2f94.f2bee","name":"ART Register Book","label":"ART Register Book TBD","key":"","datatype":"text","x":210,"y":40,"wires":[[]]},{"id":"1c8e387f.c41f88","type":"subflow","name":"Departure from Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"7039070c.3ad958"}]}],"out":[{"x":60,"y":220,"wires":[{"id":"4fe9ce0e.405ac8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"4fe9ce0e.405ac8","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure","label":"Treatment Departure Reason","key":"","datatype":"text","x":200,"y":140,"wires":[[]]},{"id":"7039070c.3ad958","type":"visit-question","z":"1c8e387f.c41f88","name":"treatment departure date","label":"Treatment Departure Date","key":"","datatype":"date","x":210,"y":80,"wires":[["4fe9ce0e.405ac8"]]},{"id":"86b75ff7.b31198","type":"subflow","name":"Treatment Interruptions","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"ed2ea718.e51d28"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"82665184.30463","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ed2ea718.e51d28","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1","label":"1st Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":80,"wires":[["56715cbb.069e0c"]]},{"id":"56715cbb.069e0c","type":"visit-question","z":"86b75ff7.b31198","name":"interruption1 date","label":"1st Treatment Interruption Date","key":"","datatype":"date","x":210,"y":140,"wires":[["f6eedc09.bfb8"]]},{"id":"f6eedc09.bfb8","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2","label":"2nd Treatment Interruption Reason","key":"","datatype":"text","x":190,"y":200,"wires":[["82665184.30463"]]},{"id":"82665184.30463","type":"visit-question","z":"86b75ff7.b31198","name":"interruption2 date","label":"2nd Treatment Interruption Date","key":"","datatype":"date","x":210,"y":260,"wires":[[]]},{"id":"3cffefd8.654f6","type":"subflow","name":"ART Treatment","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"f318e98c.757928"}]}],"out":[{"x":60,"y":580,"wires":[{"id":"7c5a4eee.45416","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f318e98c.757928","type":"visit-question","z":"3cffefd8.654f6","name":"startdate","label":"Date Started","key":"","datatype":"date","x":200,"y":80,"wires":[["5a8950ca.280e38"]]},{"id":"5a8950ca.280e38","type":"visit-select","z":"3cffefd8.654f6","name":"initial regimen","label":"Initial Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":220,"y":140,"wires":[["aa85dc3e.255ca"]]},{"id":"aa85dc3e.255ca","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 1st substitution regimen","label":"1st Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":270,"y":200,"wires":[["71df6c0d.305864"]]},{"id":"71df6c0d.305864","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution reason","label":"1st Line: 1st Substitution Reason","key":"","datatype":"text","x":270,"y":260,"wires":[["a81911bd.b7966"]]},{"id":"a81911bd.b7966","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 1st substitution date","label":"1st Line: 1st Substitution Date","key":"","datatype":"date","x":260,"y":320,"wires":[["1ae30506.e4bedb"]]},{"id":"1ae30506.e4bedb","type":"visit-select","z":"3cffefd8.654f6","name":"1st line 2nd substitution regimen","label":"1st Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":280,"y":380,"wires":[["5249124e.1e61cc"]]},{"id":"5249124e.1e61cc","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution reason","label":"1st Line: 2nd Substitution Reason","key":"","datatype":"text","x":270,"y":440,"wires":[["bb6b2b3e.886ca8"]]},{"id":"bb6b2b3e.886ca8","type":"visit-question","z":"3cffefd8.654f6","name":"1st line 2nd substitution date","label":"1st Line: 2nd Substitution Date","key":"","datatype":"date","x":260,"y":500,"wires":[["4056f450.4d7114"]]},{"id":"4056f450.4d7114","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 1st substitution regimen","label":"2nd Line: 1st Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":200,"wires":[["e4e8fa63.521778"]]},{"id":"e4e8fa63.521778","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution reason","label":"2nd Line: 1st Substitution Reason","key":"","datatype":"text","x":650,"y":260,"wires":[["bd5dfea8.3979f8"]]},{"id":"bd5dfea8.3979f8","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 1st substitution date","label":"2nd Line: 1st Substitution Date","key":"","datatype":"date","x":640,"y":320,"wires":[["cdd68008.98d8c8"]]},{"id":"cdd68008.98d8c8","type":"visit-select","z":"3cffefd8.654f6","name":"2nd line 2nd substitution regimen","label":"2nd Line: 2nd Substitution Regimen","key":"","behavior":"single","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":660,"y":380,"wires":[["447fbe02.ebe208"]]},{"id":"447fbe02.ebe208","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution reason","label":"2nd Line: 2nd Substitution Reason","key":"","datatype":"text","x":650,"y":440,"wires":[["7c5a4eee.45416"]]},{"id":"7c5a4eee.45416","type":"visit-question","z":"3cffefd8.654f6","name":"2nd line 2nd substitution date","label":"2nd Line: 2nd Substitution Date","key":"","datatype":"date","x":650,"y":500,"wires":[[]]},{"id":"e95b8a2f.2a804","type":"subflow","name":"Other Baseline Information","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"af94a681.5c5f4"}]}],"out":[{"x":60,"y":520,"wires":[{"id":"1d0d3e47.b7d02a","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"af94a681.5c5f4","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr","label":"RPR","key":"","datatype":"text","x":190,"y":80,"wires":[["6c2dc748.aa9148"]]},{"id":"6c2dc748.aa9148","type":"visit-question","z":"e95b8a2f.2a804","name":"rpr date","label":"RPD Date","key":"","datatype":"date","x":200,"y":140,"wires":[["fc29a7b4.229698"]]},{"id":"fc29a7b4.229698","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab","label":"Other Lab 1","key":"","datatype":"text","x":200,"y":200,"wires":[["338eed57.89c7a2"]]},{"id":"338eed57.89c7a2","type":"visit-question","z":"e95b8a2f.2a804","name":"other1 lab date","label":"Other Lab 1 date","key":"","datatype":"date","x":220,"y":260,"wires":[["9dce0601.a1114"]]},{"id":"9dce0601.a1114","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab","label":"Other 2 Lab","key":"","datatype":"text","x":200,"y":320,"wires":[["be098554.4adff"]]},{"id":"be098554.4adff","type":"visit-question","z":"e95b8a2f.2a804","name":"other2 lab date","label":"Other 2 Lab date","key":"","datatype":"date","x":220,"y":380,"wires":[["1d0d3e47.b7d02a"]]},{"id":"1d0d3e47.b7d02a","type":"visit-question","z":"e95b8a2f.2a804","name":"tb treatments","label":"Past TB Regimens & Dates","key":"","datatype":"text","x":220,"y":440,"wires":[[]]},{"id":"e2e7ca08.3b41","type":"subflow","name":"Ongoing Staging","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"52a25e32.945718"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"d0aa055d.d853b8","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"52a25e32.945718","type":"visit-question","z":"e2e7ca08.3b41","name":"stage1 date","label":"WHO Stage 1 Date","key":"","datatype":"date","x":190,"y":80,"wires":[["da03c42e.a93a1"]]},{"id":"da03c42e.a93a1","type":"visit-question","z":"e2e7ca08.3b41","name":"stage2 date","label":"WHO Stage 2 Date","key":"","datatype":"date","x":190,"y":140,"wires":[["c1b34a16.490578"]]},{"id":"c1b34a16.490578","type":"visit-question","z":"e2e7ca08.3b41","name":"stage3 date","label":"WHO Stage 3 Date","key":"","datatype":"date","x":190,"y":200,"wires":[["d0aa055d.d853b8"]]},{"id":"d0aa055d.d853b8","type":"visit-question","z":"e2e7ca08.3b41","name":"stage4 date","label":"WHO Stage 4 Date","key":"","datatype":"date","x":190,"y":260,"wires":[[]]},{"id":"c44a39a9.c6ae6","type":"subflow","name":"Initial Assessment by clinician","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"388199af.c68f26"}]}],"out":[{"x":60,"y":320,"wires":[{"id":"9bc52e4e.e24b88","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"388199af.c68f26","type":"visit-question","z":"c44a39a9.c6ae6","name":"date","label":"Date","key":"","datatype":"date","x":190,"y":80,"wires":[["f5c6d144.75a92"]]},{"id":"f5c6d144.75a92","type":"height-weight","z":"c44a39a9.c6ae6","name":"","x":220,"y":140,"wires":[["9bc52e4e.e24b88"]]},{"id":"9bc52e4e.e24b88","type":"visit-question","z":"c44a39a9.c6ae6","name":"bmi","label":"Body mass index (kg/m^2)","key":"","datatype":"decimal","x":190,"y":260,"wires":[[]]},{"id":"9eba9893.b5ab6","type":"subflow","name":"HIV C&I Summary Diagnostic","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"fcfaf434.b3f8f"}]}],"out":[{"x":60,"y":340,"wires":[{"id":"369b84b5.91fe7c","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"fcfaf434.b3f8f","type":"visit-question","z":"9eba9893.b5ab6","name":"date confirmed HIV+","label":"Date Confirmed HIV+","key":"","datatype":"date","x":240,"y":80,"wires":[["75a05baf.3e7d44"]]},{"id":"75a05baf.3e7d44","type":"visit-select","z":"9eba9893.b5ab6","name":"hivtype","label":"HIV Type","key":"","behavior":"single","devices":[{"sid":"HIV 1"},{"sid":"HIV 2"},{"sid":"HIV 1&2"}],"x":200,"y":140,"wires":[["85db2847.d8394"]]},{"id":"85db2847.d8394","type":"visit-question","z":"9eba9893.b5ab6","name":"referred from","label":"Referred from (coded)","key":"","datatype":"text","x":210,"y":200,"wires":[["369b84b5.91fe7c"]]},{"id":"369b84b5.91fe7c","type":"visit-question","z":"9eba9893.b5ab6","name":"partnertested","label":"Partner and Children tested?","key":"","datatype":"boolean","x":220,"y":260,"wires":[[]]},{"id":"a1643e52.69ec58","type":"subflow","name":"Patient Identification","info":"","category":"","in":[{"x":50,"y":30,"wires":[{"id":"56269f66.d78ff"}]}],"out":[{"x":60,"y":500,"wires":[{"id":"b87511c8.2aad4","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"56269f66.d78ff","type":"demographic-attribute","z":"a1643e52.69ec58","name":"name","label":"Name","key":"","datatype":"text","x":190,"y":80,"wires":[["8555e461.fb86c"]]},{"id":"8555e461.fb86c","type":"demographic-attribute","z":"a1643e52.69ec58","name":"clientid","label":"Facility Client ID","key":"","datatype":"integer","x":200,"y":140,"wires":[["7b624999.7b36a"]]},{"id":"7b624999.7b36a","type":"demographic-attribute","z":"a1643e52.69ec58","name":"uniquecode","label":"Unique Code","key":"","datatype":"integer","x":210,"y":200,"wires":[["c495c5b8.64ada"]]},{"id":"c495c5b8.64ada","type":"demographic-birthdate","z":"a1643e52.69ec58","name":"","entrybyage":"","partialdate":"","x":200,"y":260,"wires":[["11b3883d.dbfc7"]]},{"id":"11b3883d.dbfc7","type":"demographic-attribute","z":"a1643e52.69ec58","name":"familymembername","label":"Name of Family Member","key":"","datatype":"text","x":240,"y":320,"wires":[["aa469a0e.1654b"]]},{"id":"aa469a0e.1654b","type":"visit-select","z":"a1643e52.69ec58","name":"sex","label":"Sex","key":"","behavior":"single","devices":[{"sid":"Male"},{"sid":"Female"}],"x":190,"y":380,"wires":[["b87511c8.2aad4"]]},{"id":"b87511c8.2aad4","type":"demographic-attribute","z":"a1643e52.69ec58","name":"contact","label":"Contact #","key":"","datatype":"text","x":200,"y":440,"wires":[[]]},{"id":"32b25cd2.550b44","type":"tab","label":"Liberia: HIV visit","disabled":false,"info":""},{"id":"622965bb.6c36c4","type":"find-patient","z":"32b25cd2.550b44","name":"","includename":"","includeidentifier":"","program":"","expression":"","x":510,"y":300,"wires":[["d0d19198.94682"]]},{"id":"7d7c9bb2.664b24","type":"end-flow","z":"32b25cd2.550b44","name":"","x":500,"y":1440,"wires":[]},{"id":"3ad2b71e.f6a01","type":"visit-question","z":"32b25cd2.550b44","name":"weight","label":"Weight","key":"","datatype":"decimal","x":490,"y":720,"wires":[["4e28cd1.db60534"]]},{"id":"d0d19198.94682","type":"visit-select","z":"32b25cd2.550b44","name":"scheduled","label":"scheduled visit","key":"","devices":[{"sid":"Yes"},{"sid":"No"}],"x":510,"y":360,"wires":[["5906c324.5ca634"]]},{"id":"26fee490.019894","type":"visit-select","z":"32b25cd2.550b44","name":"reason","label":"reason","key":"","devices":[{"sid":"0: Follow up/Refill"},{"sid":"1: Nausea"},{"sid":"2: Diarrhea"},{"sid":"3: Fatigue"},{"sid":"4: Headache"},{"sid":"5: Rash"},{"sid":"6: Anaemia"},{"sid":"7: Burning, Numbing, Tingling"},{"sid":"8: Dizziness, Sleeplessness, Nightmare, Depression"},{"sid":"9: Abdominal Pain"},{"sid":"10: Fat Changes"},{"sid":"11: Jaundice"},{"sid":"12: Fever"},{"sid":"13: Wt. Loss"},{"sid":"14: Cough"},{"sid":"15: Poor Appetite"},{"sid":"16: Other"}],"x":490,"y":480,"wires":[["6aecd09f.ad836"]]},{"id":"6aecd09f.ad836","type":"visit-select","z":"32b25cd2.550b44","name":"adherence","label":"Adherence","key":"","devices":[{"sid":"1: Good (Missed less than 3 doses / month)"},{"sid":"2: Fair (Missed 5-8 doses / month)"},{"sid":"3: Poor (Missed more than 9 doses / month)"}],"x":510,"y":540,"wires":[["81ad8e2c.de3418"]]},{"id":"cb9b06c3.54caa","type":"visit-question","z":"32b25cd2.550b44","name":"height","label":"Height","key":"","datatype":"integer","x":490,"y":660,"wires":[["3ad2b71e.f6a01"]]},{"id":"b0219ada.59995","type":"visit-question","z":"32b25cd2.550b44","name":"muac","label":"MUAC","key":"","datatype":"decimal","x":650,"y":600,"wires":[["3ad2b71e.f6a01"]]},{"id":"81ad8e2c.de3418","type":"switch","z":"32b25cd2.550b44","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"child","vt":"str"},{"t":"eq","v":"adult","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":600,"wires":[["b0219ada.59995"],["cb9b06c3.54caa"]]},{"id":"5f952378.eb4764","type":"visit-question","z":"32b25cd2.550b44","name":"lmp or edd","label":"LMP or EDD","key":"","datatype":"integer","x":670,"y":780,"wires":[["e9998fb8.fa8958"]]},{"id":"4e28cd1.db60534","type":"switch","z":"32b25cd2.550b44","name":"pregnant","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"pregnant","vt":"str"},{"t":"eq","v":"not pregnant","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":500,"y":780,"wires":[["5f952378.eb4764"],["e9998fb8.fa8958"]]},{"id":"e9998fb8.fa8958","type":"visit-select","z":"32b25cd2.550b44","name":"tb status","label":"TB Status","key":"","devices":[{"sid":"1: No Signs (Cough, Fever, wt lose)"},{"sid":"2: Suspected"},{"sid":"3: Confirmed, but not on treatment yet"},{"sid":"4: Currently on treatment"},{"sid":"5: Past treatment"}],"x":500,"y":840,"wires":[["cc3b5e5f.b655b"]]},{"id":"cc3b5e5f.b655b","type":"visit-select","z":"32b25cd2.550b44","name":"conditions","label":"AIDS Associated Conditions","key":"","devices":[{"sid":"1: Herpes Zoster"},{"sid":"2: Oral Candidiasis"},{"sid":"3: Pulmonary TB"},{"sid":"4: ???"},{"sid":"5: Anemia"},{"sid":"6: Giardia"},{"sid":"7: PCP"},{"sid":"8: Cryptococcal Meningitis"},{"sid":"9: Esophageal Candidiasis"},{"sid":"10: Kaposi Sarcoma"},{"sid":"11: Herpes Simplex"},{"sid":"12: Chronic Diarrhea"},{"sid":"13: Toxoplasmosis"},{"sid":"14: Other"},{"sid":"15: None"},{"sid":"16: Extra Pulmonary TB"}],"x":510,"y":900,"wires":[["9bd4dcb9.756fa"]]},{"id":"9bd4dcb9.756fa","type":"visit-select","z":"32b25cd2.550b44","name":"functional status","label":"Functional Status","key":"","devices":[{"sid":"1: Normal"},{"sid":"2: Ambulatory"},{"sid":"3: Bedridden"}],"x":520,"y":960,"wires":[["e13bfaea.8aa078"]]},{"id":"7d15d3b7.f4dc2c","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: CD4 Count","x":520,"y":1080,"wires":[["86c8f644.4493a"]]},{"id":"86c8f644.4493a","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: ALT","x":680,"y":1080,"wires":[["eabd1371.ed2498"]]},{"id":"eabd1371.ed2498","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: HB","x":820,"y":1080,"wires":[["6927d38.fd091ac"]]},{"id":"6927d38.fd091ac","type":"lab-test-result","z":"32b25cd2.550b44","name":"Lab: Creatinine","x":980,"y":1080,"wires":[["d3b82f5c.46f5d8"]]},{"id":"d3b82f5c.46f5d8","type":"visit-question","z":"32b25cd2.550b44","name":"ctx","label":"CTX Dose","key":"","datatype":"integer","x":490,"y":1140,"wires":[["3ab5c6fc.7a7cca"]]},{"id":"e5ca1440.ef502","type":"visit-select","z":"32b25cd2.550b44","name":"regimen (adult)","label":"ART Regimen","key":"","devices":[{"sid":"1a"},{"sid":"1b"},{"sid":"1c"},{"sid":"1d"},{"sid":"1e"},{"sid":"1f"},{"sid":"1g"},{"sid":"1h"},{"sid":"1i"},{"sid":"1j"},{"sid":"1k"},{"sid":"1l"},{"sid":"1m"},{"sid":"2a"},{"sid":"2b"},{"sid":"2c"},{"sid":"2d"},{"sid":"2e"}],"x":520,"y":1260,"wires":[["f1040052.3beb"]]},{"id":"4278e9f9.7da9f8","type":"visit-select","z":"32b25cd2.550b44","name":"regimen (child)","label":"ART Regimen","key":"","devices":[{"sid":"3a"},{"sid":"3b"},{"sid":"3c"},{"sid":"3d"},{"sid":"3e"},{"sid":"3f"},{"sid":"3g"},{"sid":"3h"},{"sid":"3i"},{"sid":"5a"},{"sid":"5b"},{"sid":"5c"}],"x":680,"y":1200,"wires":[["f1040052.3beb"]]},{"id":"3ab5c6fc.7a7cca","type":"switch","z":"32b25cd2.550b44","name":"child","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"child","vt":"str"},{"t":"eq","v":"adult","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":490,"y":1200,"wires":[["4278e9f9.7da9f8"],["e5ca1440.ef502"]]},{"id":"f1040052.3beb","type":"next-appointment","z":"32b25cd2.550b44","name":"","defaultperiod":"","x":530,"y":1320,"wires":[["37742e00.6f253a"]]},{"id":"37742e00.6f253a","type":"visit-question","z":"32b25cd2.550b44","name":"comments","label":"Comments","key":"","datatype":"text","x":510,"y":1380,"wires":[["7d7c9bb2.664b24"]]},{"id":"185100e9.7a123f","type":"scheduled-patients-list","z":"32b25cd2.550b44","name":"","program":"","x":260,"y":420,"wires":[["5906c324.5ca634"]]},{"id":"e13bfaea.8aa078","type":"visit-select","z":"32b25cd2.550b44","name":"stage","label":"WHO Stage","key":"","behavior":"single","devices":[{"sid":"Stage 1"},{"sid":"Stage 2"},{"sid":"Stage 3"},{"sid":"Stage 4"}],"x":490,"y":1020,"wires":[["7d15d3b7.f4dc2c"]]},{"id":"555d0270.ba7e44","type":"register-patient","z":"32b25cd2.550b44","name":"","x":520,"y":180,"wires":[["e920ee20.5cc31"]]},{"id":"ed2781ab.86bce","type":"subflow:a1643e52.69ec58","z":"32b25cd2.550b44","name":"","env":[],"x":770,"y":240,"wires":[["ae75a1ed.89b61"]]},{"id":"e1cac088.0a7818","type":"subflow:9eba9893.b5ab6","z":"32b25cd2.550b44","name":"","env":[],"x":1140,"y":240,"wires":[["3a13082c.2679"]]},{"id":"715bef7.f1d271","type":"subflow:c44a39a9.c6ae6","z":"32b25cd2.550b44","name":"","env":[],"x":1540,"y":240,"wires":[["ccdc827b.da0fa8"]]},{"id":"d11f0b76.167068","type":"subflow:e2e7ca08.3b41","z":"32b25cd2.550b44","name":"","env":[],"x":760,"y":300,"wires":[["5db553c1.1d924c"]]},{"id":"30c40aed.6ba416","type":"subflow:e95b8a2f.2a804","z":"32b25cd2.550b44","name":"","env":[],"x":1930,"y":240,"wires":[["3d5e5d6a.d8877a"]]},{"id":"76e2ce6.9eb9fb","type":"subflow:3cffefd8.654f6","z":"32b25cd2.550b44","name":"","env":[],"x":1080,"y":300,"wires":[["67ae3d80.92a74c"]]},{"id":"52b92679.56b5f8","type":"subflow:86b75ff7.b31198","z":"32b25cd2.550b44","name":"","env":[],"x":1420,"y":300,"wires":[["f57ff541.e249a"]]},{"id":"b9cd3c10.1766b","type":"subflow:1c8e387f.c41f88","z":"32b25cd2.550b44","name":"","env":[],"x":1790,"y":300,"wires":[["5906c324.5ca634"]]},{"id":"5906c324.5ca634","type":"visit-question","z":"32b25cd2.550b44","name":"date","label":"Date","key":"","datatype":"date","x":490,"y":420,"wires":[["26fee490.019894"]]},{"id":"a5fb0957.d42308","type":"subflow:21ab2f94.f2bee","z":"32b25cd2.550b44","name":"","env":[],"x":1130,"y":180,"wires":[["29c2eb3.6186014"]]},{"id":"e920ee20.5cc31","type":"subflow:3589d1ce.0e5f66","z":"32b25cd2.550b44","name":"","env":[],"x":780,"y":180,"wires":[["b3327741.13ff48"]]},{"id":"b3327741.13ff48","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":960,"y":180,"wires":[["a5fb0957.d42308"]]},{"id":"29c2eb3.6186014","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1300,"y":180,"wires":[["ed2781ab.86bce"]]},{"id":"3d5e5d6a.d8877a","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":2120,"y":240,"wires":[["d11f0b76.167068"]]},{"id":"5db553c1.1d924c","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":920,"y":300,"wires":[["76e2ce6.9eb9fb"]]},{"id":"67ae3d80.92a74c","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1240,"y":300,"wires":[["52b92679.56b5f8"]]},{"id":"f57ff541.e249a","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1600,"y":300,"wires":[["b9cd3c10.1766b"]]},{"id":"ccdc827b.da0fa8","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1740,"y":240,"wires":[["30c40aed.6ba416"]]},{"id":"3a13082c.2679","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":1340,"y":240,"wires":[["715bef7.f1d271"]]},{"id":"ae75a1ed.89b61","type":"summary","z":"32b25cd2.550b44","name":"dummy","x":940,"y":240,"wires":[["e1cac088.0a7818"]]}]