docs/flows/nodered-emr-flow2.json
[
    {
        "id": "e1df5297.84ece",
        "type": "tab",
        "label": "Registration & Check in",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84ca86d8.014258",
        "type": "tab",
        "label": "Redemption MCH",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b6eab222.a813c",
        "type": "tab",
        "label": "Redemption MCH backup",
        "disabled": false,
        "info": ""
    },
    {
        "id": "84ed3e1e.5dc36",
        "type": "tab",
        "label": "Redemption Chest Clinic",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9cb1bf39.8f5dc",
        "type": "tab",
        "label": "Redemption Counselling & Testing",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2a76e36.f51ec1c",
        "type": "tab",
        "label": "Vitals & Screening",
        "disabled": false,
        "info": ""
    },
    {
        "id": "f58b56d7.460648",
        "type": "tab",
        "label": "Flexible Data Sources",
        "disabled": false,
        "info": ""
    },
    {
        "id": "8dfa82c4.68f58",
        "type": "subflow",
        "name": "Checked-in patients list",
        "info": "",
        "category": "ClinicFlow - Choose Patient",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "icon": "node-red/watch.png"
    },
    {
        "id": "c19775fb.ed93d8",
        "type": "subflow",
        "name": "End station",
        "info": "",
        "category": "ClinicFlow - Mark flow end",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [],
        "env": [],
        "icon": "font-awesome/fa-stop-circle-o"
    },
    {
        "id": "3da9386f.ea3e38",
        "type": "subflow",
        "name": "Next Appointment",
        "info": "",
        "category": "ClinicFlow - Modify Patient",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-user-o"
    },
    {
        "id": "37383697.fc784a",
        "type": "subflow",
        "name": "Lab Order: Sputum",
        "info": "",
        "category": "ClinicFlow - Modify Patient",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-user-o"
    },
    {
        "id": "1ebafaa6.c185b5",
        "type": "subflow",
        "name": "Lab Order: Pregnancy Test",
        "info": "",
        "category": "ClinicFlow - Modify Patient",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-user-o"
    },
    {
        "id": "5cd81f0.26338e",
        "type": "subflow",
        "name": "TB Screening",
        "info": "",
        "category": "ClinicFlow - Modify Patient",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            },
            {
                "x": 215,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "outputLabels": [
            "positive",
            "negative"
        ],
        "icon": "font-awesome/fa-user-o"
    },
    {
        "id": "a6bec51f.eb5588",
        "type": "subflow",
        "name": "Vitals: Blood Pressure",
        "info": "",
        "category": "ClinicFlow - Modify Patient",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-user-o"
    },
    {
        "id": "6c7dc02d.ab7a1",
        "type": "subflow",
        "name": "Vitals: Height & Weight",
        "info": "",
        "category": "ClinicFlow - Modify Patient",
        "in": [
            {
                "x": 50,
                "y": 30,
                "wires": []
            }
        ],
        "out": [
            {
                "x": 160,
                "y": 30,
                "wires": []
            }
        ],
        "env": [],
        "icon": "font-awesome/fa-user-o"
    },
    {
        "id": "eb561039.0950d",
        "type": "subflow",
        "name": "Patient Demographics",
        "info": "",
        "category": "subflows",
        "in": [
            {
                "x": 40,
                "y": 40,
                "wires": [
                    {
                        "id": "e04a86a2.0dba88"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 540,
                "y": 40,
                "wires": [
                    {
                        "id": "56447fee.c15ed",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "color": "#DDAA99"
    },
    {
        "id": "e04a86a2.0dba88",
        "type": "demographic-attribute",
        "z": "eb561039.0950d",
        "name": "firstname",
        "x": 200,
        "y": 40,
        "wires": [
            [
                "81308d6c.f234f"
            ]
        ]
    },
    {
        "id": "81308d6c.f234f",
        "type": "demographic-attribute",
        "z": "eb561039.0950d",
        "name": "lastname",
        "x": 360,
        "y": 40,
        "wires": [
            [
                "22934e88.b05852"
            ]
        ]
    },
    {
        "id": "22934e88.b05852",
        "type": "demographic-birthdate",
        "z": "eb561039.0950d",
        "name": "",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "83dcb041.7a683"
            ]
        ]
    },
    {
        "id": "83dcb041.7a683",
        "type": "demographic-current-address",
        "z": "eb561039.0950d",
        "name": "",
        "x": 220,
        "y": 160,
        "wires": [
            [
                "56447fee.c15ed"
            ]
        ]
    },
    {
        "id": "56447fee.c15ed",
        "type": "demographic-home-address",
        "z": "eb561039.0950d",
        "name": "",
        "x": 420,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "9bb0049c.b593c8",
        "type": "scheduled-patients-list",
        "z": "e1df5297.84ece",
        "name": "",
        "x": 112.19883728027344,
        "y": 46.809600830078125,
        "wires": [
            [
                "15a835ef.5908ea"
            ]
        ]
    },
    {
        "id": "a555c6d1.9e6128",
        "type": "find-patient",
        "z": "e1df5297.84ece",
        "name": "",
        "x": 137.1903076171875,
        "y": 86.9317569732666,
        "wires": [
            [
                "15a835ef.5908ea"
            ]
        ]
    },
    {
        "id": "47cadaf3.1644e4",
        "type": "end-flow",
        "z": "e1df5297.84ece",
        "name": "",
        "x": 563.1960067749023,
        "y": 87.95166015625,
        "wires": []
    },
    {
        "id": "15a835ef.5908ea",
        "type": "check-in",
        "z": "e1df5297.84ece",
        "name": "",
        "x": 388.1902961730957,
        "y": 87.99714088439941,
        "wires": [
            [
                "47cadaf3.1644e4"
            ]
        ]
    },
    {
        "id": "a44c15ec.b95b68",
        "type": "register-patient",
        "z": "e1df5297.84ece",
        "name": "",
        "x": 128.20169067382812,
        "y": 124.82951545715332,
        "wires": [
            [
                "b89c775.cff5888"
            ]
        ]
    },
    {
        "id": "b89c775.cff5888",
        "type": "subflow:eb561039.0950d",
        "z": "e1df5297.84ece",
        "name": "",
        "env": [],
        "x": 280,
        "y": 200,
        "wires": [
            [
                "15a835ef.5908ea"
            ]
        ]
    },
    {
        "id": "44c80fd6.d64d4",
        "type": "checked-in-patients-list",
        "z": "2a76e36.f51ec1c",
        "name": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "daa39f2b.ea3cd"
            ]
        ]
    },
    {
        "id": "daa39f2b.ea3cd",
        "type": "height-weight",
        "z": "2a76e36.f51ec1c",
        "name": "",
        "x": 374.1903610229492,
        "y": 40.47725963592529,
        "wires": [
            [
                "c97af6b4.2ba778"
            ]
        ]
    },
    {
        "id": "bb8692c.9bb537",
        "type": "blood-pressure",
        "z": "2a76e36.f51ec1c",
        "name": "",
        "x": 533,
        "y": 96.58806800842285,
        "wires": [
            [
                "9f48ebb1.3b60d8"
            ]
        ]
    },
    {
        "id": "9aa5f697.e22a38",
        "type": "tb-screening",
        "z": "2a76e36.f51ec1c",
        "name": "",
        "x": 373,
        "y": 216.58806800842285,
        "wires": [
            [
                "8e5f6a56.a11bf8"
            ]
        ]
    },
    {
        "id": "878f322d.9e3b4",
        "type": "next-appointment",
        "z": "2a76e36.f51ec1c",
        "name": "",
        "x": 383,
        "y": 276.58806800842285,
        "wires": [
            [
                "73ac22dd.9a257c"
            ]
        ]
    },
    {
        "id": "73ac22dd.9a257c",
        "type": "end-flow",
        "z": "2a76e36.f51ec1c",
        "name": "",
        "x": 580,
        "y": 280,
        "wires": []
    },
    {
        "id": "fcb25c11.25bb7",
        "type": "lab-order-entry",
        "z": "2a76e36.f51ec1c",
        "name": "Lab Order Pregnancy Test",
        "x": 683,
        "y": 156.58806800842285,
        "wires": [
            [
                "9aa5f697.e22a38"
            ]
        ]
    },
    {
        "id": "6c3273c6.ec62fc",
        "type": "lab-order-entry",
        "z": "2a76e36.f51ec1c",
        "name": "Lab Order Sputum",
        "x": 763,
        "y": 216.58806800842285,
        "wires": [
            [
                "878f322d.9e3b4"
            ]
        ]
    },
    {
        "id": "c97af6b4.2ba778",
        "type": "switch",
        "z": "2a76e36.f51ec1c",
        "name": "Under 5?",
        "property": "age",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 353,
        "y": 96.58806800842285,
        "wires": [
            [
                "bb8692c.9bb537"
            ],
            [
                "9f48ebb1.3b60d8"
            ]
        ]
    },
    {
        "id": "8e5f6a56.a11bf8",
        "type": "switch",
        "z": "2a76e36.f51ec1c",
        "name": "TB  Suspect?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 563,
        "y": 216.58806800842285,
        "wires": [
            [
                "6c3273c6.ec62fc"
            ],
            [
                "878f322d.9e3b4"
            ]
        ]
    },
    {
        "id": "9f48ebb1.3b60d8",
        "type": "function",
        "z": "2a76e36.f51ec1c",
        "name": "Female && >= 15 years",
        "func": "\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 403,
        "y": 156.58806800842285,
        "wires": [
            [
                "fcb25c11.25bb7"
            ],
            [
                "9aa5f697.e22a38"
            ]
        ]
    },
    {
        "id": "cc39e7e8.da54e8",
        "type": "find-patient",
        "z": "84ca86d8.014258",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "50852bce.9c1174"
            ]
        ]
    },
    {
        "id": "4ba6a2df.1087bc",
        "type": "find-patient",
        "z": "84ed3e1e.5dc36",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "9351aeab.7eec6"
            ]
        ]
    },
    {
        "id": "9351aeab.7eec6",
        "type": "blood-pressure",
        "z": "84ed3e1e.5dc36",
        "name": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "a44d8807.8b1878"
            ]
        ]
    },
    {
        "id": "7cd5d748.c898e8",
        "type": "end-flow",
        "z": "84ed3e1e.5dc36",
        "name": "",
        "x": 220,
        "y": 240,
        "wires": []
    },
    {
        "id": "a44d8807.8b1878",
        "type": "height-weight",
        "z": "84ed3e1e.5dc36",
        "name": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "7cd5d748.c898e8"
            ]
        ]
    },
    {
        "id": "2bd11888.561708",
        "type": "find-patient",
        "z": "9cb1bf39.8f5dc",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "3301d961.c74296"
            ]
        ]
    },
    {
        "id": "a8ada24e.ba3c7",
        "type": "end-flow",
        "z": "9cb1bf39.8f5dc",
        "name": "",
        "x": 220,
        "y": 240,
        "wires": []
    },
    {
        "id": "3301d961.c74296",
        "type": "height-weight",
        "z": "9cb1bf39.8f5dc",
        "name": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "64782800.43a9e8"
            ]
        ]
    },
    {
        "id": "64782800.43a9e8",
        "type": "visit-question",
        "z": "9cb1bf39.8f5dc",
        "name": "MUAC",
        "question": "",
        "key": "",
        "datatype": "decimal",
        "x": 170,
        "y": 180,
        "wires": [
            [
                "a8ada24e.ba3c7"
            ]
        ]
    },
    {
        "id": "7a5c6c5a.d11654",
        "type": "find-patient",
        "z": "f58b56d7.460648",
        "name": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "2820e13b.65351e"
            ]
        ]
    },
    {
        "id": "906b0b1d.0e3458",
        "type": "visit-question",
        "z": "f58b56d7.460648",
        "name": "Weight",
        "question": "",
        "key": "",
        "datatype": "",
        "x": 190,
        "y": 220,
        "wires": [
            [
                "250d1b9f.4f06a4"
            ]
        ]
    },
    {
        "id": "250d1b9f.4f06a4",
        "type": "end-flow",
        "z": "f58b56d7.460648",
        "name": "",
        "x": 240,
        "y": 280,
        "wires": []
    },
    {
        "id": "2820e13b.65351e",
        "type": "check-in",
        "z": "f58b56d7.460648",
        "name": "Blood pressure",
        "x": 220,
        "y": 100,
        "wires": [
            [
                "71f74cfa.436a34"
            ]
        ]
    },
    {
        "id": "71f74cfa.436a34",
        "type": "subflow:eb561039.0950d",
        "z": "f58b56d7.460648",
        "name": "HL7 Create Lab Order",
        "env": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "906b0b1d.0e3458"
            ]
        ]
    },
    {
        "id": "4c0695b8.3d87fc",
        "type": "find-patient",
        "z": "b6eab222.a813c",
        "name": "",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "8cac8e7c.a570b"
            ]
        ]
    },
    {
        "id": "feb34c08.bf7aa",
        "type": "visit-question",
        "z": "b6eab222.a813c",
        "name": "Temperature",
        "question": "",
        "key": "",
        "datatype": "decimal",
        "x": 230,
        "y": 240,
        "wires": [
            [
                "1db024e0.420edb"
            ]
        ]
    },
    {
        "id": "8cac8e7c.a570b",
        "type": "blood-pressure",
        "z": "b6eab222.a813c",
        "name": "",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "1770bd0d.c14d83"
            ]
        ]
    },
    {
        "id": "1db024e0.420edb",
        "type": "end-flow",
        "z": "b6eab222.a813c",
        "name": "",
        "x": 260,
        "y": 300,
        "wires": []
    },
    {
        "id": "1770bd0d.c14d83",
        "type": "height-weight",
        "z": "b6eab222.a813c",
        "name": "",
        "x": 200,
        "y": 180,
        "wires": [
            [
                "feb34c08.bf7aa"
            ]
        ]
    },
    {
        "id": "50852bce.9c1174",
        "type": "demographic-attribute",
        "z": "84ca86d8.014258",
        "name": "",
        "x": 300,
        "y": 60,
        "wires": [
            [
                "adc699eb.dc9098"
            ]
        ]
    },
    {
        "id": "adc699eb.dc9098",
        "type": "end-flow",
        "z": "84ca86d8.014258",
        "name": "",
        "x": 520,
        "y": 80,
        "wires": []
    }
]