docs/flows/nodered-flow-vitals.json
[
    {
        "id": "bb2b2ee9.e9e57",
        "type": "tab",
        "label": "Vitals & Screening",
        "disabled": false,
        "info": ""
    },
    {
        "id": "405ae71f.4802d8",
        "type": "checked-in-patients-list",
        "z": "bb2b2ee9.e9e57",
        "name": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "18919f6.efd2361"
            ]
        ]
    },
    {
        "id": "18919f6.efd2361",
        "type": "height-weight",
        "z": "bb2b2ee9.e9e57",
        "name": "",
        "x": 374.1903610229492,
        "y": 40.47725963592529,
        "wires": [
            [
                "a39f4865.859c18"
            ]
        ]
    },
    {
        "id": "25b8fec9.b08892",
        "type": "blood-pressure",
        "z": "bb2b2ee9.e9e57",
        "name": "",
        "x": 533,
        "y": 96.58806800842285,
        "wires": [
            [
                "89c05a6a.23da08"
            ]
        ]
    },
    {
        "id": "c997da51.664fa8",
        "type": "tb-screening",
        "z": "bb2b2ee9.e9e57",
        "name": "",
        "x": 373,
        "y": 216.58806800842285,
        "wires": [
            [
                "bc89b7d8.34cf58"
            ]
        ]
    },
    {
        "id": "c004ff20.726c8",
        "type": "next-appointment",
        "z": "bb2b2ee9.e9e57",
        "name": "",
        "x": 383,
        "y": 276.58806800842285,
        "wires": [
            [
                "af81174c.74ec68"
            ]
        ]
    },
    {
        "id": "af81174c.74ec68",
        "type": "end-flow",
        "z": "bb2b2ee9.e9e57",
        "name": "",
        "x": 553,
        "y": 276.58806800842285,
        "wires": []
    },
    {
        "id": "1f5269ab.6ef366",
        "type": "lab-order-entry",
        "z": "bb2b2ee9.e9e57",
        "name": "Lab Order Pregnancy Test",
        "x": 683,
        "y": 156.58806800842285,
        "wires": [
            [
                "c997da51.664fa8"
            ]
        ]
    },
    {
        "id": "4362f17a.159cd",
        "type": "lab-order-entry",
        "z": "bb2b2ee9.e9e57",
        "name": "Lab Order Sputum",
        "x": 763,
        "y": 216.58806800842285,
        "wires": [
            [
                "c004ff20.726c8"
            ]
        ]
    },
    {
        "id": "a39f4865.859c18",
        "type": "switch",
        "z": "bb2b2ee9.e9e57",
        "name": "Under 5?",
        "property": "age",
        "propertyType": "msg",
        "rules": [
            {
                "t": "gte",
                "v": "5",
                "vt": "str"
            },
            {
                "t": "lt",
                "v": "5",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 353,
        "y": 96.58806800842285,
        "wires": [
            [
                "25b8fec9.b08892"
            ],
            [
                "89c05a6a.23da08"
            ]
        ]
    },
    {
        "id": "bc89b7d8.34cf58",
        "type": "switch",
        "z": "bb2b2ee9.e9e57",
        "name": "TB  Suspect?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 563,
        "y": 216.58806800842285,
        "wires": [
            [
                "4362f17a.159cd"
            ],
            [
                "c004ff20.726c8"
            ]
        ]
    },
    {
        "id": "89c05a6a.23da08",
        "type": "function",
        "z": "bb2b2ee9.e9e57",
        "name": "Female && >= 15 years",
        "func": "\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "x": 403,
        "y": 156.58806800842285,
        "wires": [
            [
                "1f5269ab.6ef366"
            ],
            [
                "c997da51.664fa8"
            ]
        ]
    }
]