docs/flows/test-all-nodes.json
[
    {
        "id": "899e571e.0bda48",
        "type": "tab",
        "label": "Test all Nodes",
        "disabled": false,
        "info": ""
    },
    {
        "id": "d1f91274.6e9cc",
        "type": "end-flow",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 920,
        "y": 580,
        "wires": []
    },
    {
        "id": "3c4b5d20.ae8e82",
        "type": "find-patient",
        "z": "899e571e.0bda48",
        "name": "",
        "includename": true,
        "includeidentifier": true,
        "program": "tb",
        "expression": "filter",
        "x": 110,
        "y": 240,
        "wires": [
            [
                "1a39ae10.702cf2"
            ]
        ]
    },
    {
        "id": "58845b6b.144144",
        "type": "demographic-attribute",
        "z": "899e571e.0bda48",
        "name": "",
        "label": "Firstname2",
        "key": "myKey",
        "datatype": "singleselect",
        "x": 580,
        "y": 40,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "c2f9a1c9.6e235",
        "type": "enrolment-outcome",
        "z": "899e571e.0bda48",
        "name": "",
        "program": "chroniccare",
        "programoutcome": "transferredout",
        "x": 580,
        "y": 80,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "34a120d6.fa04c",
        "type": "lab-order-entry",
        "z": "899e571e.0bda48",
        "name": "",
        "panel": "testpaneld",
        "x": 560,
        "y": 120,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "9c93e482.2b7478",
        "type": "medication-prescription",
        "z": "899e571e.0bda48",
        "name": "",
        "drugs": "tb",
        "x": 590,
        "y": 160,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "8640b61c.a58bb8",
        "type": "patients-queue",
        "z": "899e571e.0bda48",
        "name": "",
        "expression": "filter",
        "x": 120,
        "y": 280,
        "wires": [
            [
                "1a39ae10.702cf2"
            ]
        ]
    },
    {
        "id": "ab69ecef.4181c",
        "type": "referral",
        "z": "899e571e.0bda48",
        "name": "",
        "referralfacility": "facility",
        "x": 540,
        "y": 200,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "ece80504.57fe28",
        "type": "register-patient",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 120,
        "y": 320,
        "wires": [
            [
                "1a39ae10.702cf2"
            ]
        ]
    },
    {
        "id": "56c43ae7.108c64",
        "type": "summary",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 540,
        "y": 240,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "9bd014f.3434fe8",
        "type": "visit-question",
        "z": "899e571e.0bda48",
        "name": "label",
        "label": "label",
        "key": "key",
        "datatype": "decimal",
        "x": 530,
        "y": 280,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "b0e0407f.8106c",
        "type": "blood-pressure",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 320,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "1536e581.d452fa",
        "type": "check-in",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 540,
        "y": 360,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "ad35ab34.6f8408",
        "type": "checked-in-patients-list",
        "z": "899e571e.0bda48",
        "name": "",
        "program": "antenatalcare",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "1a39ae10.702cf2"
            ]
        ]
    },
    {
        "id": "3c998042.b6762",
        "type": "demographic-birthdate",
        "z": "899e571e.0bda48",
        "name": "",
        "entrybyage": true,
        "partialdate": true,
        "x": 540,
        "y": 400,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "dd798e44.a3dc6",
        "type": "demographic-current-address",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 440,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "a74481cb.60e6f",
        "type": "demographic-home-address",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "828873f1.e7fa2",
        "type": "height-weight",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 520,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "51f54826.5f3c68",
        "type": "next-appointment",
        "z": "899e571e.0bda48",
        "name": "",
        "defaultperiod": "nextmonth",
        "x": 570,
        "y": 560,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "6e8f9f93.705be",
        "type": "scheduled-patients-list",
        "z": "899e571e.0bda48",
        "name": "",
        "program": "hiv",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "1a39ae10.702cf2"
            ]
        ]
    },
    {
        "id": "1099d1b5.4b3bee",
        "type": "tb-screening",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 600,
        "wires": [
            [
                "d1f91274.6e9cc"
            ],
            []
        ]
    },
    {
        "id": "1a39ae10.702cf2",
        "type": "switch",
        "z": "899e571e.0bda48",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 27,
        "x": 330,
        "y": 480,
        "wires": [
            [
                "58845b6b.144144"
            ],
            [
                "c2f9a1c9.6e235"
            ],
            [
                "34a120d6.fa04c"
            ],
            [
                "9c93e482.2b7478"
            ],
            [
                "ab69ecef.4181c"
            ],
            [
                "56c43ae7.108c64"
            ],
            [
                "9bd014f.3434fe8"
            ],
            [
                "b0e0407f.8106c"
            ],
            [
                "1536e581.d452fa"
            ],
            [
                "3c998042.b6762"
            ],
            [
                "dd798e44.a3dc6"
            ],
            [
                "a74481cb.60e6f"
            ],
            [
                "828873f1.e7fa2"
            ],
            [
                "51f54826.5f3c68"
            ],
            [
                "1099d1b5.4b3bee"
            ],
            [
                "803eb510.acdc58"
            ],
            [
                "163e443b.d0751c"
            ],
            [
                "b1439458.6b2418"
            ],
            [
                "7a244772.2c3888"
            ],
            [
                "7e783c88.0f66d4"
            ],
            [
                "c72a7da8.928358"
            ],
            [
                "125d3367.d125a5"
            ],
            [
                "148293da.b34364"
            ],
            [
                "b3dec399.c7ecb8"
            ],
            [
                "43928c18.585624"
            ],
            [
                "dccba424.1297a8"
            ],
            [
                "e7747484.19a978"
            ]
        ]
    },
    {
        "id": "84e31910.eeb498",
        "type": "hl7-receive-message",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 140,
        "y": 440,
        "wires": [
            [
                "1a39ae10.702cf2"
            ]
        ]
    },
    {
        "id": "803eb510.acdc58",
        "type": "hl7-create-message",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 580,
        "y": 640,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "163e443b.d0751c",
        "type": "lab-test-result",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 680,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "b1439458.6b2418",
        "type": "medication-dispensation",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 590,
        "y": 720,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "7a244772.2c3888",
        "type": "function",
        "z": "899e571e.0bda48",
        "name": "",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 530,
        "y": 760,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "7e783c88.0f66d4",
        "type": "device-coordinates",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 570,
        "y": 800,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "c72a7da8.928358",
        "type": "play-audio",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 550,
        "y": 840,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "125d3367.d125a5",
        "type": "scan-barcode",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 880,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "148293da.b34364",
        "type": "show-video",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 550,
        "y": 920,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "b3dec399.c7ecb8",
        "type": "take-photo",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 550,
        "y": 960,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "43928c18.585624",
        "type": "Blockly",
        "z": "899e571e.0bda48",
        "language": "en",
        "func": "\nreturn msg;",
        "workspaceXml": "",
        "outputs": 1,
        "name": "",
        "x": 540,
        "y": 1000,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "dccba424.1297a8",
        "type": "print-barcode",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 1040,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "e7747484.19a978",
        "type": "text-to-speech",
        "z": "899e571e.0bda48",
        "name": "",
        "x": 560,
        "y": 1080,
        "wires": [
            [
                "d1f91274.6e9cc"
            ]
        ]
    },
    {
        "id": "a42e729b.b70f8",
        "type": "config-runtime",
        "z": "899e571e.0bda48",
        "flowpath": "fdgh",
        "x": 140,
        "y": 80,
        "wires": []
    }
]